[2016-05-23 13:46] #6283 closed

[2016-05-23 14:29] bjansen commented on #6283
¡Gracias señor!

[2016-05-23 14:50] FroMage commented on #6283
No, that one's the English one, the Spanish are the other three ;)

[2016-05-24 09:50] tombentley commented on #6274
Fixed by  	a621349

[2016-05-24 09:50] #6274 closed

[2016-05-24 19:33] chochos commented on #5874
This was fixed when we changed the way unicode chars are output.

[2016-05-24 19:33] #5874 closed

[2016-05-24 21:18] RossTate commented on #6188
Just thought I should warn y'all about a technical oddity.

[code]

This prints `0`, *not* `2`. Why? Because value types use copy semantics rather than reference semantics. If I change `Bar` to be a `class`, then it prints `2`. These bugs can be extremely hard to prevent and identify, and they become more common the more you use generics. So watch out.

[2016-05-25 04:36] chochos commented on #5753
The part of the web IDE that was being held back by this is now working. And all compiler, language module, and SDK tests pass.

[2016-05-25 04:36] #5753 closed

[2016-05-25 09:59] tombentley commented on #6081
This works for me both on the CLI and in the IDE. I suspect that's due to @FroMage's changes to better support java varargs.

[2016-05-25 09:59] #6081 closed

[2016-05-25 13:43] #6077 closed

[2016-05-25 14:11] tombentley commented on #5866
I suspect a similar issue afflicts the JS compiler, and this feels much more like a spec problem to me: The spec should at least define the behaviour in the case there the definite assignment analysis is at odds with the semantics of iteration.

In any case, I struggle to see what we can reasonably do about this in the backend. It seems like the simple answer is "don't do that", but that's hardly

[2016-05-25 14:24] jvasileff commented on #5866
Throwing on attempts to create a `Sequential` with `finished` sounds interesting, but there can't be a fully type-safe solution to definite assignment involving `Iterable`s, because:

[code]

[2016-05-25 14:30] lucaswerkmeister commented on #5866
@jvasileff’s phrasing of the code just reminded me that I reported something similar earlier: #1651. Back then, the solution was to wrap the problematic member in a `Util` helper method that threw an appropriate error…

[2016-05-25 14:40] jvasileff commented on #5866
So, fail fast by wrapping `Iterable<?, Nothing>`s in an `AtLeastOneOrThrow(Iterable)` wherever it matters? The question remains, is it worth it?

[2016-05-25 14:41] lucaswerkmeister commented on #5866
I think the reason usually cited is that those iterators are a pain to implement. What happens is that `finished` needs to calculate the next element to tell you if it exists or not, and now you need to cache it, and `next()` needs to be aware that it already exists…

[2016-05-25 14:44] tombentley commented on #5866
Yeah, at least in the case @lucaswerkmeister points to the wrapper didn't need to instantiate anything. I wonder how commonly we'd need a `AtLeastOneOrThrow` *in practice*.

[2016-05-25 14:55] tombentley commented on #5866
I guess an alternative would be to detect the non-entry into the `for` loop. That would at least close the hole wrt definite assignment (and thus the leaking null). I suspect that might be worth it.

[2016-05-25 14:57] lucaswerkmeister commented on #5866
You already generate aux variables there for javac analysis and to implement `for {} else {}` right? So perhaps it’s not too expensive checking that the assignment happened in that case. (Though @jvasileff’s second example also leaks `null` without throwing.)

[2016-05-26 09:19] tombentley opened #6288 "Make AbstractIterable serializable (in the java.io sense)"
Iterable enumerations and comprehensions are compiled into anonymous subclasses of `AbstractIterable`. Of course those classes do have names *really* and this can make them hard to deserialize (using java.io serialization), because it can introduce a non-obvious dependency on a  module which adds an iterable to a graph of objects to be serialized. For example in

    serialize({1, 2, 3})

we end u

[2016-05-26 09:20] tombentley commented on #6288
I think this just boils down to adding

    Object writeReplace() throws ObjectStreamException {
        return sequence();
    }

to `AbstractIterable`, because I don't think the compiler ever generates a reference to the anonymous class name.

[2016-05-27 16:58] bjansen opened #6289 "Backend error: no suitable method found for split"
When I call `?.split()` on a `String` returned by a Java method, I get a backend error:

[code]

[code]

[2016-05-28 11:52] jdanekrh opened #6290 "java.lang.NullPointerException at com.redhat.ceylon.langtools.tools.javac.jvm.Code.emitop0(Code.java:559)"
I get an exception when compiling the attached project.

I am using ceylon 1.2.3 (from nightly build). Same thing happens in ceylon 1.2.2.

    $ cd race
    $ gradle compileCeylon

    [---]

    com.redhat.ceylon.compiler.CompilerBugException: Codegen Error
            at com.redhat.ceylon.compiler.CeylonCompileTool.handleExitCode(CeylonCompileTool.java:611)
            at com.redhat.ceylon.comp

[2016-05-28 11:59] jdanekrh commented on #6290
Uploading here seems to not work for me, so I'll post links,

full gradle log: https://mega.nz/#!hpwCFbzZ
project in a zip file: https://mega.nz/#!ophH3bjb

[2016-05-28 12:00] gavinking commented on #6289
Note that this is a bug in the _compiler_, resulting from incorrect handling of `?.` with calls to Java attributes. Note that it does _not_ affect this code:

[code]

[2016-05-28 12:01] gavinking commented on #6289
@tombentley would you take a look, please?

[2016-05-28 12:02] gavinking commented on #6188
@RossTate Right, precisely, which is why I argue that value types should not be allowed to have `variable` members.

[2016-05-28 12:05] jdanekrh commented on #6290
I expect to see a Java compilation error, because package mypkgtoo does not exist, neither does class HelloKt, nor method greet.

If i change the following line in source/rat/head/race/HelloJava.java

    mypkgtoo.HelloKt.greet();

to

    mypkg.HelloKotlinKt.sayHello();

then the compilation succeeds.

[2016-05-28 12:10] gavinking commented on #6287
I agree that this is a (new) bug. @FroMage would you take care of this one, please?

[2016-05-28 12:18] gavinking commented on #5866
That sounds right to me.

[2016-05-28 14:15] gavinking commented on #5866
A more rigorous solution to this problem would be to redefine `Iterator` with a second type parameter:

[code]

And then have the typechecker enforce that code outside of the language module may not instantiate an `Iterator<T,Nothing>`, forcing you to "prove" that you really have a nontrivial iterator by getting it from some other known-nonempty stream.

Unfortunately, such a change would break lo

[2016-05-28 14:19] Zambonifofex commented on #5866
@gavinking wait. Wouldn’t that also prevent you from having `null`s inside streams?

[2016-05-28 14:19] gavinking opened #6291 "typesafety for nonempty streams"
Nonempty streams are not really typesafe, which is a source of bugs such as #5866.

I proposed following solution:

[code]

Having the typechecker enforce that code outside of the language module may not instantiate an `Iterator<T,Nothing>`, forcing you to "prove" that you really have a nontrivial iterator by getting it from some other known-nonempty stream.

This would be a breaking change.

[2016-05-28 14:20] gavinking commented on #5866
@Zambonifofex no.

[2016-05-28 14:22] Zambonifofex commented on #5866
@gavinking how would that work? How would the declaration for `next` look like? Sorry, I’m kinda slow.

[2016-05-28 14:24] gavinking commented on #5866
The declaration of `next()` is completely unchanged. That's why I elided it.

[2016-05-28 14:25] Zambonifofex commented on #6291
Honestly, I still prefer #5098.

[2016-05-28 14:26] Zambonifofex commented on #5866
It’d still be `Element|Finished next()`? How would that prevent me from writing `{finished}`?

[2016-05-28 14:31] Zambonifofex commented on #5866
@gavinking sorry, but did you did you see my last message? I forgot to at-mention you.

[2016-05-28 14:37] gavinking commented on #5866
Oh well, that's not the case I'm bothered by. That case is trivial to solve. If I'm iterating a `{Finished+}` and it produces `finished` as its first element, I could just treat that as a regular element, and not as the end of the stream.

[2016-05-28 14:40] gavinking commented on #5866
The case that is actually problematic is the one @jvasileff brought up.

[2016-05-28 14:41] Zambonifofex commented on #5866
@gavinking so you mean the indication of the iterator’s finishedness would be its type?

[2016-05-28 18:49] drbo commented on #6188
On the other hand, one still is losing out on performance without mutable structs.

In particular, LLVM can provide a high-performance FFI.  The natural way to handle calling a C function
[code]
would be for `arg` to be an array or pointer to an array of mutable value types.  Otherwise one needs to copy or use (ugly and unsafe) pointer arithmetic.

[2016-05-29 09:10] dlkw opened #6292 "Superclass type argument check with constructors"
In Ceylon 1.2.2, type argument checking on a subclass definition depends on using default constructor or named constructor:

[code]

[2016-05-29 09:14] dlkw commented on #6292
The default constructor case behaves like when using an initializator.

[2016-05-29 09:21] gavinking commented on #6292
Ouch! Thanks for reporting.

[2016-05-29 09:34] #6292 closed

[2016-05-29 09:34] gavinking commented on #6292
Fixed, thanks again.

[2016-05-29 09:34] dlkw commented on #6292
Cool.

[2016-05-29 15:57] RossTate commented on #6188
Disallowing mutability may not be the only solution to the problem I mentioned.

[2016-05-30 11:00] #6288 closed

[2016-05-30 11:06] tombentley commented on #5866
OK, the JS compiler now does this. I suppose the JS compiler should do something similar.

And that still leaves @jvasileff's second example.

[2016-05-30 11:18] gavinking commented on #5866
@tombentley IMO, all these things should result in an `AssertionFailure`. Just like `iterable.first` currently does.

[2016-05-30 11:22] tombentley commented on #5866
I agree @gavinking, but I haven't had a chance to look at the destructuring one in detail yet!

[2016-05-30 12:24] tombentley commented on #5866
So now all those cases should fail with AssertionError on the JVM compiler. But we'll need to fix the JS compiler.

[2016-05-30 15:05] chochos commented on #5866
@tombentley did you add tests for this somewhere?

[2016-05-30 15:12] #6289 closed

[2016-05-30 15:13] tombentley commented on #5866
Not in `language` :pensive: but I'll do that now if you like.

[2016-05-30 15:16] chochos commented on #5866
That would be extremely helpful, thanks

[2016-05-30 15:18] tombentley commented on #5866
There you go @chochos.

[2016-05-30 15:36] tombentley commented on #6290
I'm unable to reproduce because:

[code]

Something seems to be going wrong between the ceylon gradle plugin and the ceylon compiler proper:

[code]

[2016-05-30 15:40] tombentley commented on #6290
Maybe @renatoathaydes can comment?

[2016-05-30 15:45] jdanekrh commented on #6290
The gradle command in `compileCeylon`, not `ceylon`.

    $ gradle ceylon

    FAILURE: Build failed with an exception.

    * What went wrong:
    Task 'ceylon' not found in root project 'race'. Some candidates are: 'runCeylon'.

    * Try:
    Run gradle tasks to get a list of available tasks. Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log

[2016-05-30 15:50] tombentley commented on #6290
Doesn't matter I get the same error. Let me try with your version of `gradle`...

[2016-05-30 15:54] tombentley commented on #6290
OK, I can now reproduce.

[2016-05-30 18:24] #5866 closed

[2016-05-30 20:30] renatoathaydes commented on #6290
@tombentley you were using a very old version of Gradle and consequently Groovy... hope it works with anything using Groovy 2.+.

[2016-05-31 02:12] #6113 closed

[2016-05-31 02:18] jvasileff commented on #6113
Thanks @chochos! This is going to cleanup my filesystem quite a bit

[2016-05-31 08:11] tombentley commented on #6290
Yeah, sorry @renatoathaydes, my fault (I had actually downloaded the latest version, but had managed to continue using the old version when I wrote that I couldn't reproduce).

[2016-05-31 11:16] quintesse commented on #6113
@chochos I redid your fix a bit

[2016-05-31 12:58] tombentley commented on #6290
Very strange, but it turns out that to get precisely this error (NPE) the `static` method containing the reference to the non-existent package must be no-args. Otherwise you get a different exception (`AssertionError`) from a slightly different place.

The different exception is enough for us to decide (in `Main.abnormal()`/`isAbnormalException()`) that this exception represents a genuine problem

[2016-05-31 14:58] chochos commented on #6113
Much nicer, thanks

[2016-05-31 22:15] chochos commented on #5803
Some bugs in the metamodel that were not covered by the tests, and it seems there are still some left.

[2016-05-31 23:36] chochos commented on #5789
So yeah, the problem seems to be directly related to how the source dirs are set up. And that I have no idea how to set them up properly because I thought I was doing that, with `TypeCheckerBuilder.addSrcDirectory`. With debugging I can see that the units are all there, there aren't any missing files.

Looks like the jvm compiler doesn't use the TypecheckerBuilder though...

[2016-06-01 00:03] jvasileff commented on #5789
I had (have) the same problem with Dart and couldn't figure it out.

But now, I wonder if the problem is that the typechecker isn't combining the directories before determining the order in which is processes the files, and as a result, fails to process `module.ceylon` before the files in the `source2` directory. It would therefore see `run` as being in the `default` module.

In my tests, compilat

[2016-06-01 14:35] chochos commented on #5789
Huh, you're right. If I pass `source2` first then `source`, it compiles fine.

[2016-06-01 21:03] gavinking opened #6294 "spec X<in Nothing>==X<out Anything>"
§3.6.4 states, incorrectly, that:

That's not quite correct, since `X<in Nothing>` and `X<out Anything>` are exactly the same type.

[2016-06-01 21:04] gavinking commented on #6294
Thanks @VladimirReshetnikov for noticing.

[2016-06-01 21:07] gavinking opened #6295 "X<in T>&X<out T> == X<T>"
Since we don't have double-bounded wildcards, we in general don't try to simplify intersections like `X<in A>&X<out B>`. However, in the special case that `A==B`, there is a trivial and useful simplification, as pointed out by @VladimirReshetnikov.

It should be easy enough to make the types `X<in T>&X<out T>` and `X<T>` equivalent.

[2016-06-02 15:49] chochos commented on #6279
There is an even uglier hack around L1130 where any type named `Nothing` would cause the actual `Nothing` type to be used, so any declarations named `Nothing` would turn into our `Nothing`.

[2016-06-02 16:08] jvasileff commented on #6279
@chochos, yeah, the further I dug, the more I found...

One issue is that the typechecker likes to do `new NothingType(whateverUnitIsHandy)`. So, `someUnit.getNothingType().getUnit().getPackage()` usually won't return `ceylon.language`!

I think It would be nice to stop special casing `Nothing` so much throughout the entire codebase. Basically, have the only special case be that the model loaders

[2016-06-02 17:16] chochos commented on #6220
Weird... the type argument for `Iterable.Element` is an anonymous one: `run.Anonymous#max`

[2016-06-02 18:08] chochos commented on #6017
This is because `run.ceylon` is processed at the end. Rename it to `a.ceylon` and the correct error shows up.

So I guess module.ceylon and package.ceylon have to be processed at the very end.

[2016-06-02 21:00] quintesse commented on #6017
But why does the ordering matter? Shouldn't all errors in all files be reported?
(I don't think the JVM backend puts the module and/or package files at the end for example)

[2016-06-02 21:09] chochos commented on #6017
In this case, the ordering matters because the errors in `package.ceylon` are reported first (the JVM doesn't show the errors in that file BTW).

[2016-06-02 21:10] #6017 closed

[2016-06-02 21:10] #6220 closed

[2016-06-03 15:54] bjansen commented on #470
yay \o/

[2016-06-03 15:55] FroMage commented on #470
Shit, I knew someone'd notice :(

[2016-06-03 16:54] FroMage commented on #470
So I know I always said this was hard, and then when I made it work for the language module I resisted the pushes to generalise this to other modules, because I never quite understood why it worked the way I wrote it, and I said it was fragile and only worked in the language module'case.

Well, I finally decided that even though I did not understand why it worked, it did work rather well for the l

[2016-06-03 16:54] #470 closed

[2016-06-03 20:44] DiegoCoronel commented on #470
I thought I was the only one who felt that way ;)

[2016-06-04 03:00] lucono opened #6296 "Module-wide default aliases for type imports"
When using annotations in Ceylon, I find that I'm aliasing certain imports ([example](https://github.com/lucono/ceylon-springboot-demo/blob/eefe225a02deeab146c4d8418a383d58176c11fa/source/com/lucono/ceylon/springboot/demo/CustomerController.ceylon#L3)) consistently using the same alias across many classes, modules, and throughout an entire project.

Some examples:

[code]

It would be helpful to h

[2016-06-04 17:12] lucaswerkmeister opened #6297 "Support native packages"
It would be convenient if a `native` annotation on a package was supported as a shorthand for making all declarations in the package `native`.

If we don’t want to support that, then I think that `native` annotations on `package` declarations should result in an error, or at least a warning, to indicate to the user that “this doesn’t do what you think it does”.

---

Use case: Put native implement

[2016-06-04 17:30] lucaswerkmeister commented on #6297
Actually, I guess this would be more like a native module, in that the declarations inside would be allowed to be for one backend only, and wouldn’t need native headers. And it should probably be allowed for unshared packages only.

[2016-06-06 16:07] chochos commented on #6280
The error I get in JS is `imported member should have lowercase alias: 'nothing'`

[2016-06-06 16:09] chochos commented on #6279
Any references to `Nothing` in the model now have the correct package. But this means any existing modules with the wrong reference cause problems now because a local `Nothing` will be searched (and not found).

I've already bumped the binary minor version because of #6226 but I don't know if this one requires a _major_ binary version bump... any thoughts?

[2016-06-06 16:38] quintesse commented on #6279
Well that depends on the question: can a 1.2.2 or earlier compiler import a module created with this new version and work correctly? If so it's minor if it breaks its major.

[2016-06-06 16:49] chochos commented on #6279
Oh yes, older compilers will be able to import newer modules without any problems. The problem is if the new compiler loads and older module that references a local `Nothing` because now it won't find that type.

[2016-06-06 16:54] quintesse commented on #6279
And you can't make the compiler work around that problem by detecting on older version module and treating it somehow differently?

[2016-06-06 17:01] chochos commented on #6279
Ah right, like I did with the contructors. Sure, it can be done.

[2016-06-06 17:11] #6279 closed

[2016-06-06 19:46] gavinking opened #6298 "refining method of Java superclass twice"
The typechecker accepts this:

[code]

[2016-06-07 10:37] rohitmohan96 opened #6299 "NPE when building a Ceylon Android project"
I created a new Android project in Android Studio and configured Ceylon in that module. I get this error on building.

[code]

[2016-06-07 10:58] quintesse commented on #6299
Should be fixed now. Reopen if you find otherwise.

[2016-06-07 10:58] #6299 closed

[2016-06-07 11:29] rohitmohan96 opened #6300 "NPE when building a Ceylon Android project"
Steps to reproduce:

- Create a new Android project in Android Studio
- In the `Android` view, Right-click on `app > Configure Ceylon in this Module`
- In the `Project Files` view, delete `app/src/main/java`
- Change the `com.android.support.appcompat-v7` import version in the `module.ceylon` to match with the one in `app/build.gradle`
- Build the app

The error:

[code]

[2016-06-07 11:49] FroMage commented on #6300
What are your exact version numbers for the imports (Gradle and Ceylon)? What's the version of your Android Studio and Android build tools?

[2016-06-07 11:55] FroMage commented on #6300
Can you try with the latest version I pushed?

[2016-06-07 11:57] rohitmohan96 commented on #6300
Gradle: `com.android.support:appcompat-v7:23.4.0`
Ceylon: `"com.android.support.appcompat-v7" "23.4.0"`

Android Studio 2.1.2
Android build tools version: 23.0.2

[2016-06-07 12:01] rohitmohan96 commented on #6300
I get a different (but similar) error now.

[2016-06-07 12:01] rohitmohan96 commented on #6300
[code]

[2016-06-07 19:30] lucaswerkmeister opened #6301 "stack overflow on JS backend with cyclic dependencies"
[code]
hangs for several minutes, and then eventually you’ll get:

Exception in thread "main" java.lang.StackOverflowError
        at com.redhat.ceylon.cmr.resolver.javascript.JavaScriptResolver.readJsonModel(JavaScriptResolver.java:38)
        at com.redhat.ceylon.compiler.js.loader.JsModuleSourceMapper.loadJsonModel(JsModuleSourceMapper.java:99)
        at com.redhat.ceylon.compiler.js.CeylonRun

[2016-06-07 19:41] lucaswerkmeister commented on #6301
Ceylon Language Specification, §9 Module System:

So I guess this issue reduces to “throw a better error”…

[2016-06-07 19:46] jvasileff commented on #6301
Sounds like a spec bug.

[2016-06-07 19:46] jvasileff commented on #6301
This issue is a dup of https://github.com/ceylon/ceylon/issues/6003

[2016-06-07 19:48] lucaswerkmeister opened #6302 "Circular dependencies"
The spec is quite clear on circular dependencies:

However, this is not currently true:

- On the JVM backend, circular dependencies are supported at compile time and run time.
- On the JS backend, circular dependencies are supported at compile time and fail at run time (#6301).

What do we do? Should we fix the typechecker to actually disallow circular dependencies? Should we declare them a backe

[2016-06-07 19:48] lucaswerkmeister commented on #6301
Alright, closing this in favor of #6003 and #6302.

[2016-06-07 19:48] #6301 closed

[2016-06-07 19:56] jvasileff commented on #6302
Circular dependencies are an essential part of the Dart backend due to 1) language module code organization needed to support both Dart-VM and Dart-JS runtimes, and for flexibility with `native`, iirc, and 2) Dart interop, since Dart's core modules have circular dependencies.

Regarding JS, I've already fixed most of the hard stuff in a couple PRs that have been merged, so hopefully making them wo

[2016-06-07 20:04] jvasileff commented on #6302
Oh yeah, an additional use for cyclic dependencies is to allow the language module to import modules like `ceylon.interop.whatever` and `ceylon.collection` which can be quite useful if implementing things like `ceylon.language.meta` in Ceylon.

[2016-06-07 20:37] #6003 closed

[2016-06-07 21:20] gavinking commented on #6302
As I understand it, circular dependencies would be *very* hard to support on JS. Is that correct, @chochos?

[2016-06-07 21:28] lucaswerkmeister commented on #6302
Actually, I think @chochos just added the last piece of support in b2ec40bd3a7c1fab1a09a3f8d08f755f6766f066…

[2016-06-08 08:39] f47k9L opened #6303 "Add a task for google closure compiler in advanced mode"
Please add a task to process compiled js modules (including language and language model) by the google closure compiler in advanced mode to check (why does it warn?! ceylon-js should produce correct javascript without warnings!), remove dead code and thus minimize size. Both of these points are important!
For many puposes parts of the ceylon language module are unnecessary and the entire module is

[2016-06-08 09:21] rohitmohan96 commented on #6300
Looks like this has been fixed now. Thanks.

[2016-06-08 09:21] #6300 closed

[2016-06-08 09:26] FroMage commented on #6300
Yes, thanks, I'm still working on your runtime issue, though.

[2016-06-08 14:15] jvasileff commented on #6303
This looks like a dup of https://github.com/ceylon/ceylon/issues/2736.

One issue with dead code removal is that it's impossible to know what may be used via the meta model at runtime. So perhaps it should be part of an application packaging feature, and enabled as an option that is documented as incompatible with meta programming.

[2016-06-08 14:18] f47k9L commented on #6303
Is there any need for run time meta programming in the browser?

[2016-06-08 16:10] chochos commented on #6302
Well at least on node.js, `require` handles it pretty well. I tested `mod1` importing `mod2` and `mod2` importing `mod1`; the compiler has no problems, and now the run-js tool has no problem either. And the modules run fine in node.

[2016-06-08 16:12] chochos commented on #6302
Actually I think we can close this one...

[2016-06-08 16:12] lucaswerkmeister commented on #6302
Well, the spec should be updated if we want to support this officially.

[2016-06-08 17:41] gavinking commented on #6303
Closing as dupe issue.

[2016-06-08 17:41] #6303 closed

[2016-06-08 17:53] #5975 closed

[2016-06-08 17:58] chochos commented on #3106
Should we close this now @quintesse @gavinking ?

[2016-06-08 17:59] quintesse commented on #3106
If you think it all works like it should work then okay with me :)

[2016-06-08 18:07] chochos commented on #5741
In the JS backend this now prints `done` and then `[]`. Which seems like the expected result to me.

[2016-06-08 18:14] jvasileff commented on #5741
Same on Dart, and I agree.

[2016-06-08 18:16] chochos commented on #3106
Well, we can import npm modules in `module.ceylon` and also import its "package" in source code. This seems to be working ok, and if any issues arise from this, they should be filed separately.

Also, the js compiler now generates the `package.json` file needed to publish a ceylon-js module in npm.

The only problem with this last one is the path that's generated, which is very different from the

[2016-06-08 18:26] jvasileff opened #6304 "backend errors w/methods w/default arguments"
With the latest 1.2.3 build from master, calling inherited methods w/defaulted parameters using named arguments results in backend errors. This prevents the Dart compiler from building.

With an interface:
[code]
and a superclass:
[code]

This will probably be interesting to @tombentley.

[2016-06-08 19:06] quintesse commented on #3106
What do you mean by this exactly? I'm not sure I understand.

[2016-06-08 21:17] f47k9L commented on #6303
The conclusion is that ceylon-js is not the right tool for writing in-browser applications.

[2016-06-08 23:32] chochos commented on #3106
For example my.awesome.module version 1.0.0 is stored in `my/awesome/module/1.0.0/my.awesome.module-1.0.0.js` (and other files in same dir) but npm simply stores the module under `my.awesome.module/1.0.0/my.awesome.module-1.0.0.js`

[2016-06-09 00:47] quintesse commented on #3106
Well if the module `my/awesome/module/1.0.0/*` copied to `npm_modules/my.awesome.module/1.0.0/` would work I guess everything is okay. (Or by adding `my/awesome/module/1.0.0/` to your `NODE_PATH`)

[2016-06-09 09:51] FroMage commented on #6304
Since when?

[2016-06-09 10:19] gavinking commented on #3106
@chochos But what are the actual _ramifications_ of that difference?

[2016-06-09 10:23] chochos commented on #3106
I'm not sure TBH. You can create a module, export it to npm with `npm publish`, and then import it back as a dynamic module using the `npm` namespace.

Currently the compiler does not try to load a model from `npm` modules, but I guess it could try...

[2016-06-09 11:42] JohnWillow opened #6306 "Compiler error"
Hi, I am a student trying to port some Java code to Ceylon to learn the language. I'm new to both Github and the language, please let me know if this is better discussed on a mailing list or forum.

I probably made a stupid mistake, but I report this because the error message told me to! :)
[code]
Output:

[code]

[2016-06-09 12:43] jvasileff commented on #6304
Between a9737ee and 8b9894d.

[2016-06-09 12:47] FroMage commented on #6304
Damn, that's quite a span. But still, it should help, thanks.

[2016-06-09 14:58] jvasileff commented on #6306
@JohnWillow, thanks for the bug report. This is actually the same as https://github.com/ceylon/ceylon/issues/2072, so I'm going to close it as a dup.

Definitely feel free to post to the mailing list or join the [gitter channel](http://gitter.im/ceylon/user) for help with workarounds or design questions.

[2016-06-09 14:58] #6306 closed

[2016-06-09 15:13] JohnWillow commented on #6306
Thanks, sorry that I didn't spot the duplicate. Since that is an old issue, I suppose I need to find a workaround for now.

[2016-06-09 16:03] jvasileff commented on #6304
Well, ok @FroMage, here you go.

With a "simple" Ceylon project comprised of the problem code and `buildcheck.sh`:
[code]

`git bisect` commands and results are:

[code]

-----------------

TLDR: these are actually two separate bugs.

* The `class` problem started with 8b9380aba50
* The `interface` problem started with 73becb99a or 794c965c8

Note: not sure why 73becb9 was "skipped"; perhaps Eclip

[2016-06-09 16:35] chochos commented on #5799
What about `flip` and other bitwise ops?

[2016-06-09 16:38] chochos commented on #5799
Oh and I just found out another cute JS thingy: `4294967295|0` gives you `-1`.

[2016-06-09 16:39] jvasileff commented on #5799
The ones I found that don't currently truncate are `set`, `clear`, and `flip`, but I'd say they all should.

[2016-06-09 16:40] jvasileff commented on #5799
That's actually useful; you can assume 32-bit signed overflow until you run out of precision at 2^53.

[2016-06-09 16:41] chochos commented on #5799
this means we need to have totally separate tests for js and jvm I guess.

[2016-06-09 17:39] chochos commented on #5799
And `2147483648|0` gives you `-2147483648`

[2016-06-09 17:45] jvasileff commented on #5799
Sure–`2147483648` is binary `1000 0000 ...` which is `-2147483648` in 32 bit two's compliment.

[2016-06-09 21:57] lucaswerkmeister opened #6307 "Support narrowing dynamic types"
An `is` condition for a dynamic type should check if the value has the appropriate types and, if yes, set its type to that type and evaluate to `true`.

[code]

Currently, this doesn’t work because the `console` object has the type `SimpleConsole` attached, and the `is` condition simply checks that type. I propose that for dynamic types, it should behave more like a mixture of `is$` and `dre$$`.

[2016-06-09 22:14] jvasileff commented on #6307
This seems essential.

Also, perhaps `is` should instead return `false` if the intersection is `Nothing`.

[2016-06-10 01:26] #5799 closed

[2016-06-10 12:02] bjansen commented on #6128
I think that's enough, because this situation is legal in Java but not in Ceylon. So, if a Ceylon class `satisfies` a Java interface that contains `foo()`, and inherits a Java class that defines `foo()` but doesn't implement the interface, we should simply accept the hierarchy.

[2016-06-10 13:30] lucaswerkmeister opened #6308 "Ceylon arrays and TypeScript arrays"
We have several options, I think:

- Ceylon `Array` and TypeScript `Array` are identical. The `Array` prototype is enhanced to make sure you can call Ceylon `Array` methods on it.

- TypeScript `Array` is mapped to Ceylon `Array`, and at runtime we box/unbox whenever the `Array` type appears in a TypeScript context instead of a Ceylon context.

- TypeScript `Array` is a separate type (which is def

[2016-06-10 16:58] chochos commented on #6308
JS Arrays are no longer enhanced because it causes problems with several JS frameworks, when they iterate over an array with `for (i in array)` instead of `for (var i=0;i<array.length;i++)`

You can extract the native array from a Ceylon array, it's the `arr$` property.

[2016-06-10 17:10] chochos commented on #6308
Use `natc$` if you want to dress up the array's elements. If you just want to box the array in a Ceylon array but the elements are already valid Ceylon objects, you can use `$arr$`

[2016-06-10 17:11] lucaswerkmeister commented on #6308
Ah, then `$arr$` is probably more appropriate. Thanks.

[2016-06-10 17:36] lucaswerkmeister commented on #6308
And is this a property of the type (`{md:"$",pk:"$",nm:"Array",unboxed:1}`) or of the parameter / value (`{$t:…,mt:"prm",unboxed:1}`)? I feel like the first one makes more sense, but I have no idea which would be easier to implement in the backend.

[2016-06-10 17:39] chochos commented on #5956
What sort of support am I supposed to add to JS, for this JVM-only feature?

[2016-06-10 17:53] chochos commented on #6308
You mean the argument to `t` in `$arr$`? It's the type argument for `Element`, in the runtime format, not the model format, e.g. `{t:Iterable,a:{Element$Iterable:{t:$_String},Absent$Iterable:{t:Nothing}}}`.

Those aren't strings, but direct references to the types (the `Iterable` function, etc).

[2016-06-10 17:57] lucaswerkmeister commented on #6308
No, I mean what I’m going to put in the `-model.js` files when converting a TypeScript declaration that involves the `Array` type. The JS backend needs to know that it has to emit the `$arr$` call or add `.arr$`, and I’m wondering if that flag belongs on the type or on the parameter/value.

Currently, a declaration
[code]
is converted to this:
[code]
and I’m wondering if it should be
[code]
or
[co

[2016-06-10 20:58] jvasileff commented on #5940
This bug is caused(*) by:

1. `TypeDeclaration.getMember()` not always returning the best refinement (furthest from `Anything`), and
2. The backend apparently relying on `getMember()` to determine covariant returns of supertypes

Regarding item 1, in this case, `getMember()` "skips over" `MapMutator.clone()`, since, per the logic of `getMember()`, `MapMutator<K,I>` is not a subtype of all possible

[2016-06-11 11:45] lucaswerkmeister opened #6309 "Dynamically assigning to intersection type only respects first type"
[code]

The `print` statement should print `true` to match the value’s static type, and the `ab2` assignment should throw due to the missing `b` member.

This allows you to circumvent type safety. For example, here’s a faux `String` where the `size` is a string instead of a number:
[code]
[Try online](https://try.ceylon-lang.org/?gist=c58fc925f95e1e1b477aff55918d3ca2)

[2016-06-11 11:45] lucaswerkmeister commented on #6185
Note: this suggestion is mostly superseded by #6307. The remaining issue is union types.

[2016-06-11 14:31] bjansen opened #6310 "Ceylon backend error: missing return statement"
A guy walks into a bar, and creates these 2 Java classes:

[code]

Then a priest comes in, and asks "Do you know what happens if I try to compile this Ceylon class"?

[code]

And then the horse says:

[code]

[2016-06-11 15:34] lucaswerkmeister commented on #6308
After some more consideration, I think it does actually make more sense to put this information on the declaration and not on the type. Conceptually, when considering an expression like `identity(typescriptFunction())`, we want to wrap the type *before* passing it into `identity`.

Also, this is a fairly general-purpose flag, I think.

- For `Array`, it means: box with `natc$` (or `$arr`), unbox w

[2016-06-11 17:57] chochos commented on #6308
OK now I get it.

I think it makes sense to add the unboxing flag in the parameters, so you can check if the argument needs unboxing or not. But what about return types? You'd need to specify it there as well, so that JS compiler knows if a return value should be unboxed or not, right?

[2016-06-12 18:07] lucaswerkmeister opened #6311 "Referring to value constructors with uppercase name results in runtime errors"
I’ve discovered that if a value constructor is referred to in uppercase syntax, the JS backend emits `ClassName$c_ConstName` instead of `ClassName$c_ConstName()` (missing parentheses). This means that the value you get at runtime is a function instead of a proper object. When `switch`ing on the  object, cases written in lowercase syntax will not match.

[code]

(You can get the same effect with a

[2016-06-12 23:15] lucaswerkmeister opened #6312 "Emit default case for exhaustive switches on JS backend"
The JVM backend always emits this default case if a `switch` does not have an explicit `else` case:
[code]
I think it would be a good idea to do this on the JS backend as well. After all, the JS platform makes even less guarantees at runtime than the JVM (e. g. no guarantee that a `String` member actually contains a `String` value), and so a switch might not be exhaustive not only due to compiler

[2016-06-13 13:29] FroMage commented on #6310
Well, OK, but what does the rabbi reply?

[2016-06-13 15:36] chochos commented on #6308
I tried to compile this to JVM for comparison and got some weird errors. Is there a separate issue for that?

[2016-06-13 15:37] chochos commented on #6311
I tried to compile this to JVM for comparison and got some weird errors. Is there a separate issue for that?

[2016-06-13 15:38] lucaswerkmeister commented on #6311
Not that I’m aware of, I didn’t try that.

[2016-06-13 17:20] chochos commented on #6311
This code causes errors in the JVM compiler.

[2016-06-13 17:44] jvasileff commented on #6311
I don't think this should be allowed by the typechecker:

[code]
The produced ast is:
[code]
whereas `case (C.\iA)` results in the correct `QualifiedMemberExpression`:
[code]

This is on `1.2.2`.

[2016-06-13 17:47] jvasileff commented on #6311
Likewise,
[code]
results in:
[code]
rather than `C.\iA`'s:
[code]

[2016-06-13 22:33] ncorai commented on #6310
Does `Intervening` extend `Top`?

[2016-06-14 16:43] bjansen opened #6313 "createJavaObjectArray() is allowed without explicit type arguments"
As [discussed on gitter](https://gitter.im/ceylon/dev?at=576005fa09a91a8d73d6cfb5), it's possible to call `createJavaObjectArray` without explicit type arguments, which might lead to `ClassCastException`s at runtime:

[code]
[code]

[2016-06-14 16:44] bjansen commented on #6313
Related to https://github.com/ceylon/ceylon/issues/6160

[2016-06-14 17:37] bjansen commented on #6313
Perhaps related, when I have a `createJavaObjectArray()` that is in fact a `createJavaObjectArray<CeyLightToplevelFunction|CeyLightClass>()`, I also get a CCE:

[code]

Both `CeyLightToplevelFunction` and `CeyLightClass` satisfy `PsiClass`.

[2016-06-15 14:07] tombentley commented on #5956
@chochos it's not a JVM-only feature. There's API in the language module. Sure on the JVM it's implemented on top of Java APIs but the same thing should be implementable on JS.

[2016-06-15 14:09] tombentley commented on #470
@FroMage https://github.com/ceylon/ceylon/commit/4b1b81508826eef8bd46e994875e36daf3b14da9 resulted in us hitting a `System.err.println()` in `CeylonTransformer` when we can't figure out the type of an annotation member. We should at least change that to be a logger call, but really I don't think it's really necessary.

[2016-06-15 17:39] lucaswerkmeister commented on #6308
We might be able to use the `dyn` flag for this, I think. After all, it would make sense that when a regular dynamic interface declares an `Array` typed member or parameter, it also refers to native JS arrays and not Ceylon arrays. So we would do the same wrapping/unwrapping for dynamic interfaces as well.

[2016-06-16 17:11] chochos commented on #3106
Closing this. New issues should be opened for specific bugs/features related to npm support.

[2016-06-16 17:11] #3106 closed

[2016-06-17 08:10] bjansen commented on #6310
@ncorai yes, sorry,I fixed the description :)

[2016-06-18 04:20] jvasileff opened #6315 "Byte.get(0) doesn't work in JS"
[code]

[2016-06-18 15:45] jvasileff opened #6316 "stack overflows for extra long tuple and iterable expressions"
There are a few stack overflows for code of the following forms:

    Anything a = [1, 2, ..., 2000];

and

    Anything a = {1, 2, ..., 2000};

and

    void foo1<T>({T*} xs) {}
    foo1 {1, 2, ..., 2000};

and

    void foo2({Anything*} xs) {}
    foo2 {1, 2, ..., 2000};

### For the first (extra long `Tuple` expression)

Using JDK 8 and the latest Ceylon 1.2.3 build (04d56a0):

[code]
reducing

[2016-06-18 15:46] jvasileff commented on #6316
Test code:

[code]

[2016-06-19 12:51] gavinking opened #6318 "type of String.lines should be nonempty"
`String.lines` is currently declared to have the type `{String*}` but in fact `"".lines` evaluates to `{""}`, so it should be declared to have the more useful type `{String+}`.

I think this would be a change wouldn't break *binary* compatibility, but strictly-speaking it does break source compatibility, since code of the form `assert (exists firstLine = text.lines.first);` would break. Not sure h

[2016-06-19 13:01] gavinking opened #6319 "relax restriction on calling superclass from initializer when the superclass is written in Java"
When writing Swing code, it _really_ gets in the way to not be able to call methods of the supertype from the initializer of a Ceylon subtype. We should relax this restriction, but only for Java supertypes.

[2016-06-19 13:02] lucaswerkmeister opened #6320 "TypeScript values are not functions"
The JS backend compiles values to functions and correspondingly calls them as functions:
[code]
[code]
TypeScript, on the other hand, compiles values to simple values.
[code]
[code]
How do we bring those together?

1. Make the TypeScript converter emit a function. The resulting code could, for example, look like this:

[code]
    This might cause problems if you load multiple TypeScript modules th

[2016-06-19 21:03] Zambonifofex commented on #6318
@gavinking

*ahem* #6056 *ahem*

[2016-06-20 13:08] FroMage commented on #470
OK I'll check that.

[2016-06-20 13:27] gavinking commented on #6175
Well, wait, how many decimal digits of precision does a number have in JS? 15 if I recall correct.

[2016-06-20 13:32] jvasileff commented on #6175
JS and JVM floats are identical!

[2016-06-20 15:16] chochos commented on #6320
I agree we should go with option 2.

Values are compiled to functions because of lazy initialization, forward references, late values/variables, and circularity. Code that accesses these values is generated as a call to the function.

This is only done with toplevel values; attributes use the JS `property` mechanism.

[2016-06-20 15:58] chochos commented on #6315
Huh. I wonder why we aren't testing that in the language module tests...

[2016-06-20 16:32] lucaswerkmeister commented on #6320
Do you know when `val.$crtmm$` is used?

[2016-06-20 16:33] #6315 closed

[2016-06-20 17:33] chochos commented on #6320
Metamodel, not sure exactly where (probably for `model.Value` or something)

[2016-06-21 12:12] lucaswerkmeister opened #6322 "Toplevel variable generated setter methods can clash with other members"
[code]
The JS backend emits a `setS` method for both `s` and `S`. When running the code, the last one silently takes precedence (yay JavaScript!), and so the `s = "t";` assignment actually assigns to `\iS`. The assertion fails.

But fret not! You can “fix” this:
[code]
Now, the actual `setS` method takes precedence, and since it’s a noop, the assertion works again, and all is well ;-)

[2016-06-21 14:05] FroMage commented on #5919
So I have a proto where I wrote enough wrappers to make our APT fork pass for the Java APT so butterknife would work (an Android APT processor).

I tried lombok too (very famous APT processor to generate `toString` methods) and it didn't do anything because that one "cheats" by editing the AST rather than adding new source files, which APT is not supposed to support. For that, Lombok needs to cast

[2016-06-21 14:19] quintesse commented on #5919
Btw, I might be saying something completely stupid, but was it considered to somehow keep using the original APT instead of forking our own (this would mean having to somehow "unfork" part of our fork of the javac compiler).

If that's not possible then this is most likely the best we can do (a good job at that, Stef).

[2016-06-21 14:25] FroMage commented on #5919
It's not stupid, I thought about that, but if we unfork it, we will depend on either Java7 or 8 but not both. Because Java 8 added new methods, we wouldn't be able to compile/run under Java 7, because we have to provide an implementation of this API. Similarly, we can't limit ourselves to the Java 7 API because internally we provide the Java 8 API.

Perhaps it's possible using a lot of cunning, bu

[2016-06-21 14:31] quintesse commented on #5919
Ok, understood.

Then what you suggest seems reasonable.
Would we be able to (re)use the `apt` annotation and/or `--apt` option for our own, Ceylon-centric, processing in the future?

[2016-06-21 14:33] FroMage commented on #5919
I don't think we'd have to. This is all very JVM-specific. It will also probably impact the IDEs, though, as I expect there'd have to be support from them. I know @vietj told me Eclipse worked much better with APT than IntelliJ, so there has to be support involved, right @bjansen and @davidfestal?

[2016-06-21 14:34] quintesse commented on #5919
I mean we've always wanted something similar to APT for Ceylon itself as well, right? And wouldn't we use a similar system to "activate" that processing?

[2016-06-21 14:36] gavinking commented on #5919
It sounds good to me.

On Tue, Jun 21, 2016 at 4:05 PM, Stéphane Épardaud <notifications@github.com

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2016-06-21 14:45] gavinking opened #6323 "backend bug using = to refine a method"
In [this commit](https://github.com/ceylon/ceylon-ide-intellij/commit/e0c8a26f558630589372bd544de5f486c431941b), I tried to refine a method of Java interface `ParserDefinition`, by assigning a reference to the constructor of Java class `CeylonFile`.

I got:

[code]

[2016-06-21 16:11] gavinking opened #6324 "this reference within named args list"
I have:

[code]

I get:

[code]

[2016-06-21 16:33] gavinking opened #6325 "iterating over unions of Java iterables"
I wrote something like this:

[code]

And got:

[code]

[2016-06-21 20:00] vietj commented on #5919
APT in Eclipse works quite well with the incremental compiler.

[2016-06-21 21:17] quintesse commented on #5789
Fixed this in a branch because it needs updates in the IDE. @davidfestal could you look at this please? The `VirtualFile` type has a new method that needs to be implemented.

[2016-06-22 01:13] JohnWillow commented on #6306
@jvasileff I did, but am no longer able to access the Ceylon rooms.

As for this issue, I was able to find a workaround. Thanks!

[2016-06-22 02:18] chochos commented on #6322
Fixing this is easy but it will probably break BC if I'm not careful. Need to something similar to what I did with the fix for constructor names.

[2016-06-22 07:48] davidfestal commented on #5789
I'll have a look asap

[2016-06-22 08:42] FroMage commented on #5919
So, adding a new command-line flag is lame and all, but MUCH easier than listing it with an annotation in the module descriptor, because:

- we don't actually want those apt modules visible to user code, since we're not calling them
- we also don't want them used at run-time, since only the compiler needs them
- we'd have to update all our tools to deal with these differences (for example, we don'

[2016-06-22 09:09] tombentley commented on #5919
I don't disagree, as such, but I do worry that we deploy the "at least for now" argument quite often, and in doing so we are slowly making ceylon harder to use. In this case it means we end up embedding information about how to compile the module, not in the module descriptor, but in whatever build tooling is being used. If it's not in the module descriptor it's harder to discover, and will tend t

[2016-06-22 09:12] gavinking commented on #5919
Put it in overrides.xml?

Sent from my iPhone

[2016-06-22 09:14] FroMage commented on #5919
@tombentley I agree. Perhaps it's just laziness from my part to rewrite tons of chunks of the CMR+module setup+tools.

I feel that this is too experimental at this point to warrant that much work. But I also agree with what you said :(

Those also don't go to Herd.

[2016-06-22 09:38] quintesse commented on #5919
I also agree with @tombentley 's sentiment, but in this case I think getting it to work at all is much more important. Improvements like that we can still make in the future.

[2016-06-22 09:50] quintesse commented on #5789
NB @davidfestal : for the `ZipXxxxVirtualFile` classes you can just copy the implementation from the same files in the distribution.

[2016-06-22 12:25] #6214 closed

[2016-06-22 12:25] FroMage commented on #6214
Fixed.

[2016-06-22 14:51] davidfestal commented on #5789
@quintesse : I added the required implementations, as well as a `formal`method with the same name in the `WithParentVirtualFile` interface (in `interfaces.ceylon`) that directly refines `VirtualFile` and is satisfied by all the implementations in `ceylon-ide-common`.
Once you merge, you'll only have to remove this formal method from `VirtuaFileWithParent`, or make it actual.

[2016-06-22 15:22] #5789 closed

[2016-06-22 15:46] quintesse commented on #5789
Ok, merged now. Closing.

[2016-06-22 19:11] jvasileff opened #6328 ""ant dist" fails"
`ant dist` fails with the error below, since 6fcc61019e55fcadc4736b9fcdb31a749b6e2f42

cc @davidfestal

[code]

[2016-06-22 19:18] jvasileff commented on #6328
well, now it works...

[2016-06-22 19:18] #6328 closed

[2016-06-22 21:40] lucaswerkmeister commented on #6001
I’ve updated the issue and added more points.

I think it would make a lot of sense to implement most of these points using the same flag – let’s call it `pojs` for now, for Plain Old JavaScript (`native` is already taken).

- POJS classes are instantiated with `new`. (This means the `$new` flag will be removed.)
- POJS classes are extended differently.
- POJS does not use getter / setter methods.

[2016-06-22 21:40] lucaswerkmeister commented on #5982
I think this is what we’ll actually do. The TypeScript loader can emit the necessary extra declarations (for example, for interfaces), and the backend can wrap up any value from TypeScript in a `dre$$` call (which checks if the value has all the expected members). I’ll close this issue.

[2016-06-22 21:40] #5982 closed

[2016-06-23 03:33] jvasileff commented on #6318
Seems reasonable to me–really the same as flow typing improvements in previous releases.

In fact, this might catch a bug or two since it removes doubt as to whether `""` counts as a line.

[2016-06-23 09:57] #6135 closed

[2016-06-23 10:14] quintesse commented on #4548
I'll consider this closed. Any problems can be put in new issues.

[2016-06-23 10:14] #4548 closed

[2016-06-23 10:19] #6056 closed

[2016-06-23 10:20] gavinking commented on #6056
Done.

[2016-06-23 10:26] #6318 closed

[2016-06-23 10:27] gavinking commented on #6318
As recommended by @Zambonifofex I have reduced the severity of those errors, which allowed me to fix this issue.

[2016-06-23 10:46] FroMage opened #6329 "Tests don't compile"
Due to:

[code]

@gavinking mentioned this should not pass the typechecker and may be due to my interop stuff wrt casing.

[2016-06-23 10:48] FroMage commented on #6329
@gavinking can you please look at that test in full and tell me what's the issue and what I should fix?

[code]

It's not clear to me, but I suppose `C6311.A` refers to the type while `C6311.\iA` to the value or constructor?

[2016-06-23 13:11] jvasileff commented on #6329
but it's allowed on 1.2.2 too. https://github.com/ceylon/ceylon/issues/6311#issuecomment-225655397

[2016-06-23 14:00] FroMage commented on #6329
Thanks, so this is really a dupe of #6311.

[2016-06-23 14:00] #6329 closed

[2016-06-23 14:00] FroMage commented on #6311
@gavinking can you please tell us what this should do?

[2016-06-23 14:25] gavinking commented on #6311
I have _no idea_. I'm hoping you'll tell *me* what you expect it to do...

[2016-06-23 14:32] jvasileff commented on #6311
I would expect something analogous to:
[code]

[2016-06-23 14:43] FroMage commented on #5919
I pushed initial support for this so others can test too.

[2016-06-23 14:45] #6322 closed

[2016-06-23 14:51] gavinking commented on #5919
nice!

[2016-06-23 15:03] jvasileff opened #6330 "backend error with case destructuring"
This type-checks:

[code]
but results in
[code]

[2016-06-23 15:03] jvasileff commented on #6330
@gavinking I assume this is a backend bug and not a typechecker bug?

[2016-06-23 15:29] gavinking commented on #6330
Well, yeah, I suppose. Though I'm not sure that it was really 100% intentionally intended that this would work, so I'm not surprised that it wasn't tested. Still, I see no good reason to actively *prevent* you from writing that.

[2016-06-23 18:38] jvasileff opened #6331 "allow shortcut refinement of Java methods to return null"
I believe this (as is), should compile:

[code]

[2016-06-23 18:42] bjansen commented on #6331
There's lots of places in the IDEs where we satisfy a Java interface, where I'd like to use shortcut refinements that return a nullable value.

[2016-06-23 19:10] gavinking commented on #6331
Yeah I have noticed this it's a PITA.

Sent from my iPhone

[2016-06-24 01:06] gavinking commented on #6331
I've fixed this.

[2016-06-24 01:13] gavinking commented on #6331
Oops! It's not completely fixed since we also need to teach the backend to stop generating calls to `Util.checkNull()`.

[2016-06-24 11:37] gavinking commented on #6331
Well, OK, so I now have a working implementation of this, _but_, it has a wrinkle. The only way I can possibly make this work, given the restrictions of the typechecker's phased lifecycle, is by setting the `uncheckedNull` attribute of the refining declaration. Now, this is the *first time ever* that we've had a declaration defined in Ceylon with unchecked nulls.

So whether you think this is an a

[2016-06-24 11:41] quintesse commented on #6331
I think we should let our users decide using a democratic vote :)

[2016-06-24 11:59] tombentley commented on #6331
Don't do that! That way lies madness
On 24 Jun 2016 12:41 p.m., "Tako Schotanus" <notifications@github.com>
wrote:

[2016-06-24 12:13] gavinking commented on #6331
Well, we already did it when we allowed you to write:

[code]

This is no different, at least from a certain point of view.

[2016-06-24 12:47] gavinking opened #6332 ""identical source files" failing typechecker tests"
Because nobody *ever* runs the tests for the typechecker :-(

[2016-06-24 12:47] gavinking commented on #6332
<blockquote>
     [java] error [identical source files: test/moduledep1/com/redhat/ceylon/compiler/typechecker/test/moduleb/module.ceylon and test/moduledep2/com/redhat/ceylon/compiler/typechecker/test/moduleb/module.ceylon (a module/package descriptor should be defined only once, even in case of multiple source directories)] at 1:0-3:64 of com/redhat/ceylon/compiler/typechecker/test/moduleb/modul

[2016-06-24 12:49] DiegoCoronel opened #6333 "Import for maven:foo:bar not working at runtime"
This compiles fine `	import "maven:postgresql:postgresql" "9.1-901-1.jdbc4";` but at runtime does not work.
[code]

[2016-06-24 12:58] FroMage commented on #6333
Is this not precisely what I fixed yesterday? Can you reproduce with latest master?

[2016-06-24 12:59] DiegoCoronel commented on #6333
I tried it with yesterday  and also @jvasileff , but let me try again right now

[2016-06-24 14:04] jvasileff commented on #6333
Yes, this fails for me. It's very simple to reproduce. Just `ceylon run simple` a module with:
[code]

[2016-06-24 14:30] DiegoCoronel commented on #6333
Yes, just for sanity i updated everything and it still fails

[2016-06-24 14:49] quintesse opened #6334 "Change in SDK test module exposes JS error"
No idea what's wrong exactly but @thradec 's [latest change to the SDK](https://github.com/ceylon/ceylon-sdk/commit/dc95bf51c935d0c2ba5d85016482eec6cdc22e58) exposes an error in the JS runtime when running `ant test-js`:

[code]

[2016-06-24 14:49] quintesse commented on #6334
I'm thinking we should perhaps revert this change because it prevents us from running the SDK tests. Unless @chochos thinks he can fix this quickly?

[2016-06-24 15:11] quintesse commented on #6334
Reverting makes things more or less work again although I see quite a bunch of:

[code]

[2016-06-24 16:21] quintesse commented on #6333
Seems the `BytecodeUtils` have 2 copies of code that read dependencies and only one of them is correct. Will try to refactor that into a single piece of code.

[2016-06-24 16:58] #6333 closed

[2016-06-24 17:01] quintesse commented on #6333
Fixed

[2016-06-24 19:12] chochos commented on #6334
I've got my hands full at the moment and this doesn't seem to have an obvious fix.

About those `parameterized test failed` messages, I've seen them as well lately, in @tombentley's `typeparser` repo.

[2016-06-24 20:16] DiegoCoronel commented on #6333
WoW !!!!! Thanks ... now my springboot services can be started from eclipse \o/

[2016-06-25 18:00] Zambonifofex opened #6335 "certain objects aren’t caught by `catch(Throwable t)` in JS"
[code]
Currently, in JavaScript, the function `doSomething` isn’t called. It should be.

[2016-06-25 18:08] lucaswerkmeister commented on #6335
The generated `catch` block looks like this:
[code]
which can fail for two reasons:

1. `$2` is `null` or `undefined`, and `$2.getT$name` fails.
2. `$2` is a Ceylon value, but not one that is `Throwable` (this includes number, string, and boolean values, as Ceylon edits their Prototypes). It’s arguably not strictly *incorrect* that `catch (Throwable t)` doesn’t catch these values (as they do have

[2016-06-25 20:22] Zambonifofex commented on #6056
@gavinking sorry, but this is a duplicate of #3652.

[2016-06-26 01:31] Zambonifofex commented on #6188
Sorry, but I can’t see what these are useful for.

[2016-06-26 07:51] fwgreen commented on #6188
@Zambonifofex here's a [document](http://cr.openjdk.java.net/~jrose/values/values-0.html), from Oracle's [Project Valhalla](http://openjdk.java.net/projects/valhalla/) page, outlining the why and a possible how.

[2016-06-26 12:49] gavinking commented on #6056
@Zambonifofex well, not precisely a dupe, since #3652 is a little more general and is mainly about unreachable code and the analysis which is done in `ControlFlowVisitor`, I think.

[2016-06-26 12:52] Zambonifofex commented on #6056
@gavinking well, since you say:

I think this is at least covered by that.

[2016-06-26 13:11] gavinking commented on #6056
No. It's actually talking about something quite different, the error that occurs in this code:

[code]

[2016-06-26 13:13] gavinking commented on #6188
@Zambonifofex They are critically important to achieve reasonable performance for many kinds of code. Over-stressing the garbage collector is a huge problem in many Java applications. For example, _in our own compiler when running in Eclipse_.

[2016-06-26 13:17] Zambonifofex commented on #6188
@gavinking oh, so they are purely for performance? They are not meant to improve expressibility?

[2016-06-26 13:18] lukedegruchy commented on #6188
The document @fwgreen linked is well worth a read.  With value types Oracle plans to introduce the following constructs to the Java language:

* Optional (as a value type, not a class)
* Algebraic data types
* Tuples
* Cursors (more efficient successor for Iterator)
* More numerics that the existing primitives can't express
* (This is just me being hopeful) union types, or at least an Either in th

[2016-06-26 14:58] jvasileff commented on #6188
Yes. Aside from performance characteristics, immutable value types and immutable reference types are basically the same.

[2016-06-27 14:58] quintesse commented on #6040
I think we can consider this closed now.

[2016-06-27 14:58] #6040 closed

[2016-06-27 15:03] FroMage commented on #5919
OK, I have finally been able to add a test for this and I've found an issue I need to solve.

[2016-06-27 19:12] chochos opened #6336 "Proper path to npm files in subpaths"
Some NPM modules have their main file in a subpath such as `lib/whatever.js` and the path to `require` only contains `whatever.js` so the file is not found at runtime.

[2016-06-27 19:14] chochos opened #6337 "Consider default for main NPM module file"
Some NPM modules do not list a main file. It seems the default in that case is `index.js`, so we need to consider that instead of just printing an error.

[2016-06-27 19:16] chochos opened #6338 "Classes from NPM can't be instantiated"
When importing a class from a NPM module, it can't be instantiated. Needs a constructor, and it needs to be called with `new`.

[2016-06-27 20:32] #6336 closed

[2016-06-27 20:32] #6337 closed

[2016-06-27 20:32] #6338 closed

[2016-06-27 21:30] chochos opened #6339 "Properly wrap non-standard NPM modules"
Certain NPM modules do not follow the CommonJS format, and instead of an object containing exported declarations, simply return a function. This is rather common for very simple packages (such as the infamous `left-pad`) that only export one function.

We need a way to wrap these single-function modules in a proper `exports` object so that they're usable through our standard import mechanisms.

[2016-06-27 22:50] chochos commented on #6339
Still one thing missing: we need to deal with dashes in names.

[2016-06-28 08:31] FroMage commented on #5919
Test pushed

[2016-06-28 08:58] bjansen commented on #5919
My 2¢:

I totally agree with that, and I think only relying on a CLI flag is lame, because there's a high probability that people (and tools) will forget to set it. OTOH, a new entry in the Ceylon config looks like a very good way to always run the APT, the same way overrides file are always used when they are defined in the config.

[code]

The compiler will always read that file so it will autom

[2016-06-28 09:00] FroMage commented on #5919
Sure, I plan to add that config flag.

[2016-06-28 09:12] quintesse commented on #5919
NB: you can have several config values with the same name, no need for (possibly ambiguous) comma-separated lists: (I'm guessing @FroMage already knows that, but just to be sure)

[code]

[2016-06-28 14:14] gavinking commented on #3855
Since we might need to actually deal with this one rather soon, I'm going to suggest a variation on the original syntax: that we could treat this as a sort of `let`. This would distinguish labels assigned to expressions from named parameter refs.

[code]

The scope of the `let` would be considered "the rest of the expression".

[2016-06-28 14:18] FroMage commented on #3855
Wait, so here `label` would not be passed to `Panel`?

[2016-06-28 14:19] bjansen commented on #3855
Maybe it is if you write something like this?

[code]

[2016-06-28 14:19] FroMage commented on #4584
Pfff, this is not so trivial, because it is expensive to traverse annotations to check if their name ends with one of those suffixes. I'll have to change how we store annotations in mirrors to not make this too expensive for model loading.

[2016-06-28 14:20] FroMage commented on #4584
And yeah, this will impact the IDEs.

[2016-06-28 14:25] gavinking commented on #3855
This:

[code]

is an expression, just like other occurrences of `let`.

Thus, the whole thing is similar to:

[code]

But with the difference that a name, `label`, is assigned to the `Label`.

[2016-06-28 14:27] gavinking commented on #3855
@bjansen your proposal is a reasonable alternative, and has a bit different semantics. We could do it that way:

[code]

I initially rejected that idea because I didn't love the idea of having to add the reference back to `label`. But sure, it has certain advantages.

[2016-06-28 14:28] gavinking commented on #3855
FTR, I don't have a very strong preference between the two approaches.

[2016-06-28 14:36] bjansen commented on #3855
When I read this comment (https://github.com/ceylon/ceylon/issues/3855#issuecomment-229061915) it just felt like `label` was a local declaration, and that it wouldn't actually be used as a child of `Panel`. Reading the description of `let`, I'm even more inclined to think so:

The example I gave is more explicit, but I don't really like how it reads :(

Using `value` doesn't really make it clearer

[2016-06-28 14:39] bjansen commented on #3855
Also, did you forget a comma after the let expression, in this example?

[code]

If not, it definitely looks like `label` is just declared for the `Button`, not the `Panel`.

[2016-06-28 14:40] gavinking commented on #3855
Interestingly, since `NamedArgumentList` is apparently already a `Scope` with a list of `members` (perhaps because I was anticipating this feature), this feature will most likely be super-easy to implement from the point of view of the typechecker.

@tombentley how hard is it to add support for this to the Java backend?

[2016-06-28 14:41] gavinking commented on #3855
Um, I think I might have, when I initially posted. But I edited it immediately to add the comma in...

[2016-06-28 14:42] bjansen commented on #3855
Ah OK, I didn't see it because github showed new comments without showing other edits...

[2016-06-28 14:45] gavinking commented on #3855
And I don't like using `value` here because that syntax is already allowed in a named argument list, and would be very ambiguous from a parsing point of view.

[2016-06-28 15:13] FroMage commented on #4584
I have something I should be able to commit tomorrow morning.

[2016-06-28 15:43] tombentley commented on #3855
What if I want to use a labelled expression in both a named argument and a sequenced argument?

    foo {
        let label = Label { size = Size(50,10); }
        thing=label;
        label
     }

I mean, what are the rules for the intermixing of named arguments, sequenced argument and let expressions?

[2016-06-28 16:16] gavinking commented on #4584
That's excellent news.

[2016-06-28 16:19] gavinking commented on #3855
@tombentley That would be allowed.

[2016-06-28 16:23] gavinking commented on #6331
There is still a problem here where apparently the refinement is not being marked properly as having `uncheckedNulls`. Not sure what's going on there.

[2016-06-28 16:31] chochos commented on #6339
Need to pass the possibly-overridden `require` to `npm$req`

[2016-06-28 16:32] jvasileff commented on #6331
This seems like an interesting wrinkle, no? For non-shortcut refinements, the return type (optional or not) is explicit. But for shortcut refinements, would the return type need to be inferred?

For example, for `String foo() {}` in Java, the Ceylon refinement:

[code]
would return `String`, and the expression `super.foo()` would throw if `null`. But, for
[code]
it seems the Ceylon return type wou

[2016-06-28 16:34] gavinking commented on #6331
@jvasileff No, that's not what I've done. For `foo() => super.foo() else null;` the type is `String`, but with the `uncheckedNulls` flag set to true.

[2016-06-28 16:35] jvasileff commented on #6331
ok.

[2016-06-28 17:49] Vorlent opened #6340 "Stackoverflow in getUnionOfCases"
[code]

`Annotation` refers to the class defined in the language module.

Here is an example that doesn't depend on ceylon.ast.

[code]

[2016-06-28 18:05] jvasileff commented on #6340
Or just:

[code]
Something about `Annotation` seems to be the trigger.

[2016-06-28 18:13] jvasileff commented on #6340
Better:

[code]

[2016-06-28 18:52] quintesse commented on #6332
@gavinking I was wondering if you could take a look at those tests yourself for a moment. I think the compilation for those 3 modules (moduleb, modulec and moduled) used to pass even though they were really incorrect (because they have duplicate `module.ceylon` files). So after my fix the typechecker now  correctly complains about those duplicate files. But without knowing what the tests are suppo

[2016-06-28 21:53] jvasileff opened #6341 "TypePrinter incorrectly simplifies some Tuples"
Asked to print the type for `x`, the `TypePrinter` comes up with:

[code]

The reason for this is that [`TupleType.isTupleTypeWellformed`](https://github.com/ceylon/ceylon/blob/31276ae905fa212d327448aff7e7e604161fd452/model/src/com/redhat/ceylon/model/typechecker/util/TypePrinter.java#L468) does not recursively check if all `Rest`s are well formed.

[2016-06-29 00:03] jvasileff opened #6343 "treat JavaScript global objects as reserved words"
At least for `parseFloat()`, treat JS globals as reserved words to avoid creating Ceylon elements with conflicting names.

This was discussed on [gitter](https://gitter.im/ceylon/dev?at=576d87819f9132eb7170e696) and will help with https://github.com/ceylon/ceylon/pull/6326.

[2016-06-29 02:05] chochos commented on #6343
To avoid breakage, I guess `parseFloat` should be called `$_parseFloat` or whatever inside the language module, but exported as `parseFloat` (since any calls to it will be qualified anyway).

[2016-06-29 03:02] #6339 closed

[2016-06-29 03:03] chochos commented on #6343
Done!

[2016-06-29 03:03] #6343 closed

[2016-06-29 03:16] jvasileff commented on #6343
Thanks Enrique!

[2016-06-29 08:59] tombentley commented on #3855
@gavinking I don't think it will be too difficult, to be honest. Named argument invocation is already compiled into a Let, and we have machinery for substitution.

[2016-06-29 09:47] gavinking commented on #3855
@tombentley yeah, that's what I was thinking.

[2016-06-29 09:48] gavinking commented on #6331
Alright, after some digging I think the problem is the model loader is not preserving the `uncheckedNulls` flag for Ceylon declarations. I'm going to close this, and open a separate issue for the mode loader.

[2016-06-29 09:48] #6331 closed

[2016-06-29 09:52] gavinking opened #6344 "model loader should persist uncheckedNulls flag"
Since #6331, a Ceylon member (a shortcut refinement) can have `uncheckedNulls`. This means that the model loader needs to persist this information somehow. Note that the logic here is that a Ceylon member has unchecked nulls iff:

1. the Ceylon member is a shortcut refinement, and
2. the thing it refines is a Java declaration with unchecked nulls.

[2016-06-29 10:11] FroMage commented on #6344
We already have a flag for that, so it's a matter of persisting it.

[2016-06-29 10:36] FroMage commented on #4584
I have pushed this in the `4584` branch. Can @gavinking @davidfestal @bjansen test it on the IDEs? I didn't want to merge this to master as it requires a change in implementations of `AnnotatedMirror` and is likely to break the IDE builds due to the changes in semantics.

[2016-06-29 10:38] bjansen commented on #4584
Sure, I'll test it it ceylon-ide-intellij

[2016-06-29 11:02] gavinking commented on #3855
After a little reflection, I have boiled this down to two competing proposals.

#### Proposal 1: allow _inline declaration arguments_ with no matching parameter

This proposal goes along the path that @bjansen was taking above. The changes would be as follows:

- You would be allowed to write the an inline declaration argument (spec §6.6.11) in fully verbose form, with no matching parameter.
- Sub

[2016-06-29 11:40] quintesse commented on #3855
Personally I like proposal 2 better. Even though proposal 1 is perhaps more "expressive" or "powerful" I think it will make it easier to write complex code that's hard to understand. With proposal 1 you'd have to understand more about the intricacies of `value` vs `actual` vs the already somewhat complex-ish rules of named arguments (using `;` as a separator instead of `,` except for any iterable

[2016-06-29 12:20] bjansen commented on #3855
I also prefer proposal 2.

[2016-06-29 12:57] fwgreen opened #6345 "Intermittent java.lang.NullPointerException and other errors"
After exporting [Gyokuro 0.2-dev](https://github.com/bjansen/gyokuro) to my local repo, the IDE gave me an error while using its modules (core and view.mustache) in a project:  `The Ceylon Java backend compilation failed with a throwable : java.lang.NullPointerException`.  Cleaning the project would remove the error, but the module would still run with the error present.  The IDE also complained o

[2016-06-29 13:48] gavinking commented on #3855
Well the biggest thing I like about 1 is that it's much more _regular_. It avoids introducing a new sort of thing into the language (a totally different sort of `let` that we never had before). And yes, in full generality it's also more powerful, allowing not just local values but also local functions and local objects, which isn't useless at all when we look at the problem of defining UIs. (OTOH,

[2016-06-29 13:53] FroMage commented on #3855
And how about "just" being able to refer to previously set parameters in the param list?

[code]

So here, `arg1` would be passed normally, but could be used as a bound value in remaining arguments.

[2016-06-29 14:39] gavinking commented on #3855
@FroMage because that does not help with child elements, which don't have corresponding individual parameter names.

[2016-06-29 14:43] jvasileff commented on #3855
I suspect this will break a bunch of existing code, since it is *very* common to have an existing declaration with a name matching a parameter name of a called function. For example:

[code]

[2016-06-29 14:44] jvasileff commented on #3855
But `String` doesn't have a mutable `text` property below?

[code]

[2016-06-29 14:49] gavinking commented on #3855
Hurmph. That's a good point.

[2016-06-29 16:29] gavinking commented on #3855
Well, @jvasileff, we could reduce the breakage to _almost_ zero if we *only* make fully verbose inline arguments referenceable.

[2016-06-29 16:31] gavinking commented on #3855
That is to say, our example would look like this:

[code]

It would still be a breaking change, but since this verbose syntax is used relatively rarely at present, it wouldn't break a *lot* of code, it seems to me.

[2016-06-29 16:40] jvasileff commented on #3855
WRT values, I agree. I don't think I've ever used the `value` keyword in named argument lists.

[2016-06-29 16:49] gavinking commented on #3855
@jvasileff right, but, by extension, I would also make `function` and `object` arguments referenceable.

It's `function`s that raise the biggest chance of breakage, of course.

[2016-06-29 17:58] jvasileff commented on #3855
By chance, the first use of `function` in a named args list I found would break:
[code]
Of course, `function` was used here purely for stylistic reasons.

For the sake of putting it into words, more troubling to me is:

* The choice to use `{ }` over `=>`, whether by preference or necessity, is totally unrelated to whether you want to create a reference.
* `{ }` cannot be used without creating a n

[2016-06-29 18:09] gavinking commented on #3855
I did a quick 1-line partial implementation of this, in order to look for the problem you raise, @jvasileff, and I got four errors in the SDK. So indeed this isn't a purely theoretical consideration.

[2016-06-29 18:22] bjansen commented on #6345
Do you see errors in Eclipse's logs? (in `.../workspace/.metadata/.log`).

[2016-06-29 18:51] fwgreen commented on #6345
I get the same behavior running the module from the CLI.  Here is a [dump of the log](https://gist.github.com/fwgreen/d66178246d72e108d90564b841403684).  Hopefully it helps.

[2016-06-29 19:11] gavinking commented on #6340
So I don't understand my own code here: why do I even reduce the type in an `is` test to the union of its cases? I can't see why that would be necessary, and it doesn't break my tests to *not* do it.

[2016-06-29 19:12] gavinking commented on #6340
To be clear I'm referring to `ExpressionVisitor:8353`.

[2016-06-29 19:17] gavinking commented on #6340
Having said that, even if I remove that seemingly unnecessary call, I can still produce the error using this code:

[code]

[2016-06-29 19:18] gavinking commented on #6340
It's very easy to see the source of the recursion here, by the way: we reduce `I` to `J<I>` and then `J<I>` back to `I` just by walking the `of` clauses.

[2016-06-29 19:41] gavinking commented on #3855
One potential solution to the problem raised by @jvasileff would be to abuse the `shared` annotation. Which would result in the following code:

[code]

Not quite sure what to think of that.

[2016-06-29 19:48] gavinking commented on #3855
And the other approach I can think of is to require you to predeclare all referenceable things using `let` at the top of the named argument list:

[code]

But that's only _slightly_ better than what's already possible today:

[code]

And is still quite irregular.

[2016-06-30 12:54] FroMage commented on #4584
So, regarding that one property where `@Nullable` is only on the getter and not on the setter param, what do you think I should do wrt setter param annotations, then? Perhaps if there's none, use the getter ones?

[2016-06-30 12:56] FroMage commented on #4584
Merged on master.

[2016-06-30 13:02] FroMage commented on #4584
OK, changed setters to inherit annotations from getter if there's none on the setter param. Closing.

[2016-06-30 13:02] #4584 closed

[2016-06-30 13:45] FroMage commented on #5919
Closing, eventual support from the IDEs (if required) and further fixes to be opened in new issues.

[2016-06-30 13:45] #5919 closed

[2016-06-30 13:47] gavinking commented on #4584
Cool!

[2016-07-01 07:02] luolong commented on #3855
sorry for accidentally closing this issue ... reopened it again...

[2016-07-01 09:23] FroMage commented on #6345
Is this with `1.2.2`? Can you share at least your `run` method and module descriptor?

[2016-07-01 09:45] #6344 closed

[2016-07-01 09:45] FroMage commented on #6344
Done.

[2016-07-01 10:06] gavinking commented on #6344
thank you!

[2016-07-01 11:59] fwgreen commented on #6345
I took it for granted to mention that I'm running Ceylon 1.2.2.  I just noticed that the log doesn't actually state it.
[code]

[code]

[2016-07-01 14:15] #5664 closed

[2016-07-01 14:15] #6152 closed

[2016-07-01 14:15] #6175 closed

[2016-07-03 16:04] DiegoCoronel opened #6346 "Ceylon backend error for maven imports"
Trying to configure JBossSwarm I got this exception:

[code]

I was not able to create a small/easy to reproduce example, the only way i found is with attached project
[foo.zip](https://github.com/ceylon/ceylon/files/345148/foo.zip)

Steps to reproduce:

- Import as eclipse project
- In module.ceylon remove prefix: `maven:`
- In project folder run: `gradle createMavenRepo`
 - In this step ceylon m

[2016-07-03 19:49] DiegoCoronel commented on #6346
At really, my real problem is that I forgot to put overrides.xml in configuration, but i dont know if this kind of message is right, feel free to close if its expected.

[2016-07-04 15:35] FroMage commented on #6189
So if you completely make `java.util.function.FooFunction` erase to `Callable` you prevent people from calling `default` methods, which may actually be useful (I asssume they are, since they exist in many places).

[2016-07-04 15:37] FroMage commented on #6189
FTR, the previous proposal for SAM convertion was #1617.

[2016-07-04 15:37] gavinking commented on #6189
@FroMage you can still explicitly instantiate a `FooFunction` if you need, and you can still explicitly assign a `FooFunction` to a `Callable` type by just writing `FooFunction.theMethod`.

[2016-07-04 15:39] gavinking commented on #6189
The point is that *at the Java API level*, you would see `Callable`s in signatures, not `Runnable`s.

[2016-07-04 15:43] FroMage commented on #6189
So you'd have to wrap them manually to access their members?

[2016-07-04 15:46] gavinking commented on #6189
Right. Which is OK, it seems to me.

[2016-07-04 15:50] FroMage commented on #6189
Well, only if people never want to access them. That wrapping is pretty verbose.

[2016-07-04 16:01] gavinking commented on #6189
I speculate that for any interface marked `@Functional`,  API clients are never going to want to call those methods. The problems would much more likely arise in the case where they want to *override* the default method. But I think that's going to be *very* rare.

[2016-07-05 01:22] gavinking commented on #6128
This is fixed, it seems to me.

[2016-07-05 07:26] FroMage commented on #6128
By whom?

[2016-07-05 09:00] gavinking commented on #6128
By https://github.com/ceylon/ceylon/commit/7c5ccd2588ca9d70f4eaff9546126ae91ee2ea9a and @	08e87ce.

[2016-07-05 09:01] FroMage commented on #1617
I pushed a prototype in the `1617` branch. It transforms parameters of a SAM type into a union of the SAM and equivalent `Callable` type. Then the backend applies auto-conversions from `Callable` to SAM when required. For lambdas this is mostly just implementing the SAM rather than `AbstractCallable` and adding the right method. For method references, this means adding a SAM wrapper class that del

[2016-07-05 09:02] FroMage commented on #6128
Ah OK I missed those, thanks!

[2016-07-05 09:28] gavinking opened #6347 "type inference for actual members"
Currently we force you to write an explicit type for all `shared` attributes and methods, including `actual` members.

The reason for this is that in our phased typechecking lifecycle, types must be assigned to `shared` members before we start performing any right-to-left type inference based on expressions.

However, it's always been in the back of my mind that there is an alternative way to get

[2016-07-05 09:34] gavinking opened #6348 "add isJava() to Declaration"
For #6319 and for a more robust implementation of #6128 I need to be able to tell if declaration is defined in Java, in order to relax certain rules. There is currently no good robust way to do this. We need to add `Declaration.isJava()`.

[2016-07-05 09:38] tombentley commented on #6347
My knee-jerk reaction is that `value` used to mean "infer the declaration type from the expression type", but now an `actual value` would mean "infer it from the supertyp(s)". That feels a little odd, I suppose because it's the *combination* that changes the semantics.

[2016-07-05 09:41] lucaswerkmeister commented on #6347
I’m not sure I like this, for two reasons:

1. I don’t think it’s unreasonable to expect this to work:

[code]

  (I think this is also @tombentley’s comment.)

2. I’ve never really felt burdened by the need to specify the type of shared declarations – on the contrary, I agree that it’s better to explicitly specify it, to avoid surprises. I’m not convinced we should weaken this now.

[2016-07-05 09:48] gavinking commented on #6347
Right, sure, so you would need to learn that that is not (and could not be) what it means in this case.

[2016-07-05 09:50] gavinking commented on #6347
Sure, that's because you've never ever had to write anything like:

[code]

when implementing a Java interface.

[2016-07-05 09:59] lucaswerkmeister commented on #6347
Why have *you* had to write that? Doesn’t the IDE do that for you?

[2016-07-05 10:00] gavinking opened #6349 "raw types and inheritance"
I have the following Java interface:

[code]

and this class which implements its raw type:

[code]

Now I try to extend `LookupCellRenderer` in Ceylon. Now we have two refined signatures:

1. `ListCellRenderer<out Object>.getListCellRendererComponent`, and
2. `LookupCellRenderer.getListCellRendererComponent`.

In the first, the parameter `list` has the type `JList<out Nothing>?`, and `arg` has th

[2016-07-05 10:01] gavinking commented on #6347
I have to look at it.

[2016-07-05 18:08] ePaul commented on #6347
Wasn't there already something in place like this, or am I imagining this?

[code]

I guess the difference would be that this is implemented lazily instead of eagerly, though.

[2016-07-05 18:34] davidfestal opened #6350 "Allow some sort of customization of the mode loader synchronization."
The synchronization of the model loader is currently a bit too basic:
- based on the use of `synchronized` blocks (=> no timeout)
- with a single lock (retrieved by `AbstractModelLoader.getLock()`)
- with no possibility to intercept the events when the model loader lock is being acquired or released.

This leads to frequent deadocks / livelocks inside the IntelliJ plugin in a variety of use-cases,

[2016-07-05 21:33] Zambonifofex commented on #6347
@ePaul yes, this is an actual thing. It should work for both `=>` and `=`.
[code]
[code]

[2016-07-05 21:42] Zambonifofex commented on #6347
@ePaul in fact, in #3604, Gavin suggested this syntax to just be syntactic sugar for an `actual` declaration, which, with this, I think would work a lot better. Although I agree with @tombentley; I think `value` generally means “infer the type from the expression”, and it feels weird to have it behave differently depending on how you annotate the declaration.

[2016-07-05 21:42] gavinking commented on #6347
@ePaul Right, exactly, this is extremely similar to what we already allow with shortcut refinement. But you aren't restricted to the use of `=` or `=>` specifiers.

[2016-07-05 21:45] gavinking opened #6351 "another ordering bug with shortcut refinement"
These are the bane of my existence.

[code]

Works fine if I move the `test()` function to after the declarations.

[2016-07-05 23:29] ysb33r commented on #6154
I've been asked by @gijsleussink whether I can maybe help out with some Gradle-specific stuff.
@quintesse Any specific subproject that you need help in most where I can try to get my hands dirty on?

[2016-07-06 01:38] gavinking commented on #6319
This is done.

[2016-07-06 09:33] quintesse commented on #6154
Hi @ysb33r , any help would be very much appreciated indeed! The final goals we are trying to achieve is to a) make the Ceylon distribution build using Gradle and b) have a proper working Gradle plugin for the Ceylon compilers and tools.

The problem is that there's nobody on the team right now that knows much about Gradle (normally just about enough to be able to fiddle around with existing Gradl

[2016-07-06 14:03] FroMage commented on #6311
It'd be really nice to get this fixed again so we can run the tests…

[2016-07-06 15:41] fwgreen commented on #1617
[code]
[code]

[2016-07-06 16:01] FroMage commented on #1617
Ah, lemme look

[2016-07-06 16:33] #6350 closed

[2016-07-06 18:18] fwgreen opened #6352 "Can't build Ceylon on Windows 10 if there's a space in the path"
If there's a space in the path `C:\Users\Me\My Folder\ceylon` the compile will fail during `ant clean`

[2016-07-06 18:40] jvasileff commented on #6347
I agree with the points raised by @tombentley and @lucaswerkmeister and feel types for members annotated `shared` should remain explicit.

Regarding the implementation, the following currently works, but should fail to compile, right?

[code]
Likewise, it seems this should be allowed, but isn't:
[code]

The same "value narrowing" happens with the code in the issue description if `void test() {...}

[2016-07-06 18:43] chochos commented on #6311
WDYM _again_?

[2016-07-06 20:16] quintesse commented on #6311
I think he's referring to the fact that these were existing tests that used to work and he'd like them to work _again_ :)

[2016-07-06 21:24] fwgreen opened #6353 "CompletableFuture doesn't always complete"
Using `String`:
[code]
prints nothing, while using `Integer`:
[code]
prints `1`.
Adding another print operation to the method:
[code]
prints:
[code]
I'm getting the same behavior in 1.2.2 and the 1617 branch of 1.2.3.

[2016-07-06 22:27] jvasileff commented on #6311
Yes, it is a PITA that tests don't work, so why not remove the ones that don't compile? Tests for this issue should be for the typechecker anyway.

[2016-07-06 22:29] jvasileff commented on #6010
Same for values that are missing `\i` and classes that are missing `\I`:

[code]

[2016-07-06 23:59] Zambonifofex commented on #6010
Maybe if the “did you mean” part is a function/value that starts with a uppercase letter, automatically prepend a `\i`, and if it is a class/interface that starts with a lowercase letter, automatically prepend a `\I`.

[2016-07-07 12:12] jvasileff commented on #6341
Also Tuples with non-standard optional elements:

[code]

[2016-07-07 12:12] #6341 closed

[2016-07-07 14:14] jvasileff opened #6354 "incompatible types w/null-safe operator"
The error does not occur if `C` is a top-level class.

[code]

[2016-07-08 10:58] lucaswerkmeister opened #6356 "NPM imports cause error in JVM compiler"
[code]

[code]

I assume the NPM repository should only be automatically added on the JS backend.

[2016-07-08 11:31] quintesse commented on #6356
It shouldn't actually, what it should do is ignore requests for JVM artifacts.

[2016-07-08 11:31] lucaswerkmeister commented on #6356
Or that, good point.

[2016-07-08 11:52] gavinking commented on #6341
Thanks @jvasileff.

[2016-07-08 15:48] #6356 closed

[2016-07-08 15:48] quintesse commented on #6356
This should now be fixed @lucaswerkmeister

[2016-07-08 15:51] jvasileff opened #6357 "destructuring should preserve 'rest'; don't build new huge array"
For existing `Tuple`s that have a rest sequence, destructuring unnecessarily results in a new `ArraySequence` being constructed, rather than preserving the existing tail.

Neither of these programs terminate on JVM or JS:

[code]
and, slightly more complex:
[code]

[2016-07-08 15:53] jvasileff opened #6358 "incorrect runtime type for destructuring on JVM"
This program throws at runtime:

[code]

Edit: added typechecker warning and removed unnecessary `*`.

[2016-07-08 15:54] jvasileff opened #6359 "incorrect runtime type for destructuring on JS"
This program throws at runtime:

[code]

[2016-07-08 16:03] jvasileff opened #6360 "backend error calling simple generic function"
`Range` seems special here, somehow:

[code]

[2016-07-08 16:41] jvasileff commented on #6353
@fwgreen it looks like you need something like:

[code]

[2016-07-08 18:14] jvasileff opened #6361 "permit dispensable 'is' tests"
Warn, don't error, on `is` tests for which the result is statically known (e.g. `"" is String` and `"" is Integer`).

This is for consistency with the current treatment of `is` conditions.

[2016-07-08 18:14] jvasileff commented on #6361
Although, upon closer inspection, this is currently not allowed:

[code]

[2016-07-08 19:23] lucaswerkmeister commented on #6356
Thanks!

[2016-07-08 20:28] fwgreen commented on #6353
@jvasileff Why would I need that approach for `String`, but not for `Integer`?  And why in Ceylon and not Java?
[code]
works as expected.

[2016-07-08 21:26] jvasileff commented on #6353
I think it's that the Ceylon String is very slightly more expensive to instantiate, so the background thread doesn't get a chance to finish in that case.

The code below prints nothing for me about 20% of the time:

[code]

[2016-07-08 22:00] lucaswerkmeister opened #6362 "JVM runtime can’t retrieve member class constructors"
[code]
Prints `[]`, should print two elements.

(The JS version of this bug is #6363.)

[2016-07-08 22:00] lucaswerkmeister opened #6363 "JS runtime can’t retrieve member class constructors"
[code]
Prints `[]`, should print two elements.

(The JS version of this bug is #6362.)

[2016-07-08 22:00] lucaswerkmeister opened #6364 "ClassCastException on meta reference to member class constructor"
[code]

[2016-07-08 22:30] jvasileff commented on #6362
@lucaswerkmeister what *should* this program do?

You can't instantiate `C` using reflection since there is no way to pass in its container (i.e. there are no "instances" of `run`), and `C` may captures elements visible from it's scope.

[2016-07-08 22:31] fwgreen commented on #6353
@jvasileff I see your point and thanks for your insight.  I'll have to keep an eye on this.
[code]
works without fail in Java.

[2016-07-08 22:32] lucaswerkmeister commented on #6362
Hm, that’s a good point. But I don’t think returning an empty list is the right answer. Perhaps throw with a good error message (not #6364)?

[2016-07-08 22:39] jvasileff commented on #6353
@fwgreen well, it's a race condition, so that one may fail too given enough trials. And certainly you'll need the `join` when doing any real work, too keep the process alive until the work is complete.

[2016-07-09 03:06] jvasileff opened #6365 "incompatible types with spanFrom operation"
This:
[code]
fails to compile with:
[code]

[2016-07-09 10:58] lucaswerkmeister commented on #6364
Here’s another test case, inspired by @jvasileff’s comment [here](https://github.com/ceylon/ceylon/issues/6362#issuecomment-231488153):
[code]
This one doesn’t work on JS either. Is it even possible to support this?

---

And come to think of it – `` print(`i`) `` causes a typechecker error: “metamodel reference to local declaration”. Shouldn’t we get the same error for `` `C` `` and `` `C.c` ``?

[2016-07-09 13:30] jvasileff commented on #6364
That does seem to make sense, but is it too limiting? One observation: by extension, (1) below would need to be invalid below because of (2):

[code]

The way I think of value constructors, `f.C.c` is actually an `object` `f.C$c`, so pretty much exactly the same as `f.i`.

[2016-07-09 13:35] jvasileff opened #6366 "meta.model.Type.equals() doesn't account for captured type parameters"
It seems that for `Type`s `a` & `b`, `a == b` should be false if `!a.isExactly(b)`. This does not hold for types involving captured type parameters:

[code]

[2016-07-09 14:07] jvasileff commented on #6364
Oh yeah, there's also `type()` which I don't think should ever throw:

[code]

[2016-07-09 17:36] lucaswerkmeister opened #6367 "Deprecate maven imports without namespace"
Previous discussion in 2f92f08142ad8ba30b674c46015218c23b156df8. My suggestion is to deprecate all maven imports without explicit `maven:` namespace, even those we can unambiguously detect to not be namespaces (because they contain a dot). The fix is extremely simple, and if imports without namespace are used less, the potential for confusion about why `x.y:a` works but `x:a` doesn’t is reduced.

[2016-07-10 12:42] #6367 closed

[2016-07-10 12:45] quintesse commented on #6367
Ok, the compiler warning has been added. And I also added an error when using an unknown namespace (with the suggestion that you might not have enabled the proper repository or that yu might need a `maven:` prefix).

The IDE quick fix is also a good idea @lucaswerkmeister but could you open it on the IDE project?

[2016-07-10 12:45] lucaswerkmeister commented on #6367
Sure, will do.

[2016-07-11 09:48] luolong commented on #6311
I have another use case here that seems to touch on this issue:

[code]

This reports multiple errors in compiler, but this one stands out to me as most suspicious (and relevant):
[code]

(I am manually porting an enumeration from API defined in TypeScript and I would ideally like to keep the identifier names exactly the same)

[2016-07-11 12:49] gavinking commented on #6311
@luolong As per the discussion on Gitter, this is expected.

[2016-07-11 14:45] jvasileff commented on #6311
Related, I believe this should be disallowed:

[code]
which results in:
[code]
rather than
[code]

[2016-07-11 15:20] chochos commented on #6335
So it would be better to do the proper check `is Throwable t` (but in native JS)?

[2016-07-11 16:42] jvasileff commented on #6353
@fwgreen can we close this now? It seems to me that the Ceylon code is working correctly.

[2016-07-11 18:01] fwgreen commented on #6353
I'll close the issue.

[2016-07-11 18:01] #6353 closed

[2016-07-11 18:05] jvasileff commented on #5766
This was fixed in #6232.

[2016-07-11 18:05] #5766 closed

[2016-07-11 23:29] quintesse commented on #6335
I'm guessing you forget to push something, this commit only seems to contain a test ;)

[2016-07-12 00:19] chochos commented on #6335
Idiot

[2016-07-12 00:20] #6335 closed

[2016-07-12 09:35] FroMage opened #6368 "Auto-factory functions"
Some UI libs, like Swing or Android, use property setters to build and don't have any builder/constructors for those, which makes them cumbersome to build.

We could propose compiler flags to auto-generate factory functions that would turn:

[code]

Into:

[code]

Then, `title` would be passed with the setter and `children` would be passed with `addChild`. This is all compile-time magic.

We'd hav

[2016-07-12 10:30] gavinking commented on #6368
Perhaps we could use some sort of annotation on the module `import` to indicate that we want this functionality to be enabled.

[2016-07-12 10:46] lucaswerkmeister commented on #6368
Would this automagically pass the correct `parent` for the panes, labels and button?
[code]
This looks like a cyclic initialization problem, but since this isn’t actually one huge constructor call, I think it could be done (create the objects in the order `Window`-`Pane`-`Label`, then initialize and add them in reverse order).

[2016-07-12 11:17] FroMage commented on #6368
No, it's per-package, with list of exceptions, and a way to specify things like how variadic maps to `ViewGroup.addView` or `Container.add`. It's either a set of flags, or a config file with lots of options.

[2016-07-12 11:18] FroMage commented on #6368
I suppose we could hard-code this strategy for Swing. I'd have to take a look. That's even more special-casey than for Android if that's really required.

[2016-07-12 11:38] gavinking commented on #6368
It's not clear to my why an annotation can't specify these things.

[2016-07-12 11:40] FroMage commented on #6368
I suppose it can be a set of annotations, yes.

[2016-07-12 11:41] lucaswerkmeister commented on #6368
But why would we make the user specify all that convoluted logic themselves, in annotations? Shouldn’t we produce something that, at least for the Android case, “just works”? (Or perhaps I’m misunderstanding your suggestion.)

[2016-07-12 11:42] FroMage commented on #6368
We can hard-code defaults for Android and Swing, but not for every other similar module.

[2016-07-12 11:43] gavinking commented on #6368
Agreed.

[2016-07-12 11:49] quintesse commented on #6368
Isn't this something that could be turned into plugins? Then you could enable whatever one you want or create your own (possible defined as extensions to existing ones).

[2016-07-12 12:31] FroMage commented on #6368
It requires changes in the model loader, model and backend. It's very pervasive. Hard to turn into a plugin :(

[2016-07-12 13:14] gavinking opened #6369 "deprecate nonempty conditions"
The `if (nonempty sequence)` construct is used only rarely in typical Ceylon code. For a rather long time it's been possible to write this as `if (!is Empty sequence)`, which is actually only one character longer.

The only real reason you might need `nonempty` these days is for use together with destructuring, for example:

[code]

But *surely* we could make this work:

[code]

Therefore, I sugge

[2016-07-12 13:24] jvasileff commented on #6369
I don't have a strong feeling either way, but as to how often `nonempty` is used:

[code]

[2016-07-12 13:33] FroMage commented on #1617
OK, so I have an alternate prototype where we don't fuck around with the model (fixes inheritance issues) and the typechecker has a list of things it can coerce from/to. This alternate proto supports the exact same test, although my type argument inference algo is simplistic and does not support nested type parameters yet. I'll polish that and push it to another branch.

The backend deals with coe

[2016-07-12 13:35] FroMage commented on #6369
I've always disliked it anyway due to it not working with `String` or non-`Sequential` `List`s. So bye ;)

[2016-07-12 13:43] gavinking commented on #6369
@jvasileff interesting, that's more than I've seen in other codebases.

[2016-07-12 13:44] gavinking commented on #1617
Negative. Implicit type conversions introduce ambiguities into the type system.

[2016-07-12 13:59] FroMage commented on #1617
Well, so far every possible solution has drawbacks. Perhaps we should compare drawbacks and pick the ones that are less intrusive? What sort of ambiguities are we talking about? How do they manifest?

[2016-07-12 14:10] gavinking commented on #1617
Look, implicit type conversions are simply *terrible* when combined with type inference. We've been over this approximately 1007 times. We're just not going down that path.

There is only one way to make this idea work, and that is the one proposed in #6189. But that's not what you've implemented.

[2016-07-12 14:19] FroMage commented on #1617
Well, that other issue also has drawbacks, they've been documented, as have the model loader solution. Can you refresh my memory on the drawbacks wrt coercion please?

[2016-07-12 14:23] FroMage commented on #1617
Proto pushed to the `1617-coercion` branch.

[2016-07-12 14:30] quintesse commented on #6369
I'm with @FroMage here, never liked it much anyway.

[2016-07-12 14:55] FroMage commented on #1617
Looking at @fwgreen 's issue, this is the signature of `Collectors.toList()`:

[code]

So we map `Collectors.toList<Integer>`'s return type as `Collector<Integer,out Object,List<Integer>>`.

As for the signature of `Stream.collect()`:

[code]

So given a `Stream<Integer>` we infer `R` to be `List<Integer>`, and `A` to be `Object`. And due to `? super T` as first type param, we get `in Integer`, so

[2016-07-12 15:00] gavinking commented on #1617
Well a `Collector<Integer,out Object,List<Integer>>` i.e. a `Collector<Integer,**in Nothing**,List<Integer>>` isn't a `Collector<in Integer,Object,List<Integer>>`

[2016-07-12 15:04] gavinking commented on #1617
A `Collector<Integer,out Object,List<Integer>>` isn't a `Collector<in Integer,Object,List<Integer>>` because of the second type argument.

For any type `X<T>`, `X<out Y>` is a strict supertype of `X<Y>`.

Perhaps this is a case that Java's wildcard capture can handle (Java can sometimes transform a method signature involving unbound type parameters into one involving wildcards).

[2016-07-12 15:05] FroMage commented on #1617
Well, I suppose so, otherwise those methods would not be any use.

The question is how can we support this?

[2016-07-12 15:09] gavinking commented on #1617
Well, you could futz with the signature of `collect()`.

[2016-07-12 15:11] gavinking commented on #1617
You could notice that `A` is a completely unconstrained type parameter (WTF is it even there for?!) and replace it with `in Nothing` or `out Object`.

What an idiotic signature that method has.

[2016-07-12 15:12] gavinking commented on #1617
It quite clearly should be:

[code]

[2016-07-12 15:18] FroMage commented on #1617
OK thanks.

What sort of rules express that it's not constrained? Can't the typechecker notice that and infer something more useful for `A`?

[2016-07-12 15:19] gavinking commented on #1617
OIC, from the point of view of the _implementors_ of this method, apparently they *sometimes* need to pass `A`s in and out of the `Collector`. Except that most `Collector`s apparently don't even have an "intermediate accumulation type", and just completely hide `A` behind a wildcard.

Yew.

[2016-07-12 15:23] gavinking commented on #1617
Good question. I suppose something like:

Except that there is another similar situation where you could say the same thing. Ignoring type constraints:

But of course in Java signatures we're not going to encounter covariant or contravariant occurrences of a type parameter, so perhaps this case isn't interesting.

[2016-07-12 15:26] gavinking commented on #1617
But yeah, I suppose, in principle, that the typechecker could quite reasonably infer `in Nothing` as the type argument for any type parameter that occurs just once in the parameter list and never in the return type.

[2016-07-12 16:16] lucaswerkmeister commented on #6369
@jvasileff your `grep` misses asserts, as well as non-first conditions of a condition list. I can see instances of both in `ceylon.formatter`.

I also find several uses of the postfix `nonempty` operator, which I guess would go as well?

Also, we currently seem to treat optional types and sequential types with the same amount of syntax sugar. Both get special type syntax (`T?`, `[T*]`), both get a

[2016-07-12 16:20] lucaswerkmeister commented on #6369
Also:
[code]
I looked through the list, I don’t think there’s more than two or three false positives.

[2016-07-12 16:55] quintesse commented on #6369
@lucaswerkmeister I don't think they are really symmetrical situations. Sequences share part of that syntax with Sequentials `{T*}` and Tuples `[X, Y, Z]`, `T[3]`. The `exists` operator plays a very important role in the Ceylon language and for that alone merits its own operator. I don't think the same is true for `nonempty`. It's the ugly duckling of operators.

Now it might indeed be too late to

[2016-07-12 17:14] gavinking commented on #6369
@lucaswerkmeister it's true that one could argue that `exists` and `nonempty` are very much in the same boat, but I don't think anyone here wants to write:

[code]

All over the place. It's the high frequency of use of `!is Null` that justifies the existence of `exists`.

[2016-07-12 17:18] gavinking commented on #6332
@quintesse I did not write those tests, so I'm not sure.

[2016-07-12 17:20] gavinking commented on #6332
However, it appears that there are different modules with the same name (but different version), being loaded into the same typechecker via different source directories. I assume that we must have used to allow this.

[2016-07-12 17:21] quintesse commented on #6332
You didn't? Oh, that's surprising, I thought basically everything in the typechecker was written by you ^^

But you do agree then that those tests seem to be wrong? In the compilation that fails 2 source directories are used and both contain `module.ceylon` files for the exact same modules, which can't be right, right?

[2016-07-12 17:22] gavinking commented on #6332
No, the module-loading stuff was written by @emmanuelbernard.

[2016-07-12 17:23] gavinking commented on #6332
They have different versions. So _can't_ is too strong of a word here.

[2016-07-12 17:23] quintesse commented on #6332
It seems the typechecker did, but the backends never allowed this. From the moment we implemented multiple source folders the backends check for duplicate files before ever calling the typechecker.

[2016-07-12 17:24] gavinking commented on #6332
So why does the typechecker not allow it *anymore*?

[2016-07-12 17:25] quintesse commented on #6332
Perhaps, but duplicate files have been forbidden for as long as I know...
(I actually allowed them for a short while, allowing you to override files, but I was overruled and it was made illegal)

[2016-07-12 17:28] quintesse commented on #6332
Because there was a bug in the typechecker with the way it would assign owning modules to Units. In the case of multiple source folders the Units that were in the folder that did *not* contain the `module.ceylon` file they would get assigned to the `default` module. The backends then worked around that be re-assigning the correct module. But that caused other problems so I fixed the underlying pro

[2016-07-12 17:29] jvasileff commented on #6369
...

This conversation is really turning me against this change. Now I'm thinking all of my code will become ugly...

[2016-07-12 17:44] jvasileff commented on #6332
I can't imagine why someone would want to treat multiple source directories as anything but simple overlays.

And trying to support *both* approaches will lead to ambiguities.

[2016-07-12 18:03] gavinking commented on #6332
Well, OK, fine, so it used to work by accident.

[2016-07-12 18:17] quintesse commented on #6332
Well actually you could do some pretty nifty build tricks with it. For example you could create a module but have a special "overlay" for testing purposes that would add or change imports.

But the objection that this would probably be hell to support in IDEs convinced me at the time not to pursue this any further.

Which might mean that perhaps those tests could be removed... assuming that the on

[2016-07-12 18:28] jvasileff commented on #6332
Ok, yeah, I guess that might be a third variation.

But I suppose with simple overlays you could have `sources-main/`, `sources-test/`, `sources-mod-descriptor-prod/`, and always compile with `sources-main/` and one of the other two. (`sources-test/` would include a `module.ceylon`, but `sources-main/` would not.)

[2016-07-12 18:44] quintesse commented on #6332
Ok, so this does not seem to have to do with "overlays" at all, but just the fact that from the PoV of the typechecker there is no problem in compiling several different versions of the *same* module in the same invocation of the typechecker!
And it uses that fact to perform some tests about (transitively) importing different versions of the same module and the conflicts that can occur.
Compiling

[2016-07-12 18:46] gavinking commented on #6332
Jesus Tako, just rename the damn modules, do I have to do every tiny little thing myself?

[2016-07-12 18:50] quintesse commented on #6332
Dude, I'm trying to fix **your** precious tests for you, okay. I could care less about them.
Renaming them (or removing them, like I did) just breaks the `moduletestexportisolation` and `moduletestdiffversionexport` tests.
Can I make the errors go away? Sure, but then the tests wouldn't test anymore the thing that they were written for!

[2016-07-12 18:54] gavinking commented on #1617
I have taken a look at this. While doesn't look hard to detect the very simplest case and infer a use-site-variant type (I managed to implement that much already), it's not _at all_ a small change to the language since we currently don't support use-site variance in value expressions at all. We only support it in _type expressions_. Furthermore, it's not entirely clear what the *runtime* semantics

[2016-07-12 18:55] jvasileff commented on #6332
@quintesse would it work to put one set of sources in a `.src` zip file in a `modules` directory the typechecker can see?

[2016-07-12 19:06] jvasileff commented on #1617
I thought this would just be allowed when calling `isJava()` methods. For Ceylon, it seems the type argument would have to be determined at runtime (e.g. `theCollector.A` or even `theMutableList.Element`).

[2016-07-12 19:12] quintesse commented on #6332
@jvasileff I thought that was a good idea, so I tried it, but unfortunately the typechecker is actually pretty smart and it still complains that the `module.ceylon` file in the .src file is a duplicate. I can try removing the module file and see if I can fool it that way, but I somehow doubt it...

[2016-07-12 19:18] jvasileff commented on #6332
Darn.

Well, I hope this doesn’t point to a bigger problem then, if you do indeed do what the test is trying to test for, and import conflicting versions while using the default model loader.

[2016-07-12 19:20] #6332 closed

[2016-07-12 19:20] jvasileff commented on #6332
Oh, then I can I take back my other reply :)

[2016-07-12 22:36] chochos commented on #6359
I can't even compile this code

[2016-07-12 22:38] chochos commented on #6359
I managed to compile it by adding `Object d = c;` and asserting on `d`.

Then it breaks on both runtimes.

[2016-07-12 22:45] jvasileff commented on #6359
It compiles on the latest master (the error is now a warning)

[2016-07-13 05:21] chochos commented on #6359
Ok yes it now compiles. Still fails at runtime on both backends.

[2016-07-13 09:32] FroMage commented on #1617
OK, sounds reasonable I guess, but which of the two signatures should the model loader change? Caller or callee?

[2016-07-13 09:33] FroMage opened #6370 "Tweak wildcard signatures for non-useful type parameters"
See https://github.com/ceylon/ceylon/issues/1617#issuecomment-232073764 for the start of the discussion.

[2016-07-13 09:33] FroMage commented on #1617
I've spun this into #6370 please continue discussion around this there.

[2016-07-13 09:35] FroMage commented on #1617
@gavinking can you refresh my memory wrt the drawbacks of coercion for java types and inference? I'm not at all questioning that the drawbacks are real and would cause the end of the world as we know it, but I just forgot them and would appreciate to remember them.

[2016-07-13 20:22] chochos commented on #6334
It seems these errors are related to spread arg invocations.

[2016-07-13 21:16] lucaswerkmeister opened #6371 "Unknown reference causes IllegalArgumentException in ExpressionVisitor instead of error"
[code]

source/tmp/run.ceylon:1: error: the 'ExpressionVisitor' caused an exception visiting a 'BaseMemberExpression' node: '"java.lang.IllegalArgumentException: null unit"' at 'com.redhat.ceylon.model.typechecker.model.NothingType.<init>([NothingType.java:15](https://github.com/ceylon/ceylon/blob/66fbd25260f2ed5deb35f4a4cd8144f31276ff9d/model/src/com/redhat/ceylon/model/typechecker/model/NothingT

[2016-07-13 21:23] lucaswerkmeister commented on #6371
Nevermind, I can produce what is almost certainly the same bug with an unknown type instead of value, in just four characters:
[code]

[2016-07-13 21:29] jvasileff commented on #6371
Any chance we can start treating `Nothing` more like a regular declaration in the type checker, rather than instantiating a bunch of them? See also https://github.com/ceylon/ceylon/issues/6279#issuecomment-223340445

[2016-07-13 22:05] gavinking commented on #6371
I can't reproduce this in the typechecker test suite, nor in either IDE. So it's not the typechecker at fault here.

[2016-07-13 22:06] gavinking commented on #6371
I assume that https://github.com/ceylon/ceylon/commit/960b0ef2343091780467584d1ce54a6648565d45 has exposed a bug in the CLI.

[2016-07-13 23:20] jvasileff commented on #6371
It looks like the problem is in `Module.java`'s `getAvailableDeclarations()`:

[code]
where on all three backends (I'm assuming), `languageModule.getUnit()` is `null`.

I guess it would be better for `Module`s to have dummy `Unit`s. But still, what right does `Nothing` have to claim the language module as its `Unit`?

[2016-07-13 23:24] jvasileff commented on #6371
Anyway, I fixed this on the Dart backend by adding a default constructor to `JsonModule`:

[code]

[2016-07-13 23:54] gavinking commented on #6371
Well that's wrong. The language module should have a `Unit`.

[2016-07-14 00:03] #6371 closed

[2016-07-14 11:55] gavinking commented on #6010
This should now be fixed by https://github.com/ceylon/ceylon/commit/06a9e5bf59eb6d86a040fdee17d15d96a54251a0.

[2016-07-14 11:55] #6010 closed

[2016-07-15 10:32] bjansen commented on #6128
I think there's a part of the problem that is still not fixed:

[code]
[code]

FTR, the signature of `Class` is:

[code]

`type` is defined in `TypeDeclaration`, `getName` and `name` are both defined in `Declaration`. Both classes are superclasses of `Class`, and they do not implement `Functional` nor `Typed`.

[2016-07-15 12:58] #6128 closed

[2016-07-15 12:59] gavinking commented on #6128
@bjansen the logic you proposed in https://github.com/ceylon/ceylon/commit/08e87ce6642a2bc474c9d496a0cbb329b0aae09a was a bit simplistic.

Should be fixed now.

[2016-07-15 13:15] bjansen commented on #6128
Indeed, it fixed my problem, thanks!

[2016-07-15 15:20] jvasileff opened #6373 "cannot extend Java static member class that implements containing interface in Ceylon"
For *extension only*, the typechecker incorrectly considers a `static class` to be a member of its containing `class` or `interface` if the static class extends or implements its containing class or interface.

In Java:
[code]
in Ceylon:
[code]
Note that in other regards, the static class `C` is not considered a member. For example, `C` can be given a `static` method which can be invoked directly

[2016-07-15 15:20] jvasileff commented on #6373
In the interest of full disclosure, the reason I care about this is https://github.com/jvasileff/ceylon-dart/issues/8#issuecomment-186280615

[2016-07-15 17:30] lucaswerkmeister opened #6374 "Optimize repeated function references (reuse AbstractCallable value)"
Function references can be pretty expensive in terms of code size: [gist](https://gist.github.com/lucaswerkmeister/41e81b69960f739c62a2e2c0fa372d1d)

You can reduce this cost by storing the function reference in a value and always referencing that value, like [here](https://github.com/ceylon/ceylon.ast/commit/a2fd9d8200515d6277f28c165c2557f4811c648a). The compiler could also perform this optimizat

[2016-07-15 17:33] jvasileff commented on #6374
This seems similar to the common optimization where you'd move 'C' to 'B' or 'A':

[code]
But an important question is whether it should be 'B' or 'A'. At 'A', it starts to look like a memory leak.

[2016-07-15 17:43] jvasileff commented on #6374
Of course, in the case of this issue, there are potentially two separate things to optimize:

1. Defining the `AbstractCallable` class only once
2. Sharing a common instance of the `Callable`

The point being, 1 could be done without 2.

[2016-07-15 17:46] lucaswerkmeister commented on #6374
Your example also changes the scope of the issue quite a bit:

- Optimize any callable expression, not just direct function references (need to analyze how far you can move it up)
- Optimize expressions that only appear once in source code, but within a loop (in this case, your 1 is already done, it would just be about 2)

[2016-07-16 00:20] chochos commented on #6359
This now works in JS.

[2016-07-16 21:24] gavinking commented on #6373
This is fixed, but I would also like to see if I can change the grammar so that the `import` alias is no longer necessary.

[2016-07-16 22:38] gavinking commented on #6373
Done.

[2016-07-16 22:38] #6373 closed

[2016-07-17 10:08] gavinking commented on #6184
Reminder: this bug is a regression of functionality that worked in 1.2.2. So in principle it blocks the release of 1.2.3!

[2016-07-17 10:09] gavinking commented on #6349
In @209b5af I managed to convince the typechecker to accept a Ceylon class that refines `LookupCellRenderer. getListCellRendererComponent`. However, that didn't help very much, due to:

[code]

Even explicitly calling `setRaw()` on the parameter type didn't help.

We've seen similar problems in #2424, so it looks like the backend's reasoning surrounding raw types and refinement is especially fragi

[2016-07-17 10:12] gavinking commented on #6349
Note: https://github.com/ceylon/ceylon-ide-intellij/tree/should_work illustrates the problem.

[2016-07-17 14:54] jvasileff commented on #6373
Awesome. Thanks!

[2016-07-18 10:18] bjansen opened #6376 "Comprehension on Java collection results in {Foo+} instead of {Foo*}"
Given this Java signature:

[code]

This Ceylon declaration is inferred as `{T+}` whereas it should be a `{T*}`, since the collection might be empty:

[code]

[2016-07-18 10:55] lucaswerkmeister commented on #6376
Does this compile without errors?
[code]

[2016-07-18 11:02] bjansen commented on #6376
Yes the typechecker throws an error.

[2016-07-18 11:26] lucaswerkmeister commented on #6376
Interesting, so this seems to be specific to comprehensions…

[2016-07-18 12:42] quintesse commented on #6340
@gavinking did your commit fix this problem and can it be closed?

[2016-07-18 12:45] quintesse commented on #6359
@chochos doesn't that mean this issue can be closed?

[2016-07-18 14:03] chochos commented on #6359
not if it still fails on JVM, let me check

[2016-07-18 14:04] jvasileff commented on #6359
@chochos sorry, I should have noted that I also opened this for the JVM https://github.com/ceylon/ceylon/issues/6358

[2016-07-18 14:04] #6359 closed

[2016-07-18 14:05] chochos commented on #6359
wait why do you close it? This is still fails on JVM at runtime, I just checked...

[2016-07-18 14:05] chochos commented on #6359
is there a separate issue or something?

[2016-07-18 14:05] jvasileff commented on #6359
Hit refresh to see my comment, I guess. But yes - https://github.com/ceylon/ceylon/issues/6358

[2016-07-18 16:18] gavinking opened #6377 "accept Java qualified types in extends"
The typechecker was recently enhanced to accept the following.

Given this Java code:

[code]

I can write this in Ceylon:

[code]

The backend needs to support this. Should be trivial.

[2016-07-18 17:58] chochos commented on #5956
OK, this is now supported in JS.

[2016-07-18 18:19] gavinking commented on #5956
@chochos Excellent!

We need to blog / document this *very* useful feature!

[2016-07-18 18:26] chochos commented on #5956
but for it to be useful we may need to merge it first.

[2016-07-18 18:27] gavinking commented on #5956
Is there any reason we can't merge it?

[2016-07-18 18:35] chochos commented on #5956
@tombentley added some checkboxes above; one was for JS support, but the other ones are about compilation and typechecker errors. I've no idea if there's any progress on that.

[2016-07-18 18:36] #6376 closed

[2016-07-18 18:36] gavinking commented on #6376
Fixed.

[2016-07-18 23:13] lukedegruchy opened #6379 "JVM compiler can't handle nothing in expression block returning Optional"
This code will compile in JS but not JVM:

[code]

Compile error:

[code]
This seems to be really specific.

This compiles on JVM:

[code]

So does this:

[code]

[2016-07-18 23:21] lucaswerkmeister commented on #6377
@jvasileff is something similar to that Java code possible in Dart? Do I need to add `ceylon.ast` support for this?

[2016-07-18 23:41] jvasileff commented on #6377
@lucaswerkmeister yes please! The Ceylon code example will actually be the normal way to extend native Dart classes.

[2016-07-19 00:04] gavinking commented on #5961
Fixed.

[2016-07-19 00:04] #5961 closed

[2016-07-19 00:55] jvasileff commented on #5961
Thanks!

[2016-07-19 02:40] jvasileff opened #6380 "class shouldn't "inherit" default constructor from its container's superclass's inner class"
Similar to https://github.com/ceylon/ceylon/issues/5961, a class may currently "inherit" a default constructor from another class that happens to have the same name:

`JavaA.java`:
[code]
`JavaB.java`:
[code]
`run.ceylon`
[code]

Note 1: This sort of problem can't exist in Ceylon since member classes are polymorphic and must have matching signatures.

Note 2: If `JavaB.Class` *weren't* defined, `J

[2016-07-19 09:58] gavinking commented on #6380
I disagree that this is wrong. Nested classes of interfaces are implicitly `static`, so the rules are the same as for other static members. Ceylon, just like Java, allows static members to be "inherited" by subclasses. I actually did some research on this yesterday, and I noticed that *disallowing* this would break a surprising amount of code. Finally, `JavaB.Class()` vs `JavaB.Class("")` is simpl

[2016-07-19 10:08] FroMage commented on #6364
Well, I can fix the CCE, but you still can't get the metamodel of its `c` member because its value is not stored as a member of `C` but as a local variable in `run`:

[code]

So there's no way the metamodel can access that value. Was that because we can't have static members in local classes, @tombentley ?

[2016-07-19 11:10] #6340 closed

[2016-07-19 11:11] gavinking commented on #6340
Fixed.

[2016-07-19 11:26] gavinking commented on #2411
To be clear: this issue documents bugs in the current unmerged implementation of #2358. It does *not* apply to the current release of Ceylon.

[2016-07-19 12:04] #5916 closed

[2016-07-19 12:04] gavinking commented on #5916
The original issue description was nonsense and didn't actually capture the problem case ... which is now fixed.

[2016-07-19 12:21] #6033 closed

[2016-07-19 12:22] gavinking commented on #6033
I have made this change.

[2016-07-19 12:22] FroMage commented on #6364
Actually we seem to be able to. At least for `final` members, so I don't get it.

[2016-07-19 12:26] #6361 closed

[2016-07-19 12:29] gavinking commented on #6361
`is`operators now behave exactly the same as `is` conditions (warning for always-true, error for always false).

[2016-07-19 12:31] gavinking commented on #6298
Dupe of #4563.

[2016-07-19 12:31] #6298 closed

[2016-07-19 12:39] FroMage commented on #6364
I think it's not `static` because it depends on the outer instances and possibly its type arguments. So yeah, we can't support metamodel refs for that. I can fix the CCE and generate a proper-looking exception if you try to access it with the API, but the typechecker will have to prevent metamodel references to local class constructor values, @gavinking OK?

[2016-07-19 12:53] #6294 closed

[2016-07-19 12:54] gavinking commented on #6294
Done, but writing the spec made me notice a bug in the implementation.

[2016-07-19 12:55] gavinking commented on #6364
What is that?

[2016-07-19 13:07] FroMage commented on #6364
[code]

[2016-07-19 13:10] jvasileff commented on #6380
Did you notice that the two `Class`s are completely unrelated? And even if they were related, it doesn't make sense for *constructors* to be inherited in Ceylon or Java. I very much doubt any valid, existing code looks like `run.ceylon`.

It's not.

[code]

I suspect this would be difficult to fix. I'm not pushing for it to be prioritized for 1.2.3.

[2016-07-19 13:21] FroMage commented on #6364
Or we leave it allowed: I've changed it so the call works, and only throws on `get()`, which still allows you to inspect the metamodel without being allowed to read the value, which is better than nothing.

[2016-07-19 13:33] quintesse commented on #2424
Still occurs in 1.2.3

[2016-07-19 13:36] quintesse commented on #2425
Closing. Reopen if you think this issue is still valid.

[2016-07-19 13:36] #2425 closed

[2016-07-19 13:41] quintesse opened #6381 "Warn/error when Java source file has wrong package"
When you have a Ceylon module `foo` with a Java source file, let's say `A.java` that defines a public `interface A` but has no `package` statement then you'll get unknown declaration errors when you try to use `A` from within your Ceylon code.

That's very confusing, we should generate an error (warning?) when compiling the Java source file that it doesn't have the expected package statement.

[2016-07-19 13:43] FroMage commented on #6364
I'm going to leave it allowed, let's close this.

[2016-07-19 14:01] FroMage opened #6382 "Cannot implement optional methods/attributes from Java if outer class is generic"
This is due to the underlying type being lost on type arg substitution.

[2016-07-19 14:35] gavinking commented on #6294
Really done now!

[2016-07-19 14:45] gavinking commented on #6380
@jvasileff In fact this would be rather trivial to fix. But it would mean a completely different behavior for classes compared to methods, and that doesn't seem right to me.

Now, just because *Java* is completely inconsistent here, and treats classes differently to methods, doesn't justify *us* doing the same.

[2016-07-19 14:49] gavinking commented on #5946
Fixed already. #6340 was a dupe of this issue.

[2016-07-19 14:49] #5946 closed

[2016-07-19 14:51] FroMage commented on #6382
Fixed.

[2016-07-19 14:51] #6382 closed

[2016-07-19 14:56] gavinking commented on #5790
Done.

[2016-07-19 14:59] #6217 closed

[2016-07-19 14:59] quintesse commented on #2428
I'm actually inclined to close this issue as invalid, because IMO the `ceylon.runtime` module should not be considered visible from the code, even if we know it's available in the environment. If you add `import ceylon.runtime "x.y.z";` to the module descriptor of the module containing the above code everything works just fine. Wdyt guys? ( @tombentley @FroMage )

[2016-07-19 14:59] gavinking commented on #6217
Done.

[2016-07-19 15:08] #2431 closed

[2016-07-19 15:15] quintesse commented on #4561
Docs were added here https://github.com/ceylon/ceylon-lang.org/issues/346 , I also opened an issue for the tour https://github.com/ceylon/ceylon-lang.org/issues/425 . Closing this issue.

[2016-07-19 15:15] #4561 closed

[2016-07-19 15:17] quintesse commented on #4662
Already fixed by @fa4b95abb5f90941060bebd430ecb66c3432f3f5

[2016-07-19 15:17] #4662 closed

[2016-07-19 15:17] FroMage commented on #2428
If it works with the import then yes, this seems invalid, closing.

[2016-07-19 15:17] #2428 closed

[2016-07-19 15:21] quintesse commented on #5504
@FroMage I'm guessing this slips to 1.3?

[2016-07-19 15:23] jvasileff commented on #6380
I find it highly unusual that this can be an error due to the LHS type:

[code]
In Ceylon, I expect the capitalized identifier `Class` on the RHS to indicate a type. The *actual* `JavaB.Class` should not be irrelevant to the expression `JavaB.Class("")`.

The same in Java. I expect the type of the expression `new X(...)` to be `X`, not something that may be disjoint from the type `X`.

If you cons

[2016-07-19 15:27] FroMage commented on #5504
Well, it depends if this is blocking anyone. I don't suspect it does.

[2016-07-19 15:31] jvasileff commented on #5504
This was original a PR (pre-OBR), and according to https://github.com/ceylon/ceylon.language/pull/626#issuecomment-156842968 it's obsolete. Closing.

[2016-07-19 15:31] #5504 closed

[2016-07-19 15:32] gavinking commented on #6380
I agree that it's a *little* strange that `JavaB.Class` refers to different types on each side of the `=`. I still don't see why I should feel motivated to do anything about this. I think its reasonable and consistent.

[2016-07-19 15:35] jvasileff commented on #6380
So we agree then. Well, except for *highly unusual* vs. *a little strange* :smile:

If you don't mind, let's leave this open so I have time to come up with a killer argument or example.

[2016-07-19 15:36] quintesse commented on #5672
@chochos is this something that can be done for 1.2.3 or do we move it to 1.3?

[2016-07-19 15:40] gavinking commented on #6380
Fine.

[2016-07-19 15:40] quintesse commented on #5673
This issue was already closed originally, but something went wrong during the OBR migration. Closing.

[2016-07-19 15:40] #5673 closed

[2016-07-19 15:42] #5721 closed

[2016-07-19 15:43] quintesse commented on #5735
Seems to have been fixed in the meantime.

[2016-07-19 15:43] #5735 closed

[2016-07-19 15:44] quintesse commented on #5736
I'm going to close this given that we'll probably move to Gradle at some point.

[2016-07-19 15:44] #5736 closed

[2016-07-19 15:47] quintesse commented on #5737
The errors are slightly different in 1.2.3:

[code]

[2016-07-19 15:50] FroMage commented on #5737
This is just error recovery. If it's hard to fix, it can wait for 1.3.

[2016-07-19 15:59] jvasileff commented on #6357
This now terminates on Dart and JS.

[2016-07-19 16:02] lucaswerkmeister opened #6383 "TypeScript number type"
What do we do with the TypeScript `number` type?

- Map to `Integer|Float`. Simple, but inconvenient because that’s not any `Number`.
- Map to a superposition of `Integer` and `Float`, similar to how Java types are both nullable and non-nullable at the same time. Probably requires lots of work in the typechecker and isn’t worth the effort.
- Map to `Float`. Represents best what actually happens at

[2016-07-19 16:04] quintesse opened #6384 "Check `native` support for defaulted parameters"
Are defaulted parameters handled correctly? Are they compared (correctly) when checking implementations versus their headers?

Should we support being able to override the header's default value in the implementations?

[2016-07-19 16:05] #5740 closed

[2016-07-19 16:07] jvasileff commented on #6184
FTR, this fails to compile on the JVM using the CLI going all the way back to Ceylon `1.0.0`.

[2016-07-19 16:08] quintesse commented on #5741
Still exists on 1.2.3

[2016-07-19 16:09] lucaswerkmeister commented on #6320
Done in #6372 (not sure why the auto-close didn’t work).

[2016-07-19 16:09] #6320 closed

[2016-07-19 16:21] FroMage commented on #6184
Yeah, frankly I don't thing this ever worked. It may have sometimes worked depending on the order of declared implementation, but that's about it.

[2016-07-19 16:25] FroMage commented on #6349
I'm trying to fix this, but I don't understand your strategy in the patch. When I ask for the `refinedDeclaration` of `CeylonImpl.getListCellRendererComponent` I get `ListCellRenderer.getListCellRendererComponent`, which is not raw. What code should I use to find the intervening override that is raw?

[2016-07-19 16:29] gavinking commented on #6349
`refinedDeclaration` always returns the *root* declarations of the refinement hierarchy. So what I'm doing is looking instead only at things the member *directly* refines. I'm using `getInterveningRefinements()` for that.

[2016-07-19 16:34] gavinking opened #6385 "errors typechecking intellij project"
There are two errors of this form in the Ceylon Problems view:

 Error while resolving type of getter 'localAnalyzer' for org.intellij.plugins.ceylon.ide.ceylonCode.psi::CeylonFile:
 Failed to find declaration for CeylonLocalAnalyzer

A model loader bug, one assumes.

[2016-07-19 16:38] gavinking commented on #6384
It seem that this is indeed not correctly checked: we don't enforce that the implementation matches the header in this respect.

Sure, I don't see what harm that would do.

[2016-07-19 16:41] FroMage commented on #6349
Ok i'll.try to use that.

[2016-07-19 16:45] gavinking commented on #6349
Note that the only way I have to detect that `X.x` *directly* refines `Y.x` is to look for intervening refinements and if there aren't any, I know it's direct refinement. I hope that's not too much of a performance killer.

Perhaps I should add a method that simply *counts* intervening refinements instead of returning them all...

[2016-07-19 16:47] FroMage commented on #6385
Could it be related to split packages ?

[2016-07-19 16:56] jvasileff commented on #6383
Seems like `Float` would be the best type, since `Integer|Float` can't be meaningfully narrowed, right?

[2016-07-19 16:58] gavinking commented on #6319
Reopening because I need to add a restriction the prevents invocation of superclass members from within the `extends

[2016-07-19 17:00] quintesse commented on #5742
This was fixed somewhere along the line. Closing.

[2016-07-19 17:00] #5742 closed

[2016-07-19 17:02] quintesse commented on #5749
AFAICS this was fixed by #5778 . Closing

[2016-07-19 17:02] #5749 closed

[2016-07-19 17:04] gavinking commented on #6383
The trouble with `Float`s if you can't iterate over them...

[2016-07-19 17:04] quintesse commented on #5751
@tombentley ? is this something for 1.2.3 or should it be moved to 1.3?

[2016-07-19 17:09] gavinking commented on #6319
Should be good now.

[2016-07-19 17:09] #6319 closed

[2016-07-19 17:13] quintesse commented on #5765
Is this still an issue? (didn't someone have Spring Boot working?)

If yes then is this for 1.2.3 @FroMage ?

[2016-07-19 17:15] quintesse commented on #5768
Given the fact that this test works here I guess this was fixed at some point. Closing.

[2016-07-19 17:15] #5768 closed

[2016-07-19 17:16] lucaswerkmeister commented on #6383
@jvasileff you can narrow numbers with no fractional part to `Integer`, and numbers with a fractional part to `Float`. (But you can’t narrow numbers that are logically `Float` but happen to have a fractional part of zero to `Float`.)

[2016-07-19 17:19] quintesse commented on #5770
Seems to work in 1.2.3. Closing.

[2016-07-19 17:19] #5770 closed

[2016-07-19 17:22] quintesse commented on #5771
@tombentley I see you added a couple of commits for this and it was once "in progress". But it doesn't seem fixed yet. 1.2.3 or 1.3?

[2016-07-19 17:23] quintesse commented on #5774
Does this mean this can be closed @gavinking ?

[2016-07-19 17:24] quintesse commented on #5781
@gavinking do you still get this? I can't reproduce it here at least (but I'm not using Mac, which might be relevant)

[2016-07-19 17:26] gavinking commented on #5781
Yep, with the 1.2.2 distribution I do.

[2016-07-19 17:26] quintesse commented on #5782
Can't reproduce, probably fixed at some point. Closing.

[2016-07-19 17:26] #5782 closed

[2016-07-19 17:28] quintesse commented on #5785
Confirmed still in 1.2.3.

[2016-07-19 17:31] quintesse commented on #5786
Confirmed still in 1.2.3

[2016-07-19 17:33] quintesse commented on #5787
Confirmed still in 1.2.3

[2016-07-19 17:34] quintesse commented on #5791
1.2.3 or 1.3 @tombentley ?

[2016-07-19 17:37] jvasileff commented on #5791
Related: https://github.com/ceylon/ceylon/issues/6366

[2016-07-19 17:44] quintesse commented on #5781
I don't understand. Yes it was broken 1.2.2 but not much we can do about that, right? So the question is: is it *still* broken now for 1.2.3?

[2016-07-19 18:02] chochos commented on #5672
So let me see if this is a way to reproduce this:

[code]

Because this now prints:

[code]

I guess this was fixed by changing the way unicode is generated in string literals.

[2016-07-19 18:51] jvasileff opened #6386 "should class aliases "inherit" constructors?"
The code below compiled on `1.2.2`. Not sure I have an opinion on it atm.

[code]

[2016-07-19 21:07] lucaswerkmeister commented on #6386
The last line in particular seems really weird to me. The class alias points to a particular constructor – why should it be allowed to call another constructor on it? I get that it’s partially justified because the alias also points to the type at the same time, but I still don’t think this is something that should be supported.

[2016-07-19 21:37] quintesse commented on #5774
Ok, but is that the job of the compiler backend? And what kind of information should be shown in your opinion?

[2016-07-19 22:16] #6022 closed

[2016-07-20 00:04] gavinking commented on #6386
It seems to me that the error is correct, and that this code should never have been accepted.

[2016-07-20 00:07] gavinking commented on #5774
Well, yes, of course! Things should never silently fail. A problem with dependencies should be properly reported, it shouldn't be ignored resulting in missing members down the line!

[2016-07-20 00:39] gavinking commented on #5781
Yes, the bug still occurs in 1.2.3.

[2016-07-20 00:47] #5781 closed

[2016-07-20 00:47] quintesse commented on #5781
Can you check my "fix"?

[2016-07-20 00:57] quintesse commented on #5774
What I'm getting with the above code is:

[code]

so I think the problem has changed since you first encountered it.

[2016-07-20 00:59] gavinking commented on #5774
So it's worse. Now the model loader throws an exception. :-(

[2016-07-20 01:04] quintesse commented on #5774
Well that *is* always an option, right? I mean looking at the overrides you created it was because a dependency wasn't marked shared. That's not something we can figure out beforehand because of lazy loading. So the moment anyone accesses it in any way an exception like that can occur and the code should take that into account somehow.

At least that's how I interpret it, but perhaps @FroMage can

[2016-07-20 01:11] gavinking commented on #5774
Compilers should never throw exceptions. They should produce meaningful errors.

[2016-07-20 01:19] jvasileff commented on #6386
Cool. I'll close this then.

[2016-07-20 01:19] #6386 closed

[2016-07-20 08:55] FroMage commented on #5774
Yeah, we try to produce nice errors, not exceptions. We should fix this if we can.

[2016-07-20 08:56] FroMage commented on #5765
I think @DiegoCoronel had Spring Boot working, but I perhaps with fat-jar?

[2016-07-20 09:01] gavinking commented on #5781
Yes, it's fixed now, thanks!

[2016-07-20 09:02] quintesse commented on #5774
Sure, I'm not saying this message is okay of course. The only thing I was saying is that these exceptions can occur and should be handled by the code that called the model loader. In this case that seems to be the typechecker.

Although I guess that given the fact that it could happen in many places (probably anywhere we call something like `Scope.getMember()` or any of its ilk) we'll have to catc

[2016-07-20 09:13] quintesse commented on #5774
So it seems we can handle exception thrown within the typechecker's visitors by make the following change to `PhaseedUnit.handleException()`:

[code]

but I'm not sure what the message should be. Something about a declaration that could not be loaded. But is there more information we can give? Can we hint that maybe they have to take a look at the overrides?

[2016-07-20 09:22] gavinking commented on #5774
This looks to me like the really crap solution.

[2016-07-20 09:30] quintesse commented on #5774
Ok, given the fact this is in the typechecker I'll leave it to you: I'm only looking at this to see if it was for 1.2.3 or 1.3.

[2016-07-20 09:32] gavinking commented on #5774
Negative.

[2016-07-20 09:47] quintesse commented on #5774
Well do your best @FroMage , because I explained the options I see and I sure as hell don't know what other (non-crappy) solution to use.

[2016-07-20 09:53] FroMage commented on #6349
Yeah, that sounds expensive. I wonder if it's even useful to do that for types with no java type in their hierarchy.

[2016-07-20 10:03] gavinking commented on #6349
@FroMage Well, OTOH, it means I can avoid doing lots of redundant signature checks. So it's not totally clear which is worse.

[2016-07-20 11:12] FroMage commented on #5774
Expletive!

[2016-07-20 12:20] FroMage commented on #6349
OK done.

[2016-07-20 12:20] #6349 closed

[2016-07-20 12:20] FroMage commented on #2424
Fixed.

[2016-07-20 12:42] gavinking commented on #2424
Excellent!

[2016-07-20 12:43] gavinking commented on #6349
Thanks; that's great.

[2016-07-20 13:08] gavinking commented on #2424
Sorry, @FroMage, but his doesn't seem to be completely fixed. I have this case:

[code]

[code]

And I still get:

[code]

[2016-07-20 13:22] FroMage commented on #2424
Ah right, nesting makes this more complex. Guess I'll have to turn the entire method raw then.

[2016-07-20 13:48] DiegoCoronel commented on #5765
I have springboot working but only because its removed from springboot all log dependencies.

[2016-07-20 14:50] quintesse commented on #5794
Should be fixed now. Closing.

[2016-07-20 16:01] lucaswerkmeister commented on #5794
Thanks! (Actually closing :P )

[2016-07-20 16:01] #5794 closed

[2016-07-20 17:11] quintesse commented on #5796
So do I.

But I guess this slips to 1.3 unless we can a decision on this now?

[2016-07-20 17:12] quintesse commented on #5798
@chochos can you take a look at this please? Fight it out with @jvasileff if this is for 1.2.3 or 1.3 :)

[2016-07-20 17:14] quintesse commented on #5803
Can this be closed @chochos ?

[2016-07-20 17:19] jvasileff commented on #5798
I've been using this patch in Dart's JsonPackage.java for ages. It's completely up to @chochos if he want's this for JS  😄

[2016-07-20 17:22] quintesse commented on #5806
@tombentley I see you added some commit related to this. Any chance of getting this done for 1.2.3 or do we move it to 1.3?

[2016-07-20 17:30] quintesse commented on #5810
How important is this @FroMage ? Do we let it slip to 1.3?

[2016-07-20 17:31] quintesse commented on #5812
Can this be closed @chochos ?

[2016-07-20 17:31] jvasileff commented on #6312
This should be a bug IMO, given the language guarantee and the type of bugs that may result when it is not met.

[2016-07-20 17:33] quintesse commented on #5816
Moving to 1.3. (Btw, a code example that was more copy&pastable might help speed things along)

[2016-07-20 17:57] gavinking commented on #5796
AFAICT, most of the things claimed in this thread are actually _incorrect_, and indeed `parseInteger()` actually works as documented. Closing.

[2016-07-20 17:57] #5796 closed

[2016-07-20 18:25] chochos commented on #5812
I guess. I mean I made the requested changes, I just don't know if it did any good.

[2016-07-20 18:25] #5812 closed

[2016-07-20 18:37] chochos commented on #5803
Not yet. It exposes a bug that's also affecting the SDK tests and I haven't been able to figure it out.

[2016-07-20 18:52] chochos commented on #6334
I've fixed a number of errors here but there are still many showing up, but I guess we can now consider this issue to be a duplicate of #5803

[2016-07-20 18:52] #6334 closed

[2016-07-20 19:57] quintesse commented on #5794
Heh :+1:

[2016-07-20 20:01] quintesse commented on #5796
But I think the whole reason for this issue was that it's strange to have a `parseInteger()` that behaves differently for base 10 than for the other bases.

[2016-07-20 20:16] quintesse commented on #5824
Seems fixed. Closing.

[2016-07-20 20:22] gavinking commented on #5796
OK, but given that base ten is approximately #FFFFFF times more common than any other base, that assertion seems quite false.

[2016-07-20 20:56] jvasileff commented on #5824
Still fails as of 7ecc13de for me.

[2016-07-20 22:00] quintesse commented on #5796
I don't see how the number makes the assertion any less true, behaving differently 1 in a million times is still behaving differently.

And when of those FFFFFF times FFFFFE will be for plain integers without any modifiers then what is the use? In fact I'd like to throw in my own invented statistic: 99.9% of the times people will just want to parse normal integers. What is the use-case for parsing

[2016-07-20 22:01] quintesse commented on #5824
Tsk, @chochos , you shouldn't lie! ;)

[2016-07-20 22:02] quintesse commented on #5824
Aaaah wait, I thought this was only for JS. Mea culpa :)

[2016-07-20 22:02] lucaswerkmeister commented on #5824
@jvasileff fails on which backend?

[2016-07-20 22:12] jvasileff commented on #5824
JVM

[2016-07-20 22:13] lucaswerkmeister commented on #5824
tsk, @quintesse, you shouldn’t be so quick to assume! :P

[2016-07-20 22:20] gavinking commented on #5796
Negative.

[2016-07-20 23:07] quintesse commented on #5796
Brilliant :+1:

[2016-07-21 01:23] #5836 closed

[2016-07-21 01:28] quintesse commented on #5864
1.2.3 or 1.3 @chochos ?

[2016-07-21 01:29] quintesse commented on #5871
1.2.3 or 1.3 @chochos ?

[2016-07-21 01:31] quintesse commented on #5877
Moving to 1.3

[2016-07-21 01:36] quintesse commented on #5879
@chochos did performance improve in the end? If so can we close this or should it be fixed for 1.2.3 / moved to 1.3?

[2016-07-21 01:41] quintesse commented on #5884
I get this on "master" too now, but perhaps this issue should be moved to the Eclipse project for @davidfestal to take a look at? Anyway, moving to 1.3

[2016-07-21 01:42] quintesse commented on #5891
@tombentley is this still for 1.2.3?

[2016-07-21 01:44] quintesse commented on #5892
@FroMage is this still in-progress or is it going to slip to 1.3?

[2016-07-21 01:51] quintesse commented on #5934
Is there something we can do about this? Otherwise I'll move it to 1.3

[2016-07-21 07:23] luolong commented on #5810
looks like an obscure feature to me ...

I wonder what might be the use case for such a feature existing?
What is the visibility scope of a class defined inline like this within a conditional block?

[2016-07-21 08:40] FroMage commented on #5796
Expletive!

[2016-07-21 08:42] FroMage commented on #5810
I'm really wondering why it would not work because we have tests for things like this, but if it really does not work, it still sounds like a minor bug that can wait for 1.3.

[2016-07-21 08:56] FroMage commented on #5892
Well, it's blocked by the typechecker not giving the backend the info it needs.

[2016-07-21 09:21] quintesse commented on #5892
@gavinking could you take another look at this please? Otherwise I'm moving it to 1.3

[2016-07-21 09:27] quintesse commented on #5810
Yeah I looked at the code it generates and I could not find anything wrong with it, it *looks* good. So it must be something deeper with the way locals are defined and accessed in the meta-model. Anyway, moving to 1.3.

[2016-07-21 11:25] gavinking commented on #5892
Again, the  typechecker never has access to this information so it is simply *not* a matter of the typechecker "remembering" some bit of information. However, the model package has some operations for asking this type of question. For example: `Scope.getDeclaringType()`, `Scope.isInherited()`, and `TypeDeclaration.isMember()`. If none of those does exactly what you need, then add a new operation t

[2016-07-21 12:40] FroMage commented on #5892
Well, there has to be some something that validates that the aliased import is indeed a toplevel member, right? If that code could save that toplevel in the tree that'd solve the issue. Otherwise the backends would have to go through the exact same validation logic.

[2016-07-21 12:46] gavinking commented on #5892
@FroMage that code is at `ImportVisitor:435`:

[code]

The operation `isToplevelAnonymousClass()` is defined in `ModelUtil`.

[2016-07-21 12:56] bjansen opened #6387 "Shortcut refinement results in calls to setters instead of overriding getters"
The following code:

[code]

prints

[code]

When I look at the bytecode I can see that instead of overriding getters for the three properties, it is calling setters:

[code]

which explains why the order in which I refine properties leads to different results.

[2016-07-21 13:00] FroMage commented on #5892
So yeah, I have to scan imports. Can't we store `td` in `member` at this point?

[2016-07-21 14:13] FroMage commented on #2424
OK that makes it much more complex because the whole erasure/casting set up crumbles if I fix this.

[2016-07-21 14:36] FroMage commented on #2424
Nope, I give up this is too much work for now.

[2016-07-21 14:54] FroMage commented on #6387
OK, so for _some_ reason `SpecifierStatement.getRefinement()` returns false for `anonymous` and `annotation` but not for `objectClass`. Is that normal, @gavinking ?

[2016-07-21 15:02] gavinking commented on #6387
Don't think so.

[2016-07-21 15:07] FroMage commented on #6387
Then it is a typechecker bug ;)

[2016-07-21 15:08] gavinking commented on #6387
Or model loader.

[2016-07-21 15:13] FroMage commented on #6387
[code]

In RefinementVisitor#1850 matches and skips the `refineAttribute`.

[2016-07-21 15:13] FroMage commented on #6387
Tsss tsss… Always blaming my beautiful model loader :( (snif)

[2016-07-21 15:25] jvasileff commented on #6387
Shouldn't `anonymous => objectClass || annotation;` be disallowed since `anonymous` is a `variable`? (A `public void setAnonymous(boolean anonymous) {}` exists.)

[2016-07-21 15:30] gavinking commented on #6387
@jvasileff it's a refinement.

[2016-07-21 15:33] bjansen commented on #6387
What's a bit odd is that a shortcut refinement will only refine the getter, whereas a verbose refinement will require a `variable` annotation, meaning it will refine both the getter and the setter.

[2016-07-21 15:34] jvasileff commented on #6387
But normally you can't refine a variable with a non-variable? The typechecker doesn't allow you to with Ceylon code.

[2016-07-21 15:37] gavinking commented on #6387
@jvasileff Sure. As Stef says, it's a bug in the typechecker. New in 1.2.3.

[2016-07-21 15:57] #6387 closed

[2016-07-21 15:57] gavinking commented on #6387
Should be fixed now, please verify.

[2016-07-21 16:06] bjansen commented on #6387
Yes, it works correctly now, although I have to change the code to something like this:

[code]

If I leave a shortcut refinement + `assign`, I get the following errors:

[code]

That NPE is definitely not normal, but I'm wondering if a shortcut refinement + `assign` is legal in Ceylon?

[2016-07-21 16:07] gavinking commented on #6387
No, never.

[2016-07-21 16:09] gavinking commented on #6387
@bjansen An annotation is a `Function`, not a `Class`. Why are you representing the annotation as a `Class` in the first place?

[2016-07-21 16:09] FroMage commented on #6387
Would it not make sense to allow a shortcut refinement but then generate a setter that throws?

[2016-07-21 16:10] gavinking commented on #6387
No.

[2016-07-21 16:16] bjansen commented on #6387
Considering this code:

https://github.com/ceylon/ceylon-ide-intellij/blob/master/plugin-ceylon-code/source/org/intellij/plugins/ceylon/ide/ceylonCode/util/ideaIcons.ceylon#L124

I just assumed that's how the model loader represented annotations. Now I'm thinking that code is buggy, and it should show the annotations icon for `Function`s that are `annotation`s.

[2016-07-21 16:25] gavinking commented on #6387
@bjansen There are _annotation constructors_ and _annotation types_. See §7.2 of the spec.

[2016-07-21 17:25] gavinking opened #6388 "renegade checkNull()"
In this code:

[code]

I get:

[code]

There should be no call to `checkNull()` here, since `type` has unchecked nulls.

[2016-07-21 17:26] gavinking commented on #6388
Note: this is a result of #6331.

[2016-07-21 17:27] gavinking commented on #6388
@FroMage would you take a look, please?

[2016-07-21 22:20] lucaswerkmeister commented on #6307
I’ve changed my mind – perhaps it’s better to only support this if the new type is a subtype of the old one. Otherwise, we’d dress an object with a type that’s not a `ClassOrInterface`, which seems weird. Implemented in #6389.

[2016-07-21 22:39] gavinking opened #6390 "error in shortcut refinement of attribute with use-site variant type"
[code]

Gives the nonsense error:

WTF?

[2016-07-21 23:05] #6390 closed

[2016-07-21 23:36] gavinking commented on #6390
Fixed.

[2016-07-21 23:43] gavinking opened #6391 "cannot narrow to type qualified by use-site variant type"
Attempting to use `if(is ...)` to narrow a type like:

    CeylonProjectBuild<Module,VirtualFile,VirtualFile,VirtualFile>.BuildMessage

To a type like:

    CeylonProjectBuild<out Anything,out Anything,out Anything,out Anything>
                .SourceFileMessage

Results in errors like this:

[code]

Note: `SourceFileMessage` is a subclass of `BuildMessage`.

@FroMage would you take a look at thi

[2016-07-21 23:56] gavinking commented on #6391
Wow, even worse: just trying to *assign* a `CeylonProjectBuild<Module,VirtualFile,VirtualFile,VirtualFile>.BuildMessage` to the type `CeylonProjectBuild<out Anything,out Anything,out Anything,out Anything>.BuildMessage` results in an error:

[code]

That's terrible!

[2016-07-22 03:02] chochos commented on #5864
The first tests now spits out p1 and p3 embedded in an ArraySequence. So it's _less_ broken but it's still broken. It's most likely related to the spread args bug that also affects sdk tests and other issues.

[2016-07-22 03:03] chochos commented on #5871
Probably a missing or faulty implementation. I'll take a quick look.

[2016-07-22 04:47] #5871 closed

[2016-07-22 08:24] FroMage commented on #6391
This compiles for me:

[code]

Am I missing some complexity?

[2016-07-22 08:48] gavinking commented on #6391
Try using the `CeylonProjectBuild` from ceylon-ide-common.

[2016-07-22 08:50] FroMage commented on #6388
OK that one is funny. Shortcut refinement is the only way to create a declaration with type `String` and `uncheckedNull` in Ceylon. You can't do that with refular refinements, where you'd have to either declare it `String` (it would not typecheck here because the RHS is optional) or more likely, `String?` which would not be `uncheckedNull`.

Are you sure this is the right thing to support? Perhaps

[2016-07-22 08:53] gavinking commented on #6388
Right, as noted, this is the only case where a Ceylon declaration has an `uncheckedNull`. It's because it's not *really* a declaration. It's more like an assignment.

I'm sure, yes. It's the only reasonable way.

[2016-07-22 09:19] #6388 closed

[2016-07-22 09:19] FroMage commented on #6388
OK done.

[2016-07-22 09:29] FroMage commented on #6391
OK, this fails:

[code]

This is due to the `given B satisfies A` constraint.

[2016-07-22 09:38] bjansen opened #6392 "Backend error when overriding a Java method with generics"
I have this Java class:

[code]

with this Ceylon subclass:

[code]

It leads to the following backend error:

[code]

According to @FroMage, this is because there's no reified generics in this case because we're overriding a Java method. I think the typechecker should do something to prevent me from writing this kind of code.

[2016-07-22 09:46] gavinking commented on #6392
I agree ... but the typechecker currently has no way of knowing whether a type parameter is reified or not. The model doesn't expose that.

At present we usually handle these kinds of problems using a *runtime* error.

[2016-07-22 09:47] gavinking commented on #6388
Great, thanks.

[2016-07-22 09:53] FroMage commented on #6392
It won't be reified if it overrides a Java method. Assign me a magical `int` in your masks using your secret accounting text book and I'll mark them. Or I'll reveal that they all extend `JavaMethod`. BTW it scares the hell out of my that thanks to your bit mask negligence we even have external contributors who allocate values out of thin air in the backend code: a5cabb8c347a89ef852c58da5e0b6339f6d

[2016-07-22 10:30] FroMage commented on #6391
The nightmare that is called `needsCast` does not even so much as _glance_ at qualifying types. I suppose I have to look at them, but in the context of the qualified type. For example:

[code]

There, `Top.Inner` and `Bottom.Inner` are really exactly the same type, no? Or do I just take both qualifying types and check for casting using the same rules as the qualified type? As in, for `QA.A` and `Q

[2016-07-22 10:54] #6391 closed

[2016-07-22 11:02] #6348 closed

[2016-07-22 11:02] FroMage commented on #6348
Done, without allocating a bit.

[2016-07-22 11:03] FroMage commented on #6392
Now that #6348 is fixed you can tell if it's a Java declaration, or if it overrides one. This should not prevent you from fixing the bitmask nightmare ;)

[2016-07-22 11:36] gavinking commented on #6391
Excellent, thanks!

[2016-07-22 12:53] gavinking opened #6393 "variables defined in else clause of for statement"
This code is legal in Ceylon:

[code]

but results in this error:

[2016-07-23 23:27] chochos commented on #6312
If I can easily create an example that makes the need for this obvious, I'll implement it.

[2016-07-23 23:31] chochos commented on #6312
The JS backend already adds this check when dealing with dynamic types.

[2016-07-23 23:35] chochos commented on #6312
However, if you do this, with no dynamic blocks:

[code]

And then override `foo` with a native file ``function foo() { return 3.14; }` then the switch won't cover that case and it's going to be hell to debug. So I guess this might be necessary after all.

[2016-07-23 23:40] #6312 closed

[2016-07-24 00:06] chochos commented on #5879
So, was the problem really just with `append`? If so, I ran a test to append 4000 1-char strings to a StringBuilder and it takes under 3s on my shitty laptop.

Anyway, the code in the original issue description runs really fast now, so I'm closing this.

[2016-07-24 00:06] #5879 closed

[2016-07-25 15:43] ePaul commented on #5796
@gavinking:

I can't see how you can tell that this:

... is true when actually the binary and hex literals are not supported and several forms of numbers (basically all radixes other than 10) are supported which are not forms of the Integer literals. At least add an "for base 10" to this sentence.

[2016-07-25 16:20] gavinking commented on #5796
Well I have clarified the documentation so that it's now crystal-clear.

[2016-07-25 17:04] ePaul commented on #5796
Ah, thanks, I missed this. Sorry for the confusion.

[2016-07-25 17:18] lucaswerkmeister opened #6396 "TypeScript enums"
TypeScript enums look like this:
[code]
They seem to serve a dual purpose: they can be a set of distinct values (like `Foo` and `Bar`), or a set of flags (like `Baz` and `Bax`). At runtime, their values are just numbers (integers); for non-`const` enums, a bidirectional map is also emitted (`MyEnum["Foo"] = 1`, `MyEnum[1] = "Foo"`), while `const` enums don’t exist at runtime at all (constant value

[2016-07-25 17:19] lucaswerkmeister commented on #6312
Thanks!

[2016-07-26 08:30] simonthum commented on #5816
I just tested with `map({1->2}, (Integer x, Integer y) => x.notThere);` and found the bug to be fixed.

[2016-07-26 08:30] #5816 closed

[2016-07-26 08:36] gavinking commented on #5816
Thanks.

[2016-07-26 13:52] quintesse commented on #5984
The Gradle build should fix this. So for now I'll move this to 1.3 (in case we don't switch to Gradle for some reason)

[2016-07-26 13:55] quintesse commented on #6001
Is this issue meant for 1.2.3 or should it be moved to 1.3?

[2016-07-26 13:57] lucaswerkmeister commented on #6001
I haven’t set any milestone on my TypeScript issues, since I don’t know which one would be appropriate. Probably not 1.2.3, at least. Do they block the 1.3 release?

[2016-07-26 13:58] quintesse commented on #6012
Leaving this for 1.2.3 to be tested once we create the debian package.

[2016-07-26 14:31] quintesse commented on #6001
No no, but we try to give tentative release milestones just to make sure we don't forget about them :) Moving to 1.3 then.

[2016-07-26 14:49] quintesse commented on #6020
Unfortunately this wasn't solved with the recent split @FroMage performed on the project code base.

The class code be moved to `ceylon-cli` but I just tried that and it doesn't look like a half-hour job unfortunately.

Moving to 1.3

[2016-07-26 14:52] quintesse commented on #6023
@gavinking this issue was for a better error message until you have time to implement the feature. Is that something you want to do? If so, is it for 1.2.3 or 1.3? And if not you should probably close it.

[2016-07-26 16:43] gavinking commented on #6023
As far as I'm concerned that backend team can implement the feature whenever they like. It is not a feature of the typechecker.

In the meantime I see this as a *very* low-priority issue. The error message is actually correct.

[2016-07-26 16:48] quintesse commented on #6023
Moving to 1.3

[2016-07-26 16:57] quintesse commented on #6039
Fixed by 	4d05237

[2016-07-26 16:58] #6039 closed

[2016-07-26 16:59] quintesse commented on #6066
@chochos  Any progress on this or does it slip again?

[2016-07-26 18:06] jvasileff commented on #5954
👍. I think spread attribute and spread method will be particularly useful.

[2016-07-27 01:57] chochos commented on #6066
There are a bunch of issues that are related to spread calls, this is one of them. If I can fix that in time for 1.2.3 then I'll close several issues (including this one). I'm working on it, but I can't make any promises.

[2016-07-27 02:07] #5798 closed

[2016-07-27 03:36] jvasileff opened #6397 "stubborn type after case narrowing from within class with covariant TP"
This compiles on 1.2.2 but not master:

[code]

[2016-07-27 03:42] jvasileff commented on #6397
This may answer my `of` question:

[code]

[2016-07-27 10:28] gavinking commented on #6397
Oops, must be a side effect of my very recent changes in #6294.

[2016-07-27 11:17] #6088 closed

[2016-07-27 11:20] #6089 closed

[2016-07-27 11:21] quintesse commented on #6066
That's ok, I'm just seeing which issues should be moved because we're not going to do them for 1.2.3

[2016-07-27 12:17] Tokiru opened #6398 "CompilerBugException when accessing stream() of java.util.ArrayList"
module.ceylon:
[code]

run.ceylon:
[code]

stacktrace:
[code]

ceylon version 1.2.2 13ebb05 (Charming But Irrational)

[2016-07-27 12:19] #6100 closed

[2016-07-27 12:21] quintesse opened #6399 "Add `since` annotations to new declarations"
Now we implemented #6100 we should add `since("1.2.3")` annotations to everything we added since 1.2.2.

And if we can find out a good way to do it far all versions since 1.0.0 we should definitely do that too!

[2016-07-27 12:23] quintesse opened #6400 "Add `since` information to generated docs"
Now we implemented #6100 we should show that info in the generated docs.

We should take into account that this annotation can be put on `module` and `package` too, meaning that all declarations in that module or package should be marked as being added since that version.

With the annotation on a declaration overriding an annotation on a package which overrides an annotation on the module.

[2016-07-27 12:23] quintesse commented on #6400
Is that something you can take a look at @thradec ?

[2016-07-27 12:36] lucaswerkmeister commented on #6400
I can understand this annotation on a package, but on a module?

How do you add a module to a module?

[2016-07-27 13:03] quintesse commented on #6400
True, the wording is not fully correct, but for example for the SDK it might be important to know at which point a certain new module was added to the set.
So perhaps "to the module" could be replaced by "to the project"?

[2016-07-27 13:08] quintesse commented on #6398
Does not occur anymore in 1.2.3, must have been fixed already. Closing.

[2016-07-27 13:08] #6398 closed

[2016-07-27 13:14] chochos commented on #6229
Can't reproduce, closing.

[2016-07-27 13:14] #6229 closed

[2016-07-27 13:23] quintesse commented on #6398
Was able to confirm on 1.2.2

[2016-07-27 14:06] chochos commented on #6364
The test for this is breaking metamodel tests in JS because `get()` works fine there...

[2016-07-27 14:13] #6363 closed

[2016-07-27 15:23] jvasileff commented on #6363
It's worth noting that on JS, class models and declarations capture their environments.

The following could become tests if the same is implemented on the JVM:

[code]

[2016-07-27 15:24] jvasileff commented on #6362
see also https://github.com/ceylon/ceylon/issues/6363#issuecomment-235620924

[2016-07-27 15:30] jvasileff commented on #6397
Ok, thanks, reverting those commits works.

[2016-07-27 15:44] jvasileff opened #6401 "Ceylon backend error: local variable ... needs to be declared final"
This compiles on 1.2.2 but not current 1.2.3:

[code]

[2016-07-27 15:47] jvasileff commented on #6401
Although the error doesn't make sense to me. The emitted code is the same on 1.2.2 and 1.2.3, and I'm not sure what the inner class would be:

[code]

[2016-07-27 21:12] jvasileff opened #6402 "program using Iterables produces incorrect result on JS"
On JS 1.2.1 through 1.2.3 master:

[code]
JVM, Dart, and JS v1.2.0 print:
[code]

[2016-07-27 22:06] xkr47 opened #6403 "ceylon doc: Inherited interface members missing in object doc"
Notice how this **class doc** correctly lists all members inherited from satisfied interfaces: https://modules.ceylon-lang.org/repo/1/ceylon/buffer/1.2.2/module-doc/api/base/Base64String.type.html

Then notice how the **object doc** for an object that extends the above class **does not have** any of the members inherited from satisfied interfaces: https://modules.ceylon-lang.org/repo/1/ceylon/buff

[2016-07-27 22:14] xkr47 commented on #6075
@SanjayJosh any progress?

[2016-07-28 14:50] SanjayJosh commented on #6075
@xkr47
Sir , I am extremely sorry but I had my projects and university exams . If need be , I am willing to work on this now .

[2016-07-29 02:41] chochos commented on #5864
the shorter tests breaks at runtime on the JVM, BTW.

[2016-07-29 03:09] #6402 closed

[2016-07-29 03:09] #6066 closed

[2016-07-29 04:53] chochos commented on #5864
And now this is more broken than before. The function on `completed` is not called, but if I change the code to work with strings instead of integers, then it is called. This is due to the latest changes I made to the way spread invocations work.

[2016-07-29 07:16] jvasileff opened #6404 "lying isReified test on JVM"
isReified incorrectly returns `false` on JVM for:

- an anonymous class
- defined with captured type parameter
- created within a shortcut refinement

[code]

[2016-07-29 13:21] gavinking commented on #5955
@lucono

No, that's not correct. Promoting an existing dependency to `shared` is syntactically distinct, because it doesn't specify a version number. In my examples I wrote:

[2016-07-29 13:26] gavinking commented on #5955
A problem I have with the current proposal is that it doesn't provide an obvious way to nail down the version number of *all* `import`s of a certain module. That is, I can't, at the top level, override the version number of an imported module everywhere it is imported transitively.

This is currently possible using a toplevel `<set>` element in `overrides.xml`.

I *suppose* we could make this the

[2016-07-29 14:50] jvasileff commented on #6404
A shorter example:

[code]

[2016-07-29 14:51] jvasileff commented on #6404
Probably the same issue, `type` fails:

[code]
results in:
[code]

[2016-07-31 07:56] dlkw opened #6406 "one-shot Iterables"
The "one-shot Iterable" vs. "reiterable Iterable", which already caused some discussion in the [XML parser thread on the users mailing list](https://groups.google.com/forum/#!topic/ceylon-users/VFZGRy34Tsg) and also for example in https://github.com/ceylon/ceylon-sdk/issues/593#issuecomment-236379752, can perhaps be accomodated by introducing interfaces

[code]

The name of the second interface an

[2016-07-31 14:11] gavinking commented on #6406
As I've stated in the mailing list thread, I don't see any value in this, and I don't think we should add it to Ceylon. The interface `OneShotIterable` is isomorphic to `<T> => T()`.

I would like to close this issue.

[2016-07-31 14:18] gavinking commented on #6404
Is this really a *compiler* bug, or a bug in the runtime?

[2016-07-31 14:32] ASzc commented on #6406
The conflict as I see it is that the ostensible purpose of `Iterable` (to be a "stream" type) can't be implemented in an immutable fashion. So, basically all of the language module and SDK collection module implementations of it are as a reiterable `Iterable`. However, the type allows developers implement it as a stream, and thereby break code that assumes all `Iterable` are reiterable.

This has

[2016-07-31 14:37] gavinking commented on #6406
Well, that's not true. It quite explicitly documents that such an implementation would be incorrect, and contrary to its semantics.

[2016-07-31 15:30] dlkw commented on #6406
I thought you meant Iterable<T> is "isomorphic" to T(), but this is about OneShotIterable<T>.iterator() returning the same iterator, continuing to read the same stream.

From a Type perspective, it might make no difference if I get always the same iterator that continues to read from a stream or if I get different interators that each return different unrelated sequences of elements (like a random

[2016-07-31 16:41] jvasileff commented on #6406
IMO, that's absolutely the right way to go. Just because something can't be re-iterated doesn't mean that we might not want to filter it, turn it into a sequence, parse it as XML, etc.

With a bit of effort, any reasonable function can be written to perform its task using a single iterator,  and by doing so, the function becomes useful to a wide array of input sources.

Of course, for less effort,

[2016-07-31 16:52] gavinking commented on #6406
There already is such a type: `Byte()`.

[2016-07-31 17:04] dlkw commented on #6406
Byte() needs then to be wrapped as Iterable to have filtering and other Iterable features.

But, if the above is the right way to go, why has Iterable a method iterator() at all? Couldn't all the Iterable features, including for example the for loop, be based on the Iterable itself instead of its Iterator? If Iterable had a next() method (thus implementing Iterator, so to say)?

[2016-07-31 17:07] gavinking commented on #6406
I'm yet to see the compelling usecases for that.

Because an `Iterable` stream can be reiterated, multiple times, from the "start". That's the basic nature of this construct.

[2016-07-31 17:14] jvasileff commented on #6406
You're saying it's only useful to filter, map, create a sequence or array, etc. for data that can be read multiple times? How does the re-readability of data indicate what you may want to do with it?

I'm not disagreeing we should use functions. But `Iterable`s are very useful.

[2016-07-31 17:21] gavinking commented on #6406
I'm not saying it's *conceptually* incorrect. I'm just saying that I don't know a whole huge lot of real practical usecases for it.

[2016-07-31 17:26] gavinking commented on #6406
I mean the problem is that there are deep conceptual problems with a version of `Iterable` that declares its own `next()` method. Consider:

[code]

You really want to start exposing users to such a fragile construct?! I don't.

[2016-07-31 17:33] dlkw commented on #6406
Ok, so you say Iterables should always be reiterable.
Then, when writing a method that transforms some input, one should try to avoid taking an Iterable and use function as input to allow also once-readable input. That includes charset conversions and many other things in the SDK.

[2016-07-31 17:38] jvasileff commented on #6406
I agree with @quintesse's assertion that `for (x in mappedStream) {}` should throw in this case.

It's also been established that (without additional knowledge of the stream), whatever results are obtained in independent iterations of a stream should be considered independent and incompatible (i.e. don't trust `size`).

Given the independence of the results, it is *not* generally acceptable for a

[2016-07-31 17:45] gavinking commented on #6406
It's not what I "say". The actual API of `Iterable` essentially _guarantees_ it! There is no reasonable way to implement `Iterable` without supporting reiteration unless your prepared to throw an exception from `iterator()`, which, I think we should all be able to agree, is an obviously not-very-nice thing to do in a language that is supposed to be highly typesafe.

So to actually obtain a non-rei

[2016-07-31 17:45] gavinking commented on #6406
That's .... _terrible_.

[2016-07-31 17:46] jvasileff commented on #6406
Then, when writing a method that transforms some input, one should try to avoid taking an Iterable and use function as input to allow also once-readable input. That includes charset conversions and many other things in the SDK.

That doesn't follow at all. If your function only reads the stream once, you can accept *any* input. The most flexible, but probably over-the-top, would be `<T|Finished>()

[2016-07-31 17:47] gavinking commented on #6406
Alright, so, I think we've established that there is no way to have typesafe "one shot" streams. Agreed? Can I close the issue now, please?

[2016-07-31 17:48] jvasileff commented on #6406
Sure, but if it's the best of the alternatives. After all, you can't even create a `Sequence` without an `Iterable`.

[2016-07-31 17:49] gavinking commented on #6406
I think that this is the real source of the disconnect here.

One can have documentation that advises that (1) a stream is not stable and (2) reiteration is *expensive*, without needing to say that the stream is not reiterable at all.

[2016-07-31 17:50] gavinking commented on #6406
Not true. The best alternative is to just not have this nasty broken construct, close this issue, and move on.

[2016-07-31 17:57] jvasileff commented on #6406
It's that 1) sometimes you can only read data once, and 2) `Iterable`s are very useful, and even essential to do things like create `Sequence`s.

Agreed. "Good" functions won't attempt to re-read an `Iterable`, making the issue moot.

Agreed!

[2016-07-31 18:13] dlkw commented on #6406
That's the other way around: the problematic issue is if a method accepts Iterable and iterates more than once. But we agree here.

I'm not quite fair-sighted to be fully convinced, but I'll see how I can connect my XML parser to different sorts of input (and yell for help if I get stuck, if you don't mind -- there might be some similar situation on output). Let's close this.

[2016-07-31 18:20] gavinking commented on #6406
OK, great.

[2016-07-31 18:20] #6406 closed

[2016-07-31 18:22] jvasileff commented on #6406
BTW, @gavinking, the specific problem I see with an XML parser having a parameter type of `<Byte|Finished>()` instead of `{Byte*}` is that, by your (good) logic that `Iterable.iterator()` shouldn't throw, the XML parser would be prohibited from returning a lazy `{XMLElement*}`.

Therefore, either 1) the *entire* XML document would have to be parsed and materialized before the return, or 2) the ret

[2016-07-31 18:54] quintesse commented on #6406
But that's the whole point of this discussion, if you just have an Iterable you're basically dealing with the lowest level API possible and you can't make use of *any* of the nice methods in Iterable. So you can't filter, you can't map, you can't do anything except get the next value. You might as well start programming assembly.

[2016-07-31 19:07] jvasileff commented on #6406
@quintesse I have no idea what you're taking about :smile: I'd chain all of the nice lazy methods of `Iterable` together, or use my memoizing `Iterable` wrapper, or use some other buffer for backtracking, or be lazy and call `sequence()`, or...

Bottom line, `{Byte*}` provides much, much more than `<Byte|Finished>()` and allows me to return an `Iterable` without wasting unacceptable amounts of mem

[2016-08-01 09:27] FroMage commented on #5864
OK, adding the `runtime-jvm` tag then.

[2016-08-01 09:30] FroMage commented on #6364
Damn, so should we say this should only fail on the JVM (backend-specific), or that it should fail on JS too? I'm incline to say this should be backend-specific and adjust the test.

[2016-08-01 10:09] FroMage commented on #6404
That's a difference between:

[code]

[2016-08-01 11:32] quintesse commented on #6399
Ok, done for the language module since the very first version! Closing.

[2016-08-01 11:34] quintesse commented on #6115
SHould we move this to 1.3 @FroMage ?

[2016-08-01 11:36] quintesse commented on #6130
@gavinking @FroMage is this something for 1.2.3?

[2016-08-01 11:51] FroMage commented on #6115
Well, I should finish it, let's keep it. It works, but it's ugly and badly tested and the output is confusing.

[2016-08-01 11:51] FroMage commented on #6399
Great work!

[2016-08-01 11:54] FroMage commented on #6130
Well, no idea how hard it is to fix. Is this a particularity of how we internally store tuples, or about the typechecker @gavinking?

[2016-08-01 11:57] #6404 closed

[2016-08-01 11:58] FroMage commented on #6404
Fixed.

[2016-08-01 12:00] FroMage commented on #6401
Well, I suppose we could indeed declare our `let` variables final, but I rather suspect this is due to a change in Javac 1.8 that @tombentley had already fixes for. Perhaps this case slipped through. I'll see if I can confirm this.

[2016-08-01 12:06] quintesse commented on #6399
Thanks, I wrote this crappy little tool that prints out class declarations with their members and I just diff two versions to see what's changed. Very manual but it works.

[2016-08-01 12:12] quintesse commented on #6399
NB: I decided to treat renames as new additions too. After all before that version the declaration might have existed but you couldn't have used it with that name.

[2016-08-01 12:48] FroMage commented on #6401
Only fails if it's a local class.

[2016-08-01 13:05] FroMage commented on #6401
Yeah, so we have a local with `pos == -1` and it's `< currentTree.pos` which has a position. Related to #507#issuecomment-184750425, but I think I'll disable this error check if `pos == -1` since it must be bogus.

[2016-08-01 13:08] #6401 closed

[2016-08-01 13:17] FroMage commented on #6401
Fixed.

[2016-08-01 13:56] #6393 closed

[2016-08-01 13:57] FroMage commented on #6393
Fixed

[2016-08-01 14:16] FroMage commented on #6377
The error message is confusing, the actual error is this bit in the constructor:

[code]

[2016-08-01 14:35] #6377 closed

[2016-08-01 14:35] FroMage commented on #6377
Fixed.

[2016-08-01 15:06] #6360 closed

[2016-08-01 15:06] FroMage commented on #6360
Fixed.

[2016-08-01 15:42] chochos commented on #6364
OK, I'll adjust the test so we can re-close

[2016-08-01 15:51] FroMage commented on #6364
Thanks.

[2016-08-01 15:59] #6379 closed

[2016-08-01 16:02] FroMage commented on #6379
Fixed.

[2016-08-01 16:50] lukedegruchy commented on #6379
Verified.

[2016-08-01 16:51] #6364 closed

[2016-08-01 16:57] #6136 closed

[2016-08-01 17:40] quintesse commented on #6140
1.2.3 or 1.3 @FroMage ?

[2016-08-01 17:43] quintesse commented on #6155
Reminder for @FroMage and @chochos , could you guys update the information for your OSes, it's just a single line.

[2016-08-01 17:44] quintesse commented on #6169
Seems fixed, closing.

[2016-08-01 17:44] #6169 closed

[2016-08-01 17:46] quintesse commented on #6179
@davidfestal could you give your opinion on this?

Also moving this to 1.3

[2016-08-01 17:52] quintesse commented on #6185
@lucaswerkmeister is this still for 1.2.3?

[2016-08-01 18:05] quintesse commented on #6204
Is this still for 1.2.3 @FroMage ?

[2016-08-01 18:09] quintesse commented on #6235
@FroMage I'm changing your "confirmed" for my "unreproducible" :)
Could you check if you still see this?

[2016-08-01 18:16] quintesse commented on #6242
Do we close this or do we want to discuss this some more? Moving to 1.3 at least.

[2016-08-01 18:21] quintesse commented on #6246
So I'm not sure what this issue is about actually. Is it a bug? Is it just about the message? Could the typechecker/compiler be improved to make this a compile-time error? What? Moving to 1.3 anyway.

[2016-08-01 19:26] chochos commented on #6155
updated OSX

[2016-08-01 19:27] quintesse commented on #6155
thx @chochos !

[2016-08-01 20:22] chochos commented on #5864
The shorter example won't run in any platform. I don't know if it's supposed to.

The original example runs fine now in JS, breaks in JVM.

[2016-08-01 20:27] jvasileff commented on #5864
WDYM, it runs perfectly fine on Dart!

I'm pretty sure it ran on the JVM too when I posted it, but it seems a (possible incorrect?) change in the JVM compiler on `long` -> `int` interop exposed a bug in the promises library.

[2016-08-01 20:29] chochos commented on #5864
weird, it doesn't do anything in JS, and breaks in JVM. It seems somewhere an exception is just silently swallowed.

[2016-08-01 20:41] chochos commented on #5864
Oh and the types for the original example are wrong, in both cases it's wrapped in an ArraySequence, although now they print correctly.

[2016-08-01 23:06] gavinking commented on #6393
Thanks!

[2016-08-01 23:12] gavinking commented on #6130
I'm not sure, but my assumption is that some method in `Type` must be "optimized" for `Tuple`s, to use a `for` loop instead of recursion. Just like what we do in several other places.

[2016-08-02 02:34] jvasileff opened #6409 "special form of shortcut refinement doesn't work"
[code]
results in:
[code]

[2016-08-02 08:12] FroMage commented on #6140
I fear it will break for other classes for other reasons, so 1.3.

[2016-08-02 08:16] FroMage commented on #6204
Nope.

[2016-08-02 08:35] lucaswerkmeister commented on #6185
Actually, we can probably close this. We’ll need to find some solution for union and intersection types, but this is probably way too complicated for just that remaining issue.

[2016-08-02 08:35] #6185 closed

[2016-08-02 10:11] #6409 closed

[2016-08-02 10:11] FroMage commented on #6409
Fixed.

[2016-08-02 10:13] FroMage commented on #6235
Nope, thanks.

[2016-08-02 10:13] #6235 closed

[2016-08-02 10:16] FroMage commented on #6155
Done.

[2016-08-02 11:02] lucaswerkmeister opened #6410 "Dynamic assignments to union and intersection types"
I’ll use the following declarations in this issue:
[code]

This code doesn’t work:
[code]
[try online](http://try.ceylon-lang.org/?gist=dcd5ba08c081a87d2a1015dbb70e1759)

The compiler completely ignores the union type and treats it like an assignment to type `X`. The possibility that the correct type might be `Y`, and that it should check for `Y`’s members too, is completely ignored.

This code do

[2016-08-02 11:02] lucaswerkmeister commented on #6410
I propose that both assignments should be disallowed. Instead, force users to write code like this:

[code]

[code]

[2016-08-02 11:16] quintesse commented on #6155
thx!

[2016-08-02 11:16] #6155 closed

[2016-08-02 11:36] xkr47 commented on #6410
@lucaswerkmeister In the last code snippet, I guess the type of "xy" could still be `X|Y` ?

[2016-08-02 12:02] lucaswerkmeister commented on #6410
No.

[2016-08-02 12:05] xkr47 commented on #6410
How about `X|Y|X&Y`?

[2016-08-02 12:13] lucaswerkmeister commented on #6410
Wait, I’m not sure which snippet we’re talking about… the last one in the issue or my comment?

[2016-08-02 12:14] xkr47 commented on #6410
the second one in https://github.com/ceylon/ceylon/issues/6410#issuecomment-236872412

[2016-08-02 12:17] lucaswerkmeister commented on #6410
Well, it could be `X|Y`, but then it’s just the same as the listing above, so what’s the point? There’s two problems here, and I’m trying to present examples for both of them. And `X|Y|X&Y` doesn’t really change anything with regards to my proposal. You assign a dynamic value to a value with one concrete type, then you assign that to whatever you want.

[2016-08-02 13:07] FroMage commented on #6189
I'd like to take a step back and recheck the different strategies and pro/cons, because it will be easier to compare alternatives if we have a better understanding, rather than hand-waving such as that `javaObject.someList.size` example because in this case, this auto-conversion is not even allowed in Java. AFAIK in Java coercion is only allowed at specific locations (assignment, method arguments)

[2016-08-02 13:09] FroMage commented on #6189
Edited that table to change categories so that every "yes" means something _positive_, rather than depend on how the question is formulated.

[2016-08-02 13:10] FroMage commented on #6368
I've stopped working on this proto since to be useful it depends on #1617 or #6189 which are for 1.3.

[2016-08-02 14:29] jvasileff commented on #6409
Thanks, that was quick!

[2016-08-02 14:40] FroMage commented on #6365
Pfff. I don't get it. I know we tweaked how javac deals with the types we form, but still. I'm trying this in Eclipse and I can't actually form the `Ranged<? extends Integer, Integer, ? extends Sequential<? extends Integer>>` type as a declaration type.

I can, however use it in a cast, and in this case successfully cast a `Sequence<? extends Integer>` to it. Precisely what javac refuses to do her

[2016-08-02 15:10] jvasileff commented on #6365
Regarding the first Eclipse example, shouldn't it be `super`?

    Ranged<? super Integer, Integer, ? extends Sequential<? extends Integer>>

[2016-08-02 15:55] FroMage commented on #6365
Yeah, typo, that's the one I tried.

[2016-08-02 15:57] FroMage commented on #6365
No you're right I got confused. So with `super` it's rejected even in the cast.

[2016-08-02 17:19] quintesse commented on #6410
I'm not sure I understand this. If you have this code:

[code]

Then the only way to get at any of the members of X or Y is to first check for the type:

[code]

To me *no* type gets "assigned to the value", the type it gets depends in the result of the `is`-test at runtime.

Now for the example where the result isn't clear:

[code]

Here the result would indeed be ambiguous, but is that a problem

[2016-08-02 17:56] lucaswerkmeister commented on #6410
That’s not how it works. Any time you assign a dynamic value to a value with a regular type, the value is “dressed” with type information:
[code]
1 is the `dynamic [y = "y";]` expression, 2 is the type that the compiler has decided the value must be dressed with. This happens right at the assignment and *must* happen there. Values without this type information must never “escape” to other parts of

[2016-08-02 18:51] jvasileff commented on #6410
But then, it seems the assigned type must be suitably precise: disallow abstract types, or, at the very least, types with enumerated subtypes.

[2016-08-02 19:41] quintesse commented on #6410
I've never understood why it must be like that at all. The whole dressing stuff is just asking for trouble IMO.

To me an `is`-test on a non-Ceylon type should just do the structural test and from then on, inside the scope of the test, the object is just assumed to be of that type.

[2016-08-02 20:28] lucaswerkmeister commented on #6410
Well, dressing is the route that, IIRC, @gavinking and @chochos decided to take, and we can’t change that without, for starters, a complete break to binary compatibility, not to mention the work involved.

[2016-08-02 20:38] lucaswerkmeister opened #6411 "Dress dynamic values based on their prototype, if possible"
If a value has no type information attached, but its prototype is an appropriate Ceylon type (in my use case: a TypeScript class to which Ceylon information has been added), then `dre$$` should check that the prototype type is assignable to the type being dressed, and then set the type of the object to the prototype type (instead of the type being dressed).

[2016-08-02 21:58] quintesse commented on #6410
Sure, but if it would at least *work* then it would be something. But the only thing it does is create these weird situations where the dresses type is not the actual type and `is`-tests don't give proper results.

[2016-08-03 08:20] FroMage commented on #6365
OK, so I think the `? super` has to go, because `Subrange` refers to it. That's the reason why we don't do `? extends Integer` for `Element`, not sure why we don't dothe same for contravariant type params.

Now, that doesn't explain why the raw cast is not added because IMO it should already be handled.

[2016-08-03 11:41] quintesse commented on #4148
I created an implementation for this in the typechecker and the JVM backend.
It only supports simple indexing, not ranged because the latter would be an enormous amount of work on the JVM backend for something that I guess is of only marginal value.

@gavinking could you take a look at the language/typechecker part to see if things seemokay?

@chochos would you be willing to create the JS backend

[2016-08-03 13:05] #6365 closed

[2016-08-03 13:05] FroMage commented on #6365
Fixed, but frankly I'm afraid I've only fixed a symptom of something bigger.

[2016-08-03 14:05] #6354 closed

[2016-08-03 14:05] FroMage commented on #6354
Fixed.

[2016-08-03 14:12] jvasileff commented on #6365
Glad it's fixed.

I spent some time trying to figure this out, and I mostly got a headache and a yearning for Java 4 non-generics. But I also found:

If you add back covariant wildcards (which I guess are currently elided?), the type is accepted by javac 7 & 8.

[code]

The Eclipse compiler doesn't work for this, and the Java 7 compiler seemed to accept some *other* variations that Java 8 rejects.

[2016-08-03 14:20] FroMage commented on #6330
OK, so what's the thing that makes this special? I fail to see it. Apparently I have an `IsCase` with a `iscase.type` that is an `UnknownType`. I assume the typechecker should infer that type to be what's in `iscase.variable`, no?

[2016-08-03 14:30] jvasileff commented on #6330
That's similar to what I though (https://github.com/ceylon/ceylon.ast/issues/116#issuecomment-228130549), the ast seems incomplete

[2016-08-03 14:38] quintesse commented on #6278
@gavinking you want to take a look at @jvasileff 's suggestions before we close this issue? Or do you want it moved to 1.3?

[2016-08-03 14:41] quintesse commented on #6280
Currently on the JVM we get the same error. Perhaps @gavinking can explain why this is? ANyway, moving to 1.3

[2016-08-03 14:42] #6330 closed

[2016-08-03 14:43] FroMage commented on #6330
Whatever, I use the type of the `Variable`, that works.

[2016-08-03 15:50] quintesse commented on #6310
Confirmed, generated code is:

[code]

[2016-08-03 15:50] #6325 closed

[2016-08-03 15:50] FroMage commented on #6325
Done.

[2016-08-03 16:02] FroMage commented on #6310
Damn you scared me with committing that failing test ;)

[2016-08-03 16:04] #6324 closed

[2016-08-03 16:04] FroMage commented on #6324
Fixed.

[2016-08-03 16:11] quintesse commented on #6310
Oops, sorry! :)

[2016-08-03 16:13] jvasileff commented on #5950
There's now a warning for this, added by #6261.

[2016-08-03 16:13] #5950 closed

[2016-08-03 22:03] #6310 closed

[2016-08-03 22:23] quintesse commented on #6345
I actually get a whole bunch of other errors:

[code]

but at least it's obvious *something* is wrong.

But we might have to wait until @bjansen updates Gyokuro for Ceylon 1.2.3 to be able to test what happens on 1.2.3. Any chance of you creating a 1.2.3 pre-release branch of some sort @bjansen ? :)

[2016-08-03 22:36] quintesse commented on #6345
Hmm perhaps an `overrides.xml` would be enough...

[2016-08-04 08:24] bjansen commented on #6345
The last two snippets should actually be in the same file, because they are using the same imports. This builds just fine:

[code]

I don't see any backend error, and I can start the app without any problem with the latest Ceylon IDE 1.2.2.

[2016-08-04 08:30] bjansen commented on #6345
@quintesse I believe the `compiler bug`s you had were because `contacts` wasn't built correctly, so `run.ceylon` couldn't be built correctly either. Putting everything in the same file fixes the problem.

@fwgreen if you're still having the problem, could you zip the contents of your project's `.exploded` directory (or the `.car` file) so we can decompile `run_.class` and see what's going on in yo

[2016-08-04 08:34] FroMage commented on #6323
Yup, this does not happen if the implemented types are Ceylon types.

[2016-08-04 08:57] #6323 closed

[2016-08-04 08:58] FroMage commented on #6323
Fixed. Was unrelated to Java/Ceylon types but had to do with optional types in constructors.

[2016-08-04 09:03] quintesse commented on #6345
@bjansen those errors are still backend errors and therefore bugs :)

[2016-08-04 09:31] #6304 closed

[2016-08-04 09:31] FroMage commented on #6304
Fixed!

[2016-08-04 09:36] fwgreen commented on #6345
@bjansen Here's the zipped `.exploded` directory contents.  I hope it helps.
[assignment.zip](https://github.com/ceylon/ceylon/files/401305/assignment.zip)

[2016-08-04 09:52] FroMage commented on #6287
So I've changed it so that we only do this for Java declarations and not Ceylon ones.

[2016-08-04 09:59] quintesse opened #6413 "Error accessing meta model of invalid declaration"
Found while investigating #6345

The following code:

[code]

results in:

[code]

[2016-08-04 10:00] quintesse commented on #6345
Ok, I opened a separate issue for the backend bugs: #6413

[2016-08-04 10:07] #6287 closed

[2016-08-04 10:08] FroMage commented on #6287
Done.

[2016-08-04 10:11] FroMage commented on #6184
Moving to 1.3

[2016-08-04 10:35] quintesse opened #6414 "Warn when an a .java file does not have the correct package"
It has happened to me several times now that I forget to add a `package` statement to a Java file embedded in a Ceylon module and that I spend a large amount of time figuring out why I get declaration does not exist error. Very annoying.

[2016-08-04 10:43] quintesse opened #6415 "Better error message when passing a method references instead of calling the method"
I just got this error:

    error: argument must be assignable to parameter 't' of 'toCityId': 'ObjectArray<JString>()' is not assignable to 'ObjectArray<JString>'

and honestly it's one I've made a number of times and it got me thinking that perhaps we could detect when the two types differ by one being the Callable version of the other and then extend the error message a bit. Something like:

[2016-08-04 11:36] quintesse commented on #6413
Sorry, was using Ceylon 1.2.2, does not occur in 1.2.3

[2016-08-04 11:36] #6413 closed

[2016-08-04 11:42] quintesse commented on #6357
Is there a way we can know that a Tuple has a rest sequence (that won't be constructed when we ask for it)?

[2016-08-04 11:44] quintesse commented on #6362
Who decides what this should do? @gavinking ? @FroMage ?

[2016-08-04 12:22] jvasileff commented on #6357
@quintesse I don't know how well this translates to the JVM, but I made `Tuple.spanFrom()` always return a proper Tuple if possible, and have the compiler use that for destructuring.

[2016-08-04 12:55] quintesse commented on #6357
@jvasileff I'm not sure what a "proper tuple" is :) Aren't there a whole bunch that are basically just arrays under the hood?

[2016-08-04 13:02] gavinking commented on #6278
@jvasileff I don't really understand what your comment is referring to. Perhaps the previous, now commented out, implementation:

[code]

[2016-08-04 13:03] gavinking commented on #6278
@jvasileff what I mean is that there is now no call to `.reversed` in `inverse()`.

[2016-08-04 13:11] jvasileff commented on #6278
I meant that this was a partial fix, and we need really need something more general.

Running the test code now, `items.findLast(50k.equals)` takes longer than it takes to write this... oh, just finished.

[2016-08-04 13:22] bjansen commented on #6345
That line 7 where the NPE occurs decompiles to this code:
[code]

I'd say something went wrong when the module was built, and it produces an error similar to what the IDE reported. Is it possible to share your whole project so we can reproduce the error?

[2016-08-04 13:38] #6181 closed

[2016-08-04 13:38] FroMage commented on #6181
Fixed.

[2016-08-04 13:39] FroMage commented on #6385
@bjansen any idea? You guys still have this issue?

[2016-08-04 13:48] FroMage commented on #6362
Well, I guess they could exist, just throw if you try to invoke them. But ATM I get a CCE when running this, which is something worse.

[2016-08-04 13:59] quintesse commented on #6181
\o/

[2016-08-04 14:01] bjansen commented on #6385
No, the error disappeared after I rewrote the file to Ceylon. I *think* it happened because we had a Java file containing methods that returned Ceylon types declared in the same project, which isn't really well supported. The CLI had no problem, but somehow the IDE struggled with that case. I suppose it was more related to ceylon/ceylon-ide-intellij or ceylon/ceylon-ide-common than ceylon/ceylon,

[2016-08-04 14:01] #6385 closed

[2016-08-04 14:02] FroMage commented on #6362
Ah sorry, was due to `@noanno`. CCE's gone.

[2016-08-04 14:03] FroMage commented on #6385
OK thanks.

[2016-08-04 14:13] fwgreen commented on #6345
@bjansen While moving the handlers into the same file helped initially, the backend error eventually returned after a few iterations of me modifying code and running the project.
[AssignmentService.zip](https://github.com/ceylon/ceylon/files/401809/AssignmentService.zip)

[2016-08-04 14:17] FroMage commented on #6362
So, the `` `C`.getCallableConstructors()`` should return `[]` because it invokes it with the `ArgumentType` default of `Anything`, which essentially filters out every constructor with arguments. `` `C`.getCallableConstructors<>()`` works, because it defaults to `Nothing`, which allows every constructor. In fact, the JS should also filter them out.

So we're left with a bug as to why the value is n

[2016-08-04 14:20] FroMage commented on #6362
That's because its missing a shared annotation in the model, for some reason.

[2016-08-04 15:20] FroMage commented on #6362
Fixed.

[2016-08-04 15:20] #6362 closed

[2016-08-04 17:24] chochos commented on #5803
The only native error left is from a test that wants to read a private class from the language module (the implementation of `ClassWithInitializerDeclaration`). There are still other errors but they're not native; some are related to a problem with parameterized tests in `ceylon.test`, others seem related to metamodel impl in JS.

[2016-08-04 17:28] jvasileff commented on #5864
@chochos did you mean to close this for the JVM too?