[2016-10-23 01:07] gavinking commented on #6636
Well, yeah, I guess I figured that was a requirement.

[2016-10-23 01:10] jvasileff commented on #6636
That was pretty much my thought as well. My impl was mostly an experiment rather than a serious proposal.

[2016-10-23 01:16] gavinking commented on #6636
What we probably want is a semi-lazy version, where we calculate upfront how many streams there are, but not the length of the longest one, and return `{Element[]*}`.

[2016-10-23 01:28] jvasileff commented on #6636
That's basically what I had. If you disallow `Null`, it's simpler:

[code]

[2016-10-23 01:36] jvasileff commented on #6636
I think this is correct, with `Null` support:

[code]

[2016-10-23 01:50] jvasileff commented on #6636
But I think I like the answers with `Element?` better.

[2016-10-23 08:14] dlkw opened #6641 "Ceylon backend error: cyclic inheritance involving <class name>"
Error:ceylon: Ceylon backend error: cyclic inheritance involving R

[code]

[2016-10-23 08:24] xkr47 commented on #6636
I actually wouldn't mind having.. both?

[2016-10-23 14:37] jvasileff opened #6642 "SearchableList.occursAt implementation looks wrong re: null"
This doesn't look right to me, because there is no `0 <= index < size` check:

[code]

[2016-10-23 14:52] gavinking commented on #6621
Fixed.

[2016-10-23 14:52] #6621 closed

[2016-10-23 14:56] gavinking commented on #6642
Well that's unclear. What do the refinements of this operation do?

[2016-10-23 15:02] jvasileff commented on #6642
They return false for `listWithNulls.occursAt(-1, null)`

And in fact, now looking at `firstOccurrence`, which doesn't optimize away invalid indexes (but should I think), it looks like you'll get `-1` for `listWithNulls.firstOccurrence(null, -1, maxInteger)` since it is defined in terms of `occursAt`

[2016-10-23 15:06] gavinking commented on #6642
Alright. You want to push the fix?

[2016-10-23 15:12] jvasileff commented on #6642
sure

[2016-10-23 15:20] gavinking commented on #6640
This is all done, except for an interesting case involving Java generics that I had not recognized before. Consider:

[code]

In this case we have the inferred type `Boolean`, but we also have unchecked nulls because of the generic signature of `get()`. We can't set `getBooleanFromMap` as having unchecked nulls, because its return type is erased to `boolean` by the compiler.

In principle we could

[2016-10-23 15:23] gavinking opened #6643 "handle "primitive" types with unchecked nulls"
We should allow a function with an inferred "primitive" type, e.g. `Boolean`, `Integer`, `Float`, etc, and unchecked nulls. Currently non-optional primitive types always lower to Java primitives.

[This comment](https://github.com/ceylon/ceylon/issues/6640#issuecomment-255594413) explains why.

[2016-10-23 15:23] gavinking commented on #6640
Closing, after opening followup issue #6643.

[2016-10-23 15:23] #6640 closed

[2016-10-23 16:05] jvasileff opened #6644 "javascript crash with `Array.lastOccurrence` and out of range indexes"
This:
[code]
results in:
[code]
I'll add range checks for the default impls in https://github.com/ceylon/ceylon/issues/6642, but I assume what's crashing here is a refinement.

[2016-10-23 17:26] quintesse commented on #6640
Out of curiosity, what was the different behaviour? I thought the null-check was always wrapping the actual call to the Java function? Which would mean it was always checked the moment the value was returned. Was that not how it worked?

[2016-10-23 17:32] simonthum commented on #6615
I'd like to remind people that a compose like operator as @jvasileff would give 99% of the expressive power with minimal language changes - there are several  operators you can't use on functions waiting for reuse.

I also achieved a compose function that composes functions of a single type, and it's reverse case, quite trivially

[code]

If some type wizards could extend it to accept X(Y) this is

[2016-10-23 18:11] jvasileff commented on #6640
The  null check is suppressed though if the lhs can accept nulls.

[2016-10-23 19:47] jvasileff commented on #6621
@gavinking I think this is causing an SDK build failure with an error referencing a `static` member of a Java type - https://github.com/ceylon/ceylon-sdk/blob/358ad350376c8fac961375d8b51310a746996e75/source/ceylon/http/server/internal/DefaultServer.ceylon#L134

See also http://docs.jboss.org/xnio/3.0.4.GA/api/org/xnio/class-use/BufferAllocator.html

[code]

[2016-10-23 20:05] gavinking commented on #6640
No, not if it's assigned to the type `Anything`.

[2016-10-23 20:36] quintesse commented on #6640
True, I wasn't explaining myself correctly. And while trying to formulate it better it has given me a better insight in what the issue was about, so forget I asked ^^

[2016-10-23 22:29] gavinking commented on #6597
This is probably the same issue as #4779.

[2016-10-23 22:37] gavinking opened #6646 "local import statements"
Since it doesn't look like #5763 is going to be solved anytime soon, and since users are starting to run into problems writing cross-platform modules with npm dependencies, I'm experimenting with allowing `import` statements to be nested inside a block.

[code]

It turns out that this has been super-simple to implement and has zero impact on the backends as far as I can discern. And it does solve

[2016-10-23 22:38] gavinking commented on #5763
I'm proposing #6646 as a workaround for this problem.

[2016-10-24 01:24] quintesse commented on #6646
I think this is a good enough solution for most cases. +1 from me.

[2016-10-24 05:48] welopino commented on #6615
It would be more effective to have monadic for - then to have the pipe operator (which is only for single argument functions). If at all, it is necessary to have a right associative version of concatenation for the creation of  immutable data structures. But I know that you will not accept this proposal, because it make a whole bunch of addition to ceylon necessary: Implicits, no constraint of e.g

[2016-10-24 06:29] bjansen commented on #6646
I have several questions related to IDE support:

* does code folding still work with nested import lists?
* should code completion add new imports to the nested list instead of the toplevel list, if there is one?
* would it make sense to have a quick assist that moves an import from a nested list to an "outer" list?

[2016-10-24 07:41] gavinking commented on #6646
Yep, seems to be working.

If there is *already* an import statement for the package, then it should add it to the existing `import`, wherever it is. Otherwise it should add a new import statement to the toplevel list.

Surprisingly, this already seems to work.

Rrm, *shrug*, I guess, but it's not that crucial.

What I have noticed with respect to IDE support is that autocompletion seems to add du

[2016-10-24 07:47] gavinking commented on #6615
@simonthum the source of the discomfort with using `+` or `*` to represent function composition is that functions don't form a semigroup. OTOH, as you've observed, functions of matching input and output type *do* form a semigroup (actually a monoid), so the notation would be reasonable in that case. But note that the pipe `|>` doesn't demand that input and output types be the same, which makes it

[2016-10-24 07:57] gavinking commented on #6615
Hi, @welopino

Well, that's not quite right: the proposal I've presented above is *not* just for single-parameter functions. Though, of course, it's most natural in that case.

Well, no, that's not right at all. Ceylon [already has higher-order generics](https://ceylon-lang.org/blog/2015/06/03/generic-function-refs/), so the type `Category` (and even `Functor`/`Monad` can be easily represented in

[2016-10-24 08:21] gavinking commented on #6646
As of my latest commit, this seems to be working nicely. I still need:

- tests
- spec

[2016-10-24 08:35] someth2say commented on #6646
This kinda reminds me an old proposal that never became true: fully qualified references.
Something like:
[code]
I recall Gavin had no objections, and maybe still useful.

[2016-10-24 08:37] gavinking commented on #6646
@someth2say it can be done, but it's always looked pretty ugly to me. I prefer local `import`s personally.

[2016-10-24 08:49] FroMage commented on #6634
The first ones are due to accepting a `Integer?()` or `Null()` as parameter to a method which takes a `Integer()`. That seems wrong, the typechecker should reject that. I have to check why it doesn't.

[2016-10-24 09:09] FroMage commented on #6634
Ah OK that was the model loader doing shit.

The last one is more interesting because it turns out that due to `Null` being part of `Function<Null,Integer>` we're erasing it to a raw type, but that means my function declaration has to know that and match which type params have gone raw (damnit).

[2016-10-24 09:14] gavinking commented on #6558
I _think_ I have mostly implemented this, but I need @tombentley to give it a quick look-over.

[2016-10-24 10:05] FroMage commented on #6634
fixed.

[2016-10-24 10:05] #6634 closed

[2016-10-24 10:07] gavinking commented on #6634
Great!

[2016-10-24 10:08] gavinking commented on #6368
Reassigning to 1.3.2, since @FroMage says it won't make it into 1.3.1.

[2016-10-24 10:23] FroMage commented on #6646
I've always hated to find local imports in other languages like Scala or Perl, for no particular rational reason. Other than perhaps that I don't find it tidy, and people abuse it.

OTOH it's a pretty cheap solution for the problem at hand, even though I'd prefer annotating imports at the top. The only down-side is having to repeat those imports in every native block rather than have them apply to

[2016-10-24 10:24] FroMage commented on #6646
Qualified types are nice if you have a single one of them. If you start having more than 2 at the same place, I agree a local import (or an aliased global import) is better.

[2016-10-24 10:27] gavinking commented on #6646
Well it's a much bigger, more impactful change. I mean, currently we can't even represent a package `import` in an annotation constraint, much less read it from the metamodel, since there's just no metamodel-level representation of these things.

I mean, sure, we could hack them into the grammar as this totally special case thing that only `DeclarationVisitor` understands but .... _yew_.

[2016-10-24 10:28] gavinking commented on #6646
And the other thing is that apart from `native`, I have never seen any other single usecase for annotating a package import.

[2016-10-24 10:29] gavinking commented on #6646
Hell, package imports don't even *belong* to something with a representation in the metamodel: there is no metamodel for a `Unit`.

[2016-10-24 10:46] quintesse commented on #6502
Well in my simple tests looking at the generated MANIFEST this seems fixed, so closing.

[2016-10-24 10:46] #6502 closed

[2016-10-24 10:59] quintesse commented on #6646
Why do we even have imports in units? Just do an implicit `import foo { ... }` on every module import in the descriptor! :D *ducks and runs*

[2016-10-24 12:09] FroMage commented on #6646
So to summarise:

- No annotation constraint for import annotations: we could make a special-case metamodel declaration type that we can't read (dubious),
- No way to read them from metamodel: well, that'd be our first compile-time-only annotation I suppose, the metamodel would not read them, there's no point,
- No other single usecase for annotating a package import (super special).

Yeah, the im

[2016-10-24 12:12] FroMage commented on #6597
I can implement that if you're ready to test it?

[2016-10-24 13:01] quintesse commented on #6646
I think we can revisit the decision if we see they do. As a feature in and of itself I think it's nice to have and if at the same time it fixes this problem for very little effort then that's certainly an added advantage.

[2016-10-24 13:15] #6642 closed

[2016-10-24 13:20] gavinking commented on #6646
My guess is that since imports are generally written automatically by the IDE, and not by hand, then that's not likely. But if it really turns out to be a problem in practice, we could add a compiler warning for usage that we consider "abuse", that is, use of a local `import` for a name that:

- is not coming from a `native` module import, and
- is not importing a name that is already imported som

[2016-10-24 13:21] gavinking commented on #6642
thanks

[2016-10-24 13:23] gavinking commented on #6597
@FroMage There are a couple of examples on this page:

- <https://ceylon-lang.org/documentation/1.3/reference/repository/overrides/#example_hibernate_jpa_solution_2>
- <https://ceylon-lang.org/documentation/1.3/reference/repository/overrides/#example_spark_framework>

[2016-10-24 13:27] FroMage commented on #6597
Well, spark works without this flag, I have tests for it. I'll try hibernate.

[2016-10-24 13:30] gavinking commented on #6597
Oh, haha:

I, um, wrote that myself...

[2016-10-24 13:31] FroMage commented on #6597
And even then it's only for run-time. The compiler doesn't even need that flag ;)

[2016-10-24 13:32] Tokiru opened #6647 "Add support of passing jvm arguments to "ceylon" command"
Desired syntax is something like `ceylon run foo.bar.baz/3.2.2 --jvm-opts="-Xcomp XX:+PrintStubCode"`. At the moment this can be achieved by putting arguments to environment variable `$JAVA_OPTS`

[2016-10-24 13:39] lucaswerkmeister commented on #6647
The syntax you proposed can’t happen – all arguments after the module name in `ceylon run` must be the arguments to the program, which end up in `process.arguments`.

And it seems kind of arbitrary to hard-code the name of tools that get this treatment… perhaps the semantics could be: the `--jvm-opts` arguments can only occur before the first argument that does not start with a dash (the command n

[2016-10-24 13:41] DiegoCoronel commented on #6597
This is a [working project](https://github.com/DiegoCoronel/ceylon-spring-boot/tree/master/bar) that uses bom's and i was only able to run with gradle plugin

[2016-10-24 13:42] FroMage commented on #6647
Yes, those options must come _before_ the tool name, absolutely.

[2016-10-24 13:51] jvasileff opened #6648 "Java impl for Array() makes incorrect assumption about List.getFromFirst() complexity"
The Java backend's `Array` constructor attempts to optimize creating arrays from `List`s, but incorrectly assumes `List.getFromFirst()` is always an O(1) operation (see `Array.java`'s `createArrayFromList`).

The program below takes 1 hour to complete, instead of milliseconds:

[code]

on the JVM:

[code]

performance on Dart and JS is good:

[code]

[2016-10-24 13:52] FroMage commented on #6597
But that one also requires BOM support from the CMR so it's not something I can use.

[2016-10-24 14:06] DiegoCoronel commented on #6597
ohh, sry, in my mind it was going to be fixed here also

[2016-10-24 14:24] FroMage commented on #6597
So it looks like I can derive the following behaviour from the tools:

Compiler:

- By default treats maven deps as non-exported, will have model errors if one imported type exposes transitive imports to your code
- With `--auto-export-maven-dependencies` still treats maven deps as non-exported, but will not have model errors if one imported type exposes transitive imports. But you won't be able t

[2016-10-24 14:51] #6644 closed

[2016-10-24 14:59] quintesse commented on #6647
Sure, I didn't correct him because it's not something users would necessarily know. But indeed I'd add `--java` options to the `ceylon` command itself, which means they must appear *before* the first sub-command name.
I'd call them `--java` because we already have `--javac` so it seems more consistent that way.

[2016-10-24 15:02] quintesse commented on #6647
Btw @lucaswerkmeister , you did several improvements for the startup scripts/commands, you wouldn't feel like taking up the parsing of those arguments in those scripts, would you? ;)
(Being options for the `ceylon` command itself they always need to be of the form `--java=...`, meaning they need the `=`)

[2016-10-24 15:20] lucaswerkmeister commented on #6647
I’ll gladly do it for the `ceylon` scripts, but I know nothing about batch and don’t have a Windows machine to even try it out on. (I mean, I wouldn’t be opposed to a *nix-exclusive feature either ;) )

[2016-10-24 15:29] quintesse commented on #6647
Yeah, unfortunately the Unix bit is the easy part ;)
Still if you are willing to do it, create a branch for it and such, so somebody else can pick it up and add Windows support that would be great.

[2016-10-24 15:31] lucaswerkmeister commented on #6647
Question: Do we put `JAVA_OPTS` or `--java` first when calling `java`? I would think the environment variable should override the command line option, so I’d put `--java` first.

[2016-10-24 15:35] quintesse commented on #6647
I'm of the opposite opinion, the environment variable is easy to set for an entire shell in some startup script, you could then not easily override it except by unsetting it again. On the other hand you need to explicitly type in each `--java` option, you don't do that by accident. So I'd argue that explicit `--java` options override possibly non-explicit environment variables.

[2016-10-24 15:35] jvasileff commented on #6647
Really? I would think `JAVA_OPTS` would be something generic specified in `.bashrc`, and the args would provide overrides.

[2016-10-24 15:36] jvasileff commented on #6647
@quintesse beat me.

[2016-10-24 15:36] quintesse commented on #6647
By 12 seconds ;)

[2016-10-24 16:40] FroMage commented on #6597
Actually those Spring modules are not jar-less. Neither are most Swarm modules now, except for their BOM which is only used to set versions, which we won't support easily.

[2016-10-24 16:43] FroMage commented on #6597
So now I get hundreds of (duplicate) errors of the form:

[code]

Because they vary in the `via import path` but they're really the same error and it sucks that we drown them with near-duplicates.

[2016-10-24 16:47] #6605 closed

[2016-10-24 16:50] FroMage commented on #6597
I'm drowning in version conflict errors with this setting. I'm afraid we'll have to change how we resolve versions in order for this to be remotely useful.

[2016-10-24 17:03] gavinking commented on #6605
Thanks!

[2016-10-24 17:30] FroMage commented on #6597
After adding 16 version overrides I'm left with the following missing modules:

[code]

[2016-10-24 17:30] FroMage commented on #6597
16 version conflicts that were responsible for hundreds of errors, we have to fix that.

[2016-10-24 20:48] jvasileff commented on #6646
Untested, but I suspect the backends will need to account for this regarding imports of members of top-level objects. See #5892 and the fix that searches `expr.getUnit().getImports()`.

[2016-10-24 20:51] gavinking commented on #6612
I have added a couple of little tests, but I realized I still can't *really* reproduce the behavior of the Java model loader, since I don't have abstractions. So this is enough for now, I guess.

[2016-10-24 20:51] #6612 closed

[2016-10-24 20:56] gavinking commented on #6646
@jvasileff it seems to work for me, with both the Java and JS backends.

[2016-10-24 21:06] jvasileff commented on #6646
Ok, but there's a trick: the member has to be inherited for it not to work.

This fails on three backends (add to a module named `simple`):

[code]

[2016-10-24 23:07] jvasileff commented on #6646
Should there be more restrictions? The code below works, but the ordering and nesting of nodes in the AST doesn't match the source code.

[code]

[2016-10-25 08:13] FroMage commented on #6485
The problem with BOMs is that they don't declare dependencies, but versions for dependencies. You still have to import the dependencies you want, just not with their versions. https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html explains it. The BOM itself has no dependency. This is more like `set` in our overrides, but allowing you to `import` modules with no ver

[2016-10-25 08:19] FroMage commented on #6597
`mail`, `ejb`, `faces` and `activation` are `provided`, so Maven would never resolve them. Perhaps at compile-time we should avoid them?

OTOH we can't very well avoid `provided` things like `servlet` if we're compiling a servlet ourselves. I'm not sure of the logic that would make this pass.

[2016-10-25 08:21] FroMage commented on #6597
`com.mysema.querydsl:querydsl-apt/3.6.9` is also `provided`, so is its import `org.springframework.roo:org.springframework.roo.annotations/1.2.3.RELEASE`

[2016-10-25 08:25] FroMage commented on #6597
@DiegoCoronel how do you run the spring app if I even get it compiled?

[2016-10-25 09:13] FroMage commented on #6597
FTR those `provided` packages exist as POMs but have no associated `.jar` files.

[2016-10-25 09:18] gavinking opened #6649 "loop over range should use 'int' variable if endpoints are 'small'"
Given:

[code]

Or:

[code]

The compiler should use an `int` for the loop variable `i`.

[2016-10-25 09:19] quintesse commented on #6597
Btw, only slightly related, but would it be useful to have the `--provided-module` from `ceylon war` also available for `ceylon compile/run`?

[2016-10-25 09:43] gavinking commented on #6485
Well that doesn't sound unreasonable. You mean no-version imports in `module.ceylon`, right?

[2016-10-25 09:44] FroMage commented on #6485
Yes.

[2016-10-25 09:52] gavinking commented on #6485
Sounds OK. Or, alternatively, you just write:

    import "group.id:artifact-id" "?";

And the BOM overrides `"?"` to something meaningful.

[2016-10-25 10:18] FroMage commented on #6597
OK, what I can do is turn those errors into warnings, that's probably the most sensible.

Now, I'm left with http://central.maven.org/maven2/org/springframework/cloud/spring-cloud-starter-eureka/1.1.2.RELEASE/spring-cloud-starter-eureka-1.1.2.RELEASE.pom which for some reason does not let Ceylon access its dependencies. Perhaps because the versions are not recorded in it? I have to check.

[2016-10-25 10:44] FroMage commented on #6597
No, that was because it had `Properties` including `downloadUrl`, that I was unknowingly checking using `Artifact.equals`. Man, what a stupid bug.

[2016-10-25 10:48] FroMage commented on #6597
Now I'm getting several:

[code]

I wonder where they come from.

[2016-10-25 10:49] FroMage commented on #6597
Oh great more conflicts.

[2016-10-25 11:00] FroMage commented on #6597
So with these overrides it now compiles:

[code]

Now I have to find a way to make the compiler behave like `--flat-classpath` at runtime and auto-select the latest versions so I don't have to do this.

[2016-10-25 11:02] FroMage commented on #6597
Oh I can just try to run it, fine. But then even in `--flat-classpath` I get errors for the missing artifacts:

[code]

This is pretty nuts because this is outside of an app server so there's no `provided` shit. If it really depends on those being there I don't think it will work.

[2016-10-25 11:03] FroMage commented on #6597
Perhaps I'm missing a Maven repo, and it actually exists in the spring repos?

[2016-10-25 11:03] FroMage commented on #6597
That's the most likely explanation, frankly.

[2016-10-25 11:06] DiegoCoronel commented on #6597
Right. You can ser the repo here:https://github.com/DiegoCoronel/ceylon-spring-boot/blob/master/bar/build.gradle

[2016-10-25 11:30] DiegoCoronel commented on #6597
This is how i run my code: https://github.com/DiegoCoronel/ceylon-spring-boot/blob/master/README.md.

[2016-10-25 11:37] MikhailMalyutin opened #6650 "bad operand type Boolean for unary operator '!' error message"
I have next error:

error: Ceylon backend error: bad operand type Boolean for unary operator '!'
            if (!filterPredicate.apply(storage, JInteger(element))) {

But if I write next:

[code]

then all compiles fine

Additionally - IDEA plugin doesn't display this error, but compiler does

[2016-10-25 12:41] FroMage commented on #6597
We should really support defining Maven repos on the CLI, rather than requiring a ton of XML in `settings.xml`…

[2016-10-25 12:50] FroMage commented on #6597
Well, so that Maven repo solves _some_ missing artifacts, but I still get no jar for https://repo.spring.io/libs-milestone/javax/mail/mail/1.3.2/ (it's only in 1.4). Now, perhaps it's not meant to have an API, but I'm pretty sure it should.

Perhaps there's something in the Maven overrides that should hide it, though, because I don't see it in the gradle-generated `build/overrides.xml` file. Or pe

[2016-10-25 12:51] bjansen commented on #6597
I think the `aether` prefix should be renamed to `maven`, because the fact that we're using Aether is an implementation detail that shouldn't be leaked to users.

The following options would be more convenient I believe:

* `--rep=maven:http://bits.netbeans.org/maven2` for direct repo urls
* `--rep=maven:mySettings.xml` for relative paths to settings
* `--rep=maven:/absolute/path/to/mySettings.xml

[2016-10-25 13:38] jvasileff commented on #6646
Duplicate import aliases aren't being detected. For example:

[code]

[2016-10-25 14:00] FroMage commented on #6597
@bjansen can you open another issue, for 1.3.2 please?

[2016-10-25 14:01] FroMage commented on #6597
OK so now I read jarless Maven modules (for their dependencies), and that got rid of the remaining errors at the cost of yet another module version override. Note that this is not a BOM as it does define dependencies.

[2016-10-25 14:05] FroMage commented on #6597
Now when running I'm left with this:

[code]

Any idea @DiegoCoronel?

[2016-10-25 14:09] bjansen opened #6651 "Ability to provide a single Maven repo URL instead of a whole settings file"
Taken from https://github.com/ceylon/ceylon/issues/6597#issuecomment-256025584, it would be nice to have an easy way to configure a Maven repository, compared to the (very) verbose XML file that we currently have to write (create a profile with the repository URL, and then set that profile as default).

Additionally, I think the `aether` prefix should be renamed to `maven`, because the fact that w

[2016-10-25 14:12] FroMage commented on #6651
I'd change it to:

* `--rep=maven:http://bits.netbeans.org/maven2` for direct repo urls
* `--rep=maven:file:local-repo/` for direct repo urls (this is a relative file URI)
* `--rep=maven:file:///home/stef/local-repo/` for direct repo urls
* `--rep=maven:local-repo/` for direct repo urls
* `--rep=maven:mySettings.xml` for relative paths to settings files
* `--rep=maven:/absolute/path/to/mySettings.

[2016-10-25 14:13] FroMage commented on #6651
As in: also accept local repos, and make the `:` optional for the last case.

[2016-10-25 14:14] bjansen commented on #6651
Right, I forgot about local repos :)

[2016-10-25 14:27] FroMage commented on #6597
OK, so somehow I pull in logback:

[code]

But it's not in the Gradle-generated overrides. Now I have to figure out who pulls it in :(

[2016-10-25 14:34] quintesse commented on #6597
@bjansen actually `aether:` is just one option, you can also use `maven:` or `mvn:`, it's the same thing.
I left the 'aether:' in to be backwards compatible. But we should just use `maven:` everywhere.

[2016-10-25 14:37] quintesse commented on #6651
Btw, as I remarked on the original issue: `maven:` and `mvn:` both already exist.

I strongly disagree with this. It makes it very ambiguous what `--rep maven` means. I know it's not very common but this is just asking for trouble in the case a local `maven` folder exists. I should have put my foot down originally but I'm certainly doing so now ;)

[2016-10-25 14:39] quintesse commented on #6651
Btw, the `maven` without the `:` already works, but I think we should dissuade people from using it, treating it as deprecated.

[2016-10-25 14:42] FroMage commented on #6597
I wonder why `ceylon info` is much slower than `ceylon run --flat-classpath` since they essentially all traverse every dependency. As in 10 minutes compared to 5 seconds.

[2016-10-25 14:44] quintesse commented on #6597
10 minutes??? Are you sure it's not downloading Ceylon itself? Multiple times? I mean, that's just ridiculous

[2016-10-25 14:52] bjansen commented on #6651
That's good to know, I changed the IDEs to use `maven:` instead of `aether:` :). I think we should also update the documentation (like [this page](https://ceylon-lang.org/documentation/reference/repository/maven/)) to replace `aether:` with `maven:`.

[2016-10-25 14:53] gavinking commented on #6597
@quintesse Please update all the docs. They all still use `aether:`, so you're the only person who knows this is wrong.

[2016-10-25 15:11] gavinking commented on #6646
@jvasileff I don't especially see why that should be disallowed. You're allowed to hide names in outer scopes with a local `import`.

[2016-10-25 15:13] jvasileff commented on #6646
Makes sense.

[2016-10-25 15:14] FroMage commented on #6651
OK, you're right I didn't think about that.

[2016-10-25 15:21] FroMage commented on #6597
Oh, that's because we use `completeVersions` which looks for version ranges, even though we're really not completing versions: we want a single version.

[2016-10-25 15:33] quintesse commented on #6651
Already done on the website ;)

[2016-10-25 15:40] bjansen commented on #6651
Thanks!

[2016-10-25 15:55] FroMage commented on #6597
Found who is importing logback:

[code]

[2016-10-25 15:58] FroMage commented on #6597
Sorry, that one's optional, the real one is:

[code]

[2016-10-25 16:00] FroMage commented on #6597
Funnily, neither `spring-boot-starter` nor `spring-boot-starter-logging` have overrides in the gradle-generated overrides. Not sure why.

[2016-10-25 16:02] DiegoCoronel commented on #6597
do you mean the generated overrides o linked?? if yes then its because this exclusion in gradle file:
[code]

[2016-10-25 16:03] FroMage commented on #6597
@DiegoCoronel can you really compile this using Gradle? I can't I get lots of errors. If yes what's the exact command? And what version of Gradle?

[2016-10-25 16:05] FroMage commented on #6597
Well, you have an exclusion in Gradle that does not end up in the generated overrides file, so Ceylon can't use it. How do you run your project from Gradle?

[2016-10-25 16:06] FroMage commented on #6597
Oh, it looks like the Gradle task that generates overrides can't deal with the `maven:` prefix, perhaps that's why I can't compile using Gradle.

[2016-10-25 16:10] FroMage commented on #6597
I'm not done in this experiment and I'm already at 52 modified files, some of which will require changes in the IDEs.

[2016-10-25 16:17] DiegoCoronel commented on #6597
ohhh, sry, you need to use 1.3.0 gradle-ceylon version

[2016-10-25 16:22] DiegoCoronel commented on #6597
Ill update this project, but just change the versions to 1.3.0 is enough:

`classpath "gradle.plugin.com.athaydes.gradle.ceylon:ceylon-gradle-plugin:1.3.0"` and
`id "com.athaydes.ceylon" version "1.3.0"`

[2016-10-25 16:25] FroMage commented on #6597
Ah OK thanks. Well it builds now, but if I do `gradle build` it loops infinitely in `:testCeylon`. How do you build and run it, exactly?

[2016-10-25 16:31] DiegoCoronel commented on #6597
You can use: gradle runCeylon or you can run as ceylon application.

[2016-10-25 16:34] FroMage commented on #6597
OK I found how to run it: `gradle runCeylon`.

[2016-10-25 16:36] FroMage commented on #6597
And I found the `logback` mystery: the gradle ceylon tool creates an override (it's not removed there) AND a maven repo where the `.pom` files are generated to reflect the logback exclusion, so that's how.

OK mystery solved. Now I go back to making the compiler auto-select the latest versions.

[2016-10-25 16:45] FroMage commented on #6597
Damn, another bug is that `ceylon run` doesn't seem to respect my specified `settings.xml` file.

[2016-10-25 16:47] FroMage commented on #6597
Perhaps our usage of aether would be faster if we kept the session open between requests…

[2016-10-25 16:48] FroMage commented on #6597
Now I have to wonder WTF `ceylon run` downloads a shitload of Maven deps when `ceylon compile` did not.

[2016-10-25 16:53] FroMage commented on #6597
Pfff, it did not skip optionals, that's crazy I was sure it did.

[2016-10-25 16:53] FroMage commented on #6597
So now:

[code]

[2016-10-25 16:55] FroMage commented on #6597
Yeah we're missing `xnio-nio`, but why?

[2016-10-25 17:15] quintesse commented on #6485
For this to work properly tools would have to warn us at compile time that we need to specify those versions in an overrides file. Although my first preference would be to leave out the version instead of using a `?` it does make it more difficult to give nice error messages because the intention of the programmer is more ambiguous: did they mean to use overrides or did they just forget the versio

[2016-10-25 18:04] DiegoCoronel commented on #6597
In my example it comes from `spring-boot-starter-undertow` as you can see in this snippet:
[code]

[2016-10-25 18:22] tombentley commented on #6649
I think that must be a regression. I'm pretty sure that's what I
implemented when I did small

On 25 Oct 2016 10:18, "Gavin King" <notifications@github.com> wrote:

[2016-10-25 18:27] DiegoCoronel commented on #6597
Yes, thats an old issue, if you Look at my gradle file you can ser i remove
the log module .. im on my phone now, sry about those short message

Em ter, 25 de out de 2016 10:05, Stéphane Épardaud <notifications@github.com>
escreveu:

[2016-10-25 18:50] jvasileff commented on #6649
What should this print?

[code]
Similarly confusing today:
[code]
`val` could be defined in another package, with `small` being non-obvious. Perhaps something like `list.size`. (Ok, that would be a big list, but you get the idea.)

Combining the examples:
[code]
What hint do I have that `i` is a `small Integer` rather than `Integer`?

[2016-10-25 20:21] jvasileff commented on #6649
A few interesting cases:

[code]

[2016-10-26 00:58] ncorai opened #6652 "Add Dart's cascade/chaining operator `..`"
Here's a request that is based on #4049 but with a simpler scope that eschews the complexity from that request: add a `..` operator that desugars to reusing the instance at the start of the chain.
[code]
would desugar to
[code]
It can be argued that the benefit of readability afforded by fluency isn't worth tailoring APIs for it, especially as Ceylon isn't leaning toward it in the first place, but

[2016-10-26 01:16] ncorai commented on #6652
Just realized this would conflict with the spanned range operator if there were only one chain link and the values were of the same `Enumerable` type. And a different operator would lose the consistency with Dart.

Could we simply declare that, in such a case, the range operator wins, and the user will have to do without sugar?

[2016-10-26 01:42] jvasileff commented on #6616
This is unscheduled and has two down votes. Closing.

[2016-10-26 01:42] #6616 closed

[2016-10-26 06:18] bjansen commented on #6494
From their MANIFEST:

Implementation-Version: 1.5.2.Final
Archiver-Version: Plexus Archiver
**Java-Version: 1.8.0_92**

😕

[2016-10-26 06:35] gavinking commented on #6649
@jvasileff That's immensely contrived.

[2016-10-26 07:14] gavinking commented on #6652
I've argued before that this isn't a natural thing in Ceylon because:

- chained setters simply isn't an idiom in Ceylon; we use constructors with named arguments instead, and that's a much more elegant and flexible syntax, and
- it doesn't even work for chaining Java setters, since they are transformed to settable attributes, *not* to setter methods.

The one case where it *does* work is where yo

[2016-10-26 09:11] tombentley commented on #6622
For model loading we've previously set the `Declaration.isDefault()` flag when the method mirror is non-`final`. But in EE mode all methods are non-`final`, which means we should fallback to using the `@Default` annotation, but only when loading EE-mode classes. Which means we need to know a class was compiled in EE mode. Annoying. Or we add a `@Final` annotation in lieu of `final`. I think I pref

[2016-10-26 09:18] gavinking commented on #6622
I think that's reasonable. It will be more reusable if there are other cases in future where we need to suppress the `final` modifier.

[2016-10-26 09:38] FroMage commented on #6597
OK that's another weirdness then, because https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-undertow/1.3.5.RELEASE does not define those dependencies.

[2016-10-26 09:40] FroMage commented on #6597
Oh, it's undertow which has a `runtime` dependency for it:

https://mvnrepository.com/artifact/io.undertow/undertow-core/1.3.22.Final

Damnit, currently we don't do anything with `runtime` dependencies.

[2016-10-26 10:01] FroMage commented on #6597
Now it looks like we're not selecting the right versions…

[code]

[2016-10-26 10:10] FroMage commented on #6597
Actually it seems to be due to:

[code]

Which is an old version of Spring (the new version has a different name). I wonder how Gradle replaces it.

[2016-10-26 10:11] FroMage commented on #6597
Next:

[code]

[2016-10-26 10:12] FroMage commented on #6597
Due to:

[code]

[2016-10-26 10:15] FroMage commented on #6597
So to recap my TODO list:

- Add `runtime` support for the CMR/aether at runtime
- Auto-select latest versions in compiler
- Remove duplicate errors for conflicting modules in compiler
- Figure out why Gradle can remove `servlet-api` and `spring` (probably Maven overrides)
- Check why Aether ignores my settings for `ceylon run`

[2016-10-26 10:36] quintesse commented on #6494
Pfff, and no way to figure out which version still supports Java 7, right?

[2016-10-26 10:40] quintesse commented on #6494
Ok according to http://search.maven.org/#artifactdetails%7Corg.jboss.modules%7Cjboss-modules%7C1.4.5.Final%7Cjar version 1.4.5.Final already uses Jav a8, so we were actually using the last version that was released for Java 7.

So I'm guessing we revert my commits and put this issue on the back-burner until we switch to using Java 8 as the minimal Java version for Ceylon at some point? Any other i

[2016-10-26 11:06] bjansen commented on #6494
Since we're embedding the jar, there might be a slight chance that we can compile it from sources using a JDK 7?

[2016-10-26 11:14] quintesse commented on #6494
Well we were actually trying to get away from that. The Gradle build for example doesn't need any embedding, all 3rd party dependencies can be downloaded.
But I saw Java 8 code (use of `default` methods for example), so I'm doubtful we could actually compile with Java 7, but perhaps with source level 1.8 and target 1.7? Not sure it's worth the trouble of basically maintaining our own "fork" just f

[2016-10-26 11:16] FroMage commented on #6494
No, let's stick to the 1.7-compatible version for now.

[2016-10-26 11:21] gavinking commented on #6615
There has been some discussion between @someth2say, @luolong, and myself on the gitter channel. Both @simonthum and @someth2say have been pushing in the direction of a syntax for function composition, instead of the F#-style "piping" at the value level.

It seems to me, however, that `|>` can do *both*. It looks like `|>` is a perfectly well-defined associative binary operator meaning:

- applicat

[2016-10-26 11:24] gavinking commented on #6615
Well, OK, there's this one:

- LHS: `Object(Object)`
- RHS: `Object(Object)`

That case is indeed ambiguous :-/

[2016-10-26 11:49] FroMage commented on #6597
Next:

[code]

[2016-10-26 11:52] FroMage commented on #6597
Oh that's Java8 actually.

[2016-10-26 11:55] FroMage commented on #6597
[code]

No. Idea.

[2016-10-26 11:56] FroMage commented on #6597
Oh, same with Gradle. Pfew.

[2016-10-26 12:22] FroMage commented on #6597
96s for `ceylon info` with one session per query vs 94s with a single session says NO.

[2016-10-26 12:28] someth2say commented on #6615
Well in fact, anything that
- LHS: `Callable(A,B)`
- RHS: `Callable(X,Y) given Y satisfies Callable(A,B)`
In other words, if `RHS` accepts as `Y` a parameter, and `LHS` satisfies `Y`, we have an ambiguity.

I can see several approaches for solving the ambiguity:
- Use the `( X |> Y |> Z)(param)` syntax (yes, I know I am being boring). This implies `|>`will never means _application_, just always _c

[2016-10-26 12:32] gavinking commented on #6615
Well, yes, of course. And can you think of any other type than `Object` or `Anything` that would satisfy you that? I can't.

[2016-10-26 12:37] FroMage commented on #6597
The old spring is included by `org.liquibase:liquibase-core`.

[2016-10-26 12:42] DiegoCoronel commented on #6597
com.netflix.discovery.shared.transport.TransportException: Cannot execute request on any known server
    at com.netflix.discovery.shared.transport.decorator.RetryableEurekaHttpClient.execute(RetryableEurekaHttpClient.java:111)

Thats ok ;) ... its because you did not start discovery... but im really happy to know you got same result without gradle.. its really amazing !!! You are the best \o/

[2016-10-26 13:02] bjansen commented on #6524
I'd like to submit an additional idea. I think parameters and return types are `@NotNull` most of the time, and `@Nullable` is more an exception than a regular case. To reduce the number of `@NotNull` annotations, we could introduce this third annotation (taken from [StackOverflow](http://stackoverflow.com/a/13522552/500478)):

[code]

For example, when we decide to use `@Nullable` in classes like

[2016-10-26 13:06] FroMage commented on #6597
No fun, these are the Maven overrides:

[code]

So the old Spring is not excluded, but both the old and new servlet jars are excluded. NUTS. We can't use that.

[2016-10-26 13:09] bjansen commented on #6524
For example, [this issue](https://github.com/ceylon/ceylon-ide-intellij/issues/545) is likely caused by the fact that `modelLoader.convertToDeclaration()` can return `null` in a very specific case. The code is something like:

[code]
with
[code]

If I add a `@Nullable` annotation to `modelLoader.convertToDeclaration()`, I'll have to also add a `@NonNull` annotation to `isForBackend`'s parameter in

[2016-10-26 13:17] tombentley commented on #6524
I have no objection to adding this @bjansen but:

1. We still need to test to see whether @FroMage's fix worked, and I'd rather to this before we go adding the new annotation (in case we end up reverting) and
2. I propose to leave the compiler adding `@NonNull` to everything in a declaration rather than trying to adjust it to try to use the new one (which would be rather hard I think)

[2016-10-26 13:20] bjansen commented on #6524
The only downside to this approach is that we need `javax.annotation.meta.TypeQualifierDefault`. I know that IntelliJ will only recognize this exact qualified name, I'm not sure about Eclipse.

[2016-10-26 13:24] FroMage commented on #6597
I'm trying to run Aether in a single run to let it deal with the exclusions but not having much luck, it doesn't look like I know how to call it because it's pulling in hundreds deps more than by doing it manually.

[2016-10-26 13:32] tombentley commented on #6524
Hang on, so `javax.annotation.meta.TypeQualifierDefault` is also JSR 305? The same JSR 305 which seems to be dormant, but which a whole bunch of projects seem to be using anyway?

[2016-10-26 13:34] bjansen commented on #6524
Exactly 😉. I guess they all thought JSR 305 was going to reach the "Final Release" stage eventually...

[2016-10-26 14:41] FroMage commented on #6597
OK so it appears that Gradle does not load the old Spring because it's `provided` and only loads non-`provided` modules. I don't see how that works at compile-time, frankly. Or at run-time when not using an app server.

[2016-10-26 14:42] tombentley opened #6653 "model-loading variable parameters"
With the recent change to `SearchableList.firstOccurrence` it has become apparent that we don't set the `variable` flag of `Value`s that are parameters.

In Java < 8 it's not possible to access the modifiers of parameters, so there's no way we could support this for the `ReflecationModelLoader`. Since the `variable`-ness of parameters cannot affect clients of a method, it seems pretty harmless to

[2016-10-26 14:46] #6653 closed

[2016-10-26 14:49] jvasileff commented on #6615
`... |> print` does seem useful though.

A couple other interesting examples:

[code]
(similar for `class X() satisfies X() {}`)

and this, which is an extension of the `Object(Object)` example:

[code]

[2016-10-26 14:52] gavinking opened #6654 "set uncheckedNullType correctly for iterators of Java collections/arrays"
Currently, iteration of a Java collection or object array results in a crash if the `for` loop encounters a `null` element. That's crap. It should use `uncheckedNullType`.

[2016-10-26 14:54] gavinking commented on #6654
Looks like the fix for this involves rolling back the previous fix to #4162, which looks to have been rubbish.

[2016-10-26 15:03] gavinking opened #6655 "handle nullable Java parameters consistently"
The new SAM conversion stuff handles return types in the inferred functional parameters using uncheckedNullType. But the way we've always handled passing `null` to a Java parameter in the past is by assigning an optional type to the Java parameter. We should be consistent about this.

[2016-10-26 15:07] FroMage commented on #6597
Well that one probably comes from `com.netflix.ribbon:ribbon-eureka:jar:2.2.0 (compile) excludes: javax.servlet:servlet-api:*:*` or one of the other Maven exclusions.

[2016-10-26 15:19] gavinking commented on #6654
Done, I think. That only took me all day :-(

[2016-10-26 15:19] #6654 closed

[2016-10-26 15:35] someth2say commented on #6615
Interesting.
First example:
Assuming you can satisfy `Callable` (currently you can't), you are in the ambiguity previously described.
You can't decide if `X` (the Callable) or `X` (the parameter)  will be the parameter for `f`.

Second example:
Can be rewritten as:
[code]
So in this example, desugaring `|>`operator, you have (allow me to abuse of `<=>`)
[code]
So whatIsIt is an `String(String)`.
Q

[2016-10-26 15:35] jvasileff commented on #6649
It's pretty normal for arithmetic operations on small numbers to result in large numbers, and 2 billion is really not very large. So I don't think it's safe to infer `small` on value declarations. If numbers larger than 2 billion were really out of the question, we could just use `int`s for everything.

As for optimizing loops with integer literal ranges, if anything it's probably *faster* in most

[2016-10-26 15:48] FroMage commented on #6597
OK that should be it. Now I have to adapt the `BaseModuleLoaderImpl` in order to solve the graph, collecting Maven overrides as it goes, in order to then feed the compiler with the right versions. The big mismatch is that the `BaseModuleLoaderImpl` was built to work with the CMR as source, while the compiler has additional module declarations in the form of module source files. Lots of unknowns th

[2016-10-26 16:11] ncorai commented on #6652
Its value is that it solves a design conundrum: currently, a method that returns the instance on which it is invoked can indicate two things:
* the object is immutable and returns a copy with the state altered, or
* the API is fluent and the same instance is returned in an altered state.

This dichotomous approach muddles the clarity of an API, and forces a choice on the designer. The cascade oper

[2016-10-26 16:24] gavinking commented on #6652
But this design conundrum simply doesn't exist in Ceylon, because the "builder pattern" isn't an idiom in Ceylon. The only builders one finds in Ceylon are Java APIs.

[2016-10-26 16:47] jvasileff commented on #6652
My two cents:

I've recently been re-exposed to Java's java beans and builders, and after having written so much code the "Ceylon way" (the Dart backend is basically a function from one immutable AST to another immutable AST), it's striking how much better the Ceylon approach is. One example: with Java Beans and builders, the type system can't tell you if you've properly initialized whatever you'r

[2016-10-27 08:52] FroMage commented on #6652
Note that you're all talking about builders, but that's not the only reason you want to chain calls:

[code]

Or even in the typechecker:

[code]

[2016-10-27 09:46] quintesse commented on #6652
But for that I'd rather have a `with` method [like Groovy](https://objectpartners.com/2014/07/09/groovys-with-and-multiple-assignment/) . Much nicer to look at, eg:

[code]

where the block is an actual code block, it's just that `context` is by default the scope to do lookups in. So you can do much more complex things with a nicer syntax IMO:

[code]

[2016-10-27 10:10] FroMage commented on #6652
Wasn't that a VB operator?

[2016-10-27 10:11] FroMage commented on #6652
Yeah: https://msdn.microsoft.com/en-us/library/wc500chb.aspx

[2016-10-27 10:13] quintesse commented on #6652
It already existed in Pascal, but then it would be a keyword and Groovy shows that's not necessary.

[2016-10-27 10:29] FroMage commented on #6597
I've no idea why Gradle excludes `provided` from the list at compile-time. https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Scope says:

I've no idea what "is not transitive" means here.

The table below is also hard to understand but it looks like if you have a `provided` dependency `A`, then you don't add its `provided` dependencies to the CP. You

[2016-10-27 10:36] tombentley commented on #6622
I have items 1 – 4 pretty much working on the `ee-mode` branch @gavinking, if you want to try it out. You'll need `--ee` on your command line (or `ee` in your config).

I still have to do the collection mapping. Presumably we map `c.l::List<c.l::Integer>` →`j.l.List<j.l.Long>`? What about `List<List<Integer>>`?

[2016-10-27 10:38] gavinking commented on #6622
@tombentley fantastic! That's _great_ news.

[2016-10-27 10:41] FroMage commented on #6597
Now, @luolong suggests that Gradle doesn't do `provided` scopes, unlike Maven, which is why the Gradle build does not have the conflicts that we do (we follow Maven rules more, I suppose).

[2016-10-27 10:42] quintesse commented on #6652
I can understand the reason for not wanting it in JS of course. There's no way to check if any member exists at any time so `with` would make it even easier to refer to non-existing members. Still that happens in JS all the time, if I do `foo.size = 10` and `size` does not exist it just got silently created.
In the link for not having it in C# I see no reason at all besides "people don't like it"

[2016-10-27 10:46] gavinking commented on #6652
I'm not hostile to `with`, FTR. I am, however, much more skeptical about things where the `with` is implicit like in Groovy builders or Kotlin. _Perhaps_ I could be persuaded, but frankly I find that sort of code quite difficult to reason about. I don't see, visibly, exactly *where* the implicit receiver is being introduced.

[2016-10-27 11:10] FroMage commented on #6597
OK, so Maven says this project has 147 deps. Gradle says 338. We say 331. We're still not quite where we want, I'm afraid.

[2016-10-27 11:15] FroMage commented on #6597
Actually no: the difference is that Gradle and we print duplicates, while Maven does not. We're all at/around 147.

OK, pfew.

[2016-10-27 12:51] quintesse opened #6656 ""Unsupported declaration type" error in metamodel while running SDK tests"
Getting the following error while trying to run the SDK tests:

[code]

[2016-10-27 14:41] FroMage commented on #6597
I'm going to pretend that I can visit the module graph and collect all Maven exclusions and apply them to the whole graph.

So that ignores that _in theory_ Maven exclusions are context-sensitive (which means that importing `C` from `A` with exclusions has different results to importing `C` from `B` with no exclusions).

That also ignores that the exclusions themselves can trigger removal of modul

[2016-10-27 15:06] FroMage commented on #6597
So the first victory is that I now only get those errors when compiling:

[code]

And not the hundreds of duplicate errors.

[2016-10-27 15:06] FroMage commented on #6597
Now, let's remove those errors :)

[2016-10-27 16:30] tombentley opened #6657 "destructure in for statements"
It seems there are a few `// FIXME DESCTRUCTURE` in the transformations for various `for` statements. We should fix those. Right now the just crash the compiler with a CCE.
#6632 is just the tip of the iceberg.

[2016-10-27 17:00] FroMage commented on #6597
Damnit. The compiler can't depend on the module loader module because it depends on the language module which depends on the compiler being ready to be compiled.

I don't want to add a new module either, not until the Gradle build replaces the Ant build.

[2016-10-27 17:33] gavinking commented on #6622
@tombentley it did not appear to like the default argument.

[code]

[2016-10-27 17:51] gavinking commented on #6622
That's with this:

[code]

[2016-10-27 18:39] LisiLisenok opened #6658 "Contextual<Element?> doesn't store `null`"
[code]

produces:
ceylon.language.AssertionError "Assertion failed violated exists result = threadLocal.get()"

[2016-10-27 18:48] jvasileff commented on #6658
So the question is... do we want/need to support optional values?

The straight forward fix would be to add `given Element satisfies Object`.

[2016-10-27 18:59] gavinking opened #6659 "--verbose=true crashes compiler in most inelegant way"
@quintesse would you take a look at this one please?

[code]

[2016-10-27 19:05] gavinking commented on #6622
@tombentley mind if I add an additional requirement at this point?

- Store `late` primitive values using a Java wrapper class instead of an extra field. For example, `late Integer id` would be persistent as `java.lang.Long id`.

[2016-10-27 19:10] LisiLisenok commented on #6658
I would keep <null>. Why it should be disgraced?

[2016-10-27 19:20] gavinking commented on #6622
Well, wait, perhaps that's not what I want after all. The issue is this warning:

That's not quite right, since it *can* be properly initialized now that we got rid of the initialization checking. And I'm not sure if it merits a warning at all now.

[2016-10-27 19:22] quintesse commented on #6658
Indeed @jvasileff , I'm not sure. Wdyt @gavinking ?

[2016-10-27 19:23] gavinking commented on #6658
I will fix it. There is an idiom for this.

[2016-10-27 19:32] #6658 closed

[2016-10-27 19:33] gavinking commented on #6658
Should now be fixed.

[2016-10-27 20:45] gavinking opened #6660 "cannot instantiate Contextual.Using in a subclass"
As reported by @LisiLisenok, this code does not compile:

[code]

A workaround is to write `try(super.Using(init)){}`.

If I copy/paste `Contextual` into my own project, the code _is_ accepted. I therefore suspect that the bug must be in the model loader.

[2016-10-27 22:53] gavinking commented on #6622
So this isn't actually very easy, but here's a couple of heuristics that might work:

- Enable it at the _class level_ if the class is annotated `entity` or `xmlAccessorType`,  or if it has a constructor, field, or method annotated `inject`.
- Enable it at the _package level_ if the package is annotated `xmlAccessorType`.
- Enable it at the _module level_ if the module imports `javax.javaeeapi` or

[2016-10-27 22:56] gavinking commented on #6622
Perhaps also turn it on for `stateless`, `stateful`, `messageDriven`, and `singleton`.

[2016-10-28 05:16] ncorai commented on #6652
I'm not crazy about `with`. Do the braces define a scope? I can find cons whether they do or not. And in the example above, how can I know if `done` is a variable defined outside the block or an attribute of the implicit receiver? The `..` operator on the other hand is much more obvious.

[2016-10-28 06:20] gavinking commented on #6622
Or perhaps we just autoenable it at the module level whenever the module directly imports:

- Java EE,
- JPA or Hibernate,
- JAXB, or
- JAX-RS.

That's much simpler.

Any others that should be on that list, DYT?

[2016-10-28 08:47] luolong commented on #6652
Apart from being ambiguous with range operator that Ceylon already has, the chained method call syntax seems like a neat trick.

[2016-10-28 08:50] tombentley commented on #6622
I like the idea of enabling it on a per-class basis according to annotations present. That's because we could easily make the enabling annotations configurable, so if people want EE-mode for Spring or any other thing it's not difficult for them to do it. It also means that only the required classes get EE-mode, and the rest still benefit from the ("better") default transformations. Obviously when

[2016-10-28 09:06] FroMage commented on #6597
Aw fuck, someone removes `org.springframework:spring-context` but it's required. Damnit.

[2016-10-28 09:11] FroMage commented on #6597
`net.sf.jasperreports:jasperreports` removes it.

[2016-10-28 09:12] FroMage commented on #6597
But it's not supposed to be there.

[2016-10-28 09:16] FroMage commented on #6597
Ah no it's removed by `org.springframework:spring-webmvc` for its `jasperreports` dep. Ah wait I'm doing it wrong, I'm including removals for non-compile imports.

[2016-10-28 09:24] FroMage commented on #6597
Yes, pfew.

[2016-10-28 09:30] FroMage commented on #6597
OK, finally I can compile the `bar` app with no overrides. And at run-time I only need one override to remove `logback`, like Gradle.

Now let's test the other apps in there.

[2016-10-28 09:43] FroMage commented on #6597
`gateway` compiles too.

[2016-10-28 09:46] FroMage commented on #6597
But it doesn't start with:

[code]

[2016-10-28 10:03] quintesse commented on #6652
@ncorai yes, they would. At least in my vision of this feature which is where it is just a method that get's passed a closure.

That's indeed something that could happen, but in a lesser way that's what happens now already: `done` could come from the enveloping scope, it could be a class attribute or a toplevel attribute. That's not always immediately obvious either. But sure, it would be an extra

[2016-10-28 10:04] FroMage commented on #6597
That should be because the runtime doesn't remove Maven exclusions yet

[2016-10-28 10:06] FroMage commented on #6597
OK, `gateway` runs.

[2016-10-28 10:09] quintesse commented on #6652
That's certainly true. But to be honest for me it would also be the only reason to support such a feature, because otherwise it *really* is about just saving a few keystrokes, instead of enabling people to write more "fluent" APIs.

[2016-10-28 10:10] quintesse commented on #6597
Wow! Sounds promising. Have you finally reached the light at the end of the (very long) tunnel? :)

[2016-10-28 10:16] FroMage commented on #6597
`discovery` compiles but does not run:

[code]

[2016-10-28 10:16] FroMage commented on #6597
There's improvement, but all is still in a hacked state and I haven't started to run existing tests.

[2016-10-28 10:26] gavinking commented on #6597
Does sound promising, yes.

[2016-10-28 10:27] FroMage commented on #6597
Apparently it's removed by `org.springframework.cloud:spring-cloud-netflix-eureka-server` but I don't see why from the POM.

[2016-10-28 10:30] gavinking commented on #6622
I agree that would be nice, but after some research I don't think it's really workable. It works well for JPA because you have the `entity` annotation. Also works for EJB, since you have component-defining annotations. Doesn't really work well for CDI, nor for JAXB.

[2016-10-28 10:35] gavinking opened #6661 "fix bugs in SAM conversions stuff exposed by IDE projects"
So I did some work on porting the IDE common and IntelliJ codebases to use the new SAM conversions stuff. I ran across several bugs. I've pushed a `sams` branch of each project which demonstrates these.

The compilation of `ceylon-ide-common` fails with:

[code]

The compilation of `ceylon-ide-intellij` fails with:

[code]

[2016-10-28 10:59] #6632 closed

[2016-10-28 11:00] tombentley commented on #6657
I've now fixed it for the particular case of Java arrays, still need to fix it for other kinds of loop (ceylon iterables, java iterables, ceylon arrays, and maybe more)

[2016-10-28 12:55] FroMage commented on #6597
Aether temms me that it's the `com.netflix.eureka:eureka-core:jar:1.4.4` dep of `org.springframework.cloud:spring-cloud-netflix-eureka-server:jar:1.1.0.RC1` that has the following exclusions:

[code]

But it doesn't appear to be true. It looks like an aggregation of all previous exclusions, plus that `xml` one I don't understand.

[2016-10-28 13:00] FroMage commented on #6597
OK found it: the parent POM of `org.springframework.cloud:spring-cloud-netflix-eureka-server:jar` has an `import` dep to the `spring-cloud-netflix-dependencies` POM, which does have those excludes:

[code]

[2016-10-28 13:04] FroMage commented on #6597
https://discuss.gradle.org/t/what-is-the-equivalent-of-the-maven-scope-import/7570/17 suggests Gradle does not support those imports, so perhaps that's why it doesn't have this issue. In any case, our behaviour is correct. I think that we should require you to add the dependency in your Ceylon module in this case and I'll make sure the exclusions can't exclude direct imports. That sounds like a de

[2016-10-28 13:23] FroMage commented on #6597
Damnit. That works at compile-time where we do see the direct import. But at runtime we only start `discovery`, so its imports are not _direct_, and we don't have any `do-not-exclude` directing in the overrides, where `remove` directives are pretty much final. Have to think of something.

[2016-10-28 13:24] FroMage commented on #6597
Well, we could add a `do-not-exclude` or `force` directive to the overrides.

[2016-10-28 13:34] FroMage commented on #6597
I am so sick of this shit. Honestly.

[2016-10-28 13:41] FroMage commented on #6597
Or, I could make it so dependencies of Ceylon modules can't be excluded by Maven exclusions.

But on the other hand, we already have tools that let us force extra modules to be loaded, such as `war`, `fat-jar` and yeah, even the `JavaRunner` from `CeylonToolProvider`. I could add the missing flag to `ceylon run` and call it done, but it's less IDE-friendly.

I can see value in supporting this in t

[2016-10-28 14:10] FroMage commented on #6597
OK it works.

[2016-10-28 14:20] FroMage commented on #6597
It appears I can now compile them all and run them all. Amazingly they also run under jboss modules. I don't quite know how, it's bothering.

[2016-10-28 14:21] DiegoCoronel commented on #6597
You mean without --flat-classpath ?

[2016-10-28 14:22] FroMage commented on #6597
Ah no, it's a config flag.

[2016-10-28 14:23] FroMage commented on #6597
Yeah, I mean without `--flat-classpath`. Now that I removed the config flag it fails due to transitive deps, but it should not: that part should work. It should rather fail about conflicting versions.

[2016-10-28 14:23] FroMage commented on #6597
At this point I don't even want to try to fix this issue since the next one won't be fixable easily and I doubt those things even run on jboss modules.

[2016-10-28 14:27] FroMage commented on #6597
So, new TODO:

- cleanup, commit
- support verbose/progress in compiler preload
- support maven overrides without user overrides
- verify dependency traversal logic in other tools, to deal with new Maven scopes
- run existing tests
- add tests
- update overrides XSD/docs
- update IDEs with API changes

[2016-10-28 14:51] gavinking opened #6662 "overloading resolution with SAM conversion"
Our existing rules for resolving overloads fall in a heap as soon as they run into a method overloaded by SAM types. I propose the addition rules:
- if given a `void` function, prefer the overload accepting a `void` SAM
- prefer the overload accepting a SAM with the same number of parameters as the given function.

[2016-10-28 15:44] jvasileff commented on #6565
I just ran into this again, but with a more confusing error message:

[code]
results in:
[code]

[2016-10-29 08:36] ncorai commented on #6652
Because of the overlap with the range operator, I don't feel 100% comfortable with adding this I'll admit, so I won't advocate it any further. As I realized after opening the issue, it would substitute the `..` operator ambiguity to the return value ambiguity, so not a clear win. I'll close this issue and you guys can move the `with` operator discussion to its own issue if need be.

[2016-10-29 08:36] #6652 closed

[2016-10-29 16:08] lucono commented on #6597
@gavinking:

So this change will allow IDE completion for transitive dependencies of maven modules directly imported by the Ceylon module?

Does that mean that the IDE will introduce the corresponding `import` statements into the module descriptor when an IDE-proposed import from a transitive maven dependency is accepted?

[2016-10-29 23:38] quintesse opened #6663 "Discussion: do we always need two import statements?"
So this is just something I thought about when reading the new Ceylon tour page about modules and came to the part about the Gotcha of Ceylon always needing [two import statements](https://ceylon-lang.org/documentation/1.3/tour/modules/#gotcha).

Reading that and remembering that quite a number of times when adding a new import to a module I go like "grrr, why am I basically copying this line twic

[2016-10-31 10:28] FroMage commented on #6597
Also need to check if the IDEs need support for feedback during pre-resolving.

[2016-10-31 10:28] FroMage commented on #6597
yes

[2016-10-31 10:42] quintesse commented on #6597
@FroMage I don't want to complicate your life even more, but in your investigation of the Aether monster's intestines did you by any chance come across any references to the downloading of native libraries? See #6638

[2016-10-31 10:45] FroMage commented on #6597
No, nothing specific to that.

[2016-10-31 11:22] xkr47 commented on #6515
Crazy stuff. Just when I felt totally comfy with not using static.. But I can't argue much with @gavinking's initial comment :)

[2016-10-31 11:23] FroMage commented on #6597
Running the tests, amazingly I only have three errors (compiling the SDK is one of them unfort), but I also have what appears to be a livelock at run-time in _some_ tests :(

[2016-10-31 13:20] bjansen opened #6664 "Create a JDK module for com.sun.jdi.*"
I'm trying to add code that deals with debuggers in ceylon-ide-intellij, and it looks like none of the current JDK modules allow me to import stuff from the `com.sun.jdi` package. FTR this package has been in `tools.jar` for a very long time (it was already in Java 1.5), it's also [in OpenJDK](http://openjdk.java.net/groups/serviceability/svcjdk.html#bJDI).

[2016-10-31 14:40] FroMage commented on #6597
OK the tests seem to pass, that's good news.

[2016-10-31 14:52] bjansen commented on #6664
Modifying `package-list.jdkX` is not enough, because `tools.jar` is not on the classpath when we call the compiler, so we need additional changes.

[2016-10-31 14:55] jvasileff commented on #6663
I would definitely find this useful, for module wide imports and especially for import aliases. I've experimented with using `alias`s for module wide imports, but that doesn't work well.

This would also address the same pain point as https://github.com/ceylon/ceylon/issues/6296.

The problem I see is that it may conflict with other possible additions to `module.ceylon`, such as overrides and list

[2016-10-31 14:58] bjansen commented on #6664
Reassigning to 1.4 because it needs more analysis.

[2016-10-31 15:02] bjansen commented on #6664
I pushed the new module here: https://github.com/ceylon/ceylon/tree/6664

[2016-10-31 16:02] FroMage commented on #6597
I did have to move a few types from `model-loader` to `cmr`. Those are normally not used by external clients, except the `ceylon.war` `WarInitializer` which means I'm breaking compat for old wars in new runtimes. How do you feel about that @gavinking @tombentley @quintesse ?

I think it's acceptable.

[2016-10-31 16:05] quintesse commented on #6597
The solution for them would be to re-create the war for the new runtime? Seems acceptable.

[2016-10-31 16:09] FroMage opened #6665 "NPE at runtime due to unchecked nulls"
Test #2058 fails at:

[code]

This is not right.

[2016-10-31 16:11] FroMage commented on #6597
Yeah, recompile the war with the latest `ceylon.war/1.3.1` if you run it on a `1.3.1` distrib.

[2016-10-31 16:26] jvasileff opened #6666 "inconsistent & incorrect KEY_SELF_TYPE in json model"
ATM I'm not sure what's correct, but it looks like `MetamodelGenerator` encodes `KEY_SELF_TYPE` inconsistently and in conflict with `JsonPackage`'s decoding.

For `encodeInterface`, the name is used for the value, which is consistent with decoding throughout `JsonPackage`:
[code]
but `encodeTypeAlias`, `typeParameterMap`, and `encodeClass` use the type as the value, as in:
[code]
In `JsonPackage`,

[2016-10-31 16:40] FroMage commented on #6597
OK, IntelliJ compiles, even though it will need support for the new option, but I'll leave that to @bjansen so I don't fuck it up.

[2016-10-31 16:42] FroMage commented on #6597
Eclipse compiles too, amazing.

[2016-10-31 16:43] #6597 closed

[2016-10-31 16:44] FroMage commented on #6597
OK, it's all pushed. I'll add issues to the IDEs to support this new flag.

[2016-10-31 16:44] FroMage commented on #6597
@DiegoCoronel do you mind testing your project with the new flag? You should need only minimal overrides and not require Gradle.

[2016-10-31 16:48] quintesse commented on #6597
Gratz on an incredible job Stef!

[2016-10-31 16:52] FroMage commented on #6597
OK, so you know what? Eclipse doesn't grok XML by default, I failed at trying to install it (boo Eclipse installer), and I can't even find any plugin for XSD. GRRRR.

[2016-10-31 16:54] DiegoCoronel commented on #6597
@FroMage ok, Ill do it tonight and let you know

[2016-10-31 17:45] gavinking commented on #6597
Wooooo hoooo thanks Stef!

[2016-10-31 18:41] quintesse commented on #6597
Btw, seeing that we now introduced the idea of module scopes into our own code base, does that mean we could start supporting "provided" Ceylon modules as well?

[2016-10-31 19:02] quintesse commented on #6597
Oh and another question: when would one now use the **auto-** versus the **full-maven export** option?

[2016-10-31 19:23] jvasileff commented on #4779
This issue is now obsolete, which is really great news. Closing.

[2016-10-31 19:23] #4779 closed

[2016-11-01 03:00] DiegoCoronel commented on #6597
@FroMage Perfect \o/ ... but with one issue:
- In my project discovery i was forced to add to my overrides.xml:
[code]
Without this or even adding this in my `module.ceylon` I got ClassNotFoundException, its like the exclusions occurs even if i declare explicit in my `module.ceylon` and only works in `overrides.xml` file

I pushed the changes to support this feature to [my new branch](https://gith

[2016-11-01 07:11] sadmac7000 opened #6667 "Object members can't be named "value""
This:
[code]
Gives this:
[code]

[2016-11-01 07:52] xkr47 commented on #6558
Will this propagate to Strings as well or not?

[2016-11-01 07:53] xkr47 commented on #6558
... which reminds me I've always wanted 8-bit strings in Java.. even implemented it once :)

[2016-11-01 08:41] gavinking commented on #6558
Well, no, strings are already UTF16 encoded, so they already contain small Characters.

[2016-11-01 08:50] xkr47 commented on #6615
just gotta say I don't especially like `|>` .. it would be nice to use unicode characters....

[2016-11-01 09:30] gavinking commented on #6665
Ouch!

[2016-11-01 09:36] gavinking commented on #6662
@FroMage TBH, I don't really understand what's going on here. What I have is an overloaded method of a Java API something like this:

[code]

I call it from Ceylon like this:

[code]

And for some reason I just don't understand, your fancy overload resolution algorithm resolves `run()` to the version which takes a `Callable`, and then we error out because `Anything()` is not assignable to `Object?

[2016-11-01 09:45] gavinking commented on #6622
@tombentley, what's your reaction to this?

[2016-11-01 09:46] gavinking commented on #6585
@tombentley would you take a look at this one please?

[2016-11-01 10:00] gavinking commented on #6559
A probably solution to this would be to get rid of the separate `"char"` rule in `ceylon.js`, and change the `"string"` rule to this:

     pattern: /'([^'\\\n]|\\.)*'|"""([^"]|"[^"]|""[^"])*"""|(``|")([^"\\`]|\\.|`[^`"])*(`"|``|")/gm

i.e. recognize character literals as string literals.

Want to try that, @lucaswerkmeister?

[2016-11-01 10:08] gavinking commented on #6559
Actually, @lucaswerkmeister, you can try this patch:

[code]

[2016-11-01 10:09] gavinking commented on #6552
@FroMage @fwgreen this might already be solved, right? With the latest changes to Maven integration?

[2016-11-01 10:10] gavinking commented on #6614
@chochos any feedback on this?

[2016-11-01 11:32] lucaswerkmeister commented on #6559
Well, I already have a fix for the upstream bug (ccampbell/rainbow#209), so we could just apply that to the version we ship with ceylondoc if they’re not going to merge it anytime soon.

[2016-11-01 12:07] dlkw opened #6668 "Default value for type argument does not match inferred type"
When using a type parameter with default value depending on another type parameter, the default value is set only when the other type argument is explicitly given:
[code]
The code above should print `ceylon.language::Integer` four times, but instead prints
[code]

[2016-11-01 12:30] lucaswerkmeister commented on #6668
I think this is correct and per-spec: default type arguments are only used when you have a type parameter list (§3.6.3); type argument inference (§3.6.5) does not use default type arguments. Since `Sub` does not occur anywhere in the signature, it is treated as covariant (“finally, if none of the above cases apply…”), and the best inferred type is thus `Nothing`. But @gavinking should probably loo

[2016-11-01 12:42] lucaswerkmeister commented on #6667
`value` is also the `private static final` variable where the object instance is stored. Fortunately, we should be able to rename it without any BC problems, since it’s purely internal; we just need to update the static initializer and `get_`.

[2016-11-01 12:46] lucaswerkmeister opened #6669 "Object method can’t be named “get_”"
I found this while looking at #6667:
[code]

[2016-11-01 12:51] tombentley commented on #6669
There used to be a compiler error for names ending `_`. I don't know what happened to that, but it should prevent you writing `get_()`

[2016-11-01 12:52] tombentley commented on #6667
Yeah, this should be a trivial fix.

[2016-11-01 12:53] tombentley commented on #6622
@gavinking I'll be pushing fixes to the branch shortly.

[2016-11-01 12:57] lucaswerkmeister commented on #6669
It still exists, but only for toplevel declarations:

It was changed from “identifiers ending in…” to its current form in e8ceb04eb2da5253cde21885acd4c08353b40b01, almost exactly three years ago. (Damn, if only I’d found this yesterday… :D )

[2016-11-01 13:44] tombentley commented on #6622
@gavinking I've updated the branch:

* We now enable EE mode automatically when: `javaee-api` is a direct dependency of the module, or a class is annotated with any of various annotations.
* The enabling module imports and annotations are configurable via `--ee-import` and `--ee-annotation` respectively. Setting these replaces (rather than adds to). `--ee` is still supported.
* The warning about `

[2016-11-01 13:48] quintesse commented on #6622
@tombentley can't we do something like `--ee=import` and  `--ee=annotation` where `--ee` would be the same as specifying  `--ee=import,annotation`? All these extra options seem to me will only muddle the help/docs.

[2016-11-01 13:50] quintesse commented on #6622
Sorry forget that, I hadn't understood they took arguments.

[2016-11-01 16:12] dlkw commented on #6668
If this is true, it's counter-intuitive in my opinion. Maybe the "bug" is §3.6.3 of the spec because nobody has thought of inferred type args here (which I doubt), or maybe there is a deeper reason why it cannot be possible to respect inferred type args as values for default type args.

[2016-11-01 16:55] tombentley opened #6670 "PatternIterators and Java arrays"
The typechecker allows this:

    ObjectArray<Integer->Float> entries = nothing;
    for ([Integer i, Float f] in entries) {
    }

but would reject it if `entries` was a `Iterable<Integer->Float>`. Likewise using key value iteration over `ObjectArray<[Integer, Float]>`.

[2016-11-01 16:55] #6657 closed

[2016-11-01 17:08] jvasileff commented on #6668
If default type arguments took precedence over inferred type arguments, then default type arguments would become less useful, since when available, callers would no longer have the *option* of using type argument inference for defaulted type parameters.

Perhaps your suggestion is that the default argument be used if the type parameter does not appear in the signature (and therefore a type argumen

[2016-11-01 18:09] jvasileff opened #6671 "incorrect type for ParExpression (re: type constructors)"
A `ParExpression` node may be assigned a `Type` that is a type constructor despite its wrapped expression *not* being a type constructor.

In both examples below, the `ParExpression` is assigned the type `<T> => T(T)`, whereas their wrapped expressions (`FunctionArgument` and `IfExpression` respectively) have type `Integer(Integer)`:

[code]
[code]

[2016-11-01 18:11] dlkw commented on #6668
Well, yes, I wanted to suggest that the type argument for Sub=T should be taken as the inferred value of T, because Sub can not itself be inferred here.

Thanks for your "variance hint" suggestion, it does indeed what I intended. (I just realized that I get away with only one type parameter anyway, but that should not be in itself the reason to invalidate this issue/suggestion, I think.)

[2016-11-01 18:17] jvasileff opened #6672 "NPE invoking union involving a rank-n type"
This one's sort of interesting:
[code]

[code]

[2016-11-01 18:33] chochos commented on #6614
Did a couple of experiments, rolled them back, then I moved on to other issues. I'd like to tackle the static metamodel (and fix other metamodel issues that are breaking tests in JS at the moment) before returning to this.

[2016-11-01 18:54] gavinking commented on #6668
I know it's unintuitive, but this is indeed what we consciously designed it to do. You're certainly not the first person to be tripped up by this, and I admit it's not something I'm completely happy with, but nobody has really proposed an alternative behavior here that would be obviously "better".

I'm going to close this, because so far there's nothing to "fix", but I *will* entertain suggested f

[2016-11-01 18:54] #6668 closed

[2016-11-01 18:59] gavinking commented on #6671
It's an artifact of how type argument inference works, I suppose.

[2016-11-01 19:07] gavinking commented on #6622
@tombentley excellent, thanks, I will try it out!

[2016-11-01 19:35] #6672 closed

[2016-11-01 19:37] gavinking commented on #6672
Fixed.

[2016-11-01 20:36] luolong commented on #6615
Unicode characters are notoriously difficult to type...

[2016-11-01 20:55] jvasileff commented on #6640
@gavinking `assert` used to be capable of *widening* an unchecked `null` to an optional, which seemed to work well in practice. This is no longer the case, which resulted in some warnings in my code for things like:

[code]
The code above must now be written with an explicit widening:
[code]
(guard narrowing intentionally not used above)

[2016-11-01 21:02] jvasileff commented on #6640
Hmm.. with the latest 1.3.1 build, you actually get an NPE with:

[code]

[2016-11-01 21:04] arseniiv commented on #6615
@xkr47 I like unicode too, but it seems time for exclusive non-ASCII tokens in programming language has not yet arrived. However, non-ASCII tokens could be alternate forms of ASCII ones: for example, Haskell has a compiler extension (and a source code directive) for that.

[2016-11-01 21:12] lucaswerkmeister commented on #6615
I actually [proposed](https://groups.google.com/forum/#!searchin/ceylon-users/unicode$20operators%7Csort:relevance/ceylon-users/SNU4DpB9ZHM/ymUoW6MtwbYJ) support for ∨ ∧ ∀ ∃ ∈ ≤ ≠ etc. a while ago ;) I wasn’t *entirely* joking, but sadly nothing came of it.

[2016-11-01 21:46] arseniiv commented on #6615
Oho, it seems I have seen that once!

I wonder what other “sourcewise” compiler directives could be made—if there aren’t, this approach for unicode styling would likely be forgotten a second time. :thinking:

[2016-11-01 22:18] gavinking commented on #6640
Huh? That's a bizarre use of `assert`. Why would you do that, when a simple assignment aleady does it?

[code]

Well that's a bug, for sure, but didn't @FroMage already report that?

[2016-11-01 22:39] jvasileff commented on #6640
@gavinking you shouldn't be so surprised that others might be surprised by `assert (somethingTrue)` throwing. Sure, it's a widening in a sense, but unchecked nulls are fairly ambiguous–they're not *always* considered not-`null`, but only contextually not-`null`.

    String? x = jmap.get("");
[code]

[2016-11-01 22:40] jvasileff commented on #6640
Ah, yeah, exactly the same.

[2016-11-01 22:46] jvasileff commented on #6665
The type for `item` in the issue description *used* to be `String?`, but is currently `String`. I prefer the old behavior, as noted here: https://github.com/ceylon/ceylon/issues/6640#issuecomment-257693827

[2016-11-01 22:51] dlkw commented on #6668
Fine. Thanks!

[2016-11-01 23:01] gavinking commented on #6640
Oh I see the reason you're using `assert` is to narrow `Object` to `String`, not to widen `String` to `String?`.

So apparently what's going on here is that there used to be a really weird special case hacked in where `assert` could actually widen to an optional type in the case that something had unchecked nulls.  I was not conscious of that feature and didn't realize I had broken it. Of course t

[2016-11-01 23:21] gavinking commented on #6640
Alright, @jvasileff I fixed that. And I bet it fixed #6665 too.

[2016-11-01 23:24] jvasileff commented on #6640
Great, thanks!

[2016-11-02 00:20] gavinking commented on #6665
Fixed.

[2016-11-02 00:20] #6665 closed

[2016-11-02 00:26] gavinking opened #6673 "spreading Java array as argument to variadic param"
There are two bugs here.

- [ ] The typechecker accepts this incorrect code:

[code]

- [ ] The backend blows up given this correct code:

[code]

[2016-11-02 00:42] lucaswerkmeister commented on #6673
(Sorry, I was just playing around in the preview for the issue description, but then GitHub actually sent the edit… so I figured I’d make the best of it, and you can now check/uncheck the sub-issues individually)

[2016-11-02 02:01] fwgreen commented on #6552
I'm afraid it's still happening.

[2016-11-02 09:24] FroMage commented on #6662
What resolution algo of mine? I thought you did that one.

[2016-11-02 09:25] FroMage commented on #6597
Yes that one is due to a bug in Gradle which does not follow the `import` scopes. We do, like Maven does, and so that one is excluded. As I said, at run-time there's no such thing as a direct import: everything is overridable and thus can be excluded except the module you run. Which is why you need an override to pin in.

[2016-11-02 09:26] FroMage commented on #6597
`auto` when you don't want to see transitive imports. We're talking about 130-200 per direct import.

[2016-11-02 09:44] someth2say commented on #6615
Rly? Are we goin [brainfuck](https://esolangs.org/wiki/brainfuck) now?
I should say I like how it looks like, but please, not for Ceylon!

Btw, I made a headfish alternative, in case you find it useful: https://github.com/someth2say/ceylonChain

[2016-11-02 09:47] quintesse commented on #6597
Only when *you* (the main module) don't want to see them or is it about interaction between the dependencies here as well?

[2016-11-02 09:50] FroMage commented on #6597
Let's not get there. That's very ill-defined. `provided` is required at run-time in jars, but not in wars, or not in jars that end up in wars. It's pretty crazy.

[2016-11-02 09:50] FroMage commented on #6597
Only when you don't want to see them, right.

[2016-11-02 09:54] quintesse commented on #6597
Well *we* could make it well-defined for Ceylon, couldn't we?
For example I'd define it as: "the module will be available on the classpath when we run, trust me, just don't try to load it yourself."

[2016-11-02 10:27] gavinking commented on #6662
No at some stage you add d a whole lot of crazy stuff with numeric scores.

[2016-11-02 10:36] tombentley commented on #6667
This is fixed on `ee-mode`, which I'm hoping to merge soon.

[2016-11-02 10:40] tombentley commented on #6669
This would indeed be a BC-breaking change. We could either

* change `com.redhat.ceylon.compiler.java.language.Getter` (why one earth did we decide the name get_ was OK for this interface!) and generated code or
* quote the method name `get_` (when it appeared as a member of an object).

Not for 1.3.1 in any case.

[2016-11-02 11:04] lucaswerkmeister commented on #6669
Well, quoting `get_` in an object wouldn’t break BC, would it? Because there can’t be any working code referring to such a method. (And the justification for the name is that it shouldn’t be too inconvenient to use from Java, isn’t it?)

[2016-11-02 11:10] gavinking commented on #6673
Wait, @tombentley did you really fix *both* problems with that commit?

[2016-11-02 11:12] tombentley commented on #6669
No, I guess not, since there can be no methods called 'get_' at the moment. But there would be a lot of things to test: The various paths through the compiler, the metamodel. And this can hardly be a priority.

[2016-11-02 11:13] tombentley commented on #6673
You wanted me to fix the typechecker problem too?

[2016-11-02 11:13] gavinking commented on #6673
No, I just wondered why you closed the issue :)

[2016-11-02 11:15] gavinking commented on #6669
I definitely agree that this issue is not for 1.3.1. We have *much* bigger fish to fry.

[2016-11-02 11:28] FroMage commented on #6662
Doesn't ring a bell at all, sorry.

[2016-11-02 11:43] #6659 closed

[2016-11-02 11:46] gavinking commented on #6659
Thanks Tako!

[2016-11-02 11:56] gavinking commented on #6673
Fixed now :)

[2016-11-02 11:56] #6673 closed

[2016-11-02 11:57] gavinking commented on #6670
Fixed, it seems.

[2016-11-02 12:06] tombentley commented on #6670
Yeah, thanks!

[2016-11-02 12:19] gavinking commented on #6485
This was done by @FroMage, as far as I understand.

[2016-11-02 12:19] #6485 closed

[2016-11-02 12:21] gavinking opened #6674 "support Maven BOMs"
We should support BOMs in our module system.

[2016-11-02 12:23] gavinking commented on #6485
Support for BOMs is now #6674.

[2016-11-02 12:34] #6492 closed

[2016-11-02 13:08] #6667 closed

[2016-11-02 13:11] tombentley commented on #6670
Hmm, seems I can't now spread invoke a java iterable into a ceylon iterable:

    void f(Iterable<String> s) {
    }
    JIterable<String> it = nothing;
    f(*it);

spread argument not assignable to parameter types: 'String[]' is not assignable to '[{String*}]'

[2016-11-02 13:36] FroMage commented on #6599
Do we really support models for annotations @tombentley? I could only find support for `ClassOrInterfaceDeclaration` in the code.

[2016-11-02 13:42] tombentley commented on #6599
We support `class Foo` as a way to pass a `java.lang.Class` to a java annotation type member. I think that's what @gavinking meant.

[2016-11-02 13:47] gavinking commented on #6599
Right.

[2016-11-02 13:53] FroMage commented on #6599
OK, can you show me the code then? The model loader says it's only declarations in `annotationParameterType`.

[2016-11-02 13:53] FroMage commented on #6599
Ah sorry, yes, I didn't read you properly. It's declarations, not model.

[2016-11-02 13:53] FroMage commented on #6599
Fine.

[2016-11-02 14:09] FroMage commented on #6599
Done.

[2016-11-02 14:39] tombentley commented on #6558
I have added some tests and fixed a couple of bugs.

[2016-11-02 14:39] #6558 closed

[2016-11-02 14:46] tombentley commented on #6650
@MikhailMalyutin what is the type of `filterPredicate`? This code doesn't cause an error:

    Function<Boolean,[]> f = nothing;
    if (!f.apply()) {

    }

[2016-11-02 14:53] #6656 closed

[2016-11-02 14:59] FroMage commented on #6656
Fixed

[2016-11-02 16:11] FroMage commented on #6655
So if I do that, I get lots of test errors saying `Anything(Foo)` is not assignable to `Anything(Foo?)`. I think we have special cases when we implement Java methods in Ceylon that let us define the parameters as optional or not (unchecked nulls) depending on our knowledge. I suppose we need to do the same here, but where?

[2016-11-02 16:47] FroMage opened #6675 "Static member type reified types are not consistent"
If we have a static member imported, and call `foo<JavaType.StaticClass>()` and `foo<StaticClass>()` we get different reified type argument results, one of which results in NPEs in the metamodel:

[code]

This is not normal.

[2016-11-02 17:01] FroMage commented on #6675
Hell, this even makes us crash due to `UnknownType`:

[code]

[2016-11-02 17:23] FroMage commented on #6675
Pff. I don't know what to do. Either we consider static members to be toplevels. Or we pass a raw type as container. What we do right now can't work. I don't even know how that works with `is` tests.

[2016-11-02 17:26] FroMage commented on #6675
@gavinking what sort of form should types have wrt qualifying types, for java static members?

[2016-11-02 17:33] FroMage commented on #6675
For example, https://github.com/ceylon/ceylon/issues/6123 says @gavinking wanted qualifying types, but how does that work, outside of the declaring type, when the outer type has type arguments?

[2016-11-02 18:10] xkr47 commented on #6615
@someth2say WDYM, isn't that ascii-only?

[2016-11-02 18:11] jvasileff opened #6676 "bad type referencing static method as type constructor"
The code below compiles. Replacing `Nothing` with `value` results in "error: value type could not be inferred".

[code]

[2016-11-02 18:15] xkr47 commented on #6615
.. but nice implementation!

[2016-11-02 18:15] jvasileff opened #6677 "support static method reference to generic non-static member (as type constructor)"
I don't know if this is necessary, at all, but it does seem regular for the code below to be permitted:

[code]

[2016-11-02 20:26] quintesse commented on #6544
Yeah, and the problem is: how to test? :/

[2016-11-02 20:49] jvasileff commented on #6544
For the "this works" case, the VSCode extension can be used. But for the "this breaks everything else" case, no idea...

It seems the risk would be older versions of windows and 32-bit windows, which may not have the `/reg:64` option.

[2016-11-02 20:54] quintesse commented on #6544
Indeed, and that's exactly what I mean with "how to test?" heh
I have no idea where to get a 32 bit Windows from...

[2016-11-02 22:46] gavinking commented on #6670
@tombentley wait, that example doesn't make sense. I think you meant to write `f{*it}`.

Re-closing.

[2016-11-02 22:46] #6670 closed

[2016-11-02 22:47] gavinking commented on #6599
Thanks Stef!!

[2016-11-02 22:55] gavinking commented on #6558
Great, thanks Tom!

[2016-11-02 23:04] gavinking commented on #6655
Yes, we do. It must be in `RefinementVisitor`, I suppose.

[2016-11-03 05:40] jvasileff opened #6678 "Type parameters of interfaces not properly refined in JS backend"
Reified type arguments of interfaces that are satisfied multiple times do not properly account for the multiple satisfactions.

For example:

[code]
making `T` contravariant (`interface I<in T> { ... }`) results in:
[code]
rather than the expected:
[code]
interestingly, with a covariant `T`, but type args of `String` and `Integer` (no longer boxed with `Singleton`, the results are:
[code]
vs. the

[2016-11-03 10:11] FroMage commented on #6675
OK I've made it consistently set a raw container in the TDs, and work around older TDs in the metamodel.

[2016-11-03 10:11] #6675 closed

[2016-11-03 10:12] FroMage commented on #6655
Ah, I'm an idiot, this was about the function return type, not its parameter types.

[2016-11-03 11:29] gavinking commented on #6655
Si

[2016-11-03 11:42] FroMage commented on #6655
Done.

[2016-11-03 11:42] #6655 closed

[2016-11-03 11:49] gavinking commented on #6655
Great, thanks!

[2016-11-03 12:31] xkr47 commented on #6667
so now the instance holder is called `$object$` instead of `value` it seems..

[2016-11-03 12:43] xkr47 commented on #6663
Would it be allowed to have conflicting (overriding) imports in individual files in the module?

[2016-11-03 12:46] quintesse commented on #6663
@xkr47 this is a request for feedback, so instead of asking a question I'd say that if you could make a good argument for allowing that we could make it part of the proposal :)

[2016-11-03 12:50] quintesse commented on #6663
@jvasileff we might indeed need to think about that. Perhaps something like:

[code]

But I admit this might be getting out of hand ;)
get out of hand ;)

[2016-11-03 13:56] FroMage commented on #6661
OK, so first the line numbers are completely bogus. Let's fix this.

[2016-11-03 14:11] LisiLisenok commented on #6663
The feature might be available for packages also, like:
[code]

[2016-11-03 14:14] xkr47 commented on #6663
Great idea! I think the overriding rules should work the same as in #6646.
I like the idea of being able to bootstrap new modules with some basic set of imports that I always need but also always forget where to find :)

[2016-11-03 14:20] jvasileff commented on #6663
That sounds like a great idea to me, and much more natural than module wide imports (even declarations made in the *same* module aren't automatically imported across package boundaries). It also solves the problem with `module.ceylon` serving too many purposes.

[2016-11-03 14:30] FroMage commented on #6661
OK that's much better already. Now let's see what the problem is.

[2016-11-03 14:36] xkr47 commented on #6663
I vote for both!

The version number is not supposed to be in the `package` statement I guess?

[2016-11-03 15:07] FroMage commented on #6661
So the issue comes from `TypeDeclaration.isInheritedFromSupertype` where we try to look up `synchronizedRun` which is defined in `AbstractModelLoader` and has a coercion overload. That algo says it's not inherited. Even though we try to look up the abstraction, the signature we get is `[Anything?(*unknown) (type)]`, which seems weird.

Any idea @gavinking ?

[2016-11-03 15:49] FroMage commented on #6661
My bad, `Function.toString` was LYING to me, we're looking at the coercion overload.

[2016-11-03 15:51] FroMage commented on #6661
And `getDirectMember` with that signature somehow returns the abstraction.

[2016-11-03 15:56] FroMage commented on #6661
So your `getSignature` gives us a `Anything?(*unknown) (type)` and then we see if it matches the parameter of type `Anything?() (type)` and it calls `ModelUtil.matches` which does:

[code]

So yeah, something's wrong.

[2016-11-03 15:57] FroMage commented on #6661
Should we change `getSignature` or `matches`, that's the question @gavinking ?

[2016-11-03 16:21] gavinking commented on #6661
@FroMage sorry, I'm not really following...

[2016-11-03 16:22] FroMage commented on #6661
I think it's `getSignature` that's wrong, look at what it does for `Function` parameters. If I fix it, I get further. But who knows what else it breaks.

[2016-11-03 16:25] gavinking commented on #6661
Ah, OK, because previously there was no need to distinguish between methods with parameters of different instantiations of `Callable`, but now there is.

So yeah, this isn't right anymore:

[code]

Instead it should recursively call `getSignature()`, or something like that.

[2016-11-03 16:48] tombentley commented on #6585
@gavinking I *do* get an error: no target for inject annotation: @Target of @interface Inject lists [FIELD, METHOD, GETTER, SETTER, CONSTRUCTOR] but annotated element tranforms to [LOCAL_VARIABLE]

Both when I run it as a compiler test and also directly on CLI.

[2016-11-03 17:04] tombentley commented on #6524
I'm not able to test this at the moment, because the Eclipse IDE seems to be broken.

[2016-11-03 17:15] gavinking commented on #6585
@tombentley right but that is your crazy-ugly backend error.

The typechecker gives an error that is much easier on the eyes, if you set up the model correctly.

[2016-11-03 17:17] gavinking commented on #6585
Note: this used to work in 1.2; this bug is a regression.

[2016-11-03 17:21] gavinking commented on #6599
Alright, so, yeah, I, like, totally screwed up in my description of what this should do :-/

Sorry Stef.

The actual Java methods that accept a `Class` object are typically parameterized by `T` and accept `Class<T>`. When given a `ClassDeclaration`, `T` gets inferred to `Nothing`, which is just total crap.

So, in fact, the overload should really accept a `Class` _model_, not a `ClassDeclaration`,

[2016-11-03 19:06] FroMage commented on #6599
Damnit. The problem is that `ClassOrInterface` is parameterised and so requires closed types, which is misleading to users, since Java classes are really `ClassOrInterfaceDeclaration` since they're raw. It also means you won't be able to pass raw types without having to come up with facticious type arguments.

[2016-11-03 19:23] jvasileff commented on #6599
In Java APIs, is there ever a contravariant use of `T` (since Ceylon's `ClassOrInterface<out Type>` is covariant)? I believe this could cause problems at runtime.

[2016-11-03 19:52] xkr47 commented on #6649
How about this example:
[code]
This now prints an ascending series of numbers, but will it still do that after the proposed change? And which one is correct anyway?

[2016-11-03 20:11] xkr47 commented on #6638
I'd say automatically, if possible.

[2016-11-03 20:14] gavinking commented on #6599
I *think* that's OK, actually. Unless you can think of a specific problem.

Well it seems we let you write stuff like:

[code]

So perhaps that's OK?

[2016-11-03 20:15] gavinking commented on #6599
Well, I doubt it. Typically the reason for passing a `Class<T>` object is that you *don't* have an instance of `T` to pass in.

[2016-11-03 20:18] gavinking commented on #6599
I mean, I see what you're saying. In principle, an arbitrary instance of Ceylon `Class<Object>` can't be soundly transformed to `java.lang.Class<Object>`.

But OTOH, since type arguments to Java functions are erased at runtime, I don't think it's unsound *in practice*. I think it just boils down to wildcard capture, no?

[2016-11-03 20:23] gavinking commented on #6599
Well, it's unsound in this case:

[code]

In this *totally contrived* method signature, the elements of `list` must be instances of the given `class`.

So I guess we should say: *only* do this transformation if `T` doesn't occur in any other parameters. Does that sound right to you guys?

[2016-11-03 20:26] gavinking commented on #6649
Look, guys, I think your view of this is nuts. `small` is an explicit assertion _by the programmer_ that it is safe to represent the value in a small number of bits.

Writing:

[code]

is *clearly* a nutso wrong thing to do!

Can you contrive examples where `small` will cause overflows? Sure you can. Just like I can contrive equivalent examples where using `int` in Java will cause overflows. Do th

[2016-11-03 20:34] xkr47 commented on #6649
I completely agree. I'm just thinking it's not standing out from reading my code that `val * i` will use small Integers for calculations. But good programmers will of course always be paranoid about their own code and test things in case they're unsure :)
And probably the whole thing (proposed in this issue) will be unambiguously and unforgettably covered in the tour that nobody would ever make th

[2016-11-03 21:44] quintesse commented on #6638
@xkr47 oh definitely, but we haven't found out yet *why* Aether (the API we use to support Maven) doesn't download them in the first place. Documentation on the subject is sorely lacking.

[2016-11-03 21:58] bjansen commented on #6638
Perhaps it's time to write a Maven library in Ceylon ;p

[2016-11-03 21:59] jvasileff commented on #6649
The difference is that In Java there are clear rules for this stuff. And, even when you *do* know the type of a number, there's no general consensus that wrapping on overflow is safe/desirable.

I'm not aware of the intended use cases for `shared small`, but this issue is about introducing *implicit* `small`s, so even if noone ever uses `shared small`, stuff like this is possible: `for (i in 46341

[2016-11-03 22:00] quintesse commented on #6638
Oh I think we definitely don't want to do that.
People should have *fun* writing Ceylon code ;)

[2016-11-03 22:49] chochos commented on #6544
So here's the relevant section of the modified `ceylon.bat` I tested on win XP 32-bit

[code]

[2016-11-04 00:06] jvasileff commented on #6544
Thanks @chochos!

[2016-11-04 00:39] gavinking opened #6679 "ignore satisfies Serializable constraint for implicitly-serializable Ceylon types"
Since Spring has an upper bound constraint of form `extends Serializable` on an important API, We should make the typechecker aware of the fact that Ceylon types are actually implicitly serializable when checking upper bounds.

[2016-11-04 09:26] xkr47 commented on #6649
@jvasileff Yeah I think your suggestion is worth considering. Although I'm actually a bit sceptic that using `int` just for the loop variable and convert it to `long` every time would be faster than just using `long` all the time.. In which case this issue would of course no longer be an .. issue :)
Perhaps some benchmarking would be helpful?

[2016-11-04 09:28] xkr47 commented on #6638
Maven just might be fun in Ceylon..... :lollipop: :grin:

[2016-11-04 09:31] bjansen commented on #6638
@xkr47 congratulations, you were officially assigned to the task "Rewrite Aether in Ceylon" 🎉

[2016-11-04 09:35] tombentley commented on #6649
@xkr47 FTR JVM microbenchmarks have shown that a java for loop over an `int` is *much* faster than the same loop using a `long`. So this would be a worthwhile optimization to have.

[2016-11-04 09:35] xkr47 commented on #6638
No but seriously, the algorithm needs to be exactly the same as in maven, including any bugs that might have slipped into the dependency resolution. And when that changes, we want the changes too.

[2016-11-04 09:45] gavinking commented on #6649
Right, exactly, which is the _only_ reason I'm pushing this.

And, yes, it's totally unintuitive and unreasonable that `long` loops have savepoints but `int` loops don't, but that's the way the JVM is.

[2016-11-04 09:52] xkr47 commented on #6649
@gavinking so still, what do you think about @jvasileff's suggestion to use them as `long`s inside the loop?

[2016-11-04 09:54] gavinking commented on #6649
That would be fine by me.

[2016-11-04 09:57] tombentley commented on #6585
@gavinking I get errors on this code:

[code]
annotated program element does not satisfy annotation constraint: '[TYPE, FIELD, METHOD, PARAMETER, CONSTRUCTOR, LOCAL_VARIABLE, ANNOTATION_TYPE, PACKAGE]'

It seems perfectly reasonable to apply the `@Generated` annotation in each of these places, no?

[2016-11-04 10:13] tombentley commented on #6635
Until now, the JVM compiler has always given up when encountering `unknown` within a type expression, but apparently there are now places where we just have to suck it up. Where are those places @gavinking? Is it simply that they're allowed when the expression is for a static member class of a generic Java outer?

[2016-11-04 10:28] FroMage commented on #6635
Yeah, I _have_ seen those recently for TD production too, where I ignore them and make the outer containers raw. I'm pretty sure that `makeJavaType` should do the same. TBH I thought it already did.

[2016-11-04 10:35] tombentley commented on #6635
@FroMage the problem here is the error visitor decides not the generate the alias, but that doesn't present the rest of it compiling (alias is resolved). I think `makeJavaType()` probably does the right thing.

[2016-11-04 10:35] tombentley commented on #6635
@FroMage the problem here is the error visitor decides not the generate the alias, but that doesn't present the rest of it compiling (alias is resolved). I think `makeJavaType()` probably does the right thing, but I just need to know what the rules are.

[2016-11-04 10:35] tombentley commented on #6635
@FroMage the problem here is the error visitor decides not the generate the alias, but that doesn't present the rest of it compiling (alias is resolved). I think `makeJavaType()` probably does the right thing, but I just need to know what the rules are.

[2016-11-04 10:35] tombentley commented on #6635
@FroMage the problem here is the error visitor decides not the generate the alias, but that doesn't present the rest of it compiling (alias is resolved). I think `makeJavaType()` probably does the right thing, but I just need to know what the rules are.

[2016-11-04 10:36] tombentley commented on #6635
Haha, stupid github UI!

[2016-11-04 10:40] FroMage commented on #6635
Oh, right, OK. Well, we have to fix it then.

[2016-11-04 10:40] FroMage commented on #6635
Oh, right, OK. Well, we have to fix it then.

[2016-11-04 10:40] FroMage commented on #6635
Oh, right, OK. Well, we have to fix it then.

[2016-11-04 10:40] FroMage commented on #6635
Oh, right, OK. Well, we have to fix it then.

[2016-11-04 10:40] FroMage commented on #6635
;)

[2016-11-04 11:01] tombentley commented on #6524
@FroMage I can use `@NonNull` from common in a Java class, but I have to `import com.redhat.ceylon.common "1.3.1-SNAPSHOT";` Is that really such a big deal though?

[2016-11-04 11:18] tombentley commented on #6524
OK, lets close this and open a new issue if we find any problems.

This means we can now start scattering these annotations though the compiler, yay!

@bjansen you can open a separate issue for the `@NotNullByDefault` thing if you're still keen to have that. FWIW Eclipse allows you to configure your own `@NotNullByDefault` annotations, which doesn't seem to depend on any non-final JSRs.

[2016-11-04 11:18] #6524 closed

[2016-11-04 11:38] #6661 closed

[2016-11-04 11:39] FroMage commented on #6661
OK, should all be fixed, can you verify? Your branches need to be rebased.

[2016-11-04 12:31] #6635 closed

[2016-11-04 12:39] FroMage commented on #6484
Done.

[2016-11-04 12:39] #6484 closed

[2016-11-04 12:40] FroMage commented on #6490
@davidfestal don't forget this please.

[2016-11-04 12:45] FroMage commented on #6552
Must be due to a split package.

[2016-11-04 12:47] FroMage commented on #6552
Yeah, that's it.

[2016-11-04 12:51] FroMage commented on #6552
Fixing this requires quite some changes in the typechecker. WDYT @gavinking should I give it a try or move the issue to later?

[2016-11-04 13:40] quintesse commented on #6552
He said this was not a problem before? But weren't split packages always a problem for us? So how did this work?

Btw, if this could go in for this version I think that would be great. It seems that our Maven support would really be something to be proud of (due to your hard work @FroMage)

[2016-11-04 13:48] FroMage commented on #6552
So I tried it, and it's not so many changes that make this particular example compile. But I don't know if it impacts the IDEs, and I don't know if there aren't limitations further on, such as in the model loader or other places. It's hard to test and hard to measure the impact.

[2016-11-04 15:27] gavinking commented on #6585
Um, sure, looks fine to me...

[2016-11-04 15:33] jvasileff commented on #6599
It would also be unsound for Java methods that return `Mutable<T>` (although... it seems this might only really occur with Java arrays, which are already a mess.)

Overall I have mixed feelings on this. It would be the only "unforced error" with the type system I'm aware of, but OTOH, it seems unlikely that it will cause problems in practice.

[2016-11-04 19:41] tombentley commented on #6585
So why the error?

On 4 Nov 2016 3:27 p.m., "Gavin King" <notifications@github.com> wrote:

[2016-11-05 13:29] gavinking opened #6680 "java.lang.Iterable treated as SAM type"
I think it's really distracting that `Iterable` is treated as a SAM type. It should be ignored in the SAM conversions code.

[2016-11-05 13:39] quintesse commented on #6680
Why is it distracting? It seems like a perfect example of a SAM type.

[2016-11-05 13:55] gavinking commented on #6680
Not really, no.

I can't imagine that anybody really wants to write:

[code]

Instead of just, like, passing a stream.

[2016-11-05 14:03] quintesse commented on #6680
Well I'm not saying anyone would want to write that, but then how big is the chance that somebody would unknowingly pass a Callable that implements the exact needed interface to be treated as a SAM? Anybody else would pass a stream, like you say, but why make it impossible unless it causes problems?

[2016-11-05 14:06] gavinking commented on #6680
So why should I have to see all these confusing useless overloads in the API of `Repository` when I open my autocompletion popup?

[2016-11-05 14:11] quintesse commented on #6680
Well that to me seems an IDE issue, not something for the compilers ;)

[2016-11-05 14:57] gavinking commented on #6585
@tombentley well, I'm not sure, I don't see it here.

[2016-11-05 15:03] gavinking commented on #6585
Wait, @tombentley, does @fc45105389848645684827a696ccfc7db0ab7d71 help?

[2016-11-05 15:58] DiegoCoronel opened #6681 "ZipFile throw IllegalStateException when using springboot 1.4.1"
Guys,

Im completely stuck with this issue, i have 1.3.X working like a charm, but when i try 1.4.1 im having this problem:

[code]

and the method that starts this problem:

<img width="646" alt="screen shot 2016-11-05 at 11 40 30" src="https://cloud.githubusercontent.com/assets/403754/20031423/900bbff8-a34d-11e6-9335-9b2d8d786a3b.png">

and the moment the error occur:

<img width="780" alt="scre

[2016-11-05 18:34] gavinking commented on #6681
FTR I experienced the same problem but I have no clue how to solve it.

Sent from my iPhone

[2016-11-06 13:14] gavinking opened #6682 "emulate wildcard capture for certain Java methods"
Very similar to #6370, I ran into a method with this signature in JPA:

[code]

It seems to me that it's completely sound to transform this to:

[code]

Since `T` only occurs *covariantly* in the return type.

- If `T` occurred *invariantly*, this would not be sound.
- If `T` occurred *contravariantly*, I suppose the equivalent transformation would be `T` -> `in T`.

[2016-11-06 21:18] gavinking opened #6683 "error that occurs in IDE"
[code]

[2016-11-06 21:20] marvelous commented on #6638
I got the same issue with lwjgl, but having the -natives- jar downloaded was not enough, so I did a `ceylon import-jar org.lwjgl.lwjgl-natives/3.1.0 ~/.m2/repository/org/lwjgl/lwjgl/3.1.0/lwjgl-3.1.0-natives-linux.jar` and imported `org.lwjgl.lwjgl-natives` manually. JOGL might be doing something additional where lwjgl expects developers to use `maven-nativedependencies-plugin`.

[2016-11-07 08:24] gavinking commented on #6683
It looks like this is happening because I have a `List<JavaType<Foo>.Bar>` where, of course, `Foo` is not known at runtime because `JavaType` doesn't have reified type arguments.

@FroMage could you take a look at this please?

[2016-11-07 10:12] FroMage commented on #6552
@bjansen would you be willing to test this, since I'm pretty sure you have lots of overrides to cope with split packages in the IDE? I've pushed it to the `6552` branch. Might require some changes in your model to cope with it. In particular I've added `Module.getPackages` but haven't removed `Module.getPackage` (yet?).

I figure if it works in your IDE and lets you remove your override filters it

[2016-11-07 10:37] FroMage commented on #6683
What's a tuple doing in this story then? You have a tuple of lists?

[2016-11-07 10:40] bjansen commented on #6552
My solution to split packages was to merge all the JARs in a single big JAR :). Since I have to copy them in a flat repo anyway (because they don't have any version in their name), I figured it would be easier to just put everything in one JAR and not waste time with fragile overrides.

But since you're asking nicely, I can give it a try :)

[2016-11-07 10:40] FroMage commented on #6682
How can you tell, since Java doesn't have decl-site variance?

[2016-11-07 10:42] gavinking commented on #6683
The tuple is the instance of List.

[2016-11-07 10:44] FroMage commented on #6680
http://www.lambdafaq.org/how-do-i-turn-a-stream-into-an-iterable/ explain that some people use `stream.iterator` to auto-lambda to an Iterable.

[2016-11-07 10:55] FroMage commented on #6662
Oh, you mean https://github.com/ceylon/ceylon/issues/1635 but that should only act on primitive types, no? Yeah, that only acts on `Integer` and `Float` with an `underlyingType`. I don't see how that can be related.

[2016-11-07 10:57] FroMage commented on #6552
OK, thanks. Not if it takes more than a day, though. But it'd be nice to fix and verify, if we can.

[2016-11-07 11:05] gavinking commented on #6662
Well originally, we used to get an error when an overload was ambiguous. Nowadays I don't seem to ever see errors for ambiguous overload resolution. It just seems to pick the last one it finds.

[2016-11-07 11:06] FroMage commented on #6681
I don't see how the Spring clearing is related. Does it close the classloader? It doesn't look like it from its source code: https://github.com/spring-projects/spring-framework/blob/master/spring-beans/src/main/java/org/springframework/beans/CachedIntrospectionResults.java#L151

It looks more like we clear it ourselves after the `run` method, and that your program continues from a spawned thread.

[2016-11-07 11:08] FroMage commented on #6662
That's possible, but not related to int/float coercion scores. Try to step through the selection process to see where it fails?

[2016-11-07 11:11] FroMage commented on #6683
Is `JavaType.Bar` static or not?

[2016-11-07 11:13] gavinking commented on #6682
Yeah, OK, the issue description is rubbish. In fact the idea should be to transform occurrences of `T` in the return type into occurrences of `out T`.

The transformation is only sound if `T` occurs in the parameter list:

- _invariantly_, exactly once, and,
- _contravariantly_, never, and,
- _covariantly_ an arbitrary number of times.

So for example:

[code]

could be transformed to:

[code]

Si

[2016-11-07 11:14] gavinking commented on #6683
@FroMage Yes, it is.

Oh, that explains it: I recently started sticking `UnknownType`s as type arguments to qualifying types of Java `static` inner types.

I didn't do that before.

[2016-11-07 11:15] FroMage commented on #6683
And I started ignoring them, but not everywhere yet.

[2016-11-07 11:19] FroMage commented on #6682
That's with a Ceylon `List` and `Entry`, right?

[2016-11-07 11:21] gavinking commented on #6682
No, they're already covariant. Those are (invariant) Java `List` and `Entry`.

[2016-11-07 11:22] FroMage commented on #6683
I can't reproduce it yet, with:

[code]

[2016-11-07 11:24] gavinking commented on #6682
There's a similarly sound transformation to contravariant wildcards. I suppose, something like this:

If `T` occurs in the parameter list:

- _invariantly_, exactly once, and,
- _covariantly_, never, and,
- _contravariantly_, an arbitrary number of times.

So for example:

[code]

could be transformed to:

[code]

However, contravariant wildcards occur much less frequently.

[2016-11-07 11:25] FroMage commented on #6682
I don't get it. If they're Java types how do you know they're covariant (your example showed no wildcard)?

[2016-11-07 11:26] gavinking commented on #6682
As I said, the original issue description is nonsense. The idea is to *introduce* the covariant wildcards in the return type.

[2016-11-07 11:29] gavinking commented on #6683
The other wrinkle is I was using an alias for the type `JavaClass<String>.StaticMemberNoParam`.

[2016-11-07 11:30] gavinking commented on #6683
Oh, wait, the compiler probably optimizes iteration of tuples. Use:

[code]

[2016-11-07 11:32] FroMage commented on #6682
Sorry, again I must be thick, but:

To me, since I don't know if `List` is covariant, I see `T` appearing twice invariantly in the param list, and twice in the return type. Not "just" once.

[2016-11-07 11:33] gavinking commented on #6683
In fact the case I have is this:

[code]

I don't know where precisely the `UnknownType` comes from.

[2016-11-07 11:36] FroMage commented on #6683
Interestingly, this produces a typechecker error:

[code]

That I don't think are correct.

[2016-11-07 11:37] gavinking opened #6684 "type inference gives up with Java static inner types"
This is a regression caused by my recent changes to how Java static inner types of generic types are represented.

The type inference stuff causes exceptions like these when encountering a type list `Map.Entry<X,Y>`:

[2016-11-07 11:38] gavinking commented on #6683
@FroMage yep, just noticed, see #6684.

[2016-11-07 11:40] gavinking commented on #6682
It appears *once* invariantly. I hope you're not counting `T t` as an invariant occurrence ;-)

Right, as I said:

[2016-11-07 11:42] gavinking commented on #6682
List<Entry<T,T>> //return type, doesn't count
    blah(
        List<T> list, //invariant
        T t, //covariant
        List<out T> otherList //covariant
    )`

[2016-11-07 11:42] gavinking commented on #6682
Oh, there's an additional rule:

- `T` must not occur _contravariantly_ in the return type!

I forgot that one.

[2016-11-07 11:56] gavinking commented on #6682
Wait, @FroMage, I screwed up again. Sorry.

Indeed, the transformation is only sound if:

- `T` never occurs contravariantly in the return type, and
- `T` occurs exactly once, invariantly, in the parameter list.

It's *not* OK to have other covariant occurrences of `T` in the parameter list. My bad.

[2016-11-07 11:59] gavinking opened #6685 "wildcard capture"
We're discussing wildcard capture for _Java functions_, which have erased type arguments in #6682. It turns out we can do it with model loader tricks.

In fact, the exact same transformation rules mentioned in #6682 are sound in Ceylon, since they specify that there must be _exactly one_ invariant occurrence of the type parameter in the value parameter list.

_However_, this requires a change to t

[2016-11-07 12:31] gavinking commented on #6682
And actually, I now suddenly realize that the only some of these cases can be done _in the model loader_, rather than in the typechecker itself.

So, _for now_, this finally boils down to:

The covariant transformation, replacing the invariant occurrence of `T` in the parameter list with `out T`, is only done if:

- the return type _is exactly_ `T`, or every occurrence of `T` in the return type is

[2016-11-07 14:03] bjansen commented on #6552
It seems it isn't working with inner classes/enums/interfaces that belong to a split package, see https://gitter.im/ceylon/dev?at=582086cd0d42ea911cbed17b

[2016-11-07 14:16] bjansen commented on #6552
I pushed my change here, in case you want to test your fixes: https://github.com/ceylon/ceylon-ide-intellij/tree/6552

[2016-11-07 14:17] DiegoCoronel commented on #6681
I tried to put breakpoint in each moment that closeRequest is assigned to true and its almost impossible to debug, its like a million of times... here some of these moments:

<img width="690" alt="screen shot 2016-11-07 at 09 52 33" src="https://cloud.githubusercontent.com/assets/403754/20060676/af43f288-a4d2-11e6-87d8-53f3fa9bde60.png">

<img width="690" alt="screen shot 2016-11-07 at 09 47 36" s

[2016-11-07 15:58] FroMage commented on #6552
OK, pushed a fix for that.

[2016-11-07 16:01] FroMage commented on #6552
Seems to work for the IJ IDE. It will require some tweaks for the Eclipse IDE. I also have to check if I can remove `Module.getDirectPackage()` and `Module.getPackage()`, or at least deprecate them.

WDYT @gavinking ? Risk worth taking or 1.3.2?

[2016-11-07 16:23] quintesse commented on #6552
I've got complete confidence in you, risk it! ;)

[2016-11-07 16:43] FroMage commented on #6552
It appears doable to remove `getPackage`, but it leaks into the metamodel too, where we should deprecate it in favour of a new `getPackages`.

[2016-11-07 18:50] RossTate commented on #6682
This seems hacky. You should do the proper solution using capture. More in #6685.

[2016-11-08 11:22] FroMage commented on #6683
So any luck in getting me a reproductible test?

[2016-11-08 11:23] FroMage commented on #6681
OK, give me a test I can use?

[2016-11-08 11:28] FroMage commented on #6660
Oh this seems related to `native`.

[2016-11-08 11:43] FroMage commented on #6660
So it appears that the supertype is a native header for `Contextual`. Is this normal? That native header does contain the native header of `Using`, so I'm not sure why it would not find it. Perhaps the supertype should rather be the native implementation?

I've no idea how any of this works, @quintesse and @gavinking. If you tell me what it's supposed to be doing I can fix it.

[2016-11-08 11:49] DiegoCoronel commented on #6681
You can [clone this repo](https://github.com/DiegoCoronel/ceylon-spring-boot.git): theres a branch _springboot1.4.1_ then go into [bar folder](https://github.com/DiegoCoronel/ceylon-spring-boot/tree/springboot_1.4.1/bar) and run it, if you need a zip project i can do it also

[2016-11-08 11:55] FroMage commented on #6660
Yeah, the member lookup in the supertype is done in the native implementation of `Contextual`, for some reason. And that one doesn't have the inner type. So there's two fishy things here: one of the two is missing an inner type, and the supertype is different from that used for resolution.

[2016-11-08 11:56] FroMage commented on #6660
Ah no, my bad, the supertype is the native impl after all. Weird.

[2016-11-08 12:03] FroMage commented on #6660
So the native _impl_ of `Using` is added to the native _header_ of `Contextual`. That's what happens. This is probably due to the native mechanisms using the overload mechanisms, where inner types are always added to the abstractions, and never to the overloads.

Still, is this normal?

[2016-11-08 12:09] gavinking commented on #6660
@quintesse?

[2016-11-08 12:37] #6684 closed

[2016-11-08 12:37] gavinking commented on #6684
Fixed.

[2016-11-08 12:59] quintesse commented on #6660
It's possible that the way inner types are handled is buggy in this situation because I remember handling inner types was quite a challenge. The native implementations definitely need to form correct hierarchies just like for normal non-native types. So if you have a native header with an inner type and their native implementations, then both hierarchies need to be the same, but additionally the i

[2016-11-08 13:03] quintesse commented on #6660
Btw @FroMage , perhaps I should take this one, unless you really *want* to do this? ;)

[2016-11-08 13:57] #6544 closed

[2016-11-08 13:57] quintesse commented on #6544
Fixed. Thanks @jvasileff !

[2016-11-08 15:04] FroMage commented on #6660
It's OK I have a fix now that I understand what's supposed to happen.

[2016-11-08 15:09] quintesse commented on #6637
@gavinking could you give a bit more details about the kind of code you're compiling?

[2016-11-08 15:12] #6660 closed

[2016-11-08 15:13] FroMage commented on #6660
Done.

[2016-11-08 15:23] gavinking commented on #6637
Well this was in some `native("jvm")` code that extended a Java class.

The point is that `native("jvm")` code should not even be typechecked when only the JS backend is enabled.

[2016-11-08 15:40] tombentley commented on #6622
@gavinking we now wrap List, Set and Map.

[2016-11-08 15:43] FroMage commented on #6681
So running my test programmatically it works:

[code]

Or, it shuts down immediatly, with no error. Pretty sure it should not shutdown, though. Perhaps it needs to block?

But running it from the CLI gives me this:

[code]

It's pretty confusing because it appears to be having an exception when shutting down the server.

[2016-11-08 15:50] #6624 closed

[2016-11-08 15:54] FroMage commented on #6681
Ha: interestingly, this happens:

[code]

[2016-11-08 15:55] FroMage commented on #6681
So it looks like Spring Boot has that method name hard-coded, but I'm pretty sure it should not apply to _our_ class loader. I can rename it but *throwup*.

[2016-11-08 15:57] quintesse commented on #6637
Ehm that's *definitely* not what you said when I created support for `native`, because that was in fact what my first implementation did: just make the typechecker skip anything marked `native` for a backend that's currently not being active. But you disagreed vehemently and I spent a considerable amount of time implementing all kinds of checks to make the typechecker compile the code but skip any

[2016-11-08 15:57] bjansen commented on #6681
Simply rename it to `clearCacheFuckYouSpringBoot` :)

[2016-11-08 16:02] gavinking commented on #6637
Right, that's what I mean. This particular check counts as "validation of types", no?

[2016-11-08 16:03] gavinking commented on #6622
Alright! Fantastic 👍

[2016-11-08 16:03] #6681 closed

[2016-11-08 16:05] FroMage commented on #6681
OK fixed, @DiegoCoronel . But you have to prevent the `run` method from exiting apparently. So read from the command-line or whatever else Spring Boot tells you to do, but it looks like it now returns and spawns a thread.

[2016-11-08 16:14] gavinking commented on #6662
I have pushed a provisional fix for this issue. I'm still not certain it's really truly "correct".

[2016-11-08 16:16] quintesse commented on #6637
Ah indeed. I probably need to add a special check somewhere. But that's why I needed a bit more information. But "extending a Java class" is hopefully enough of a hint. If not I'll get back to you ;)

[2016-11-08 17:36] #6536 closed

[2016-11-08 18:12] DiegoCoronel commented on #6681
Thanks @FroMage \o/ .. Ill take a look tonight .

[2016-11-08 19:51] quintesse commented on #6637
I'm afraid I need a bit more details @gavinking , I've tried making a test with a Ceylon class extending a Java class and overriding a method and then running it through the JS compiler and that doesn't produce any errors.

[2016-11-08 20:36] quintesse opened #6686 "RFC: Closures with delegates"
Just an issue to discuss possible inclusion for "Closures with delegates" at *some* point. It flows somewhat from our (off-topic) discussions on #6652.

The idea is that we could have `Closure` as an additional abstraction on top of `Callable`, with the difference being that closures of course "close over" variables outside of their own scope.

But the actual proposal would be adding the idea of a

[2016-11-08 21:34] quintesse opened #6687 "Really incomplete module generated on some errors"
In some cases when compiling a module certain errors will cause such an incomplete module to be generated that later attempts to read it cause all kinds of problems.

For example, I got the following error while trying to a module that was importing another module that had previously been compiled but had errors:

    error: cannot find module artifact 'com.redhat.ceylon.dist-1.3.1.osgi-4(.car|.ja

[2016-11-08 22:55] DiegoCoronel commented on #6681
Confirmed. Working perfect, no need to prevent the `run` method from exiting. Thank you very much @FroMage . Now i can update my demo to latest stable version of springboot.

[2016-11-09 09:34] FroMage commented on #6599
OK, so a big big problem with going with models is that our metamode still doesn't support overloading so we can't get models for classes with overloaded constructors. And that's most Java classes.

[2016-11-09 09:34] FroMage commented on #6599
Just discovered this while testing with the same class I used before, which worked for declarations but not model literals.

[2016-11-09 11:06] tombentley commented on #6585
@gavinking I cannot apply

* an annotation constrained to METHOD to an attribute
* an annotation constrained to FIELD to an attribute
* an annotation constrained to FIELD or METHOD to a captured class parameter
* an annotation constrained to ANNOTATION_TYPE to an annotation class
* an annotation constrained to FIELD to an object declaration
* an annotation constrained to CONSTRUCTOR to a value con

[2016-11-09 11:09] tombentley commented on #6650
@MikhailMalyutin I'm still not able to reproduce this without your help

[2016-11-09 11:14] gavinking commented on #6585
Example?

[2016-11-09 11:16] gavinking commented on #6585
That's not quite right. The actual code is:

[code]

So you can, as long as it is something that is really a "method".

[2016-11-09 11:18] gavinking commented on #6585
And that's definitely not correct.

[code]

[2016-11-09 11:21] tombentley commented on #6585
I don't see why I shouldn't be allowed to do this:

[code]

There is a getter method generated, after all, and it would be perfectly reasonable to annotate that getter if that class were written in java

[2016-11-09 11:23] gavinking commented on #6585
@tombentley because the annotation could *also* be target `FIELD` and then it would be ambiguous.

[2016-11-09 11:23] tombentley commented on #6585
[code]

[2016-11-09 11:24] gavinking commented on #6585
@tombentley but `inject` doesn't make sense on a named constructor!

[2016-11-09 11:24] gavinking commented on #6585
Ceylon constructors are not really Java constructors.

[2016-11-09 11:26] gavinking commented on #6585
Wait, you're saying I can't do `inject` on a `late` field. OK, that is indeed a problem.

[2016-11-09 11:57] gavinking commented on #6585
OK, @tombentley, is that better?

[2016-11-09 13:19] FroMage commented on #6552
Moving to 1.3.2

[2016-11-09 14:01] gavinking commented on #6637
@quintesse I have this:

[code]

[code]

And, in IntelliJ, I enable just the JS compiler. I get this error:

[2016-11-09 14:11] quintesse commented on #6637
Oh wait, you don't even have a JS version in there, right? Ok, I'll take a look at ASAIC.

[2016-11-09 14:19] gavinking commented on #6599
Couldn't we at least just give you a `Class<JavaClass,Nothing>` in this case?

Should be easy enough to implement, no?

[2016-11-09 14:20] gavinking commented on #6613
@chochos status? We're building the release on Monday.

[2016-11-09 14:21] gavinking commented on #6622
So DYT this is _finished_ now, @tombentley, or is there still additional work to do?

Perhaps if there is missing functionality, we should open separate issues.

[2016-11-09 14:23] gavinking commented on #6444
Folks, what is going on with this issue?

[2016-11-09 14:26] FroMage commented on #6599
It means implementing that in the metamodel. I don't think it's trivial at all.

[2016-11-09 14:27] tombentley commented on #6622
I'm happy to close this if you are @gavinking.

The only thing I think we've not done which you mentioned is to activate EE-mode based on the presence of `persistence.xml` or `beans.xml` in `META-INF`. If you still want this, we can open a separate issue.

[2016-11-09 14:30] gavinking commented on #6622
OK. So what *precisely* are the activation rules today? I just want to see them written down ;-)

[2016-11-09 14:30] #6622 closed

[2016-11-09 14:35] gavinking commented on #6622
Ah, that's great that this is actually documented :-)

However, you say:

I would like to see these "certain" things enumerated on that page ;-)

[2016-11-09 14:36] gavinking commented on #6599
WDYM? What would you have to implement?? You already have a perfectly reasonable implementation of `Class`!

[2016-11-09 14:39] FroMage commented on #6599
There's a reason it's not currently supported.

[2016-11-09 14:45] tombentley commented on #6622
@gavinking done

[2016-11-09 15:03] gavinking opened #6688 "Can't refine EntityManager.createStoredProcedureQuery()"
Ooops, this suddenly became the most high-priority issue in 1.3.1!

[code]

Results in:

Ouch!

[2016-11-09 15:04] gavinking commented on #6688
I think it's because the overload resolution algorithm is not working correctly with Java vargars.

[2016-11-09 15:21] tombentley commented on #6585
The thing is that this prevents me from writing the unambiguous and previously supported (though much despised):

[code]

I'm loath to get rid of that because, while no one likes the `__SETTER` stuff, it does serve a need and it seems quite likely that some people will being using it.

It would be easier to support this if `getAnnotationTargets()` were on the annotation constructor rather than the

[2016-11-09 16:43] gavinking commented on #6622
OK, thanks, that looks good. Thanks for your hard work on this!

[2016-11-09 16:45] gavinking commented on #6599
But if you have a `Class<JavaClass,Nothing>` you simply `throw` if anyone tries to invoke it. AFAICT there's no extra work compared to any other Java class.

[2016-11-09 16:47] FroMage commented on #6599
Again: we currently don't support getting those literals. We'd have to support that first. I don't remember the reason why we don't support them, but usually with metamodel restrictions there's good time reasons why we do these things.

[2016-11-09 17:23] gavinking commented on #6599
WDYM? You mean for *any* Java class?

[2016-11-09 17:38] FroMage commented on #6599
For any Java class with overloaded constructors (the vast majority).

[2016-11-09 17:51] chochos commented on #6444
This function will make _all_ modules load the latest language module. Which I think is necessary anyway; the `run-js` program (I think it's the CMR actually) can determine if the versions are compatible before running a module.

[2016-11-09 18:25] gavinking commented on #6599
Right, but I'm not asking you to support overloaded constructors. I'm saying treat (for now) a class with overloaded constructors as if it were a class with *no* constructor at all.

[2016-11-09 19:08] FroMage commented on #6599
I'll look what I can do.

[2016-11-10 08:17] gavinking commented on #6585
Agreed, that sounds like the right solution to me.

[2016-11-10 09:16] gavinking commented on #6688
This is fixed, it seems.

[2016-11-10 09:16] #6688 closed

[2016-11-10 09:19] gavinking opened #6689 "can't refine EntityManager.find() without choosing distinct TP names"
If I refine the overloaded method `EntityManager.find()`, I get some rubbish typing errors.

Workaround is to give every overloaded version a distinctly-named type parameter.

[2016-11-10 10:25] gavinking opened #6690 "type aliases screw up overload resolution"
The overload resolution code needs to handle type aliases correctly.

[2016-11-10 11:36] quintesse commented on #6637
Ok, the latest news on this is that it works just fine within the CLI. So it's probably something that only happens in the IDEs.

[2016-11-10 11:57] tombentley commented on #6585
@gavinking OK, that's what I've done in the `issue-6585` branch, plus an adjustment to the `AnnotationVisitor` to allow a METHOD annotation on an attribute or toplevel value so long as the constraints don't include FIELD. This means that we can now add `__GETTER` and `__SETTER` annotations like before.

If you're OK with this I will merge it.

[2016-11-10 12:07] #6690 closed

[2016-11-10 12:07] gavinking commented on #6585
@tombentley yep, go ahead!

[2016-11-10 12:13] gavinking commented on #6689
So I have concluded that this problem is somehow model-loader related since I just can't see to reproduce it in the typechecker, or in the IntelliJ editor.  I *only* get it:

- on the commandline, or
- in the Ceylon Problems view in the IDE.

Nor have I been able to reproduce it when implementing a Ceylon interface with an overloaded generic method.

That's really freakin' weird.

@FroMage I was t

[2016-11-10 12:13] gavinking commented on #6690
Fixed.

[2016-11-10 12:39] FroMage commented on #6689
I'll look

[2016-11-10 12:41] gavinking commented on #6689
No, wait, stop, I've *finally*, after hours of trying, figured out what I need to reproduce it in the typechecker:

[code]

Still don't get the error in the IntelliJ *editor* though.

[2016-11-10 13:14] tombentley commented on #6585
Done

[2016-11-10 13:14] #6585 closed

[2016-11-10 13:27] gavinking commented on #6689
So it turns out that this is a result of the supertype cache. Grrr.

[2016-11-10 13:31] gavinking commented on #6689
Because `Type.equals()` doesn't take overloading into account.

[2016-11-10 13:50] gavinking commented on #6585
Thanks Tom!!

[2016-11-10 13:52] #6689 closed

[2016-11-10 13:53] gavinking commented on #6689
Geez, that was *so* painful.

[2016-11-10 15:46] gavinking commented on #6662
It's working well-enough for now. Closing.

[2016-11-10 15:46] #6662 closed

[2016-11-10 16:02] tombentley opened #6691 "Documentation of options with configgable defaults"
I'm opening this here, but it could be the solution actually involves ceylon-lang.org

Right now we don't have a good solution to automatically documenting how tools options relate to config. There's a more-or-less one-to-one association between the two, usually. But the tool doc doesn't usually mention the config section and key, and while there are links from the [website docs about the config](

[2016-11-10 16:44] quintesse commented on #6691
I think the location of `DefaultToolOptions` is mostly because of historical reasons, that is: no good reason at all.

We could possibly add a new annotation that at least mentions the name of the config option and the default value. Thing is we need a way to override that with re-usable customizable behaviour.

So maybe it will have to be patterned after the ArgumentParsers;

[code]

In fact it c

[2016-11-10 17:03] lucaswerkmeister commented on #6647
Actually, with only `sh` (no Bash arrays), removing the `--java` argument after processing it might be tricky. Is it okay if that argument is still passed to the Java code, which then has to learn to ignore it?

[2016-11-10 17:14] quintesse commented on #6647
Sure. No problem.

[2016-11-10 17:31] lucaswerkmeister commented on #6647
Alright, `sh` implementation on branch `javaOpts`. Do we want to wait for a `bat` version or should we merge it right now?

[2016-11-10 17:34] quintesse commented on #6647
I think it best to wait. The moment we merge this it will be in the public documentation so people might expect it to work on Windows as well.

[2016-11-10 18:23] gavinking opened #6692 "error attempting to instantiate generic Ceylon class with Java type parameter as argument"
We need the typechecker to produce a proper error if you refine a generic Java method and then use its type parameter as a type argument to a Ceylon class or function.

Currently this situation just causes the backend to blow up.

[2016-11-10 20:13] #6692 closed

[2016-11-10 20:13] gavinking commented on #6692
Fixed.

[2016-11-10 20:28] quintesse commented on #6647
So a whole lot of problem trying to handle `=` in arguments in the Windows batch file. Turns out that when dealing with separate arguments Windows splits on spaces, tabs, equal signs, commas and semicolons. And no way to escape equal signs!

Then it turns out that you also can't replace the equals sign in a substitution because, guess what it uses an equals sign (`set SUBVAR=%VAR:sub-me=for-other%

[2016-11-11 01:53] #6637 closed

[2016-11-11 04:32] chochos commented on #6629
OK so I haven't implemented the `staticApply` methods yet, but the stubs don't break the build anymore (only the js metamodel tests).

There were some issues with static in the metamodel that I fixed in master, so I'd like to merge this branch to finish implementing the new methods there, if it's ok with everybody.

[2016-11-11 10:48] tombentley commented on #6650
Slips to 1.3.2

[2016-11-11 10:53] tombentley commented on #6629
I think at this stage it would be better to release 1.3.1 first, and then merge. Because it's much easier to explain "the metamodel for statics isn't done yet" than "the metamodel for statics is partly done on the JVM, but not done at all on JS, and in any case we reserve the right to change our minds about how the API looks, depending on how the implementation pans out".

[2016-11-11 11:03] tombentley commented on #6691
As per ceylon/ceylon-lang.org#288 we also need to document the following `ceylon doc` options as part of this:

- `header` The header text to be placed at the top of each page.
- `footer` The footer text to be placed at the bottom of each page.
- `non-shared`  Includes documentation for package-private declarations.
- `source-code` Includes source code in the generated documentation.
- `ignore-bro

[2016-11-11 11:26] quintesse commented on #6647
@lucaswerkmeister I think I finally got something that works. Turns out you *can* at least quote arguments with special characters by simply surrounding them with double quotes, you just have to be careful how you use the variables that handle them inside the scripts (with or without quotes, using things like `%~xx` etc).

But that still leaves us with the fact that you might see an example writte

[2016-11-11 11:40] lucaswerkmeister commented on #6647
I noticed a difference between our versions: if I read your code correctly, you *append* to `JAVA_OPTS`, whereas I *overwrite* it. Which one do we want?

[2016-11-11 11:45] quintesse commented on #6647
Well we talked about that before ☝️ and I think the consensus was to *override*, so I'd say *append*

[2016-11-11 11:46] lucaswerkmeister commented on #6647
Oh, I interpreted that as *complete overwrite*, not *append*. Shall I change my version?

[2016-11-11 11:48] quintesse commented on #6647
Yes, please. I've just built the entire distribution, sdk and Eclipse with it so it seems to work fine on Windows now. So if you want you can also merge to master.

[2016-11-11 11:48] gavinking commented on #6637
Thanks Tako.

[2016-11-11 15:04] chochos commented on #6629
oh, I thought it was done on JVM. It's partly done on JS. But if the API is bound to change, then I agree, let's leave it for 1.3.2 then.

[2016-11-11 15:30] tombentley commented on #6629
It's not *bound* to change, but from previous experience I wouldn't want to promise anything without having it *all* working.

[2016-11-11 18:06] chochos commented on #6444
So @quintesse do you think we can close this now?

[2016-11-11 19:16] quintesse commented on #6444
Well I just made the hack, I trust you made it actually work (and test it ;) )

[2016-11-11 20:30] lucaswerkmeister commented on #6647
Also, what does the batch version do with `ceylon run my.module --java=x`? The sh version ignores that, but I don’t see where that’s implemented in the batch version.

[2016-11-11 21:50] quintesse commented on #6647
Oops, you're absolutely right. I forgot all about that given all of the problems I encountered on teh way haha

[2016-11-11 22:06] lucaswerkmeister commented on #6647
So, can we close this now? (And reassign it to the 1.3.1 milestone, I guess?)

[2016-11-11 22:06] quintesse commented on #6647
Yup, I just merged it :)

[2016-11-11 22:07] #6647 closed

[2016-11-11 22:07] quintesse commented on #6647
Thanks @lucaswerkmeister !

[2016-11-11 22:08] lucaswerkmeister commented on #6647
Thank you, you did the hard work – I had the fortune to work with a sensible language ;)

[2016-11-11 22:18] jvasileff opened #6693 "unchecked null & flow typing quirk"
This is confusing:

[code]

* `result` can never be of type `Null` wrt *Ceylon* code, so I would expect a warning on `exists result`
* Flow typing prevents `result` from keeping its "unchecked null" status; the Java compiler emits `Util.checkNull(result)` immediately after the `if` block. Ironically, `result` can be nothing but `null` at that point.

[2016-11-11 22:36] jvasileff commented on #6693
I *think* what I would expect is

1. a warning on `exists result`, and
2. `Util.checkNull(result)` to be performed immediately before any narrowing operation

With 1), I would have immediately realized that `result`'s inferred type was not optional in my original code, and that I should add `else null` to make it so. Item 2) is in the spirit of fail fast.

[2016-11-12 10:12] gavinking commented on #6693
It seems to me that the only problem here is that the unchecked null isn't propagated to the narrowed `result'. That should be easy to fix.

I strongly disagree that there should be a warning here. The exists check is perfectly reasonable in every way, and the compiler knows exactly what to do with it.

[2016-11-12 21:46] xkr47 opened #6694 "ceylondoc: urls with anchors jump to wrong position when loading page"
When opening an url with an anchor e.g. https://modules.ceylon-lang.org/repo/1/ceylon/language/1.3.0/module-doc/api/Iterable.type.html#max in a new tab Firefox 49.0, I get a view like this:

![ceylondoc-anchor-issue](https://cloud.githubusercontent.com/assets/1488474/20242275/8f576820-a931-11e6-8b8c-92aec5526cdf.png)

Just some 100ms after the initial render, the content moves down about half a pa

[2016-11-12 21:51] jvasileff commented on #6694
Seems like a FF bug, but I wonder if putting the `id = "max"` on the `<tr>` rather than the first `<td>` would help.

[2016-11-12 21:52] xkr47 commented on #6694
Regarding anchors, here's some alternative approach:
https://stackoverflow.com/questions/27096621/how-to-disable-anchor-jump-when-loading-a-page/29823834#29823834

[2016-11-12 21:52] jvasileff commented on #6694
Oh, I'll bet this has to do with the way the section expands. The page probably scrolls correctly, but *then* the selection expands upwards.

[2016-11-12 21:54] xkr47 commented on #6694
Hmm, if I Ctrl-Shift-R reload the page then the first render shows all items expanded, then they all fold, and finally max expands (still offscreen though).. Could it be that the initially-all-expanded view somehow is part of the problem?

[2016-11-13 03:15] jvasileff commented on #6693
Ok, but we also need to make sure our nothings aren't null

[code]

[2016-11-13 21:28] #6693 closed

[2016-11-13 21:29] gavinking commented on #6693
Alright, I believe this to be fixed now.

[2016-11-13 21:44] gavinking commented on #6629
So this is slipping to 1.3.2, right?

[2016-11-13 21:50] jvasileff commented on #6693
Cool, the fix works well for my code.

[2016-11-13 22:18] chochos commented on #6629
yes

[2016-11-13 23:58] gavinking commented on #6646
I have updated the spec, so now I'm closing this issue.

[2016-11-13 23:58] #6646 closed

[2016-11-14 00:01] gavinking opened #6695 "static in language spec"
I need to add `static` to the spec.

[2016-11-14 08:58] lucaswerkmeister opened #6696 "null metamodel type hierarchy incorrect on JS"
[code]
Found by @joost-morsink on Gitter.

[2016-11-14 10:24] FroMage opened #6697 "Overload resolution broken for variadics with primitives"
The following tests now fail after @gavinking 's changes to overloading/variadics:

[code]

[2016-11-14 10:26] gavinking commented on #6697
Ah, so that's probably an *actual* regression, not just a broken test. So we need to fix it.

[2016-11-14 10:34] FroMage commented on #6697
Sorry, here's the relevant Java code:

[code]

[2016-11-14 11:55] #6687 closed

[2016-11-14 13:34] xkr47 opened #6698 "Lazy iterators produce different results with Java and JS backends"
[code]

in Java prints:
[code]
while in JS prints:
[code]
I don't know if either or neither is correct.

Inspecting compiler output using `--verbose=code` for both backends revealed that the Java backend always created a `final` copy of the loop variable `i` while the JS backend just used the loop variable directly. At least this then matches the differencies in the output.

Available also as http

[2016-11-14 14:01] jvasileff commented on #6698
I believe the Java version is correct. The loop variable should be scoped *inside* the for block.

[2016-11-14 14:09] FroMage commented on #6599
Interestingly, the rules for wildcards mapping mean that `Class<?>` maps to `Class<Object>`, which means I can't pass a `Class<Anything>` to it. Shall I declare this a non-issue, @gavinking ?

[2016-11-14 14:13] gavinking commented on #6599
For now, but I've already run into this in another context, and it's been pissing me off.

[2016-11-14 14:15] xkr47 commented on #6698
Added another case y2() to this issue; see original comment.

[2016-11-14 14:16] FroMage commented on #6599
OK @gavinking I pushed this change, but without any special rules. Can you give it a try?

[2016-11-14 14:17] gavinking commented on #6599
Yep, I'll try it out now.

[2016-11-14 14:22] FroMage commented on #6683
If not, I'll move to 1.3.2.

[2016-11-14 14:22] FroMage commented on #6490
Moving to 1.3.2 since @davidfestal did not react.

[2016-11-14 14:22] gavinking commented on #6682
@RossTate Wildcard capture is *very* difficult to implement in Ceylon, because of reified generics. I keep telling you this and you keep forgetting it ;-)

[2016-11-14 14:52] gavinking commented on #6599
@FroMage LGTM so far.

[2016-11-14 15:13] jvasileff commented on #6698
I guess `y2()` is due to JavaScript's hoisting, which will also make `y()` difficult to fix.

[2016-11-14 15:18] FroMage commented on #6599
Let's call it fixed until we find bugs then.

[2016-11-14 15:18] #6599 closed

[2016-11-14 15:18] gavinking opened #6699 "ceylon fat-jar does not work for default module"
Two problems here:

1. the `NoClassDefFoundError`, obviously, and
2. the ugly filename `default-.jar`.

[code]

[2016-11-14 15:20] gavinking commented on #6599
Agreed, thanks Stef, this is great!

[2016-11-14 15:26] FroMage commented on #6682
Fixed.

[2016-11-14 15:48] RossTate commented on #6682
Don't you just have to grab the type from the value at run time? That doesn't sound hard. At least, it hasn't been hard for us. Or is there something more specifically about Ceylon that I'm missing?

[2016-11-14 16:13] FroMage commented on #6699
Fixed.

[2016-11-14 16:13] #6699 closed

[2016-11-14 16:14] xkr47 commented on #6698
Tried `const` variables inside a loop on [babeljs.io](https://babeljs.io/repl/) and it wraps the whole loop body inside a function, but **only** if there are lazy references to the variable.

[2016-11-14 16:16] gavinking commented on #6699
Thanks, so fast!

[2016-11-14 17:56] gavinking commented on #6682
There it is: "just" ;-)

Well, I don't think it's Hard hard. But it is "some work" hard. Could easily just be the way we've implemented reified generics.

[2016-11-14 18:10] RossTate commented on #6682
That's possible.

[2016-11-14 18:10] jvasileff commented on #6685
Since I happen to be looking at this, a few BC thoughts come to mind for the Java backend:

1. Fields for TPs are currently `private` (would prob. need `public` getters)
2. Interface companion classes aren't always generated, so TPs of interfaces aren't always readily available
3. For 2), it may be best anyway to use `abstract` interface methods for TPs of interfaces (rather than fields in compani

[2016-11-14 18:18] gavinking commented on #6682
Ugh, @FroMage, there's something we didn't take into account here: I can't _refine_ a method we've played these tricks with anymore, since Java doesn't like us widening the parameter type!

Ouch!

[2016-11-14 19:26] FroMage commented on #6682
Then let's roll back.

[2016-11-14 19:27] FroMage commented on #6682
But it's the same with the other tweak issue I bet.

[2016-11-14 20:25] gavinking commented on #6682
Yeah, and that one was not just a "nice to have".

[2016-11-14 20:27] gavinking commented on #6682
So what I think I'll have to do is move this functionality into the typechecker. I will try it.

[2016-11-14 20:31] gavinking commented on #6682
@FroMage I tried reverting @ed0bd96 and @3bf0617 but that resulted in a conflict and I'm not sure I trust myself to not screw up resolving the conflict. Could you do it please?

[2016-11-15 10:11] FroMage commented on #6370
Reverted since it prevents us from implementing those types in Ceylon.

[2016-11-15 10:12] FroMage commented on #6682
Reverted since it prevents us from implementing those types in Ceylon.

[2016-11-15 10:14] FroMage commented on #6682
Reopening if you want to try this in the typechecker. To be clear, it's possible that we can support tweaking the signature type in the backend, but it's really a lot of work that affects how we deal with erasure and non-widening, and is pretty tentacular, in the worst part of our code. It would take quite some time and pain, and isn't possible for 1.3.1.

[2016-11-15 10:14] FroMage commented on #6370
Reopening if you want to try this in the typechecker

[2016-11-15 11:06] gavinking commented on #6682
Yes, I'm on it. It might be reasonably straightforward.

[2016-11-15 11:46] gavinking commented on #6682
Testing now ... fingers crossed I got it right...

[2016-11-15 12:39] gavinking commented on #6370
Alright, refixed!

[2016-11-15 12:39] #6370 closed

[2016-11-15 12:39] gavinking commented on #6682
That seems to have worked. Fixed!

[2016-11-15 12:39] #6682 closed

[2016-11-15 13:19] gavinking opened #6700 "problem with parameter type inference in Java streams API"
I have this code:

[code]

I get these errors:

[code]

That's a bit strange, since a really similar sort of parameter type inference is working perfectly correctly immediately below in the call to `mapToObj()`.

[2016-11-15 13:53] gavinking commented on #6700
@FroMage why is the static method `LongStream.iterate()` marked `formal` by the model loader?

[2016-11-15 14:00] FroMage commented on #6700
The only way this can happen is if javac reports it as `abstract`.

[2016-11-15 14:03] gavinking commented on #6700
It's a `static` method of an interface. It can't possibly be `abstract`.

[2016-11-15 14:04] FroMage commented on #6700
you're going to have to make sure, because the JVM does weird things, like `default` methods in interfaces are marked `abstract` too…

[2016-11-15 14:05] FroMage commented on #6700
I haven't found reference to that in the JLS yet. But if your debugger tells me it's both static and abstract, I'll special-case it like I do for `default`.

[2016-11-15 14:12] gavinking commented on #6700
You don't need the debugger. You can see it in the hover in IntelliJ.

[2016-11-15 14:20] FroMage commented on #6697
So it's due to 4c0cc9e97fdfed70de5b9cadb618d9893e18d14d in `ModelUtil.betterMatch`:

[code]

[2016-11-15 14:21] FroMage commented on #6697
Which means we don't even get to compare the types of the variaric param.

[2016-11-15 14:22] FroMage commented on #6700
Well, I can always add the special-case. But does that really fix your issue or is it not related?

[2016-11-15 14:22] chochos commented on #6613
I made some progress on this but it probably can be improved for 1.3.2

[2016-11-15 14:23] chochos commented on #6614
Moving to 1.3.2 because my attempts to do this broke too much shit.

[2016-11-15 14:24] chochos commented on #6444
Yes I tested it. If there are any problems we'll reopen/file new issues.

[2016-11-15 14:31] FroMage commented on #6697
So yeah, the test is wrong because it's not symmetrical: if both are variadic of the same size, we prefer the first one arbitrarily before checking further. I've put a condition to avoid this, but by then the test became too complex for me to make any sense of it. I'll let you review it.

[2016-11-15 14:34] gavinking commented on #6697
Ugh. Quite clearly it should be:

[code]

Agreed, @FroMage?

[2016-11-15 14:35] FroMage commented on #6697
OK pushed. Can you review?

[2016-11-15 14:36] FroMage commented on #6700
Pushed a fix for this. Is it enough to fix your issue?

[2016-11-15 14:36] gavinking commented on #6697
LGTM.

[2016-11-15 14:36] FroMage commented on #6697
OK at least we came to the same conclusion independently ;)

[2016-11-15 14:37] #6697 closed

[2016-11-15 14:37] gavinking commented on #6697
That's reassuring, yes :-)

[2016-11-15 14:38] gavinking commented on #6700
No, it's not really related to this issue, just something I happened to notice while looking at this.

[2016-11-15 14:46] #6700 closed

[2016-11-15 14:46] gavinking commented on #6700
Fixed, I believe.

[2016-11-15 15:26] FroMage commented on #6680
OK, special-cased.

[2016-11-15 15:26] #6680 closed

[2016-11-15 15:26] gavinking opened #6701 "infer type argument to Collectors.toList()"
It's a little irritating that I have to explicitly write in the type argument `String` in this code:

[code]

Currently we do a similar sort of type inference on:

- parameter types of anonymous functions, and
- type arguments of function references.

The reason we don't also do it for invocations of toplevel functions, `static` methods, and class instantiations is that there are already well-defi

[2016-11-15 15:39] gavinking commented on #6680
Thanks.

[2016-11-15 16:01] quintesse commented on #6680
What really? Come on, you even found an example of people using it @FroMage !

[2016-11-15 16:42] gavinking commented on #6683
Well, I can't seem to reproduce this anymore, so perhaps it's fixed itself. Closing.

[2016-11-15 16:56] #6696 closed

[2016-11-15 18:46] chochos commented on #6444
Obviously I didn't test enough

[2016-11-15 22:42] jvasileff opened #6702 "flow sensitive typing for value cases"
The following does not compile:

[code]
Replacing `case (null)` with `else` eliminates the error at the expense of readability. `case (is Null)` also works.

I presume we don't want to use the type `\Inull`, but I think subtracting `Float` and `Integer` (as is done with `else`) would be nice here, making `input` `Absent`.

[2016-11-15 22:44] jvasileff commented on #6702
Somewhat related I guess, I just realized that `switch` guards aren't supported:

[code]

[2016-11-15 22:49] gavinking commented on #6702
Correct. This is per-spec. I have no plans to change it, unless someone can show me a truly compelling use-case.

There is an existing issue for that. #6238.

[2016-11-16 01:53] #6493 closed

[2016-11-16 09:42] gavinking opened #6703 "allow static member refs qualified by 'class'"
We currently let you write `this.member` to disambiguate a local name. We could also allow `class.member` for class members declared `static`.

[2016-11-16 13:19] xkr47 commented on #6702
I guess `case (!exists)` isn't appealing either? :)

[2016-11-16 13:21] gavinking commented on #6702
@xkr47 TBH, I don't have any real objection to `case (exists)` and `case (!exists)` if it's something other folks would like to be able to write. It's perfectly consistent.

[2016-11-16 13:58] xkr47 commented on #6702
`case(exists)` is probably better written as a `if` statement/expression since there are only two possible outcomes, but it would probably cost nothing extra to support that as well :)

[2016-11-16 15:41] FroMage opened #6704 "Ordering of source files changes `untrustedType` information"

[2016-11-16 15:41] FroMage opened #6705 "Class files generated depend on source file ordering"
Due to local variable counters and random line numbers for `readResolve`

[2016-11-16 16:04] gavinking opened #6706 "use unchecked nulls for parameters of anon functions passed to Java SAMs"
This code currently causes a warning and an `AssertionError`:

[code]

But this code is perfectly reasonable and should work.

[2016-11-16 16:07] gavinking commented on #6706
I have partially fixed this&mdash;the warning and `AssertionError` are gone&mdash;but now I get a `NullPointerException`, and I might need help from @tombentley or @FroMage on this last little bit.

The problem is here:

[code]

But `$param$0` can now be `null`, because the parameter has unchecked nulls.

[2016-11-16 16:35] #6705 closed

[2016-11-16 16:35] FroMage commented on #6704
Fixed.

[2016-11-16 16:35] #6704 closed

[2016-11-16 16:35] FroMage commented on #6705
Fixed

[2016-11-16 16:56] jvasileff commented on #6702
For object values like `null` and `red | green`, the simple alternatives `is Null` and `is \Ired |\Igreen` work. In the case of `null` the alternative is no worse. And for `red | green`, I know typesafe use of subsets of enumerated cases isn't common.

I'm not entirely sure why I said that. We'd be narrowing, not inferring.

For literal values like `case (7 | 13) { processSpecialNum(obj); }`, it w

[2016-11-16 17:14] xkr47 commented on #6682
For us invariantly less educated :grin:, what benefit does this change give in practice? Ability to use a wider set of types as argument for getParameterValue()?

[2016-11-16 17:18] gavinking commented on #6682
Yes.

[2016-11-16 19:28] xkr47 commented on #6615
I'm getting a bit annoyed by the three-letter operators.. `?|>`

I think they are only borderline ok at being rememberable.

I mean I sometimes have problems remembering regexp operators like `(?<= (?! (?<!` etc, particularly in which order those characters were supposed to be again.

Have you considered using some keyword instead like... `given` for example?

[2016-11-16 20:01] xkr47 opened #6707 "Feature request: Get sources from maven if not available on herd"
Hi,

I've been annoyed for several releases now that the source packages for io.vertx.vertx-core and most others in io.vertx lack the source code. These packages are java dependencies of io.vertx.ceylon.* ceylon modules.

I understand it's probably laborous to upload all packages and dependencies to the herd and so to also upload source packages might become unfeasible.

Since the java modules in

[2016-11-16 20:05] jvasileff commented on #6707
+1

My personal opinion is that this is preferable, with many advantages.

John

[2016-11-16 20:33] someth2say commented on #6615
I kind of agree,  but just partially.

I do hate ascii-art operators like this one.  But, as commented on gittter, `|>` operator family have the pro that represent both _pipe_ (like in shell) and a _direction_ or _flow_. Those are really significant.

On the other side, three chars operators are actually hard to remember.  Even in this same thread you can find both `?|>` and `|?>`! That's actually

[2016-11-16 20:37] xkr47 commented on #6615
well something like

[code]

For `|>` I would similarly use the ? and * as prefixes since that's how they are in `?.` and `*.` too, and also it keeps the base operator unchanged.

[2016-11-16 20:42] xkr47 commented on #6707
.. preferable to depend on maven modules directly?

[2016-11-16 20:52] someth2say commented on #6615
Well, I've been proven not good in proposing syntaxes, but that one feels hard to read for me.
Also, as discussed with Gavin, this approach can drive to ambiguities when initial value is also a `Callable`.
But maybe something in the middle can be used:
[code]
That is,  using `appliedTo` to identify initial argument,  and `andThen` family operators for chaining.

But being true,  now I see it writt

[2016-11-17 02:00] quintesse commented on #6444
Copying this from Gitter:

Pfff @chochos , I was trying out the trick with $$ceylon$require() on the WebIDE and it wouldn't work, it just kept loading the module versions mentioned in the sources instead of the one that `$$ceylon$require()` told it to load.

In fact putting breakpoint in that function it showed it was actually loading those modules before it would get to the function! Turns out th

[2016-11-17 02:16] quintesse commented on #6444
So given the fact that I wasn't going to use my horrible `$$ceylon$require()` hack on the web anyway I wondered if it wouldn't be better to try and do the same for Node.js, after all I would rather get rid of the hack if possible.

So I found [this](https://github.com/npm/npm/issues/2943#issuecomment-55648651):

[code]

So perhaps instead adding a `$$ceylon$require()` function we could add somethi

[2016-11-17 02:20] quintesse commented on #6444
Anyway, reopening for now to make sure we take a moment to investigate this properly before we release 1.3.1

[2016-11-17 02:47] quintesse opened #6708 "Don't use `String.startWith`"
@chochos I know you said that my Node v0.10.42 was "too old, not supported", but honestly:

 1. There are still maintained OSes that have this Node version (RHEL for example)
 2. The Node version used by OpenShift is equally old
 3. The ECMA spec that includes this is only from 2015, so it's not that long officially available
 4. Lots of NPM modules seem to work just fine on my Node, so why not Ce

[2016-11-17 02:52] quintesse commented on #6708
Or do the typical Javascript-thing and add it to `String` ourselves if it's missing.

[2016-11-17 03:54] quintesse commented on #6708
Please revise that second commit @chochos , they're probably in the wrong file but I couldn't find a better place for them.

[2016-11-17 03:55] quintesse commented on #6444
At least the hack seems to work for Node.js so perhaps we can keep it, regardless of how horrible it is.

[2016-11-17 07:41] xkr47 commented on #6707
https://github.com/vert-x3/vertx-lang-ceylon/pull/15

[2016-11-17 09:51] gavinking commented on #6707
Well, I think the source for these modules should ideally be in Herd.

[2016-11-17 11:08] FroMage commented on #6706
Fixed.

[2016-11-17 11:08] #6706 closed

[2016-11-17 11:31] gavinking commented on #6706
Thanks Stef!

[2016-11-17 12:25] gavinking opened #6709 "problems calling WeldContainer.select()"
I have this:

[code]

I get this error:

There appears to be multiple problems here:

1. it looks to me like `java.lang.annotation.Annotation` is being treated as a SAM. That's definitely wrong.
2 the overload resolution algorithm is failing here, something to do with varargs.

I've been able to reproduce (2) using the following code:

[code]

Fixing (1) is more urgent, since, at least for this ca

[2016-11-17 12:39] #6708 closed

[2016-11-17 12:40] quintesse commented on #6444
So for now we keep the hack, using it only for Node.js while for the web we use RequireJS mapping feature.

[2016-11-17 12:40] #6444 closed

[2016-11-17 13:10] FroMage commented on #6709
Fixed (1).

[2016-11-17 13:37] gavinking commented on #6709
I have a fix for (2), just verifying it now.

[2016-11-17 14:26] gavinking commented on #6709
This is "enough fixed" for now.

[2016-11-17 14:26] #6709 closed

[2016-11-17 17:58] quintesse opened #6710 "Release 1.3.1"
**This is the [checklist](https://github.com/ceylon/ceylon/wiki/Release-Progress-Template) for the [Release Document](https://github.com/ceylon/ceylon/blob/master/dist/RELEASE.md)**

### Pre-release

 - [x] Check that all plugin files in `dist/bin/` are up to date
 - [x] Create release branch (`version-X.Y.Z`)
 - [x] Apply and push version changes
 - [x] Run all the tests
 - [x] Tag the release

#

[2016-11-17 19:14] gavinking commented on #6710
I have updated the website (except for download links) and written the release announcement.

[2016-11-17 19:39] jvasileff opened #6711 "implement 'container' for ctors & make c.l.m.model::Members have non-null 'container's"
Given:

[code]

* AFAICT, the return type for `container` for all of these should be non-`null`
* `CallableConstructor`s & `ValueConstructor`s currently always return `null` for `container`

[2016-11-18 11:07] gavinking commented on #4240
For some reason, the dupe issue #5955 was opened for this. Discussion is now there.

[2016-11-18 11:07] #4240 closed

[2016-11-18 11:09] gavinking commented on #4743
This was done a very long time ago.

[2016-11-18 11:09] #4743 closed

[2016-11-18 11:15] gavinking opened #6712 "ceylon assemble"
Currently `ceylon fat-jar` is a great assembly tool that lets you run a Ceylon app using `javac`. It has one limitation: it implies `--flat-classpath`, and doesn't use JBoss Modules for classloader isolation.

We need a similar `ceylon assemble` command that similarly produces a fat jar, but with "russian doll" packaging, and which uses JBoss Modules for classloading.

This, together with #5955 sa

[2016-11-18 11:15] gavinking commented on #3773
Superseded by #5955 and #6712.

[2016-11-18 11:15] #3773 closed

[2016-11-18 11:43] gavinking opened #6713 "ceylon assemble-js"
Similar to #6712, we need an assembler for JS. That is, we need a tool to aggregate a module and its dependencies into some sort of archive or directory that is runnable on node.js, without needing to have `ceylon` installed on the machine.

Currently the closest thing to this we have is [`ceylon copy --dependencies](https://ceylon-lang.org/documentation/1.3/tour/modules/#resolving_dependencies_at

[2016-11-18 11:52] quintesse commented on #6713
Seems to me that's something that projects like Browserify do, right @chochos ? Put everything in a single file.

[2016-11-18 13:35] FroMage opened #6714 "MavenDependencyResolver doesn't read versions"
Quite puzzling, but the `ResolverTestCase` shows that the `MavenXpp3Reader` we use in `AetherResolverImpl` does not read the `<version>` tag of `<dependencies>`, because they are present in http://central.maven.org/maven2/org/apache/camel/camel-core/2.9.2/camel-core-2.9.2.pom, but are `null` in the resulting model.

[2016-11-18 14:56] chochos commented on #6713
Yes, that's what browserify does, but we don't really need to put everything in a single file to run ceylon-js stuff without depending on `ceylon` being installed. I mean, all `ceylon run-js` does is analyze dependencies to fetch the missing ones with the CMR, then run the module with `node`.

Strictly speaking, we don't even have to have everything in the same directory. But to facilitate things,

[2016-11-18 16:02] quintesse commented on #6713
Sure, but that would be up to the people using it to decide. They don't *have* to use it.

[2016-11-18 21:29] quintesse opened #6716 ""ClassDefNotFoundErrors (wrong name)" in the tests on Windows"
One example of a test that goes wrong is `CeylonDocToolsTests.containsJavaCode`.

What happens is that the LazyPackage tries to load two different versions of a declaration

                     // Might be trying to get a lowercase type with an upper-case pretend name
                    // So try to find the type type with two strategies:
                    // - UrlDecoder -> urlDecover and Url

[2016-11-18 22:07] tombentley commented on #6716
ExtClassLoader as in extensions class loader? How on earth is that finding
it?

On 18 Nov 2016 21:29, "Tako Schotanus" <notifications@github.com> wrote:

[2016-11-19 01:58] jvasileff opened #6717 "funny null warning"
True, it's not optional, but it can be `null`:
[code]
This can happen when writing code:
[code]

[2016-11-19 03:24] jvasileff opened #6718 "missed deprecation/unwanted warning using compile CLI"
This compiles cleanly in Eclipse, but `ceylon compile` results in a warning:
[code]
`Declaration.refines()` is indeed deprecated.

The module import:
[code]
the workaround is of course to use:
[code]

[2016-11-19 08:10] xkr47 commented on #6707
Meanwhile..
[code]

[2016-11-19 10:41] #6717 closed

[2016-11-19 10:42] gavinking commented on #6717
Fixed, thanks.

[2016-11-19 15:31] jvasileff opened #6719 "error w/local import of member of top-level objects on JVM & JS"
See https://github.com/ceylon/ceylon/issues/6646#issuecomment-255861708 & https://github.com/ceylon/ceylon/issues/6646#issuecomment-255866219.

[2016-11-20 11:30] gavinking opened #6720 "unsound initialization logic with static values"
This code prints `<null>`:

[code]

That's clearly unsound.

One solution to this is would be to:

1.  require that _constants_, that is, `static value`s defined with `=`, be defined *before* `static function`s, and
2. prohibit calls to constructors from the initializer of constants.

Not sure if maybe there's some other less heavy-handed solution.

[2016-11-20 11:36] gavinking commented on #6719
@jvasileff I don't understand. What is the code and what is the symptom?

[2016-11-20 11:40] gavinking commented on #6720
Note: in principle, these restrictions need not be applied to `late` constants.

[2016-11-20 11:47] gavinking opened #6721 "allow 'late' attributes in declaration section"
AFAICT, there's no reason at all why a `late` field must be declared in the initializer section of a class body. So in determining the extent of the initializer, we should ignore `late` fields. This potentially makes Ceylon's rather heavy-handed initialization checking a fair bit more manageable!

[2016-11-20 11:58] gavinking commented on #3544
I propose the following syntax:

[code]

Where I'm repurposing the `late` annotation to mean "initialized lazily" instead of just "initialized later". There's no ambiguity here, since currently a `late` field can't have an initializer, and the compiler enforces that.

Reasons why I think this is reasonable:

- it seems to match the English meaning of "late",
- the actual code generation is pretty

[2016-11-20 12:04] FroMage commented on #3544
+1

[2016-11-20 13:05] quintesse commented on #3544
Even better +1

[2016-11-20 13:13] jvasileff commented on #6719
The linked code:

[code]

* On the JVM, there's a backend error
* On JS, it prints null
* On Dart, prints "x" (fixed in https://github.com/jvasileff/ceylon-dart/issues/43)

[2016-11-20 13:17] jvasileff commented on #3544
Would the type checker produce an error if you tried to assign to a late value? e.g.

[code]

[2016-11-20 13:34] Zambonifofex commented on #3544
I really dislike this idea. It seems to me like the `late` annotation is being used here for two completely different things simply because “it isn’t ambiguous”.

Either way, I don’t think we can have this feature without drastically changing the meaning of either `=` or `=>`, that’s why I really dislike it. If you guys introduced a new symbol for “memoized assignment” (maybe `~>`) instead of an a

[2016-11-20 13:36] jvasileff commented on #6720
That would be very sad.

This seems to be backend specific–it prints "Gavin" on JS & Dart. On the JVM, a static initializer is used to set `constant`.

I think it would be very natural to have the rules be the same as the code below, and make backend changes as necessary:

[code]

[2016-11-20 13:38] Zambonifofex commented on #3544
By the way, if this was something I needed all the time, I wouldn’t mind a little bit of irregularity. But this is something I’ve never actually needed.

[2016-11-20 13:39] quintesse opened #6722 "Create a test for the `language` properties"
As we saw with the 1.3.1 release it's too easy to forget some of them.

[2016-11-20 13:40] gavinking commented on #3544
Well, that's something I was wondering about, and I'm not sure, but I guess I think it should be an error, at least for `shared`, non-`variable` fields. But yeah, that's something that needs thinking-through.

[2016-11-20 13:42] quintesse commented on #3544
Btw, this use of `late` we'll be able to use everywhere, right? I mean, even locally and such.

[2016-11-20 13:43] lucaswerkmeister commented on #3544
`late` fields can already be `variable` (and non-`variable` ones can only be assigned once), so I’d say disallowing that for non-`variable` `late` fields would be consistent.

Another question:
[code]
Does this print something? That is, if the value is assigned before ever being read, is the lazy initializer evaluated?

[2016-11-20 13:44] jvasileff commented on #3544
+1 on being able have memoized initialization for locals

[2016-11-20 13:44] gavinking commented on #3544
It might "seem" like that to you, but if you expect to be able to convince anybody else that these are two "completely different" things, then you need to present us with an argument for how and why they are semantically distinct and exhibit very different behaviors.

I've already presented a sketch of an argument for how the behavior is very semantically similar. How is my argument incorrect.

[2016-11-20 13:44] gavinking commented on #3544
Probably, yes.

[2016-11-20 13:46] gavinking commented on #3544
I guess. But we might not need that _immediately_.

[2016-11-20 13:49] gavinking commented on #3544
@Zambonifofex By the way, to make my argument more explicitly:

The **only** difference between the two scenarios for `late value foo` is that in one scenario, some code has to explicitly assign `foo = something`, whereas in the other, `= something` is assigned implicitly when needed. This difference is reflected in the existence or nonexistence of an initializer in the declaration.

Otherwise, th

[2016-11-20 13:50] gavinking commented on #6719
Thanks.

[2016-11-20 14:06] gavinking opened #6723 "--flat-classpath and language module"
Suppose I have a module that imports `ceylon.collection "1.3.1"`, and I run it with `--flat-classpath` on Ceylon 1.3.2. Then I get nasty errors like this:

[code]

I can only resolve this error using an `overrides.xml`:

[code]

I think it would be _much_ better if `--flat-classpath` added these sort of overrides all by itself, but most *especially* in the case of the language module!

[2016-11-20 14:17] Zambonifofex commented on #3544
Just because it makes sense *in English* doesn’t mean it makes sense *in Ceylon*.

---

~

What do you mean by <q>there is no difference</q>? `late`, in its former meaning, is used to tell the typechecker to shut up about the initialization of the value, allowing you to initialize (or to not initialize) the value whenever you want. This is completely different from what `memoized` would do.

I gue

[2016-11-20 14:18] Zambonifofex commented on #3544
Sorry, I forgot to at-mention you, @gavinking.

[2016-11-20 14:19] gavinking opened #6724 "static members in anonymous classes"
It appears that I've allowed you to write `static` members in `object` declarations, pretty much by accident. I can't actually think of anything harmful about this, but on the other hand it doesn't seem very useful.

Two questions:

1. is there some reason it's useful?
2. should we make it an error?

[2016-11-20 14:23] someth2say commented on #6720
Well, this is one of the classic java puzzles, but translated to Ceylon.

May this be the `static`equivalent for restrictions in an initialization section? Shows regularity.

Yup. Like in java, we should disallow calling any non-static method from a static context. And this includes constructors.

John, I guess in Dart & JS it is working because `=` is more like `=>` than in Java.
So `name`is reso

[2016-11-20 14:25] jvasileff commented on #6724
In theory, I believe deeply nested `static` declarations can exist for any type of declaration as long as they are the leading members in their block (and the parent has no params).

But I think these should be disallowed consistently.

[2016-11-20 14:25] gavinking commented on #3544
In light of #6721, it's clear to me that `late` has this function in *both* cases.

They can both occur in the declaration section _for exactly the same reason_: because the field is *not* initialized at its point of declaration in the procedural flow of the code. Instead the field is initialized *later*.

The *only* difference is the precise means by which the field comes to be initialized. And t

[2016-11-20 14:28] gavinking commented on #6720
Nope, we definitely shouldn't do that, since that would prevent one of the main uses of `static`: writing factory methods.

[2016-11-20 14:41] Zambonifofex commented on #3544
@gavinking

Yes, please excuse me, I’m an idiot :stuck_out_tongue_closed_eyes:.

Sorry, I don’t follow.

I really like this argument, by the way :smile:. I think the difference in the *<q>means by which the field comes to be initialized</q>* is big enough for it to be a different annotation. I guess that that’s where we disagree, but at least now I understand your point‐of‐view.

I don’t want to r

[2016-11-20 14:52] gavinking opened #6725 "bug with switch in anon function"
I have:

[code]

I get:

[2016-11-20 15:02] gavinking commented on #3544
But that difference is already captured *syntactically*. We don't need annotations when the syntax is already sufficient to disambiguate.

[2016-11-20 15:22] jvasileff commented on #3544
I agree with @Zambonifofex that `late` and memoized are fairly different, because: the fact that a value is memoized is irrelevant outside if it's definition, whereas 1.3.1's `late` matters externally.

AFAICT, from the type checker's perspective, much (all?) of the existing logic for `late` outside the value's declaration would be replaced by `late && !specified`.

This affects:

* The ability to

[2016-11-20 15:23] jvasileff commented on #3544
[code]
Does this print something? That is, if the value is assigned before ever being read, is the lazy initializer evaluated?

Please, don't let this be allowed!

[2016-11-20 15:30] someth2say commented on #6720
Mmm... factory methods _tend_ to be `static`, so it usage will be  static->static or non_static->static.
What a I am proposing to disallow is static->non_static calls.
Right, some factory methods can be non-static. Allowing those case is pretty more complicated, as imply class hierarchy initialization order. I go deeper on this when I got a computer.

Anyway, while writing an example for my propos

[2016-11-20 15:34] jvasileff commented on #6720
@someth2say just to point out, the circular assignment is perfectly legal for top-levels, but with a runtime exception, and I fail to see a significant distinction between `static`s and top-levels.

[2016-11-20 15:48] jvasileff commented on #6720
I've also always thought of value constructors as (lazily initialized) values of the class's containing scope, which in the example below would be top-levels, and that in theory they should follow the same initialization logic as top-levels (i.e. throw instead of `null`):

[code]

[2016-11-20 15:52] gavinking commented on #6720
Static factory methods have to be able to get an instance from somewhere, by calling a constructor of the class.

[2016-11-20 16:03] jvasileff commented on #3544
Should initialization be thread safe, perhaps with `volatile` and `synchronized`? My thought is "yes".

Optionally, there could be an annotation to request thread-safe initialization, and perhaps even another `idempotent` to permit multiple evaluations of the specifier expression. But the downside is that Ceylon doesn't otherwise explicitly address thread safety.

[2016-11-20 18:11] gavinking opened #6726 "ceylon plugin list does not show module versions"
`ceylon plugin list` should show versions of the plugins.

[2016-11-20 18:14] quintesse opened #6727 "Output of `ceylon plugin list` seems wrong"
After a `ceylon plugin install ceylon.swarm` the output of `ceylon plugin list` is:

    swarm (from local module 'ceylon.swarm')
    swarm (from user module 'ceylon.swarm')

Why two lines? We have to investigate that.

PS: if possible see if we can add the module's version to the output as well.

[2016-11-20 18:15] quintesse commented on #6723
Isn't this what the option `--link-with-current-distribution` is for?

[2016-11-20 18:19] quintesse commented on #3544
We so far haven't specified any of that anywhere yet in Ceylon. Why start now? :)

I still think we should not bother with low-level threading in Ceylon at all. If you need that just use Java directly. For Ceylon we should probably just go in the direction of actors or other similarly high-level constructs.

[2016-11-20 18:24] jvasileff opened #6728 "disallow forward references to local classes and interfaces"
I think the references to `Foo`, `Bar`, `I`, and their members are already forbidden by the spec, section 5.1.5:

[code]

[2016-11-20 18:27] jvasileff commented on #3544
I think this feature is uniquely vulnerable to threading bugs.

Well, not totally unique. Toplevels are too, but the Java backend provides thread safety for them.

[2016-11-20 18:49] quintesse commented on #6723
`linkwithcurrentdistribution=true` in the `[defaults]` section

[2016-11-20 18:50] jvasileff commented on #6723
I think what Gavin's trying to do should be automatic (use the distribution's language module when running *older* binaries), just as it is for `run`.

Running `1.4` binaries on a `1.3.2` distribution should require the option.

[2016-11-20 18:55] quintesse commented on #6723
True. And I think that should already be the default AFAIK, so this *should* already work.

[2016-11-20 19:02] gavinking commented on #6723
I already tried that, and it doesn't work. I also tried `linkwithcurrentdistribution=upgrade`. No luck there either.

[2016-11-20 21:05] jvasileff opened #6729 ""ceylon compile --javac=-help" doesn't work"
Per the help info:

[code]
but:
[code]

[2016-11-20 21:11] jvasileff opened #6730 ".ceylon/config option "target" doesn't work"
Per my testing, `ceylon compile --target=7` *does* work, but with just a `.ceylon/config` file of:

[code]
you get Java 8 (major version 52) class files.

[2016-11-20 21:18] quintesse commented on #6730
@jvasileff the option is:

[code]

[2016-11-20 21:18] jvasileff commented on #6730
ah, ok. Then the bug is for `ceylon-sdk/.ceylon/config`

[2016-11-20 21:19] quintesse commented on #6730
Ah, I didn't even know it was used there.

[2016-11-20 21:20] quintesse commented on #6730
Still, could you test, just to be sure it really works?

[2016-11-20 21:21] jvasileff commented on #6730
Yep, just did! Using `[compiler.jvm]` works for my project.

[2016-11-20 21:22] lucaswerkmeister commented on #6730
But this seems to correctly disable the “ceylon namespace” warnings in `ceylon.formatter`:

[code]

Do we support the `compiler` section, but only for old options? If yes, it’s pretty unfortunate that appending to the existing section silently fails…

[2016-11-20 21:24] jvasileff commented on #6730
Should the `[compiler.x]` options supplement `[compiler]` options, but just for the `x` backend, or is the idea that they are totally independent namespaces?

[2016-11-20 21:24] lucaswerkmeister commented on #6730
Oh, right, the other options are probably backend-independent.

[2016-11-20 21:25] quintesse commented on #6730
The `[compiler]` section is for options that are *common* to many/all compilers and indeed for old options.

[2016-11-20 21:25] jvasileff commented on #6730
but still... I agree with your point that it is easy to make mistakes

[2016-11-20 21:28] quintesse commented on #6730
I think the biggest problem here is that it's really not obvious what options there are and how they are named exactly. Giving meaningful warnings/errors for a file that's supposedly freely editable/extendable by the user/other tools is a lot harder (and most software doesn't even try AFAIK)

[2016-11-20 22:04] lucaswerkmeister commented on #6730
Shouldn’t each tool get a section of its own for its custom options? Then we can warn about unknown options in the well-known sections.

[2016-11-20 22:08] jvasileff commented on #6730
@lucaswerkmeister still, you might have `1.3.2` options in `~/.ceylon/config` and not want warnings when using ceylon `1.3.1`.

[2016-11-20 22:10] lucaswerkmeister commented on #6730
Meh, I would consider that a lesser evil. (Besides, we could allow you to disable these warnings with `compiler.suppresswarning`.)

[2016-11-21 09:21] FroMage opened #6731 "Move CeylonAntTaskDocTool and CeylonBootstrapTool away from java compiler module"
Because they make the java compiler pull the bootstrap module, which depends on the runtime, which depends on the java compiler, so we have a circular dep and that's not supported by java 9. It also makes it harder to delete versions on Herd until we can delete circular deps. It's mostly not very useful so we can't really justify it.

[2016-11-21 09:39] FroMage opened #6732 "Reevaluate why the model module depends on ceylon.language"
I know we special-case this for Java 9 because we do reflection in the model module to load language module annotations, but reflection is going to change in Java 9 anyway.
Perhaps that reflection is also required by JBoss Modules, but we should investigate if we can't work around this somehow. Perhaps we should extract the model annotations to their own module, which both the language module and

[2016-11-21 12:12] someth2say commented on #6720
@gavinking You are right, I was thinking only about using the factories, not about the factory code itself.
I should stop writing comments after family dinner...

I think we can relax 2 a bit:
- prohibit calls to constructors _before any `static value` declaration_ . In other words, prohibit calls to constructors _but at the end of the `static initialize section`_.

This way we confirm class (not

[2016-11-21 13:41] jvasileff commented on #6720
Even if replace Objectby Integer, it prints "0", so evidently static values just keep uninitialized.

Yes, that's why I think all of this is a backend issue, with `static` members not being initialized in the same manner as top-levels.

On the Java backend, you can also, in a sense, circumvent top-level initialization checks by-way of a `static` member. Note that the top-levels may not even be in

[2016-11-21 22:59] lucaswerkmeister opened #6733 "Create deterministically ordered manifest"
It seems the `ceylon.formatter/1.3.1` build is not fully reproducible because the entries in `META-INF/MANIFEST.MF` are sometimes ordered differently. (For details on the reproducible build, see the [release notes](https://github.com/ceylon/ceylon.formatter/releases/1.3.1)). It would be good if we could nail down that order and make it fully deterministic.

[2016-11-22 08:42] welopino opened #6734 "A highly regular type system ?"
Allowed:

void fu (Integer(Integer) f) => print(f);
fu((a) => 2);

Not allowed:

Integer (Integer) f ;
f = ( a) => 2;

(^ This should be allowed optionally: Explicit parameter declaration is of course necessary when assigning a subtype. When omitted, this would be a nice way to declutter - without introducing a syntax for signatures a la sml or ocaml.)

Another example:

Allowed:
[Integer, Integer

[2016-11-22 10:20] gavinking commented on #6446
To be clear about how this proposal actually differs from the syntax of Ceylon as it exists today, the main thing being proposed is two allow the following two things which are not currently allowed:

    value String hello = "Hello";

And:

    [Float x, Float y] = [1.0, 2.0];

That's actually not an unreasonable suggestion. The "irregularity" that is being raised here is that:

1. a destructurin

[2016-11-22 10:24] gavinking commented on #6446
Oh, wait, it would also imply allowing:

    function String hello() => "Hello";

And:

    value String name => ... ;
    assign String name => .... ;

[2016-11-22 10:37] quintesse opened #6735 "Add `--exclude-module` option to `ceylon copy`"

[2016-11-22 11:11] gavinking opened #6736 "allow parameter type inference in specification statement"
Currently, parameter type inference for anonymous functions is *only* allowed when the anonymous function occurs as an argument in a positional argument list. I've often considered also allowing parameter type inference in specification statements.

In #6734, @welopino gives this example:

[code]

Which is reasonable, I guess, as far as it goes. However, I've never liked the above syntax very much

[2016-11-22 11:18] gavinking commented on #6734
@welopino The first thing you have asked for is not unreasonable, but be a fairly significant new feature, since at present the *only* place that parameter type inference happens is for anonymous function argument expressions in positional argument lists. It is not the case that one can typically leave out parameter types in Ceylon, and it never will be, due to the limits of decidability in the ty

[2016-11-22 11:20] gavinking commented on #6734
I'm closing this issue, because it's discussing two completely separate things. See #6736 and #6446.

[2016-11-22 11:20] #6734 closed

[2016-11-22 11:22] quintesse commented on #6736
Still, like he says it would be regular to at least allow that syntax too.

[2016-11-22 11:45] gavinking commented on #6725
This keeps coming up for me.

I just got it in this code:

[code]

[2016-11-22 11:45] someth2say commented on #6736
+1 for allowing inference in specifications.

I can live with both `Integer(Integer) f;` and `Integer f(Integer i);`. Even I'll say to use an intermediate one: `Integer(Integer i) f;`, as it:
- Follows the classic structure `return(parameters*)` for callables
- The name for the member is at the end, like any other member declaration (say regular).
- Allow naming parameters, so we can even use thos

[2016-11-22 11:57] gavinking commented on #2324
@tombentley you want to take a look at this one? How hard do you think it is?

[2016-11-22 12:01] gavinking commented on #6736
@someth2say Do you write:

[code]

Or do you write:

[code]

If it's the second one you write, why on earth would you want to write:

[code]

Instead of:

[code]

That doesn't make sense to me.

[2016-11-22 12:14] someth2say commented on #6736
I mean the first one, a assigning a function reference.

Being true, I didn't even realize you can define a function header, and later assign its body...

[2016-11-22 12:19] someth2say commented on #6736
In other words (maybe clearer)
[code]

[2016-11-22 13:07] gavinking commented on #6736
@someth2say well we're not talking about that case at all.

And, FTR, the syntax is:

[code]

[2016-11-22 14:20] someth2say commented on #6736
Well, not exactly. I'm talking about functions returning functions:
[code]

Anyway, this is driving away from the original topic. My bad, I moved from two-liner to one-liner when providing an example.
Let's forget about that, and just let me keep the rest of my opinion.

[2016-11-22 14:22] quintesse commented on #6710
Done! \o/

[2016-11-22 14:22] #6710 closed

[2016-11-22 14:29] gavinking commented on #6710
Yay! Thanks @quintesse!

[2016-11-22 14:59] tombentley commented on #2324
Do we need to support `transient` on toplevel or `static` values? `javac` doesn't complain, because of the way JLS is worded, but java.io serialization will ignore `static` fields?

What should we do about `volatile` on a non-`variable`? Non-`variable`s get transformed to `final` fields, and javac rejects a `volatile final`. But it's not possible to restrict the annotation usage using Ceylon annot

[2016-11-22 15:01] tombentley commented on #2324
Oh, and what about `volatile` on a toplevel? Those are already `volatile`, so I guess we can just silently ignore the annotation in that case.

[2016-11-22 16:04] tombentley commented on #2324
Hmm the semantics of `synchronized` are a bit interesting wrt invocation. If I have

    synchronized void f(String s=whatever()) {}

then presumably we mark the overloads of `f` `synchronized` too? Because in general we can't know what shared state `whatever` is accessing. But then a named argument invocation such as:

    f{};

consists of two sequential accesses, one to the default value method

[2016-11-22 16:31] jvasileff commented on #2324
Will that introduce a deadlock risk if a `synchronized` method also attempts a named arg invocation?

Perhaps `synchronized` should be forbidden on methods that introduce defaulted parameters for now?

[2016-11-22 16:40] Zambonifofex commented on #6736
@someth2say

What I think that @gavinking is trying to say is that both of your lines do exactly the same thing, even with explicit types.

[code]

I honestly cannot see why you’d prefer the `f1` syntax over the `f2` syntax.

[2016-11-22 17:13] quintesse commented on #2324
Or have them only on the method itself, not on the retrieval of the default value (for now)

[2016-11-22 17:22] gavinking opened #6737 "can't assemble Spring Boot examples using ceylon fat-jar"
Trying to run:

    ceylon fat-jar discovery/1.0.0

And I get lots of errors, ending in:

[code]

I tried running

    ceylon info --print-overrides discovery/1.0.0

As suggested, but that doesn't actually seem to do anything useful at all. Is `--print-overrides` broken?

Anyhows, it would be nice if I could package a Spring Boot app as a fat jar.

Thoughts, @FroMage?

[2016-11-22 17:25] gavinking opened #6738 "'ceylon maven' command to produce a Maven repo"
I suppose it would be useful to have an assembler that produces a Maven repo containing a module and all its dependencies, repackaged as `.jar`s, together with `.pom` files expressing the inter-dependencies. Thoughts?

[2016-11-22 17:34] gavinking opened #6739 "'ceylon osgi' command"
In theory the compiler generates OSGi metadata inside the `.car`s, but apparently that's sometimes not good enough, and so @davidfestal has some rubbish additional build step that unzips `.car`s and edits their `META-INF` files. And then apparently repository generation is a whole separate manual thing. What a mess.

Instead, I propose that we have a separate assembly command that produces an OSGi

[2016-11-22 17:44] davidfestal commented on #6739
yes, I'll work on this and the corresponding requirements.

[2016-11-22 17:57] gavinking commented on #6739
Great!

[2016-11-22 18:59] chochos opened #6740 "Circular references break dynamic interfaces"
Native objects with circular references between them will cause a stack overflow if they are assigned dynamic interfaces:

[code]

And then

[code]

This last assignment causes a stack overflow.

[2016-11-22 19:58] #6740 closed

[2016-11-22 21:26] LisiLisenok opened #6741 "spread operator should support Java arrays"

[2016-11-22 21:28] jvasileff commented on #2324
It would be nice if these annotations could be used on cross platform declarations and ignored by other backends.

[2016-11-22 21:43] gavinking commented on #6741
It already does, doesn't it? @tombentley?

[2016-11-22 21:46] gavinking commented on #2324
Seems to me that a transient static field makes no sense.

[2016-11-22 21:47] gavinking commented on #2324
I mean, statics are implicitly transient, no?

[2016-11-22 21:54] LisiLisenok commented on #6741
I see an error:
Ceylon backend error: cannot find symbol
  symbol:   method sequence()
  location: variable objectArray$6 of type java.lang.Object[]

Eclipse. 1.3.1

[2016-11-22 22:58] LisiLisenok opened #6742 "Support Ceylon single-function interfaces like done with Java SAM"
Ceylon also has single-function interfaces, like `Iterator`, `Summable` etc.
If a function takes such why not to pass anonymous function or reference?
Moreover, `Iterable` is relied on `iterator()` only. Passing function reference to any function which takes `Iterable` is also possible extension.

[2016-11-22 23:23] #6735 closed

[2016-11-22 23:33] quintesse commented on #6727
Can't reproduce anymore :/

[2016-11-22 23:33] #6727 closed

[2016-11-23 00:03] quintesse commented on #6726
Done, but it does it only for plugins using a `.plugin` file (which should be most of them), not for shell/batch scripts.

[2016-11-23 01:44] gavinking commented on #6726
Thanks!

[2016-11-23 07:59] gavinking opened #6743 "make 'assert (!is Exception x)' wrap the exception when it fails"
Since 1.3.1, there is a new idiom:

[code]

In cases like this, the thrown `AssertionError` should preserve the `ParseException` by wrapping it.

[2016-11-23 08:10] gavinking commented on #6742
No, we discussed this at length when implementing the support for Java SAMs. I'm very much against introducing implicit type conversions into Ceylon, and the support for Java SAMs is *not* based on implicit type conversions!

Furthermore, pure Ceylon code should not really even involve single-method interfaces! (It was an ancient design mistake that Ceylon has a single-method `Iterator` interface,

[2016-11-23 08:10] #6742 closed

[2016-11-23 08:19] gavinking commented on #6743
P.S. we should also consider introducing some new syntax to streamline `!is ParseException`

[code]

Or whatever. Something to think about.

[2016-11-23 08:29] LisiLisenok opened #6744 "separate static section in Ceylon doc"
Currently Ceylon doc tool produces sections for: constructors, attributes, inherited attributes, methods and inherited methods. Static members are listed at methods section and it is not so clear if a function is static memeber or method.
It would be nice to have separated section for statics.