[2016-02-19 10:14] FroMage commented on #6015
ATM it's not really defined by the spec. In Ceylon we do attempt to resolve it and if it can resolved then it is linked. If not, no error and no linking.

[2016-02-19 10:38] quintesse commented on #6015
I actually always assumed that JBoss Modules would download optional modules on-the-fly once one of their classes had to be loaded.

[2016-02-19 12:23] FroMage commented on #5991
So I can see a 1s in metamodel initialisation, on the 1.3s startup time. This appears to be related to just scanning jars for packages. Quite crazy cost. I'll try to remove this.

[2016-02-19 12:55] gavinking commented on #6011
Oh. Now I understand.

The trouble is that I am always scared to touch this code because the typechecker itself has no tests for any `staticallyImportable` stuff :-(

[2016-02-19 12:57] gavinking commented on #6015
Definitely doesn't sound right.

[2016-02-19 13:07] #6011 closed

[2016-02-19 13:45] FroMage commented on #6015
Well, in the absence of anything in our module system to decide which optional module should be required or not, it seemed the best thing to do: try and if it's there great, if not no big deal.

Maven's definition of optional depends on the flat classpath where it's not looked up by any optional dependencies links, and just happens to be visible to everyone if anyone depends on it non-optionally.

[2016-02-19 14:15] FroMage commented on #5991
Ah, red herring. That's not it. Removing the metamodel initialisation entirely gained 100ms.

[2016-02-19 15:07] FroMage commented on #5991
After more careful analysis, we spend a lot of time iterating zip entries in `BytecodeUtils` (we could improve by looking for the right module file) and a lot of CPU checking sha1 for artifacts

[2016-02-19 16:18] FroMage commented on #5991
That SHA1 checking alone takes about 40ms out of 400ms, so 10%. Perhaps we should only do this for the cache repo?

[2016-02-19 16:26] jvasileff commented on #5991
Is SHA1 checking at runtime necessary at all?

* All copies and transfers should of course be checked, to protect against truncation, etc. But once on your local filesystem, corruption is much less likely
* Locally, there is no security benefit. A hacker can easily replace the `sha1` file if they can replace the `car`
* I'd guess that filesystem corruption is more likely to cause a significant run

[2016-02-19 17:13] quintesse commented on #5991
I'd say get rid of it locally (I thought it was done on downloads only anyway).
40ms is not something we're really going to notice much, still all together things add up I guess.

[2016-02-19 18:03] simonthum opened #6018 "Flow typing glitch"
This seems related to #3997. I have the following code:

[code]

To be sure, this is not a major problem, just a nuisance. This is on ceylon 1.2.1.

[2016-02-19 18:26] gavinking commented on #6018
@simonthum write:

[code]

[2016-02-19 19:14] jvasileff opened #6019 "'ceylon run' with no run() function results in NPE"
Create a new `simple` module, and rename the `run()` function to something else. Then:

[code]

With Ceylon 1.2.0, you get:
[code]

[2016-02-19 19:49] simonthum commented on #6018
Sure, the code in the true path could just be appended, but it's logically more straightforward the way I wrote it, at least in that particular situation, because both if paths pertain to a single issue which is "done" after the if concludes. It's just that one of the outcomes, i.e. x is unspecified, enables the fast path in which the computation is trivial.

In general your way is right and even

[2016-02-19 19:56] simonthum commented on #6018
More wreckage down that path:

[code]
I guess this boils down to what you want flow typing to be capable of.

[2016-02-19 19:59] jvasileff opened #6020 "error w/bad module descriptor for 'com.redhat.ceylon.common'"
On 1.2.1 and 1.2.2, I'm getting:

[code]
and, indeed, there is a dependency on `com.redhat.ceylon.compiler` in line 59:

[code]
without being listed in https://github.com/ceylon/ceylon/blob/1.2.1/runtime/dist/repo/com/redhat/ceylon/common/_version_/module.xml

Note: I haven't actually tried to add it yet.

[2016-02-19 20:02] jvasileff commented on #6020
Also, the error *does not* occur when launching the same app as a *plugin*. So, it would seem that when running plugins, the `compiler` module is loaded in a base classloader, which possibly causes other problems with overrides, and possibly related to the 'ceylon format' problems?

[2016-02-19 20:04] simonthum commented on #6018
FWIW I put the whole shebang into the if(true) leg which is not as neat as I would have liked but good enough. I'm leaving it open for you to decide.

[2016-02-19 20:05] jvasileff commented on #6020
Or, looking at the code, maybe the dependency on the compiler isn't supposed to exist, but the CNFE is not being handled properly?

[2016-02-19 20:18] jvasileff commented on #6020
I presume so, since in https://github.com/ceylon/ceylon/commit/cd26a4fc90852fd219df5afaeb471263cff8feb4, the handled exceptions became much more narrow.

Or, perhaps it was a bug before to be so imprecise. In any event, that's about as far as I can take this.

[2016-02-19 21:23] jvasileff commented on #6002
The problem is more general.

With a `1.2.2` compiled `ceylon.formatter` that imports *any* `1.2.1` module, you get the above error. This is true even if the `1.2.1` module isn't used. For example, you can get it to work by compiling and using your own `1.2.2` sdk modules, but than adding something like `shared import ceylon.numeric "1.2.1";` causes breakage.

[2016-02-20 11:00] simonthum commented on #6018
Having slept over that, I think the issue is that generally, sound flow typing would imply equivalent flow typing for equivalent code. IOW, flow typing should not affect or limit the ways in which you can express your algorithm in actual code.

When achieved, this would also make local refactorings easier to do (and to automate).

[2016-02-20 14:08] simonthum opened #6021 "Java interop array issue"
I have the follwing simple code:

[code]
Both are IntArray / primitive integer arrays from java. I know from debugging they have identical object ids. Yet, whether using `==` or `===` to compare, the assert always triggers.

[2016-02-20 14:09] lucaswerkmeister commented on #6021
Can you check with `--verbose=code` what the emitted code is? Perhaps it’s comparing wrapper identities.

[2016-02-20 14:15] simonthum commented on #6021
Not really, unless you tell me how to do that in the IDE ;) Or I have to update my cli first, but that will have to wait a bit.

[2016-02-20 14:15] lucaswerkmeister commented on #6021
There’s a selection somewhere in the project properties as well.

[2016-02-20 14:19] lucaswerkmeister commented on #6021
Yup, in this dialog:
![Ceylon Build](http://ceylon-lang.org/images/screenshots/1.2.0/ceylon-build.png)
The selection appears as soon as you check “Log compiler activity to Eclipse console”; select “code”.

[2016-02-20 14:27] lukedegruchy opened #6022 "Ceylon IDE built from source fails on new installation"
@davidfestal asked me to file the bug specifically under this project and not ceylon-ide-eclipse.   He also mentioned:

"this is related to commit ceylon/ceylon@14f8273"

Installing the Ceylon IDE (built from github sources) for the first time in Eclipse fails, leading to the plugin being installed but otherwise completely inactive.  Specifically, the Ceylon perspective and views are unavailable,

[2016-02-20 14:29] davidfestal commented on #6022
Thanks @lukedegruchy ! The failure in the IDE comes from the fact that the generated OSGI information in the distribution jars is not valid anymore after this commit. The Eclipse Ceylon IDE plugin uses the distribution jars as OSGI bundles.

[2016-02-20 16:14] jvasileff commented on #6021
In know it's an "is it plugged I in" type question, but is your example code missing a `!`?

[2016-02-20 16:42] simonthum commented on #6021
Hehe. No, the assertion is to ensure that both are indeed equal (which is the same as identical in this case, they're all from a pre-defined selection). But as I said, in the debugger they are assigned the same object id.

[2016-02-20 16:54] simonthum commented on #6021
It's weirder than I thaught. The code in question becomes

[code]
which is plainly correct.

One possibility I did not rules out is that getCorrlateConfiguration() is making a defensive copy. BRB.

[2016-02-20 17:36] simonthum commented on #6021
It's indeed making a defensive copy. Rats! Sorry for the noise, and thanks for your helpful comments!

[2016-02-20 17:36] #6021 closed

[2016-02-20 19:03] lukedegruchy opened #6023 ""Satisfies Callable" compile error when class MyClass() satisfies MyInterface()"
The compile error when putting parentheses next to a satisfied interface is a class declaration should be improved, as this could be misleading/confusing for beginners trying Ceylon.   Namely, the compiler error should be changed to be more descriptive.

This happens with both the JVM and JavaScript compilers:

[code]

The compile error is:

satisfies 'Callable'

The compile error should be someth

[2016-02-20 22:02] jvasileff commented on #6003
Compilation works with #6024 (I assume... it doesn't error out and a similar patch fixes the problem for the Dart backend), but runtime still fails with a stack overflow:

[code]

[2016-02-20 22:06] jvasileff commented on #5976
I still think it's crazy to do this (unless you have a time machine), but I needed a similar case involving circular dependencies to work for compilation of the language module in Dart. The result (ported to #6024 for JS) also makes this work. And, it's probably easier to support this temporal insanity than to figure out how to generate an error :).

[2016-02-20 22:35] jvasileff commented on #6023
This one has gotten me a couple times too.

[2016-02-21 16:30] simonthum opened #6026 "FP comparison inconsistent"
The following test code fails at the marked point. Note that this is inconsistent with the assertions that passed before, in particular `assertFalse(nan >= 1.0)`.

[code]

[2016-02-21 16:53] lucaswerkmeister commented on #6026
I’m pretty sure this is really two backend bugs, but let’s examine the JVM situation first.

The comparisons in `testNaNBehaviour` compile down to raw comparisons of primitive `double`s:
[code]

`limitTest`, on the other hand, is generic, so the comparisons use `Comparable`:
[code]
Lots of casting going on, but buried in it you can see:
[code]
This is a correct translation of the source code, cons

[2016-02-21 17:01] lucaswerkmeister commented on #6026
On JS, the situation is mostly the same, except that `testNaNBehaviour` also fails, since even those non-generic comparisons compile to `compare` calls and testing of the resulting `Comparison`.
[code]

JS’ `compare` function also does the comparisons in a different order:
[code]
First `equal`, then `smaller`, and then `larger`. The result is the same, though, since NaN is the only case where the

[2016-02-21 17:14] simonthum commented on #6026
Hey, pretty fast analysis! However, I have a "minor suggestion" to address this and related problems - why not add another case, `incomparable`, to the mix.

I frequently run comparisons which, by and large, work out well but then you have these values whose intricacies refuse to play nice, and just don't make up an order (or even half-order). NaN is just one of many such cases, but it's demanded

[2016-02-21 18:37] lucaswerkmeister commented on #6026
Here’s what `java.lang.Double` does, by the way:

[2016-02-21 19:37] jvasileff commented on #6026
TLDR: I think we should stick with what we have, with a few cleanups.

There are various ways we could try to "fix" this inconsistency, but they all come with there own significant downsides. Trying to avoid exploring all possible scenarios individually, I'll summarize my thoughts:

**Justification for breaking the Comparable contract in non-generic code**

- In non-generic code, it is obvious to

[2016-02-21 19:45] jvasileff commented on #6026
An obvious question is, however, is it practical to consistently distinguish between generic and non-generic uses of `equals()` and `Compare.*` operations on `Float`s on the JVM and JS backends?

[2016-02-22 01:45] lucaswerkmeister commented on #6026
To distinguish between “generic and non-generic uses”, I would say: if the operand types are statically known to be `Float`, then comparison does not use `compare` or `equals`, but instead correctly implements IEEE floats. Otherwise, use `compare` or `equals` regularly. This just codifies what happens currently on the JVM (JS needs to be adjusted).

But I’m not sure if `Float.compare` and `Float.e

[2016-02-22 03:15] jvasileff commented on #6026
Perhaps you're right. So for nan, `compare()` would always throw and `equals()` would throw when used generically.

The `largerThan()`, `notLargerThan()`, etc., methods also need to be made consistent with `compare()` when used generically.

[2016-02-22 07:00] simonthum commented on #6026
While I prefer throwing over inconsistencies, throwing is ugly enough to maybe think about `incomparable` again? I know it seems heavy-handed, but I think in many comparisons you'd rather return null than put up arbitrary stuff like `NaN > Inf` as java did. No order is better than surprising order, and I think celyon, as a language, is well equipped to handle such maybe slightly discomforting APIs

[2016-02-22 07:53] NiematojakTomasz commented on #6019
I traced it back to commit 91de9105f2a1c6aff1e7ea8ba257e1a649bbc8d3. But there seems to be also broken in passing options to `ceylon run`. Passing value of existing function to `--run` option have no efect. Also using non-existing options doesn't give error message.

[2016-02-22 08:19] xkr47 commented on #5962
@chochos Is it so that `mdl.mt` cannot be "als" for a closed type?

[2016-02-22 08:58] #4597 closed

[2016-02-22 09:13] FroMage commented on #5957
Published on https://developer.jboss.org/wiki/JBossCommunityGoogleSummerOfCode2016Ideas

[2016-02-22 09:13] #5957 closed

[2016-02-22 10:08] FroMage opened #6027 "Checksums in CMR"
Apparently we don't download `.sha1` checksums for remote files. What happens is that we download the `.car`, cache it, then generate a `.sha1.local` file, but we don't download remote checksums. This is wrong.

We are doing checksums for local repos, though. It's not clear if we should disable that or not. On a 400ms module run, it does represent 40ms so 10% which is not peanuts. I've tried to us

[2016-02-22 10:23] FroMage commented on #5991
So, after getting rid of sha1 checks for local files and making the metamodel init more lazy:

mode|1.2.1|1.2.2
----|-----|-----
flat cp|1.1s|0.6s
jboss modules|1.25s|0.9s

Let's see if I can shave some more.

[2016-02-22 10:27] FroMage commented on #5991
For comparison, running with the `Main` API takes 0.4s, and running our program with no metamodel initialisation (without the `Main` API: straight Java call to our module's `main`) takes 0.1s. So there's still room for improvement :(

[2016-02-22 12:38] davidfestal commented on #6022
@lukedegruchy : could you retry and confirm the error has gone ?

[2016-02-22 12:57] lucaswerkmeister commented on #6026
No, I’m proposing that it would *always* throw when `this` or `that` is NaN. How would you define “generically”?

[2016-02-22 13:21] lukedegruchy commented on #6022
I can't reproduce this now on Linux but I originally had the problem on OS X.   I'll try it on OS X tonight.

[2016-02-22 13:38] simonthum commented on #6026
@lucaswerkmeister  I think he's just referring to virtual function calls, as opposed to operators statically known to operate on Floats. So I guess you're talking about the same thing.

[2016-02-22 14:02] #6019 closed

[2016-02-22 14:06] quintesse commented on #6019
What do you mean by this @NiematojakTomasz ?

That has to do with a know and very old issue with the run tool: https://github.com/ceylon/ceylon/issues/4821

[2016-02-22 14:25] NiematojakTomasz commented on #6019
[code]

Also gives me output:

[code]

When I tried to implement similar fix as yours I got message referring to `run` method as if I wouldn't have provided different `--run` parameter. Maybe I got something wrong. (I haven't tested it with your commit)

[2016-02-22 15:37] chochos commented on #5962
No because the alias should be resolved by this point.

[2016-02-22 16:48] FroMage commented on #5991
I can't seem to be able to profile this more. I get very few sample counts for methods. I suspect the XML parser for `module.xml` partly, and the custom class loaders in the two first cases. For the "main API" it's quite puzzling but could be due to walking the jars.

IMO we should be able to bring the jboss modules case down to closer to the flat classpath mode. Both of those use custom classload

[2016-02-22 16:54] FroMage opened #6028 "JDK linking in JBoss Modules"
Looking at #5991 I've measured quite some cost to `org.jboss.modules.Module.addExportedPath()` related to the number of JDK paths.

ATM we have a single dependency spec for all those paths, and it's costly. We do this in two places: `InitialModuleLoader` and `CeylonModuleLoader`. I've changed the first one because it's related to the distrib which we control, so that it only adds the paths for the

[2016-02-22 16:54] FroMage commented on #5991
I've created #6027 about the CMR checksum checks, and #6028 about JDK imports in JBoss Modules.

[2016-02-22 17:01] FroMage commented on #5991
I've done all I could for this one for 1.2.2. I'll move for 1.2.3 for the rest. I've already doubled perf, so it's not too bad.

[2016-02-22 17:09] FroMage commented on #6020
This is completely fucked up. I tried and failed to fix this at the time. I don't want `ceylon-common` to depend on `ceylon-compiler`, but this would pull the typechecker and stuff there. This is only used to the CLI tools and the Ant tasks. ATM the CLI tools reside in `ceylon-common` but I intend to move them out to their own module. That module will then be free to depend on the compiler/typeche

[2016-02-22 17:13] FroMage commented on #6004
Actually, the problem is that the classloader used to load `xtream` does import your own module, which is why it does not work. We can't really fix that, though, so you'll have to make sure you tell it what your module's class loader is.

TBH I would have thought that it would also fail in non-test mode, unless you're running in a flat classpath mode.

[2016-02-22 17:13] #6004 closed

[2016-02-22 17:17] FroMage commented on #6002
`ceylon run ceylon.formatter/1.2.0 --maxLineLength 90 --asd` runs on 1.2.2, though, so the problem seems to be in the tool loader. Pity that it would have worked with a script ;)

[2016-02-22 17:22] FroMage commented on #6002
Frankly I don't know how this can work. The `CeylonTool` thing loads it like it's a normal Java tool and runs it without setting up the metamodel. @quintesse any idea?

[2016-02-22 17:30] FroMage commented on #6002
Actually no, I see how it does it, it calls `FlatpathModuleLoader` which does initialise it. So the problem is that it probably does not know about dist overrides.

[2016-02-22 17:41] lucaswerkmeister commented on #6027
What’s the benefit of having checksums at all?

Zip archives already have checksums per entry, so the only thing unprotected against random corruption is the zip header.

We download artifacts over TCP (and, for Herd, TLS), so downloading artifacts could only result in corrupted artifacts on disk if the Ceylon process is killed, leaving behind a truncated file. But we can easily protect against th

[2016-02-22 17:42] quintesse commented on #5990
Ok, this turns out to be a Herd issue: https://github.com/ceylon/ceylon-herd/issues/258

[2016-02-22 17:42] #5990 closed

[2016-02-22 17:43] FroMage commented on #6027
Well, they are used to check the download, but even locally it can be useful, if your FS gives you bad data, chances are the checksum won't match. Not saying it's worth it, but that's a reason.

[2016-02-22 17:50] lucaswerkmeister commented on #6027
I think the zip entry checksum plus the JVM bytecode verifier is already enough protection against that.

And actually, I just learned: even the header is protected:

[Source](https://en.wikipedia.org/wiki/Zip_%28file_format%29#Design)

[2016-02-22 17:54] quintesse commented on #6020
I agree. I even think it could be several modules. Or make the compilers/typechecker optional if that works. Because quite a number of tools don't need the compilers. This could mean a smaller installation footprint for those situations where it's only necessary to run Ceylon apps, not compile them.

[2016-02-22 18:05] quintesse commented on #6002
Sorry, hadn't seen your question yet. Yes, it uses the API you created for programmatically running stuff.

[2016-02-22 18:24] jvasileff commented on #6020
The symptom started in `1.2.1` and happens when you try to run a tool programmatically.

The reason to do this is to run a tool that's in development without installing it in `~/.ceylon/repo` since there doesn't seem to be a way to specify repository paths when using `ceylon ...`.

OTOH, it seems I'm the only one doing this, and I can live without it.

The code I'm using:

[code]

[2016-02-22 18:30] quintesse commented on #6020
@jvasileff but the ~/.ceylon/repo is normally the place where you'd want your modules to be when you want them available everywhere on your system for that particular user, right?

[2016-02-22 18:40] jvasileff commented on #6020
I explicitly *don't* want modules that are in-development to be constantly installed to ~/.ceylon.repo, especially for tools since they can't be versioned (only one `plugin` file). Also, it's convenient to be able to use the eclipse output directory as a module repository.

[2016-02-22 18:47] jvasileff commented on #6027
@lucaswerkmeister in my experience, having extra checksums (the "belt and suspenders" approach) can be very helpful when deploying software, managing servers, troubleshooting, etc, even when it's just for piece of mind to be able to rule out certain problems when troubleshooting. And, there are *plenty* of ways to wind up with bad file copies when not using official tools (or, as we have found, ev

[2016-02-22 18:47] jvasileff commented on #6027
This is also https://github.com/ceylon/ceylon/issues/5759

[2016-02-22 18:48] corbinu commented on #6001
Hello All,

Glad to see the interop work going so well. Just wanted to make a few comments. Given there is talk of requiring the Typescript compiler in #3041 and that (at least to my understanding) the Ceylon JS compiler can't switch between ES3, ES5, ES6. I was thinking maybe the best bet was to embrace the TSC completely. Have Ceylon be able convert Typescript definitions as long as node and the

[2016-02-22 19:02] jvasileff commented on #6026
Right. I mean exactly as @lucaswerkmeister says "if the operand types are statically known to be `Float`". In fact, I'd expect we'd have IEEE behavior even for `T`s with `given T satisfies Float` for `equals()`/`==`.

[2016-02-22 20:24] chochos commented on #6001
@corbinu but does Typescript support all the features that Ceylon offers, such as reified generics for example?

[2016-02-22 20:24] chochos commented on #6001
I don't know what's the current status of web assembly but if that thing's taking off, then if we have to rewrite the js compiler I'd much rather aim for web assembly than typescript...

[2016-02-22 20:30] corbinu commented on #6001
@chochos Well it is a super set of Javascript so you can generate Javascript for that feature you can generate it in typescript, just with more type info.

Web Assembly is designed as a C++ build target. As far as I know nobody is suggesting a JS -> Web Assembly compiler for example as it lacks Objects and Arrays and wouldn't really improve execution time [Source](http://www.2ality.com/2015/06/web

[2016-02-22 20:56] xkr47 opened #6029 "assert-generated variable"
[code]
produces in JVM:
[code]
and in JS:
[code]

[2016-02-22 21:07] jvasileff commented on #6029
This is similar to https://github.com/ceylon/ceylon/issues/5824

[2016-02-22 21:14] xkr47 commented on #6029
I'd say it's the same. The `assert` stores the value in a `var $xyz` inside the JS constructor for the class, while a regular member declaration stores the value in `myClass$.$xyz` which obviously remains visible after the constructor call.

[2016-02-22 21:18] xkr47 commented on #6029
Hmm, this actually creates a new variable while #5824 only narrows the variable. Perhaps best to check.

[2016-02-22 22:02] jvasileff commented on #5991
It's unsurprising to see that the original post has been deleted.

One piece of info that would be lost is that the timings were copied-and-pasted for maximum effect. The ~4s result was for the "user" output of `time` which represents total cpu, not "real" which is usually much less for `ceylon run` on multi-core machines. I'm sure they're both important to look at.

BTW–this look great! This will

[2016-02-22 22:44] #2420 closed

[2016-02-22 23:14] gavinking commented on #6026
So I think there's two possible paths to fix this:

1. Introduce a supertype of `Comparable` named `PartiallyComparable`, whose `compare()` method returns `Comparison?`, and redefine `<`, `>`, etc, in terms of `PartiallyComparable.compare()`, so as to match the behavior of comparisons on Java `double`s. Relax the signature of `sort()`, etc, to accept `PartiallyComparable` types. Redefine `Float` a

[2016-02-22 23:32] jvasileff commented on #6026
@gavinking I think having an intentionally broken and internally inconsistent implementation of `Comparable` will lead to bugs and strangeness, like what you get with Swift:

[code]

I presume you mean for `smallest()` and `largest()` type operations to throw (`Float` aware ops would return `nan`). But is it really reasonable to expect developers to know to use `compare()` and not `<` when impleme

[2016-02-22 23:37] gavinking commented on #6026
@jvasileff how would it be "intentionally broken and internally inconsistent"? It would be 100% consistent with IEEE.

[2016-02-22 23:40] jvasileff commented on #6026
Broken WRT the contract of `Comparable`.

[2016-02-22 23:44] gavinking commented on #6026
And the semantics of functions like `sort()`, `smallest()`, etc, would be totally up to the person writing the function. Given the current implementations:

- `sort()` would throw, when given a NaN (reasonable, but we could define a different behavior if we want)
- `smallest()` and `largest()` would always return the non-NaN unless both args are NaN (very reasonable)
- `min()` and `max()` would wo

[2016-02-22 23:45] gavinking commented on #6026
In what way?

[2016-02-22 23:48] gavinking commented on #2420
Thanks, Tako.

[2016-02-22 23:51] gavinking commented on #6001
@chochos @lucaswerkmeister Here's a suggestion: how about we just go ahead and conform to the TypeScript mappings to JavaScript. I bet they have put more thought into what is the smoothest mapping to idiomatic JavaScript, and so if we just follow them everywhere, I bet we will make interop easier for ourselves.

[2016-02-22 23:53] gavinking commented on #6001
@corbinu what is "TSC" here?

[2016-02-22 23:54] lucaswerkmeister commented on #6001
TypeScript Compiler

[2016-02-22 23:54] corbinu commented on #6001
@gavinking TSC is typescript compiler.

[2016-02-22 23:56] gavinking commented on #6001
OK, I understand. Not a totally crazy idea, I suppose. But it would an extra layer of transpilation, and an extra moving part in the whole infrastructure, and so there would have to be some pretty convincing benefit...

[2016-02-22 23:57] corbinu commented on #6001
Here let me open another issue as I feel like I have derailed this one and we all can debate pros/cons there

[2016-02-23 00:11] jvasileff commented on #6026
For instance:

[code]
But this would add a fourth possibility: none of the above. The wording could be changed to make clear that it's ok for `<`, `>`, and `==` to all be false, but this would be unexpected to users.

The person writing the function would rely on the contract of `Comparable`, and there would be bugs. For example, the current implementations of `smallest` and `largest` would always

[2016-02-23 00:14] corbinu opened #6030 "Replace Ceylon-JS with a Ceylon-TS"
Continued from #6001 as I forced it somewhat off topic.

The proposal would be to replace the current Ceylon-JS generation with one that generates either Typescript directly or generates a Typescript AST which can then be fed directly to the TSC (Typescript Compiler)

Pros:

- Allows one format to be generated which the TSC can then compile targeting the specific developers needs (ES6, ES5, ES3, N

[2016-02-23 00:16] gavinking commented on #6026
@jvasileff Well of course we would document that `Float` breaks the general contract of `Comparable`, just as we _already_ document that it breaks the general contract of `Object`. Quote:

[code]

[2016-02-23 00:19] gavinking commented on #6026
Oh, c'mon! 99.9% of code is already buggy as soon as it gets a NaN. Indeed, the very occurrence of a NaN indicates a bug in at least 98% of cases.

Ah, you're right. So we would fix 'em. The fix is quite trivial.

[2016-02-23 00:20] corbinu commented on #6030
@gavinking My biggest argument to that it would "add an extra layer of transpiration" would be that it does but it also removes the need for Ceylon to target multiple environments and JS versions current and future.

It also long term should free you guys up from having to worry about other things like how to package for the browser or AMD vs Require.js vs ES6 Modules etc. Yes there would be work

[2016-02-23 00:29] gavinking commented on #6023
Well the thing about this is that eventually&mdash;I hope&mdash;this will actually be a legal thing to write! i.e. you will be able to have a class implement a function type using just that syntax. So indeed the typechecker is interpreting that type exactly correctly given the context of it being a `satisfies` rather than an `extends` clause (yet another reason why there are two different clauses

[2016-02-23 00:33] gavinking commented on #6018
Well, look, as I [made clear here](https://github.com/ceylon/ceylon/issues/3997#issuecomment-156656781) when I implemented #3997, I *only* handle one very special case of this, and to do it in full generality would be actually extremely difficult. So this isn't a "glitch", it's simply a limitation of what felt reasonable to do at the time.

Now, sure, I could add an additional special case for whe

[2016-02-23 00:43] lukedegruchy commented on #6022
Not sure if this is a variant of the same issue or a new bug, but I get an error when attempting to install the IDE plugin.   Eclipse complains that it can't install "Ceylon Full Distribution Feature" and "Ceylon IDE", even though it doesn't complain about the other components.

This is the specific error:

[code]

[2016-02-23 00:46] quintesse commented on #6022
@lukedegruchy yes, I had the same today. So I'll tell you : do NOT try to uninstall the Ceylon plugin at this point! It will make your IDE unusable (unable to start up).
Probably best to install an older version over it.

[2016-02-23 00:50] lukedegruchy commented on #6023
@gavinking You have me genuinely curious.  If I declare class MyClass implements String() then what would the function look like?   shared actual String ****() { ... } ?

[2016-02-23 00:53] lukedegruchy commented on #6022
@quintesse I found that out the hard way yesterday :)   I suppose I could grab a build off the CI server if I really need one.

[2016-02-23 00:56] gavinking commented on #6023
@lukedegruchy Well I guess we would add a method to `Callable`, something like `Return invoke(Arguments args)`.

[2016-02-23 01:07] jvasileff commented on #6026
Well, any preexisting `equals()` implementation isn't beyond reproach in this.

A program that uses some sort routine might be buggy if it gets a nan, but with a straight forward `Comparable` interface, at least the sort routine library itself wouldn't be buggy (which is important to the author of the sort routine.)

I ascribe to the philosophies that 1) fewer bugs == better, and 2) it's nice to b

[2016-02-23 01:29] jvasileff commented on #6030
A bit off topic, but I can't help but observe that Ceylon -> TS -> JS is conceptually similar to Ceylon -> Dart -> JS, which I think is very close to working (experimentally) with libraries like [`dart.html`](https://api.dartlang.org/1.14.2/dart-html/dart-html-library.html) and perhaps even stuff like [Angular 2 for Dart](https://www.dartdocs.org/documentation/angular2/2.0.0-beta.7/).

The differe

[2016-02-23 01:39] corbinu commented on #6030
@jvasileff Very true and I am very happy to see the Dart Implementation I feel like more languages Ceylon compiles to the better! Infact if I did not think that a full Typescript implementation would make a JS implementation superfluous I would simply suggest it as an addition.

I think the biggest advantage for TypeScript in this case though is exactly that it didn't make a clean break. Meaning a

[2016-02-23 02:34] jvasileff commented on #6026
For reference, it looks like IEEE_754 [stipulates](https://en.wikipedia.org/wiki/IEEE_754_revision#min_and_max) that `min` and `max` should return the non-nan value if one of the values is nan.

[2016-02-23 02:41] gavinking commented on #6026
@jvasileff I agree that this is the most useful behavior.

[2016-02-23 10:25] FroMage commented on #6020
You're saying `ceylon` plugin resolution does not take command-line repositories into account?

[2016-02-23 10:36] simonthum commented on #6018
Small fixes are probably not worth it - the full general case is, but I'll leave that to you ;)

[2016-02-23 10:37] quintesse commented on #6020
@FroMage well how could it? Any arguments to change the repositories would be meant for the tool being run, not for the plugin system itself. Allowing them to affect the plugin resolution could cause all kinds of weird interactions.

The only thing I can think of that wouldn't break stuff is to add a special option to the `ceylon` command itself to tell it where to look for plugin files.

[2016-02-23 10:44] FroMage commented on #6020
Well, yes and no. Doesn't `--sysrep` already allow specifying a special repo for every tool? I assume that's used to figure out where to load the plugins from, no? Or is it looked up from the relative path of the `ceylon` program?

[2016-02-23 11:10] FroMage commented on #6002
OK Found it: it's missing the `RuntimeResolver` setup.

[2016-02-23 11:18] gavinking commented on #6018
This is my thought.

[2016-02-23 11:19] quintesse commented on #6020
Well `--sysrep` is a bit of a special case and shouldn't actually be used by anyone (it's a bit look Java's -Xbootclasspath`, dangerous). So using it to change where a tool gets looked up could cause all kinds of unforeseen problems.

Even so, if you'd use `--sysrep` it would most definitely also affect the running of the tool  itself.

Right now the tools are just looked up using a "vanilla" repo

[2016-02-23 11:20] quintesse commented on #6020
Btw, I think this discussion has gone off the rails. Shall I pen a separate issue for dealing with where and how to find tool plugins?

[2016-02-23 11:21] simonthum commented on #6026
I am OK with any solution, but I'd like to point out the glaring mismatch between the non-signalling approach to numerics in ceylon (e.g. nan = 0.0/0.0) and then throwing on sight. This combination will propagate errors to the most unexpected places.

But I acknowledge there are no easy solutions. Perhaps helper functions to assert nonpresence of (potentially nested) NaNs would be a reasonable mit

[2016-02-23 11:48] FroMage commented on #6020
Sure.

Open it and I'll follow up the discussion there.

[2016-02-23 11:59] f47k9L commented on #6030
Please, always consider the size of the resulting javascript output when targeting the browser!!
To achieve that, further modularization of the ceylon.language module as well as other standard modules and, at the same time, processability by google closure compiler is desirable. In fact, babel could help to produce code, that can be further processed. Please, consider that when choosing a target,

[2016-02-23 12:01] quintesse opened #6031 "Influence where ceylon plugins are loaded from?"
Moving discussion from #6020 here:

@jvasileff said:

And @FroMage said:

read the rest here: https://github.com/ceylon/ceylon/issues/6020#issuecomment-187305747

But basically it comes down to the fact that plugin modules can only come from the default repositories, there's no way that the standard `--rep` options can affect to functioning of the `ceylon` command itself, they are meant for the to

[2016-02-23 13:37] FroMage commented on #6031
Sounds OK to me to add a new flag for this.

[2016-02-23 13:51] FroMage commented on #6002
Fixed.

[2016-02-23 13:51] #6002 closed

[2016-02-23 14:12] FroMage commented on #5996
My bad. It's not hung forever: it's getting shit off the network. Precisely what I hoped it would not do since everything is supposed to be in the classpath.

[2016-02-23 14:24] FroMage commented on #5996
I don't get it though: all those things are in the classpath already, so Aether has them resolved already. If I nuke my Maven repo, compiling takes a while because it fetches them, fine. Then `ceylon classpath` is fast, but then the `Main` resolving takes forever at `com.google.jimfs:jimfs/1.0`, even though it's already in the classpath. Perhaps it's resolving too many transitive optional dependen

[2016-02-23 15:26] FroMage commented on #5996
OK, done, I was able to track down how to make it work the same as normal resolving.

[2016-02-23 15:26] #5996 closed

[2016-02-23 15:30] davidfestal commented on #6022
@lukedegruchy : do you think you could retry after my last change (additional filtering of the `org.osgi.simple` bundle from  the generated OSGI dependencies) ?

[2016-02-23 17:35] FroMage commented on #5992
OK, so when I put everything at the same iterations, and fix a couple of bugs in the benchmark:

|Benchmark|Java|Ceylon 1.2|Ceylon 1.1|Kotlin|
|---------|----|----------|----------|------|
|futures loop 1 task|12|12|12|N/A|
|futures loop 2 task|6|6|6|N/A|
|futures loop 8 task|1.2|1.5|1.5|N/A|
|futures loop 32 task|0.9|1.1|1.1|N/A|
|futures map/reduce 1 task|N/A|12|15|N/A|
|futures map/reduce 2 tas

[2016-02-23 17:45] f47k9L opened #6032 "¨Ceylon in the browser again¨ fails"
The Ceylon Blog example http://ceylon-lang.org/blog/2016/02/15/ceylon-browser-again fails with error in firefox. Probabely the bug is in interop module although the messag points to language module.

(The ceylon-js stuff that has been published so far is really too hipster! )

[2016-02-23 17:52] bjansen commented on #6032
What part of the code fails, and what's the error?

[2016-02-23 18:09] jvasileff commented on #6002
Thanks, this works, and I'm now able to run the Dart backend on 1.2.2.

[2016-02-23 18:19] jvasileff commented on #5992
For `pi_futures_map_reduce` it looks like what's being measured is the garbage collector. Perhaps two threads isn't enough to offset additional gc locking complexity? In any event, adjusting `Task` to:

[code]
results in timings of `9.7`, `4.9`, `2.4`, and `1.6` w/8 cores.

[2016-02-23 18:34] quintesse commented on #6032
I'm getting:

[code]

[2016-02-23 18:40] quintesse commented on #6032
The unreachable code is just a warning and I get it with all the Web IDE sample I've tried so far. So the only problem here is the error.

[2016-02-23 18:45] lucaswerkmeister commented on #6032
Well yes, Firefox simply doesn’t have `Document.origin`. Documented [on MDN](https://developer.mozilla.org/en-US/docs/Web/API/Document/origin) and tracked in [Bug 931884](https://bugzilla.mozilla.org/show_bug.cgi?id=931884). According to MDN, IE, Opera and Safari don’t have it either, so it’s probably a bad idea to include this member in `ceylon.interop.browser::Document`.

[2016-02-23 18:45] bjansen commented on #6032
It looks like firefox is not implementing `document.origin`, whereas the DOM4 spec says it's mandatory.

[2016-02-23 19:03] RossTate commented on #5982
I should note that there is a bunch of research on this sort of stuff often referred to as "gradual typing". I happen to be working on it myself. This is a tough problem, and you're going to encounter all sorts of oddities. That said, making 'is' check for methods and add the reification info sounds like the right thing to do. The alternative posed, known essentially as "like types", has a bad tri

[2016-02-23 19:06] xkr47 opened #6033 "JS: Questionable error message for `is Anything x`"
If I type the following code into try.ceylon-lang.org:
[code]
then I get the following error message on the line with the `if` statement:

    Does not narrow type: unknown is a subtype of Anything (expression is already of the specified type)

My understanding is however that all dynamic types (typed or untyped) are disjunct from Anything, from which follows:

- the error message is wrong - "unkn

[2016-02-23 19:07] quintesse commented on #5992
PS: it might be good to mention what the numbers actually mean (times, iterations?) and whether higher/lower is considered better. Right now I'm a bit lost trying to figure things out :)

[2016-02-23 19:11] jvasileff commented on #5992
The results correspond to "futures map/reduce x task" in the table, with `x` being the number of threads. The work is evenly divided among `x` threads.

[2016-02-23 19:20] quintesse commented on #5992
@jvasileff sorry, I was actually referring to Stef's table :)
The comment "we also improved from 1.1 to 1.2" threw me off because looking at the two columns it seems to me a) that about half of the numbers stayed the same and b) except for one all of the rest of the numbers seem to have gone up instead of down. Assuming lower numbers are better I don't see how we have improved :)

[2016-02-23 19:36] quintesse opened #6034 "Resource.textContent() not implementable in Browser"
Right now `Resource.textContent()` isn't implemented in the Browser (nor is `.size` obviously) because in the browser we can only deal with external data asynchronously.

Right now that means that a module like `ceylon.locale` cannot be used *at all* in a browser.

Futures aren't part of the language module so it seems to me that the only thing we can do is to add asynchronous versions of the two

[2016-02-23 19:54] FroMage commented on #5992
Sorry my numbers are in seconds.

[2016-02-24 01:41] lukedegruchy commented on #6022
Works correctly now!  Thanks!

[2016-02-24 05:31] chochos commented on #6034
Is this a problem similar to the `readline` thing? Isn't the node.js version also async? In JS we can detect at runtime whether it's running on a browser and use a different implementation...

[2016-02-24 09:28] gavinking commented on #6033
I agree that this is a bug in the typechecker according to the semantics of Ceylon 1.2. However note that there is an open proposal to slightly change the typing semantics to make things with "unknown" type assignable to `Anything` (something we need for TypeScript interop) and I guess if we make that change then the error would be correct.

[2016-02-24 09:28] FroMage commented on #5992
OK, well, closing then. Mystery solved.

[2016-02-24 09:28] #5992 closed

[2016-02-24 09:50] bjansen commented on #6032
This is actually an issue in the SDK, moving it here: https://github.com/ceylon/ceylon-sdk/issues/514

[2016-02-24 09:50] #6032 closed

[2016-02-24 10:54] quintesse commented on #6034
Don't ask me the things you should know @chochos ;)

But there could indeed be other places where we would need an async version, `readline` is a good example. Any others you can think of?

[2016-02-24 11:03] FroMage commented on #6007
This is fixed in the language module in 1.2.2, I've just checked.

[2016-02-24 11:03] #6007 closed

[2016-02-24 11:32] xkr47 commented on #6033
Sounds good!

[2016-02-24 18:07] jvasileff opened #6035 "can't run 1.2.1 JavaScript modules on 1.2.2"
If this isn't supposed to work, then perhaps a better error message?

[code]

[2016-02-24 18:30] chochos commented on #6034
Yeah that damn `readline`.

And sorry about the previous comment, it's been some time since I looked at that code; turns out, the node.js version has a way to read files synchronously.

[2016-02-24 18:53] jvasileff opened #6036 "ugly error message when running a new plugin with an old Ceylon version"
Attempting to `ceylon.formatter/1.2.2` with Ceylon 1.2.1 results in a short (although perhaps confusing) error message:

[code]

But running the plugin results in:

[code]

[2016-02-24 19:04] quintesse commented on #6036
God do I hate that. It's never clear which exceptions will get treated as "normal errors" and what will be "serious errors" for the tool chain.

[2016-02-24 19:10] jvasileff opened #6037 "can't compile module that imports 1.2.1 modules on 1.2.2"
This example must be copied exactly as-is (order of imports matters):

`module.ceylon`
[code]
`run.ceylon`
[code]
results in:
[code]

[2016-02-24 19:16] quintesse commented on #6037
Assigning this to 1.2.2 and @FroMage for now because I don't know how urgent this is.

[2016-02-25 10:31] gavinking opened #6038 "finally implement the "small" annotation"
All versions of the Ceylon specification, since the very earliest drafts, define a `small` annotation that applies to `function`s and `value`s of type exactly `Integer` or `Float`, and acts as a hint to the compiler to use 32-bit precision.

It's well past time we actually implemented this annotation, which is, AFAICT, pretty trivial.

If, for some reason, we want to also support 16-bit precision,

[2016-02-25 10:35] FroMage commented on #6038
There was already an issue for that and an attempt, and in the end we decided it wasn't possible because those annotations don't belong to the type but to the declaration. Now, I'd have to go read the original issue to remember exactly why, and why using the `underlyingType` would not work…

[2016-02-25 10:35] FroMage commented on #6038
But it was far from trivial.

[2016-02-25 10:57] FroMage commented on #6035
No, this should work. Not sure how.

[2016-02-25 10:58] FroMage commented on #6036
Actually in both cases we should have a suggestion to use `--link-with-current-distribution` (or whatever it's called), no, @tombentley ?

[2016-02-25 10:59] FroMage commented on #6036
I agree it's not a blocker so it can wait for 1.2.3 but it's nasty.

[2016-02-25 10:59] FroMage commented on #6037
This is totally supposed to work. Any idea @tombentley ?

[2016-02-25 11:11] tombentley commented on #6037
Not really @FroMage, but it sounds like an error you might get if the `ceylon.language` that was added to the module was not added as a `shared` dependency.

[2016-02-25 11:27] #6036 closed

[2016-02-25 11:31] quintesse opened #6039 "Suggest `--link-with-current-distribution` on error"
Taken from #6036.

We should probably suggest to the user that they can use the option `--link-with-current-distribution` to override errors of the type "ceylon run: Could not find module: ceylon.language/1.2.2 (invalid version?)" when running on an earlier version of Ceylon than that of the module being run.

[2016-02-25 11:35] quintesse commented on #6036
Got rid of the stacktrace at least

[2016-02-25 13:28] quintesse opened #6040 "Make it possible to load and import NPM packages as modules"
This would need support in the CMR just as we have Maven support for the JVM side.

In the beginning this would only work for Node.js, but it seems there are perhaps some ways to make this work somewhat in the browser as well. We should at least investigate that option.

We *would* need a way to differentiate NPM imports from regular imports just like we do for Maven. (If a module name has a `:` i

[2016-02-25 17:16] FroMage commented on #6035
@chochos: this is blocking the release.

[2016-02-25 17:17] FroMage commented on #6035
we need to have tests that this works both at compile-time and run-time. including with the metamodel.

[2016-02-25 17:18] FroMage commented on #6037
@tombentley do you have time to work on this or shall I?

[2016-02-25 17:28] tombentley commented on #6037
Well I'm very nearly done with the rebase, so I could start work on this tomorrow, I suppose.

[2016-02-25 17:30] FroMage commented on #6037
ok this'd be great. I sincerely hope it's a quick fix.

[2016-02-25 19:40] vietj opened #6041 "NPE in ceylon jar import"
[code]

when importing:

[code]

[2016-02-25 19:41] vietj opened #6042 "Missing dependency error when compiling with ceylon programmatic compiler"
[code]

[2016-02-25 19:54] #6041 closed

[2016-02-25 19:55] quintesse commented on #6041
Fixed.

[2016-02-25 20:00] quintesse commented on #6042
Are you sure you have all the new 1.2.2 modules available in your Ceylon distribution repository?
Because this is a really weird error.

[2016-02-25 23:16] lucaswerkmeister opened #6043 "Function named `class` is not escaped"
[code]
[code]
The emitted JS code contains a `class` function, which is not permitted. `class` was already a `FutureReservedWord` in [ES5](http://www.ecma-international.org/ecma-262/5.1/#sec-7.6.1.2), and in [ES6](http://www.ecma-international.org/ecma-262/6.0/#sec-class-definitions) it’s of course part of the syntax for class declarations.

I think this is simply a matter of adding `class` to the

[2016-02-25 23:21] quintesse commented on #6043
Can we / shall we add this to 1.2.2 @chochos ?

[2016-02-26 08:39] FroMage commented on #6042
We're going to need a little bit more info on how to reproduce…

[2016-02-26 09:33] luolong commented on #6015
@FroMage

So maybe we should then?

[2016-02-26 09:35] FroMage commented on #6015
Well, yes this issue is about discussing all that.

[2016-02-26 10:29] tombentley commented on #6037
@FroMage were you able to reproduce this, because I cannot.

[2016-02-26 10:34] FroMage commented on #6037
I haven't tried. But perhaps you should clear your user repo and cache first? To make sure you get the 1.2.1 SDK from Herd.

[2016-02-26 10:41] tombentley commented on #6037
Clearing the repo and cache doesn't make a difference.

[2016-02-26 10:51] quintesse opened #6044 "`ceylon run --compile` exception when `~/.ceylon/cache` does not exist"
Running `ceylon run --compile` when you don't have a local `modules` folder and you also don't have a `~/.ceylon` folder results in the following exception:

[code]

[2016-02-26 11:03] #6044 closed

[2016-02-26 11:55] dafixa opened #6045 "Bug in `class Integer`.memberDeclarations() on JS"
[code]
complains with TypeError: undefined is not an object.

Works for String.

[2016-02-26 11:56] lucaswerkmeister commented on #6045
Firefox tells us a bit more:

[2016-02-26 12:00] dafixa commented on #6045
gavin suggested ``` `Integer`.getAttributes<Integer> ```as a workaround.

[2016-02-26 12:01] gavinking commented on #6045
To be clear: this bug only affects JS. The code works correctly on the JVM.

[2016-02-26 13:09] jvasileff commented on #6037
Weird. If you still can't reproduce it, let me know if you want me to try anything else.

[code]

[2016-02-26 14:02] tombentley commented on #6037
Still can't reproduce (tried with e485c44 as in your original report, ed0fe61 has not been pushed to origin, so I can't try that). I've deleted `./modules` and my cache and repo. Can't think of many other things to eliminate, but:

* Are there any other modules in your `./source`?
* What directory are you in (is it a ceylon project)?
* What `config` are you using?

[2016-02-26 14:09] jvasileff commented on #6037
The only thing I can guess then is that it is filesystem related (I'm on OS X). I'll try on Linux in a bit.

The directory is clean. Here's everything:

[code]

[2016-02-26 14:14] tombentley commented on #6037
Ah, you didn't say you had a `package.ceylon`, and that is indeed the thing I need to reproduce...

[2016-02-26 14:16] jvasileff commented on #6037
oops! Sorry.

[2016-02-26 14:18] tombentley commented on #6037
No worries, just glad we got there in the end :-)

[2016-02-26 15:13] #6037 closed

[2016-02-26 16:24] chochos commented on #6035
Does helloworld include some other module?

[2016-02-26 16:27] chochos commented on #6043
`class` is a reserved word in JS? that's a new one for me...

[2016-02-26 16:31] jvasileff commented on #6035
@chochos quite possibly it had:

[code]

I don't currently have a 1.2.2 to try it again, though.

[2016-02-26 16:32] chochos commented on #6035
ooooh I know what happened then.

[2016-02-26 16:36] jvasileff commented on #6035
I'm pretty sure I deserve the "Incomplete Bug Reporter of the Day" award for February 24, 2016.

[2016-02-26 17:32] jvasileff commented on #5832
TODO: Please make the parameters to `ceylon.file::Directory.TemporaryDirectory` and `ceylon.file::Directory.TemporaryFile` optional when this is fixed.

[2016-02-26 17:49] jvasileff commented on #6035
Well, no, @chochos, the imports don't matter. The error occur[s|red] with no imports.

Of course, the module does have the unavoidable:

[code]

[2016-02-26 18:30] arseniiv opened #6046 "Switch expressions, backend error"
Writing following
[code]
I get a strange backend error:
[code]
at line marked here as ‘1’. (Latest Ceylon and Eclipse IDE.)
If I add `else 0` at the end of the switch, error is gone, compiles and behaves normally.

[2016-02-26 18:55] gavinking commented on #6038
A good example of why we need this is hashcode caching. We've realized we should be caching the computed hash codes of entries in a `HashSet` or `HashMap`. Currently the only way we can do that is to store them in a Java `long`. But that wastes memory since we actually know that hashcodes on the JVM are 32-bit `int`s.

[2016-02-26 19:02] quintesse commented on #6038
Sure it's wasteful, but it doesn't seem a high priority at all just to save some memory. Unless we start getting users who need to store billions of entries in memory.

[2016-02-26 21:44] LisiLisenok opened #6047 "something wrong with ceylon.language::formatFloat"
`print(formatFloat(100000.0, 1, 1)); // prints 000000.0`
`print(formatFloat(200000.0, 1, 1)); // prints 100000.0`
`print(formatFloat(300000.0, 1, 1)); // prints 300000.0`

[2016-02-26 21:57] gavinking commented on #6047
Ouch!

Sent from my iPhone

[2016-02-26 22:15] dafixa commented on #6038
@quintesse I disagree. It's 4MB extra for every million entry. For small entries (like I have), that ends up being 20% memory overhead just because of lack of a proper data type.

[2016-02-26 22:42] quintesse commented on #6038
And what is 4MB nowadays? Almost nothing. Surely one can always come up with examples where the compiler will end up generating inefficient code in any language. Personally I doubt that it's worth the trouble implementing this at this point in time.

[2016-02-26 22:57] LisiLisenok commented on #6047
I've tried following and it works fine by me.

String formatFloatToString(Float float, Integer minDecimalPlaces, Integer maxDecimalPlaces) {
	if (float.undefined || float.infinite) {
		return float.string;
	}
	else if (maxDecimalPlaces > 0) {
		Integer min = if (maxDecimalPlaces > minDecimalPlaces) then minDecimalPlaces else maxDecimalPlaces;
		Float pow = 10.0.powerOfInteger(maxDecimalPlaces);

[2016-02-26 23:35] dafixa commented on #6038
This mindset explains why it take ages to compile and run programs with Ceylon.

[2016-02-26 23:37] dafixa commented on #6047
Why not just call String#format via interop?

[2016-02-26 23:55] gavinking commented on #6047
OK, so this is the result of rounding error introduced in the line:

    Float f = m * 10.0.powerOfInteger(--i);

[2016-02-27 00:07] gavinking commented on #6047
OK, thanks @LisiLisenok, it's fixed now! Also should be much faster.

[2016-02-27 00:07] #6047 closed

[2016-02-27 00:46] quintesse commented on #6038
It all comes down to choices, there are no free lunches. In this particular case because if an issue you opened hash entries might get cached hashes where there were none before. So memory gets sacrificed because you wanted speed. I don't think 4MB or 8MB per million entries is going to make much of a difference in many cases.

I'm against trying to make it use less memory? Of course not. But impl

[2016-02-27 02:11] dafixa commented on #6038
Well, I *am* trying to use Ceylon as a plugin option in a real world application where performance matters greatly (traffic analysis.) Not sure why you think I'm just fooling around.

Granted, I'm a Ceylon rookie, but so far I've encountered obvious performance bugs, lacking API's (connection timeout on db connections anyone?), outright language bugs and veeeery long compile times.

You see... Ign

[2016-02-27 02:23] quintesse commented on #6038
And I think we've reacted very quickly to those issues and have been able to alleviate things to differing extents and research is still ongoing to improve things even more. All of this has nothing to do with 4MB extra memory usage on a million elements. Which might indeed be too much in certain cases, we'll have to see.

[2016-02-27 02:42] dafixa commented on #6038
Fine

[2016-02-27 13:11] gavinking opened #6048 "string for -Infinity on JS"
This code:

    print(-1.0/0);

Should print `-Infinity` on JS, just like it does on the JVM.

@chochos?

[2016-02-27 14:36] gavinking opened #6049 "hash code for Float on JS"
Since JavaScript `Number`s can't precisely represent the bit pattern of an IEEE double precision, there is no equivalent to Java's `native Double.doubleToLongBits()` function, which is used to implement `Float.hash` on the JVM.

The actual implementation of `Float.hash` on JS is essentially `this.string.hash`. I'm far from convinced that this is a good implementation.

Does anybody have a better i

[2016-02-27 15:16] dafixa commented on #6049
I believe Dart uses (or used) JenkinsSmiHash in some incarnation. Something like https://github.com/vkandy/jenkins-hash-js/blob/master/src/jenkins.js, which has excellent distribution.

[2016-02-27 18:45] #6043 closed

[2016-02-27 20:34] #6048 closed

[2016-02-27 21:19] chochos commented on #6035
OK so I was wrong about knowing what happens. What's really going on is, the overrides file is indeed being used, so 1.2.1 -> 1.2.2 conversion is already taking place in the CMR when doing `run-js`, but this means 1.2.1 language module is never loaded so if it's not available locally, it won't be found at runtime.

And, the modules already in Herd have the language module version hardcoded, so the

[2016-02-27 21:24] gavinking commented on #6048
Thank you sir!

Sent from my iPhone

[2016-02-27 21:29] chochos commented on #6035
I'm only getting the error when I import ceylon.collection though (or anything from the SDK which requires language module 1.2.1).

[2016-02-27 22:25] lucaswerkmeister commented on #6043
Hrmpf. That’s not the only keyword that ES5 reserved… here’s the full list (from the link in the original description):
- unconditionally:
  - [x] `class`
  - [x] `const`
  - [x] `enum`
  - [x] `export`
  - [ ] `extends`
  - [ ] `import`
  - [ ] `super`
- in strict mode:
  - [x] `implements`
  - [ ] `interface`
  - [ ] `let`
  - [ ] `package`
  - [x] `private`
  - [x] `protected`
  - [x] `public`

[2016-02-28 04:30] lukehutch opened #6051 "Direct MongoDB bindings using the new serialization support"
I understand there is support for JSON serialization/deserialization in Ceylon 1.2.1 (although I haven't figured out how to use it yet; is there documentation?). It would be great if this could be used to natively support MongoDB, potentially by also adding direct support for BSON. (The MongoDB bindings are not typesafe, and are a pain to use in many aspects that Ceylon could fix.)

[2016-02-28 04:32] lukehutch commented on #6051
(Sorry, didn't mean to close this, I was trying to figure out how to mark it as a feature request rather than a bug...)

[2016-02-28 04:36] chochos commented on #6043
what existing code will break? interface, let and package are also reserved words in Ceylon... is something in the sdk named `yield`?

[2016-02-28 09:02] lucaswerkmeister commented on #6043
Breakage will occur when a declaration named `\iinterface`, `\Iinterface` (it doesn’t matter that they’re reserved in Ceylon btw), `\ilet`, `\Ilet`, `\ipackage`, `\Ipackage`, `yield` or `\Iyield` is used across modules and then one module is recompiled but the other one isn’t. The module that wasn’t recompiled will call the declaration `interface`, the one that was recompiled will call it `$_inter

[2016-02-28 09:28] quintesse commented on #6043
Although I agree that @Lucaswerkmeister is strictly correct I wonder if we shouldn't just take the risk, which intuitively seems very low, of breaking *some* code out there compared to "breaking" all code (meaning having to recompile *everything*)

[2016-02-28 10:42] lucaswerkmeister commented on #6043
Well, we have a couple of options.

- Fix now and bump binary version. Breaks a lot of things for very little benefit.
- Fix now and *don’t* bump binary version. Hope and pray that nothing breaks.
- Fix now and bump *minor* binary version (9.1), figure out some clever interop mechanism between 9.0 and 9.1 (emit `interface` for 9.0 modules and `$_interface` for 9.1 ones) that keeps compatibility in

[2016-02-28 12:46] gavinking commented on #5852
Even if the compiler didn't *infer* the `of Bool`, it could still generate an error message which _suggests_ it as a possible fix!

[2016-02-28 15:54] gavinking opened #6052 "ceylon search subcommand"
It would be awesome to have a subcommand which offers similar functionality as the Ceylon Search screen in Eclipse. For example:

    ceylon search --for:functions --in:declarations run*
    ceylon search --for:functions --in:expressions --archives run*

Which would output a list of search matches with the full file path and line number, allowing one to quickly open the match in a CLI editor.

[2016-02-28 16:07] gavinking commented on #6052
Note that this would also be very useful for anyone trying to build a text editor with support for Ceylon. They could delegate to the `ceylon` command for compilation/error reporting, running, searching, and code formatting.

[2016-02-28 16:10] gavinking opened #6053 "ceylon highlight subcommand"
A bit similar to #6052: it would be great to have a syntax highlighter built into the `ceylon` command, in order to be able to view a `.ceylon` file in pretty colors in CLI, or output highlighted source as HTML.

We already *sort of* have this in the sense that `ceylon doc` includes HTML highlighted source in its output, but it's not on a per-file basis.

[2016-02-28 16:11] gavinking commented on #5957
Should we add:

- https://github.com/ceylon/ceylon/issues/6052
- https://github.com/ceylon/ceylon/issues/6053

WDYT, @FroMage?

[2016-02-28 16:46] gavinking commented on #5812
@chochos what is the status of this one?

[2016-02-28 16:53] quintesse commented on #6052
Actually I've always wanted to do CLI refactoring. So not only the search but at least replace as well, and from there who knows actual refactoring would be possible

[2016-02-28 17:53] gavinking commented on #6052
@quintesse that would be a *lot* harder.

[2016-02-28 17:54] gavinking commented on #5979
Same with `let`, for example:

[code]

[2016-02-28 17:56] gavinking commented on #5979
I'm suspicious of line 9355 in `ExpressionVisitor`:

    && that.getScope() instanceof Declaration

That's not obviously correct to me.

@quintesse would you take a look at this one, please?

[2016-02-28 18:07] jvasileff opened #6054 "typechecker confused about a declaration that isn't"
`int` is just an expression in `switch(int)` (I assume), yet using it causes `int`'s variable-ness to not be acknowledged in the `else` below:

[code]

[2016-02-28 18:14] gavinking commented on #6054
Hah. This is because the typechecker has no special code for non-narrowing `switch`es, I suppose.

[2016-02-28 18:28] #5802 closed

[2016-02-28 18:29] gavinking commented on #5802
This is fixed. But I noticed a much worse bug.

[2016-02-28 18:33] gavinking opened #6055 "no error for use of type constructors in cross-platform module"
The test in `ExpressionVisitor.checkTypeConstructor()` is wrong.

`scopedBackends.supports(Backend.Java)` evaluates to true if the module has no `native` annotation at all.

@quintesse would you please fix this?

[2016-02-28 18:47] quintesse commented on #6055
Could you add any kind of code sample that exposes this bug?

[2016-02-28 18:54] quintesse commented on #6052
Sure, that's why I haven't done it yet ;-}

But I don't know how many times I've wanted to do a search &  replace "but only in strings please".

[2016-02-28 18:54] #5829 closed

[2016-02-28 18:56] gavinking commented on #6055
WDYM? It happens any time you try to use a type constructor in a cross-platform module. That's supposed to be illegal, by the typechecker accepts it. (And then the Java backend produces a nasty crash later.)

[2016-02-28 18:57] gavinking commented on #6055
It's nothing to do with the Ceylon code. The problem is that `scopedBackends.supports(Backend.Java)` doesn't work as advertised.

[2016-02-28 19:07] gavinking commented on #5865
The same problem occurs with `if`:

[code]

[2016-02-28 19:26] gavinking commented on #5865
Well, in fact, upon reflection, it's not so clear quite what we should do here. `assert` behaves consistently with respect to `if` and `for` and even `let` here. And even Java behaves this way when you look at its `for` loops.

And honestly I don't think I would want to prevent `let` or `if` or `for` from shadowing a name declared in an outer scope.

OTOH, I see the argument that `assert` is more

[2016-02-28 19:32] gavinking commented on #6052
I don't understand this comment.

[2016-02-28 20:20] Zambonifofex commented on #5829
@gavinking what was the solution? Is it now an error, or is it allowed?

[2016-02-28 20:21] bjansen commented on #6052
Search in string literals instead of any code.

[2016-02-28 20:34] gavinking commented on #5829
Error.

[2016-02-28 20:39] gavinking commented on #6052
Well that's not what the Ceylon Search screen does.

[2016-02-28 20:43] Zambonifofex opened #6056 "change some type errors into warnings"
I think the following examples are “sound” and should be allowed, but are useless and should produce warnings:
[code]
[code]
[code]

[2016-02-28 20:44] Zambonifofex commented on #5829
@gavinking #6056

[2016-02-28 20:49] quintesse commented on #6055
Yes, it does, any code that has no `native` annotation obviously supports the Java backend because it supports *any* backend. So if things don't work it might be used in a wrong way.

This is why I wanted an example, I have no idea what you're talking about. Type constructors illegal in cross-platform modules?

[2016-02-28 20:52] quintesse commented on #6052
Well I wasn't talking about the Ceylon search screen, I wanted a CLI tool that could do that, for automation purposes. (For example, we have a completely specific tool for increasing module version numbers in module descriptors. Much nicer if we could have built that using some generic tool)

[2016-02-28 20:56] gavinking commented on #6055
Right, that's what it _should_ do. But `scopedBackends.supports(Backend.Java)` evaluates to false.

[2016-02-28 20:56] gavinking commented on #6055
Yes.

[2016-02-28 20:57] gavinking commented on #6054
Fixed.

[2016-02-28 20:57] #6054 closed

[2016-02-28 21:37] gavinking commented on #5857
Well, I've fixed this, by simply not narrowing when the narrowed type would not be visible, I can't think of a better solution now &mdash; though I could imagine this behavior being surprising...

[2016-02-28 21:58] gavinking commented on #5820
@quintesse could we please get this one fixed for 1.2.2?

[2016-02-28 22:00] #5857 closed

[2016-02-28 22:44] #5669 closed

[2016-02-28 22:45] gavinking commented on #5669
Fixed.

[2016-02-28 23:42] chochos commented on #6043
I focused on `yield` because it's the one that's not a reserved word in Ceylon. People usually refrain from using reserved words as identifiers in a language. We can mention this change prominently in the release notes, asking anyone who uses those names to recompile.

[2016-02-28 23:53] quintesse commented on #6055
Dude, come on. "Yes" is not helping me getting this fixed. I have no idea what test to write with the info you're giving me.

[2016-02-28 23:55] dafixa commented on #6055
This is FUNNY!

[2016-02-29 00:36] gavinking commented on #6055
@quintesse All I want is for `scopedBackends.supports(Backend.Java)` to return `true` if the module has no `native` annotation on its module descriptor. That's all.

[2016-02-29 00:50] quintesse commented on #6055
Then change it to `NativeUtil.isForBackend(Backend.Java)` because `scopedBackends.supports(Backend.Java)` does indeed return `false` when there is no `native` annotation. I was mistaken when I said it would before.

[2016-02-29 01:37] #6055 closed

[2016-02-29 01:38] gavinking commented on #6055
@quintesse No, that's not what I want either. Anyway, looks like I've got it fixed now.

[2016-02-29 09:13] FroMage commented on #6035
We can't fix it for 1.2.1 published modules outside of `run-js`. For them you have to test and verify that using require.js aliases/maps works for both node.js and the browser.

[2016-02-29 09:17] FroMage commented on #6038
@dafixa look, we've been pretty reactive with the issues you raised, but some things can't be rushed and have to be properly considered. On the other hand, your aggressivity here in reporting issues is not going to be tolerated long. Consider yourself warned (again) for the last time.

Other people find it possible to report errors without hyperbole or a condescending tone. I'm sure you can too if

[2016-02-29 09:21] FroMage commented on #5957
`Hilight` seems fine, I'm afraid `search` will be too complex.

[2016-02-29 12:46] dafixa commented on #6038
@FroMage Thanks for pinging me. No worries, I was called a liar on Gitter by the project lead so I lost interest in the project anyway.

[2016-02-29 13:19] gavinking commented on #6038
[citation needed]

[2016-02-29 13:22] dafixa commented on #6038
https://gitter.im/ceylon/user/archives/2016/02/28

[2016-02-29 13:29] gavinking commented on #6038
Ah. So nobody _actually_ called you a "liar". No native English speaker understands "I don't believe you" to be equivalent to "you're a liar". Nor does anybody else with a decent command of the language.

_If only that were true._ Sadly, we all know that you'll pop up here or on Gitter or on reddit in a few days time with a brand new identity, and the same pattern of harassment and insults and vic

[2016-02-29 13:32] dafixa commented on #6038
You're confused. Anyhow, I really had enough of this. Goodbye.

[2016-02-29 13:34] dafixa commented on #6038
So what did you mean?

?

Goodbye.

[2016-02-29 13:39] dafixa commented on #6038
So what did you mean? Making claims and accusations and deleting my replies is not nice and not something I accept.

[2016-02-29 13:40] dafixa commented on #6038
So what did you mean? Making claims and accusations and deleting my replies is not nice and not something I accept.

[2016-02-29 13:42] dafixa opened #6058 "So"
So what did you mean? Making claims and accusations and deleting my replies is not nice and not something I accept.

[2016-02-29 13:45] FroMage commented on #6058
Please do not open issues that are unrelated to the project, or we will be forced to ban you.

[2016-02-29 13:45] #6058 closed

[2016-02-29 13:45] gavinking commented on #6058
You do understand, right, just how utterly crazy it is to stalk and harrass someone _on github's issue tracker_? Dude: you need help. Seek it. Please.

[2016-02-29 14:53] quintesse opened #6059 "Something broke #2170"
Right now the test for #2170 fails with an NPE

[2016-02-29 16:32] jvasileff opened #6060 "JS backend silently ignores code at runtime"
Attempting to use resources in try-with-resources results in the rest of the `try` block being silently ignored.

[code]

This is ~~one of~~ the bug~~s~~ affecting the tests for @lucaswerkmeister's Ceylon lexer.

[2016-02-29 16:44] lucaswerkmeister commented on #6060
The generated code looks like:
[code]
The `$4().string` needs to be `$4.string`, otherwise it throws a “TypeError: `$4` is not a function”, which is silently swallowed.

[2016-02-29 16:50] FroMage commented on #6042
@vietj please, more info?

[2016-02-29 16:57] chochos commented on #6043
So what's it gonna be?

[2016-02-29 17:13] lucaswerkmeister commented on #6043
Well, I think the last variant would be fine: just postpone the change until the next time we break binary compatibility (which will probably happen).

[2016-02-29 17:14] quintesse commented on #6060
Sounds serious, I'll add it to the 1.2.2 milestone then.

[2016-03-01 02:25] #6060 closed

[2016-03-01 09:37] #6059 closed

[2016-03-01 09:47] #6046 closed

[2016-03-01 11:08] #5979 closed

[2016-03-01 15:15] gavinking opened #6061 "Allow lookup operator [] with Java Map and List, and in operator with Java Collection"
We should let you write:

- `list[i]` and `map[key]` with `java.util.Map` and `java.util.List`, and
- `x in collection` with any `java.util.Collection`.

[2016-03-01 15:16] bjansen commented on #6061
+1000

[2016-03-01 15:17] gavinking commented on #6061
Note: this is a trivial change to the typechecker, so when @tombentley and or @FroMage is ready to implement it, just let me know...

[2016-03-01 15:18] bjansen commented on #6061
That's a feature though, so 1.3, right?

[2016-03-01 15:19] gavinking commented on #6061
It's a trivial feature.

[2016-03-01 18:15] gavinking commented on #6061
Alright, so `in` is done :-)

[2016-03-01 18:20] gavinking commented on #6061
@tombentley where precisely is this code?

[2016-03-01 20:17] quintesse commented on #5130
I guess we can consider this done :)

[2016-03-01 20:17] #5130 closed

[2016-03-02 00:11] quintesse commented on #5820
So I fixed this by implementing support for `native` interfaces in the JVM backend.

Could you do so as well @chochos ? Like always it'll probably way easier for you ;)

[2016-03-02 00:14] quintesse commented on #6042
@vietj if we're going to make a new release for Vert.x we need your feedback ;)

[2016-03-02 00:14] chochos commented on #5820
you mean this breaks in js?

[2016-03-02 00:15] chochos commented on #5820
shit, it does!

[2016-03-02 00:30] quintesse commented on #5820
@chochos I guess you have to use that `ModelUtil.mergeStatements()` function for `Tree.Interface` declarations as well. That's what I had to do at least. Hopefully on the JS side it's no more work than that.

[2016-03-02 00:32] chochos commented on #5820
except now I have an InterfaceDeclaration and an InterfaceDefinition

[2016-03-02 00:33] chochos commented on #5820
But I'm getting a typechecker error: `native classes do not extend the same type: 'PublicKey'` for the InterfaceDefinition

[2016-03-02 00:34] quintesse commented on #5820
I think you only need to do this for `InterfaceDefiniton`, I think `InterfaceDeclaration` is for aliases.

[2016-03-02 00:35] quintesse commented on #5820
HAve you updated to the latest code? I only pushed this half an hour ago.

[2016-03-02 00:37] quintesse commented on #5820
Ah no, you're right, weird. Lemme see.

[2016-03-02 00:40] chochos commented on #5820
There's also a different case where you can have a native InterfaceDefinition header with just formal members and then another InterfaceDefinition for the current backend with the implementations.

[2016-03-02 00:40] chochos commented on #5820
I'm guessing the problem is because InterfaceDefinitions automagically satisfy Identifiable (or was it Basic?) and the native InterfaceDeclaration doesn't satisfy anything probably.

[2016-03-02 00:40] quintesse commented on #5820
It's because you can`t do `shared native interface PublicKey;` you *must* do `shared native interface PublicKey {}`

[2016-03-02 00:42] quintesse commented on #5820
You can't do that, all member declarations have to be *exactly* the same, you're not implementing anything, so there's no formal vs actual

[2016-03-02 00:49] chochos commented on #5820
OK so the original code was invalid anyway. But now we need to implement support for native interfaces anyway.

[2016-03-02 00:51] quintesse commented on #5820
Yes, that's what I did for the JVM

[2016-03-02 00:56] chochos commented on #5820
Do you add an error to native interface declarations?

[2016-03-02 00:56] quintesse commented on #5820
Not yet, I'm working on that now

[2016-03-02 00:57] chochos commented on #5820
It's going to be at the typechecker level, right?

[2016-03-02 01:07] quintesse commented on #5820
yup

[2016-03-02 01:46] quintesse commented on #5820
Ok, added the error.

[2016-03-02 01:47] quintesse commented on #5820
I'm off to bed now, you can close this issue when you're done with your part, okay @chochos ! Night!

[2016-03-02 01:50] chochos commented on #5820
Done, closing.

[2016-03-02 01:50] #5820 closed

[2016-03-02 06:45] vietj commented on #6042
yes, trying to figure out why this never happened before

[2016-03-02 08:15] vietj commented on #6042
will provide steps soon, I need to upload ceylon snapshots to maven snapshot repository first.

[2016-03-02 08:51] vietj commented on #6042
if I add to my .ceylon/config the following:

[code]

it works because it can find the modules in Herd (they are not installed locally since the point is to use Ceylon in Maven with no requirement to have a local Ceylon installed), I don't remember if I added this for previous releases.

so it seems ok to me.

You can close this and do the release.

Sorry for long feedback.

[2016-03-02 08:53] FroMage commented on #6042
Isn't this something you had to set with `Options.systemRepository`?

[2016-03-02 08:56] vietj commented on #6042
No, never used this one.

Anyway, we talked about that previously and the best solution would be to have Ceylon able to reuse modules from classpath when they are available from there.

[2016-03-02 09:07] FroMage commented on #6042
I don't understand your fix, though. You point to what appears to be a distribution directory.

[2016-03-02 09:08] vietj commented on #6042
yes, that's the local ceylon 1.2.2 I've downloaded. The same modules are in Herd after you release, aren't they ?

[2016-03-02 09:12] FroMage commented on #6042
Oh I see, your problem is that they're not yet in Herd, OK. Fine.

[2016-03-02 09:12] #6042 closed

[2016-03-02 10:57] quintesse commented on #6035
Ok, so Node.js does *not* support aliases or mappings and any chance of them adding something like that are "no chance in hell" basically: https://github.com/npm/npm/issues/2943

[2016-03-02 11:01] quintesse commented on #6035
Btw, we use RequireJS only on the web,Node.js uses CommonJS which RequireJS (and Ceylon modules) support as well. But the only thing they have in common is a way to encapsulate modules and have them export their public API. Basically everything else is up to the "container" itself. So there is no way we can expect any of them to be configured in the same way or support specific extensions or plugi

[2016-03-02 11:02] davidfestal opened #6063 "Why is `Map.keys` returning a `Collection` and not a `Set` ?"

[2016-03-02 11:23] gavinking opened #6064 "Allow lookup operator [] with Java arrays"
Following on from #6061 we should allow you to write `intArray[i]` for all the array types in `java.lang`.

[2016-03-02 11:55] tombentley commented on #6061
@gavinking the code generator should now handle `list[index]` and `map[key]`.

[2016-03-02 12:00] gavinking commented on #6063
Fixed.

[2016-03-02 12:31] quintesse commented on #6035
*I'll start with a bit of background on modules in the JS world so others can follow along:*

So the way CommonJS/RequireJS modules work is that you get this "container" implementation that knows how to load modules somehow. This could be Node.js or RequireJS or AMD or whatever else is out there, but they all provide a function called `require()`.

But all modules also have an argument called `req

[2016-03-02 12:36] davidfestal commented on #6063
Thanks !

[2016-03-02 12:41] gavinking commented on #6061
yay! thanks :-)

[2016-03-02 12:56] tombentley commented on #6061
Actually what should we do if the `List` index is out of bounds? Should we just call `get()` and let the IOOBE propagate, or should the expression evaluate to null instead? Same goes for #6064.

[2016-03-02 12:57] gavinking commented on #6061
@tombentley that is a great question, and I have no particular intuition on the matter.

I suppose `null` would be nice...

[2016-03-02 13:04] tombentley commented on #6061
Well `null` in the case of arrays of primitive type would mean we'd have to box the result. That would often run counter to the user's choice to use Java arrays (performance), so for primitive arrays at least I think propagating the exception is the right thing to do. Then for consistency I suppose we should propagate for `ObjectArray` and probably for `List` too, though that's not totally clear.

[2016-03-02 13:08] gavinking commented on #6061
Well I don't think it's necessary that primitive arrays and `List`/`Map` do precisely the same thing, since, as you've observed, they're different...

[2016-03-02 13:10] tombentley commented on #6061
OK, I'll fix the List one to return null then.

[2016-03-02 13:58] tombentley opened #6065 "Java arrays as upper bounds"
`javac` doesn't permit array types as upper bounds of type parameters, but in Ceylon you can write

    void foo<T>() given T satisfies IntArray {
    }

which results in a backend error.

We should prohibit Java arrays types are upper bounds.

[2016-03-02 14:10] FroMage commented on #6065
Funny I did not know that. Especially since you can use `int[]` as a type argument…

[2016-03-02 14:22] FroMage commented on #6035
This sounds good, except you should include the current module name/version to the call to `$$ceylon$require` because overrides can be module-dependent, so we have to know who's asking. It also does not quite work for overrides that add/remove module imports, but frankly we can always improve on that later.

[2016-03-02 14:42] gavinking commented on #6061
Waiting.... ;-)

[2016-03-02 14:56] tombentley commented on #6061
@gavinking can you prohibit stuff like this:

[code]

where `get` is not implemented by any super.

[2016-03-02 14:57] tombentley commented on #6064
This is now supported in the code generator.

[2016-03-02 15:00] gavinking opened #6066 "bug in printAll() on JS"
This code:

    printAll {["hello"->1]};

prints `hello->1` on JS, and `[hello->1]` on the JVM.

[2016-03-02 15:04] gavinking commented on #6061
@tombentley it's not already prohibited?!

[2016-03-02 15:15] tombentley commented on #6061
Doesn't seem to be

[2016-03-02 15:16] gavinking commented on #6061
Ouch. Can you open a separate bug for that. 'Cos I want to close this one.

[2016-03-02 15:23] tombentley opened #6067 "Prohibit index expressions without a concrete `get`"
As noted in #6061, this is currently permitted by the typechecker

[code]

`super[0]` is equvialent to invoking the `formal` method `get()`, thus should be prohibited.

[2016-03-02 15:23] tombentley commented on #6061
Done: #6067

[2016-03-02 15:25] gavinking commented on #6067
I wonder how many other operators this hole applies to? `+`, `*`, and friends?

Ouch.

[2016-03-02 15:28] tombentley commented on #6067
The only reason I spotted it was a special case in the transform for `Correspondence` which avoided using the `List.getFromFirst()` optimization if `getFromFirst()` was `formal`.

[2016-03-02 15:31] gavinking commented on #6061
This is done. Yay!

[2016-03-02 15:31] #6061 closed

[2016-03-02 15:34] FroMage commented on #6067
What's the issue, though? Sounds like it means `super.get(0)`, which is valid, no?

[2016-03-02 15:34] gavinking commented on #6067
class MyList() extends Object() satisfies List<Anything> {
            getFromFirst(Integer index)
                    => super[index]; //ouch! no error
            lastIndex => 1;
        }

        class MySummable() satisfies Summable<MySummable> {
            plus(MySummable other) => super + other; //error phew!
        }

[2016-03-02 15:35] gavinking commented on #6067
@FroMage `get()` is `formal`

[2016-03-02 15:36] jvasileff opened #6068 "language module version 1.2.2 not compatible with 1.2.1 modules"
The changed return type of `Map.keys` in https://github.com/ceylon/ceylon/commit/b87e569c48177eafbb5f82b8aa5d59f27cd369b5 breaks compatibility.

With `module.ceylon`:
[code]
and `run.ceylon`:
[code]
you get:
[code]

[2016-03-02 15:37] FroMage commented on #6067
Oh OK, so only put an error if it's `formal`, fine.

[2016-03-02 15:43] quintesse commented on #6035
Yes, I had already edited it afterwards to add that.

True, but I think those two don't make much sense on the JS backend anyway.
Remember there's no "linker" or toplevel scope anything, you call `require()` and you get an object back and you can call the methods it exports *on that object*.
This means that removing a module is almost certainly going to result in an error. But perhaps it's only an

[2016-03-02 15:49] quintesse commented on #6035
Although now that I think of it, maybe at some future date when having to deal with requires/provides etc and the runtime has to dynamically link an interface and its implementation it could become useful to add modules. Who knows. We'll see when we get there ^^

[2016-03-02 15:52] lucaswerkmeister commented on #6068
The only solution is to roll back that change, right? And delay it for 1.3.

[2016-03-02 15:52] gavinking commented on #6068
Oh FFS. This is ridiculous. Why the fuck is the JVM so idiotic?

[2016-03-02 15:53] gavinking commented on #6068
Java doesn't have overloading by return type, but the JVM doesn't know that. Pfffff.

[2016-03-02 15:54] lucaswerkmeister commented on #6068
I guess encoding the return type in the method descriptor could make the bytecode verification easier? Since you don’t need to load the linked classes in order to verify the current one.

[2016-03-02 15:55] gavinking commented on #6068
That still doesn't justify prohibiting a *refinement* of the return type.

[2016-03-02 16:03] gavinking commented on #6068
@tombentley Do you think we could temporarily hack the compiler to generate a bridge method? Just for this special case. I think it could turn out to be a generally-useful facility to have...

[2016-03-02 16:06] jvasileff commented on #6068
Even if this example worked, the change would still break satisfying classes that only return `Collection`.

[2016-03-02 16:08] gavinking commented on #6068
Sure, but I don't know of any `Set` implementations that refine `keys`.

[2016-03-02 16:13] jvasileff commented on #6068
Then `keys` should be final?

My guava wrappers refine `keys`. But they also happen to return `Set`s...

[2016-03-02 16:14] lucaswerkmeister commented on #6068
Do they declare a return type of `Set` too?

[2016-03-02 16:17] gavinking opened #6069 "spurious backend error"
This one has been bugging me for quite some time. Given the following broken code:

[code]

I get the spurious additional backend error:

    MyList is not abstract and does not override abstract method getFromFirst(long) in ceylon.language.List

[2016-03-02 16:25] jvasileff commented on #6068
Yes.

[2016-03-02 16:26] gavinking commented on #6067
@FroMage Well, actually, the solution I have gone with for now is to totally prohibit the use of `super` as an operand of any of the flavors of `[]`. This is consistent with what I do with other operators. Now, I could in principle do something smarter, but the implementation is significantly more complicated, and I guess I would also have to look at other operators at the same time...

[2016-03-02 16:26] gavinking commented on #6067
I'm closing, unless there is a strong objection to the proposed fix.

[2016-03-02 16:26] #6067 closed

[2016-03-02 16:36] gavinking commented on #6067
In fact, what I have implemented is already required by the spec in §4.4.1, §4.5.2, and §4.5.3.

[2016-03-02 16:50] gavinking commented on #5948
In the current codebase, the typechecker is indeed able to prove that `x` is initialized. Closing.

[2016-03-02 16:53] gavinking opened #6070 "error from javac definite assignment checker"
In #5948, @lucaswerkmeister gave this example:

[code]

This is accepted by the typechecker, but breaks the backend:

    Variable x might not have been initialized

@tombentley one for you?

[2016-03-02 16:55] tombentley commented on #6068
I could *try*, I suppose.

[2016-03-02 16:57] lucaswerkmeister commented on #5948
What is the “current codebase”? I’m still getting the error on master (45a11b2).

[2016-03-02 16:58] mikekripke commented on #5957
Ceylon idiomatic FFI? JNA when targetting Java <= 9, otherwise JEP 191. Make sure Android is supported.

[2016-03-02 16:59] gavinking commented on #5948
Have you looked properly at the error. Does it look like an error from the typechecker?

[2016-03-02 17:00] lucaswerkmeister commented on #5948
[code]
It doesn’t obviously look like a backend error at least.

[2016-03-02 17:01] lucaswerkmeister commented on #5948
This is the error message if I put a `print(x);` right after the declaration of `x`:
[code]
So, okay, it’s a different error message, and if you happen to know them by heart I guess you could determine that it’s a backend error.

[2016-03-02 17:01] gavinking commented on #5948
C'mon man. Is 'x' a variable?

[2016-03-02 17:02] gavinking commented on #5948
The IDE labels backend errors as "Ceylon Backend Error", FTR.

[2016-03-02 17:03] lucaswerkmeister commented on #5948
The lack of quotes is actually the better giveaway, come to think of it.

And not everyone uses the IDE… at least not constantly…

[2016-03-02 17:03] gavinking commented on #5948
Plus, I never use Java terminology in Ceylon error messages. `x` is a "value", not a "variable".

[2016-03-02 17:05] gavinking commented on #5948
And, P.S. the real giveaway was that I opened #6070 and mentioned this issue ;-)

[2016-03-02 17:07] lucaswerkmeister commented on #5948
Well, I usually recognize javac errors by the words “symbol” and “location” ;)

[2016-03-02 17:08] gavinking opened #6071 "CLI should properly label backend errors"
When compiling from the CLI, backend errors should be properly distinguished as such.

[2016-03-02 17:10] lucaswerkmeister commented on #6071
LOL – :+1:

[2016-03-02 17:13] gavinking commented on #5949
Simplified test case:

[code]

[2016-03-02 17:14] #6065 closed

[2016-03-02 17:17] lucaswerkmeister commented on #6071
The simplest way would be to simply print “location: backend error: message” of “location: error: message”.

[2016-03-02 17:19] jvasileff commented on #6068
There are a couple sdk classes that refine `keys`: `CeylonMap` and `UnmodifiableMap`. With bridge methods, at best I suppose, the version of `keys` that would be used would be based on the expected return type at compile time.

But, none of this seems possible anyway, since we can't retroactively add bridge methods to compiled classes. IIUC, even `Map` implementations that do not override `key`s w

[2016-03-02 17:24] gavinking commented on #6068
Not sure I care about breaking _implementations_. I guess I do care about breaking _clients_.

[2016-03-02 17:28] jvasileff commented on #6068
The point is to allow `1.2.2` compiled modules to use `1.2.1` compiled modules, such as `ceylon.collection/1.2.1`, right?

[2016-03-02 17:42] gavinking commented on #6068
And vice-verse, I think.

[2016-03-02 18:19] f47k9L opened #6072 "Ceylon is a usability desaster"
Try to increase number of users of the ceylon language without changing your mind.
And simply ignore critique. Bye!

[2016-03-02 18:43] mikekripke commented on #5957
Gradle build system?

[2016-03-02 18:45] gavinking commented on #5948
Oh wait. Now I understand this one properly. The typechecker accepted the above code, but only because of bug #5949. After fixing #5949, the above code is no longer accepted. And that's expected, because nowhere have we suggested we do any reasoning around the `else{continue;}break;` bit.

I'm reopening, and assigning to a far-future version of Ceylon :)

[2016-03-02 18:47] #5949 closed

[2016-03-02 18:47] lucaswerkmeister commented on #5948
Aww, I had my hopes up ;)

[2016-03-02 18:47] gavinking commented on #5949
This is fixed.

[2016-03-02 18:57] gavinking commented on #5948
Wait, perhaps that's wrong too: the problem is not that I don't do the necessary reasoning around `continue`. It's just that my fix for #5949 was insufficiently powerful. There is still hope for this one @lucaswerkmeister ;-)

[2016-03-02 22:44] gavinking opened #6073 "loops and single assignment checking"
The typechecker accepts this:

[code]

But not this:

[code]

It should accept both.

[2016-03-02 23:00] jvasileff commented on #5755
`ant dist` no longer targets the user repo. Closing.

[2016-03-02 23:00] #5755 closed

[2016-03-02 23:15] #5948 closed

[2016-03-02 23:16] gavinking commented on #5948
OK, you got lucky. 'tis fixed. However, not that it's usefulness is limited by #6073.

[2016-03-02 23:16] lucaswerkmeister commented on #5948
Wow, great! Thanks @gavinking!

Now, do you plan on codifying these commits in the spec, or is that still for a far-future version? :)

[2016-03-03 00:18] quintesse commented on #5755
:+1:

[2016-03-03 08:53] FroMage opened #6075 "API diff docs"
Add a new Ceylon CLI plugin to generate an HTML diff of two versions of a single module.

Output should be similar to `ceylon doc`, but show added/removed/changed packages, types, methods, values.

This means that it will likely be an extension of the ceylondoc tool, because we want to reuse its rendering capability.

For a Java example, see http://javadiff.sourceforge.net/jdiff/reports/j2se142_j2

[2016-03-03 09:17] FroMage opened #6076 "JVM module binary compatibility checker"
We create a new Ceylon CLI tool to check two versions of a given module, compiled for the JVM, to see if they are binary compatible. The output should give us a decent text or Html report to point to what is compatible and what not, possibly including links to ceylondoc for both versions.

What constitutes binary compatibility is complex, and not yet precisely defined in Ceylon. You can see https:

[2016-03-03 11:39] tombentley commented on #6069
Are you saying this is a regression, or just that it's an existing problem that's becoming more of an annoyance?

[2016-03-03 12:07] gavinking commented on #6069
It's not new, I just never reported it before.

Sent from my iPhone

[2016-03-03 12:31] simonthum commented on #5891
Hi Tom,

great you took it up! I find it well done and it has instructive tests. From a security perspecive it would maybe need some helpers e.g. to whitelist "org.myorg.*" and "ceylon.*" easily enough to get used in practice, but that can be done any time.

I would, however, suggest adding a serialization (i.e. not de-serialization) counterpart. This would make it easy to support older API versio

[2016-03-03 12:38] quintesse commented on #5891
Btw, this was reassigned to 1.2.3

[2016-03-03 12:43] FroMage commented on #5882
I'm fine with this being limited to Java interop, but I can't merge my android work without this issue resolved, @gavinking. Any opinion?

[2016-03-03 14:36] tombentley commented on #6068
So for this very special case I added a bridge method, and all I'm saying is it seems to work. Please test it out @jvasileff and confirm that it works for you.

I don't really see how we can avoid this sort of thing having to be hard-coded in the compiler: How would we know that to preserve BC with some previous version of a module we need to generate a bridge?

[2016-03-03 14:50] gavinking commented on #6068
What is the generated code for `Map` now?

Sure. But that's what I'm saying: surely we will run into stuff like this in the future, and so having infrastructure for it in the compiler makes sense.

[2016-03-03 14:53] tombentley commented on #6068
So for this very special case I added a bridge method, and all I'm saying is it seems to work. Please test it out @jvasileff and confirm that it works for you.

I don't really see how we can avoid this sort of thing having to be hard-coded in the compiler: How would we know that to preserve BC with some previous version of a module we need to generate a bridge?

[2016-03-03 14:55] tombentley commented on #6068
Though I wonder if we could use this for widening method parameters in refinements.

[2016-03-03 14:55] FroMage commented on #6068
I'd rather have gotten something like:

[code]

Or:

[code]

[2016-03-03 14:56] gavinking commented on #6068
A compiler annotation would make sense here, I agree.

[2016-03-03 15:02] FroMage commented on #6068
that can wait for 1.2.3, though.

[2016-03-03 15:15] jvasileff commented on #6068
`ceylon.collection/1.2.1::HashMap` has already been compiled, no?

[I don't see](https://github.com/ceylon/ceylon/issues/6068#issuecomment-191332556) how it's possible to fix this.

[2016-03-03 15:24] gavinking commented on #6068
@jvasileff well it seems to me that that only breaks when using `ceylon.collection/1.2.1` from code compiled with 1.2.2, no?

[2016-03-03 15:25] tombentley commented on #6068
The fix should allow modules compiled against 1.2.1's `Map.keys` to link with Map implementations compiled with 1.2.2. I thought that was what @gavinking wanted, right?

[2016-03-03 15:28] simonthum commented on #5891
Regarding my last comment, the serialization counterpart could be informed by #6075 output, or the tool could even produce white/blacklisting code from API diffs for those who don't like maintaining compatibility level annotations.

[2016-03-03 15:52] jvasileff commented on #6068
@gavinking that's what's in the issue description.

* Not everyone recompiles their modules every release, and some may have classes that satisfy `Map` that are used by others. If you depend on a third party module, you have to wait around until an updated version is provided.
* Folks don't want to immediately update *all* of there dependencies for all of their projects whenever they upgrade to a

[2016-03-03 15:59] tombentley commented on #6068
Well the annotation ought to go on the declaration where you broke BC (`Map.keys`), rather than on every implementor, but it's when we compile an implementor that we need to add the bridge, so the annotation needs to be reified. Semantically it ought to be a compiler annotation rather than some JVM specific annotation in the language module, so we'd need to add some hidden annotation, support read

[2016-03-03 18:01] gavinking commented on #6068
@jvasileff so the current situation is:

- Everything works when calling `HashMap` in `ceylon.collection "1.2.2"` from code compiled under `"1.2.1"`.
- Calling `HashMap.keys` in `ceylon.collection "1.2.1"` from code compiled under `"1.2.2"` results in an `AbstractMethodError`, but other operations work just fine.

So my question is: is this acceptable?

If it's _not_ acceptable, then there actuall

[2016-03-03 18:04] lucaswerkmeister commented on #6068
Is that change **really** worth all this trouble? If you need a map of keys right now, you can use the toplevel `map` function: `map(….keys)`. I still think it would be better to delay this change to 1.3. (Unless we want to make 1.3 compatible with 1.2 as well…)

[2016-03-03 18:09] gavinking commented on #6068
@lucaswerkmeister well it _some_ point we're going to need to break it. Typically it's better to break things sooner rather than later.

If you think this is a lot of trouble to go to for one change, well, yes, it would be. But surely this is not going to be the last time we need to make a change like this and I think it's very interesting to develop a little bit of simple machinery for handling t

[2016-03-03 18:10] gavinking commented on #6068
(To be clear, if the compiler replaces calls to `Map.keys` with calls to `Util.keySet(Map map)`, there would be *no* breakage.)

[2016-03-03 18:12] lucaswerkmeister commented on #6068
~~it’s better to not break things at all in patch versions~~ yes, I know, cargo cult

There’d still be breakage from 1.2.1 calling 1.2.2, no?

[2016-03-03 18:15] gavinking commented on #6068
No, as stated above, @tombentley's patch has already solved that.

[2016-03-03 18:16] lucaswerkmeister commented on #6068
Ah, so you mean that the compiler replaces calls to `Map.keys` *and* generates the bridge method.

[2016-03-03 18:29] gavinking commented on #6068
Of course.

[2016-03-03 18:40] #5896 closed

[2016-03-03 18:47] gavinking commented on #5896
Fixed by disallowing use of that syntax.

[2016-03-03 19:32] jvasileff commented on #6068
I agree this would be useful machinery–I have it in the Dart BE, but *not* to perform blind method swizzling, which is just wrong. If a refinement doesn't need to be respected, then the refined declaration should have been final. And in this case, the refinements *are* important.

I disagree there would be no breakage. The absence of a `NoSuchMethodError` is not sufficient to prove correctness.

A

[2016-03-03 19:38] gavinking commented on #6068
I'm not suggesting that we wouldn't respect refinement.

[2016-03-03 19:38] gavinking commented on #6068
Again: we could do this so that there is zero breakage.

[2016-03-03 20:31] jvasileff commented on #6068
I know. The `Collection` can be wrapped to look like a `Set`, and in this case, all is likely to be fine if no one looks at the runtime types. But that doesn't change my opinion that this sort of thing is dangerous/wrong in general, and not worth it for `formal` and `default` members.

[2016-03-03 20:43] jvasileff commented on #6068
Actually, no, this won't work at all without disregarding the refinement. The current default for `keys.clone()` is

[code]
which won't work at all, since wrapping `[*this]` to look like a `Set` would be terrible for performance.

[2016-03-03 21:57] gavinking commented on #6068
There are two reasonable solutions:

1. Use reflection.
2. just catch the AbstractMethodError (what I would do)

Sent from my iPhone

[2016-03-03 21:58] gavinking commented on #6068
Or 3. tag Set implementations compiled with 1.2.2.

Sent from my iPhone

[2016-03-03 22:03] jvasileff commented on #6068
I was taking for granted that calling `Util.keySet(Map map)` when necessary can be figured out.

It's writing `Util.keySet()` in a way that honors the `MyOldMap.keys` refinement is what I've been questioning.

[2016-03-03 23:05] #4037 closed

[2016-03-03 23:05] gavinking commented on #4037
Fixed, _finally_.

[2016-03-03 23:49] gavinking commented on #6000
@tombentley let me know when you're ready to start working on this one.

[2016-03-03 23:49] gavinking commented on #6000
Related: #3483

[2016-03-04 00:09] gavinking commented on #5873
To be clear, this code prints `<null>`:

[code]

[2016-03-04 00:15] gavinking commented on #5870
Well this is a bit subtle. The type of `D.a` is `Anything(String=)`. There's not two `a`s in `D`, there's just one of them, and that's it's type.

So fixing this would, it seems to me, introduce quite a lot of complication, and it doesn't feel to me like I have sufficient motivation for that...

[2016-03-04 00:20] gavinking commented on #5873
@jvasileff

I don't see your reasoning behind (1). It seems to me that the thing that must be prevented is:

- evaluating a defaulted argument of a method declared by a supertype from within the initializer section of the inheriting class.

Isn't that sufficient?

[2016-03-04 00:21] lucaswerkmeister commented on #5870
Btw, it works if you write it as a default constructor:
[code]

[2016-03-04 00:28] lucaswerkmeister opened #6077 "backend error (cannot find symbol) + fatal error (javac assertion error) when constructor assigns to erroneous member"
[code]

One legitimate typechecker error:

And one bad backend error:

        this.n = null;
        ^

  symbol: variable n
ceylon compile: Fatal error: The compiler exited abnormally (4) due to a bug in the compiler.
Please report it:
 https://github.com/ceylon/ceylon-compiler/issues/new
Please include:

* the stacktrace printed below
* a description of what you were trying to compile.

Thank y

[2016-03-04 06:27] jvasileff commented on #5873
Yes, I agree.

It of course follows from both (2) and your description that taking references to callable parameters must be prohibited in the extends clause and in the initializer section.

For the JVM & Dart backends, I believe that we "just" have to adjust the code that generates `Callable`s for defaulted callable parameters to avoid evaluating default argument expressions, since the `Callable`

[2016-03-04 09:57] tombentley commented on #6064
Not sure why you assigned this to me @gavinking – the codegen part should just work – what's missing is the tc supporting this.

[2016-03-04 09:59] FroMage commented on #6068
Guys, given that this does not seem trivial to fix, and that we were supposed to release 1.2.2 two weeks ago, I'd much rather revert this and move to 1.2.3.

[2016-03-04 10:17] tombentley commented on #6068
Yes, I agree: Let's revert my hack for now and the change the `Map.keys` and get 1.2.2 out.

[2016-03-04 10:35] gavinking commented on #6064
Because I didn't see your comment :)

[2016-03-04 13:03] #6070 closed

[2016-03-04 13:03] gavinking commented on #6070
Thanks :-)

[2016-03-04 13:08] tombentley commented on #6070
We should add support for control flow labels so @lucaswerkmeister doesn't have the excuse the write this kind of code :smile:

[2016-03-04 13:11] gavinking commented on #6070
You think that will stop him?

[2016-03-04 13:33] gavinking opened #6078 "brand new type error"
This code was working last night.

[code]

Now I get:

    incompatible types
      required: java.lang.String
      found:    ceylon.language.Sequential

[2016-03-04 13:45] FroMage commented on #6070
Oh please yes control flow labels :]

[2016-03-04 13:57] #6078 closed

[2016-03-04 13:58] tombentley commented on #6078
Not clear how/why that broke or what the code that I removed to fix it was supposed to be doing.

[2016-03-04 14:05] SanjayJosh commented on #6075
Hello developer , I was given the link to the API diff issue on the mailing list . So ,the API difference as seen for the  two java versions have only intel on the number of extra packages. I feel we might need a  more visually pleasant page for  ours.

[2016-03-04 14:06] #6064 closed

[2016-03-04 14:07] gavinking commented on #6064
Done!

[2016-03-04 14:09] FroMage commented on #6075
Well, no it shows new packages, removed packages and changed packages. And for each changed package it does the same for types. And for each changed types it does the same for members.

Naturally it would have to look better, it has to look as good as ceylondoc does.

[2016-03-04 14:20] SanjayJosh commented on #6075
Oh , I see. Thank you for the insight . So ,how do we go about moving ahead with it ?

[2016-03-04 14:25] FroMage commented on #6075
Well, if you want to size the issue and get a feel for it you can always try to check out the code, make a modification, test your change and see how you would attack the issue.

[2016-03-04 14:29] #6069 closed

[2016-03-04 14:37] tombentley opened #6079 "java arrays in for statements, comprehensions"
Support `for(x in javaArray) { ... }`  (because `for(x in jaraArray.iterable) { ... }` looks clunky now we support `for(x in javaList) { ... }`).

I suppose in `for` comprehensions too since we support java lists there too.

[2016-03-04 15:04] gavinking commented on #6079
@tombentley let me know when you are ready for this one.

[2016-03-04 15:04] gavinking commented on #6069
Thanks Tom!

[2016-03-04 15:48] quintesse opened #6080 "Create a script for Ceylon à la `gradlew`"
We should create a script that, on its own, can download and install a Ceylon distribution.

We could leverage the `ceylon-bootstrap.jar` for this as it's already meant for something like this (a tiny JAR without dependencies that almost never will need to change).

It would simply download `ceylon-VERSION.zip` from the official site and unzip it in `$HOME/.ceylon/dists/VERSION` and then call `$HO

[2016-03-04 17:59] chochos commented on #6045
Done.

[2016-03-04 17:59] #6045 closed

[2016-03-04 18:41] gavinking commented on #6079
In branch 6079 I have done the typechecker side of this.

[2016-03-04 19:58] lucono opened #6081 "IDE accepts but compiler rejects Ceylon implementation of Java Interface method with single variadic parameter"
If implementing a Java Interface with a single method having a single varargs parameter, the Ceylon compiler (Eclipse) IDE accepts the implementation in the editor, but the Ceylon compiler fails with the error: "`anonymous_0_ is not abstract and does not override abstract method run(java.lang.String...) in AppInterface`" for the code samples below. (The Ceylon Eclipse IDE also puts an error with t

[2016-03-04 23:31] ncorai commented on #6068
While I agree with trying to minimize breakage between 1.3.x and 1.2.x by using such workarounds, I will also vote against constantly introducing breakage between patch releases (first JS, now this).

If you want Ceylon to (deservedly) become a more mainstream language that makes it into production environments, patch updates must be hassle-free. People want to just grab whatever libraries suit th

[2016-03-04 23:42] ncorai commented on #6080
Pull request:
Create a script for Ceylon á la \`gradlew\` -> Create a script for Ceylon à la \`gradlew\`

[2016-03-05 15:32] gavinking commented on #6063
This fix has now been moved to the 6063 branch.

[2016-03-05 15:34] gavinking commented on #6068
Grrr. Not very happy about this resolution.

[2016-03-05 15:34] #6068 closed

[2016-03-06 05:50] jvasileff opened #6082 "several broken Tuple functions when rest exists"
In `Tuple.java`, elements may exist in both `array` and `rest`, but several methods only look at `array`.

[code]

[2016-03-06 06:03] jvasileff opened #6083 "JS: Sequence.initial() returns an Array, should return a Sequential"
Per the api [docs](http://modules.ceylon-lang.org/repo/1/ceylon/language/1.2.1/module-doc/api/Sequential.type.html#initial), `initial()` should return a `Sequential`:

[code]

[2016-03-06 15:39] gavinking commented on #6082
All fixed, but tests are needed. @jvasileff want to contribute those?

[2016-03-06 16:37] juanluispaz opened #6084 "Object destructuring in method calls"
Hi

I want to propose an idea, allow destructing object over method invocation for avoid write "```paramName = obj.paramName```"

Let me show you it with an example:

[code]

We want to create a copy modifying the birthYear for doing it we can create a copy method in the Person class, or create a new copy using the constructor.

Using the copy method design pattern: This design requires write a sp

[2016-03-06 18:27] jvasileff commented on #6082
tests are in the issue description

[2016-03-06 18:29] gavinking commented on #6084
I would prefer the syntactic option

[code]

I think the risk of confusion with the `Iterable` spread operation is minimal, since it's followed by a `;`.

A difficulty with this is the following: precisely *which* attributes of `Person` are included in the operation, and are considered to line up with the parameters of the class? Consider:

[code]

At first, one might say:

However, that's not rig

[2016-03-06 19:04] gavinking commented on #6082
They're not tests; they're `print()` statements :-)

[2016-03-06 19:05] gavinking commented on #6035
Why isn't this issue assigned to anyone?

[2016-03-06 19:23] jvasileff commented on #6082
haha, well, these `vi` commands might help:

[code]

[2016-03-06 20:35] chochos commented on #6035
You can assign it to me if you want to, but I don't think this is something that will be solved by just one person, because it doesn't look like something that can be solved in just one place.

[2016-03-07 06:35] SanjayJosh commented on #6075
From what I understood of the issue , we need a sub command instruction in ceylon to show the difference between the two versions. I have set up the ceylon tool in my system  . What next ? Can you help me get started with dealing the issue ?

[2016-03-07 08:53] FroMage commented on #6035
Guys, this is ridiculous. This issue has blocked the release for two weeks. Either fix it, or give up version compatibility but do something about it today and release.

[2016-03-07 09:05] FroMage commented on #6075
@thradec might have another opinion, but I think the easiest would be to add a `diff` mode to `CeylonDocTool` which would typecheck two modules instead of one and produce a diff rather than normal output.

The problem of course is going to be how we get two versions of the source files? ATM ceylondoc works on the current source folders, of which there can only be one version. It mostly uses the mo

[2016-03-07 09:51] thradec commented on #6075
I would rather see it as separate tool/sub-command, but of course reuse as much code as possible.

The advantage comparing binaries would be, that one could make diff of 3rd party library even without source code.

[2016-03-07 14:33] tombentley commented on #6079
@gavinking because your tests for array types use `equals()` rather than `inherits()` they don't work with type aliases. Is that intentional?

[2016-03-07 14:39] quintesse commented on #6035
First, I've made the change that should at least allow us to fix this for future versions (let's say `1.2.3` modules importing modules that use `1.2.2`), but @chochos should at least take a look at it to see if it makes sense.

[2016-03-07 14:44] quintesse commented on #6035
Second, I had an idea last friday to be able to to use `1.2.1` modules even though they obviously were created before we had this fix:

The idea I had, that could probably work, is for `ceylon run-js` to create a temporary "repository", copy the 1.2.2 language module there, rename it to 1.2.1 and add that as the first path in the list of search paths. When it exits it removes the temp folder.

Wha

[2016-03-07 14:46] gavinking commented on #6079
Oh. OK, let me fix that then.

[2016-03-07 14:51] gavinking commented on #6079
Fixed.

[2016-03-07 15:06] tombentley commented on #6079
Still seeing errors with

    alias Strings=>ObjectArray<String>;
    for (s in (nothing of Strings)) {
        sum += s.hash;
    }

because `getJavaArrayElementType()` isn't using `type.getSupertype(getJavaObjectArrayDeclaration())`

[2016-03-07 15:19] chochos commented on #6035
Also, @quintesse's workaround only works for `run-js`. A web app would need a special config for that and there's no way to enforce it; maybe `ceylon copy` would need to do something similar as well, and the `require.js` config would need to be set up in such a way to allow for this special case.

I also think it's _less worse_ to release 1.2.2 SDK.

[2016-03-07 15:23] gavinking commented on #6079
OK, thanks.

[2016-03-07 15:40] #6083 closed

[2016-03-07 15:44] tombentley commented on #6079
Done

[2016-03-07 15:44] #6079 closed

[2016-03-07 16:00] quintesse commented on #6035
Only works *automatically* indeed. For all other situations you probably need to do something extra. (But only really needed if you actually have conflicts)

These two are the same thing of course. And the "config" is the addition of that special global `$$ceylon$require()` method, the actual configuration of RequireJS can stay as it is right now AFAIK.

Now, *how* to get that special method is a

[2016-03-07 16:01] quintesse commented on #6035
Doesn't it already handle this? It has a `--overrides` options after all.

[2016-03-07 16:11] gavinking commented on #6082
Done.

[2016-03-07 16:11] #6082 closed

[2016-03-07 16:53] quintesse commented on #6035
Ok, so if @chochos has no objections I'll consider this issue closed

[2016-03-07 16:54] #6035 closed

[2016-03-07 17:10] gavinking commented on #5955
Here's a proposal for the syntax of this, based on a suggestion by @tombentley:

[code]

There are three operators:

- `~` overrides an existing `import` specified in the module descriptor of a module the current module is importing
- `+` adds a new `import` to a module
- `-` removes an `import` of a module

The `+` and `-` operators work basically just like `<add>` and `<remove>` in `overrides.xm

[2016-03-07 17:11] gavinking commented on #5955
We need some way to distinguish "global" overrides from overrides that apply to a single nested `import`, I suppose.

[2016-03-07 17:13] bjansen commented on #5955
Some people are going to complain that `~` is not easy on their keyboard ;)

(FTR it's not even displayed on Mac azerty keyboards, it's a tricky `alt+n+space`).

[2016-03-07 19:43] tj-513 commented on #6076
I would like to work on this this issue for Google summer of code 2016. I have some doubts.
Is there a class parser API for Ceylon ? I think such thing would greatly help in making a CLI tool. And what exactly is a binary-visible API ?

[2016-03-07 20:46] jvasileff opened #6085 "'ceylon compile' 1.2.1 may produce extra warnings when errors exist"
Perhaps related to the "did you mean" feature, "declaration does not exist" errors seem to trigger loading of all classes of all packages involved in imports for the current file, which in turn can result in warnings like:

[code]

In this case, there are around 20 warnings.

This happens in `1.2.1` and `1.2.2`, but not `1.2.0` for:

[code]
with module:
[code]
The warnings also occur with the foll

[2016-03-07 21:36] quintesse commented on #6066
@chochos could you fix this? It's the last remaining issue for 1.2.2!

[2016-03-07 22:54] gavinking commented on #6085
@tombentley would you take a look at this one please?

[2016-03-07 22:54] gavinking commented on #6085
That sounds potentially Bad. Is it a performance bug?

[2016-03-07 23:11] gavinking commented on #5955
Upon reflection, it seems to me that we should clearly separate regular module imports, and module overrides, since the former only to the current module, and the latter apply recursively to all its dependencies. So we don't want to confuse people about the semantic difference between them. Given that, perhaps a layout like the following is better:

[code]

This is, I suppose, a lot more consisten

[2016-03-07 23:16] gavinking commented on #5955
Well, TBH, I would be perfectly happy using:

- the `actual` annotation instead of `~` for `import` version overrides, and
- the `shared` annotation instead of `~` for `import` export overrides, and
- nothing instead of `+` for adding `import`s.

But then I wouldn't know what to do for *removing* `import`s, which @FroMage insists is a necessary capability.

FTR, it would look like this:

[code]

T

[2016-03-07 23:42] quintesse commented on #5955
So how do you distinguish between shared and non-shared additional imports?

Using `deprecated` perhaps?

[2016-03-07 23:43] jvasileff commented on #5955
I'm not sure I understand. If module `M` imports modules `A` and `B/x`, and module `A` imports `B/y`, is it not possible to change `M`'s import to `B/z` without affecting `A`'s import? Or, add/remove/change `B/x`'s imports without affecting `B/y`'s imports?

(`x`, `y`, and `z` are versions)

[2016-03-07 23:43] gavinking commented on #5955
With the `shared` annotation, of course. But *additional* imports are syntactically different; they include a version number.

[2016-03-07 23:45] gavinking commented on #5955
It is possible, yes.

[2016-03-08 00:22] chochos commented on #6066
Not yet. And the worst part is, I might have to completely refactor/rewrite how spread invocations work...

[2016-03-08 02:58] quintesse commented on #6066
So we move this to 1.2.3, we need to get 1.2.2 out the door

[2016-03-08 03:21] chochos commented on #6066
thanks

[2016-03-08 07:37] someth2say commented on #5955
+1 for `actual` and `shared`. Using cryptic symbols like `~` is one of reasons I flee from Scala!
I can't see a reason for removing dependencies, but if we using adjectives, I will propose `unshared`.

Another point from your proposal, Gavin, is that I feel it duplicating. Assuming there is no reason for overriding modules not being imported (directly or indirectly), why don't place overrides insi

[2016-03-08 09:02] FroMage commented on #5955
Yeah, I'm not convinced by symbols. I'd rather have annotations. We can just add a `remove` annotation, no?

[2016-03-08 09:49] gavinking commented on #5955
Well the issue is that:

1. a module can be buried quite deep in the graph, and
2. sometimes we need to override something in a definition of a module that is imported in multiple places in the graph.

So I think the singly-nested `module` elements are the right way to do this.

[2016-03-08 09:50] gavinking commented on #5955
Feels wrong. *Grumble*.

[2016-03-08 10:03] tombentley commented on #6085
@jvasileff is right that `AnalyzerUtil.correct()` causes loading of all members of a package, and in loadin a class's constructors we need its flags, which completes the `ClassSymbol` which resolves annotations and thus produces the warning.

We could try to make things more lazy so the correction feature doesn't resolve things so much, but I don't see how we can eliminate the warning completely w

[2016-03-08 10:07] gavinking commented on #6085
OK.

[2016-03-08 10:14] tombentley commented on #6085
`LazyPackage.getMembers()` has two `FIXME`s:

    // FIXME: This is only here for wildcard imports, and we should be able to make it lazy like the rest
    // with a bit of work in the typechecker
    // FIXME: redo this method better: https://github.com/ceylon/ceylon-spec/issues/90

I guess this bug is just a consequence of those still unresolved.

[2016-03-08 12:08] tombentley commented on #6027
Not every file that we download is a zip, so I think we need a checksum for those at least, and if we're checksumming those, we might as well checksum everything.

[2016-03-08 14:30] tombentley commented on #6027
@FroMage it looks like the Herd doesn't have `.sha1` files for things like `module.properties` (e.g. https://herd.ceylon-lang.org/repo/1/io/netty/4.0.20.Final/). Why not?

[2016-03-08 14:35] FroMage commented on #6027
I think because the CMR does not produce them.

[2016-03-08 14:39] tombentley commented on #6027
Forgive me for not knowing the lifecycle of a `.sha1`: Are those produced locally and uploaded with the other files to herd (which them validates that they match)? So I just need to start producing them locally for them to start appearing on herd?

[2016-03-08 14:42] FroMage commented on #6027
Yes, except that Herd will then have to accept them then ;) But that's easy.

[2016-03-08 18:50] ePaul commented on #5955
The other annotations are adjectives, so `removed`?

[2016-03-08 18:54] lucaswerkmeister commented on #5955
`dont import "this.module"` ;)

[2016-03-08 19:40] ePaul commented on #6084
This could be made a bit more general than just "spread an object into the constructor of the same class":

Allow any "callable with named parameters" (not sure if the lang-spec has a name for this – this includes classes, functions, methods, constructors, but not a `Callable<R,P>` – i.e. everything which accepts a named argument list) and having the rule "all shared attributes of the spread param

[2016-03-08 22:24] lucono commented on #5955
`ignore`, which is an existing annotation and could kind of be appropriate for this case, but then it's defined in the `ceylon.test` module.

[2016-03-08 22:46] lucono commented on #5955
Would look something like:

[code]

[2016-03-08 23:45] gavinking commented on #6084
Yes, that's my thought. What makes this feature reasonable for `Person(*person)` is that we know which attributes of `Person` occur in the parameter list of `Person`, and that lining them up is non-fragile.

[2016-03-09 09:43] tombentley commented on #3957
We're not using sha1 for its cryptographic value -- it's about detecting corrupted files.

[2016-03-09 09:43] #3957 closed

[2016-03-09 11:15] quintesse opened #6086 "Failing ToolsTest.testJavaRunner() test"
@FroMage found it's because of @tombentley 's commit here: https://github.com/ceylon/ceylon/commit/91a19061f24e6ed6fb835f8e0121365a77154b4e saying:

[2016-03-09 11:24] FroMage commented on #6086
Fixed the test in 21736482f35ce1b89ae80d536b0b4d2c6517cc8c

As long as @vietj tested this, we're fine. I suspect he's using a flat repo for his system repo.

[2016-03-09 11:24] #6086 closed

[2016-03-09 11:30] bjansen opened #6087 "Add IDEs to Jenkins builds"
It would be nice to have nightly build of both IDEs.

For Eclipse, `ant eclipse` should be enough.

For IntelliJ, you need a [local installation](https://download.jetbrains.com/idea/ideaIC-16-Preview.tar.gz) of IntelliJ, then edit `../ceylon-ide-intellij/plugin-ceylon-code/build.properties` to add the following line:

[code]

After that, `ant intellij` should work.

[2016-03-09 12:02] quintesse commented on #6087
I don't think that will work, it's directly obtained from Git after all.
Overriding with a `-DideaRoot=...`will hopefully work

[2016-03-09 12:04] lucaswerkmeister commented on #6087
Can’t you put something like
[code]
into the CI build script?

[2016-03-09 12:23] quintesse commented on #6087
@lucaswerkmeister there's no "build script", it's direct Ant integration, so you tell it which tasks to run

[2016-03-09 12:55] emmanuelbernard commented on #3957
To be fair, @tombentley because there will soon be a risk of engineered collisions, someone could craft a malicious car file and make it pass for a genuine one (replacing an impl or something). But I imagine it is a bit easier to attack the delivery mechanism and change the sha1 as well when you attach.

For any use esp new use, you should prefer sha-2

[2016-03-09 13:19] tombentley commented on #3957
We are fetching a file over https and also fetching a checksum for that file. Then we compute a checksum for the file locally and compare it to the fetched one. If some adversary can put a malicious file on the server they can surely update the remote checksum too (which lives in the same directory). The user is necessarily trusting that the remote server isn't compromised. We don't have crytograp

[2016-03-09 13:36] tombentley opened #6088 "ceylon doc should support --verbose=cmr"
`ceylon doc` should support `--verbose=cmr`

[2016-03-09 13:42] quintesse commented on #3957
Personally I think that's a bit much. They get checked on each access and that's noticeable at least. A good file system will already do that work for you.

I *do* think that at *some* point we'll probably have to support signing of modules. I will definitely not trust just any ol' module I find in an online repository, but I might trust properly signed Apache and JBoss modules. Don't know if we a

[2016-03-09 15:15] jvasileff opened #6089 "process.readline should return 'null' on JS"
Currently, `process.readline` returns `""` and prints "process.readLine not supported on this platform." to stdout.

It should instead just return `null` when not supported. The other option would be to `throw`, but I'd lean towards `null`.

[2016-03-09 20:25] jvasileff opened #6090 "LinkageError for antlr trying to run app inside Eclipse 1.2.2/master"
The Dart compiler fails to run within Eclipse built from master, but runs fine* from the CLI. This *might* be related to the addition of the antlr runtime dependency in https://github.com/ceylon/ceylon/commit/14f82739361a73ff5350759d544c28eba134b16d.

On gitter, @davidfestal suggested this may not be an IDE bug, and indeed, if you add:
[code]
to the Dart compiler's `module.ceylon`, the same error

[2016-03-09 20:57] jvasileff commented on #6090
Reverting 14f82739361a73ff5350759d544c28eba134b16d does *not* fix the CLI version of this.

[2016-03-09 21:05] jvasileff commented on #6090
I can reproduce the CLI issue on `1.2.1`. So perhaps reverting the patch will be a workaround for Eclipse `1.2.2`.

[2016-03-09 21:29] jvasileff commented on #6090
Yes, reverting 14f8273 makes Eclipse work.

And, Eclipse now works *even* with `import "org.antlr.runtime" "3.4";` in `module.ceylon`, while, as noted before, this breaks the CLI for all tested Ceylon versions and builds.

So:

1) `ceylon run ...` and Eclipse "Run As" differ in how this bug is triggered, but when an exception is thrown, it is the same.
2) It appears the bug is old, but has been ex

[2016-03-09 21:32] quintesse commented on #6090
@FroMage could you check if this is a blocker for 1.2.2 or not?

[2016-03-09 21:41] jvasileff commented on #6090
Good. The patch below restores `1.2.1` behavior for me, which until [4:05pm](https://github.com/ceylon/ceylon/issues/6090#issuecomment-194506447) I would have thought was perfect.

[code]

[2016-03-09 21:42] FroMage commented on #6090
Could be a blocker but we're not going to revert that patch, and it seems the patch is only a trigger anyway for an already present bug. Problem is that I will be in Ireland for the next two days and so you guys may have to delve in the wonderful world of jboss modules debugging...

[2016-03-09 21:47] jvasileff commented on #6090
@FroMage it seems one possibility would be to apply the above patch, which should be valid since the typechecker already exports `org.antlr.runtime`, and the typechecker is exported.

This of course wouldn't address other issues that 14f8273 may expose.

[2016-03-09 21:47] davidfestal commented on #6090
@FroMage : without reverting your initlal commit, but applying @jvasileff 's patch seems possible no ? Just removing `org.antlr.runtime` from the JS compiler imports since it is *already* imported (with export=true) transitively through the typechecker seems quite a trivial thing. The declared result is the same no ? `org.antlr.runtime` is still visible from the JS compiler module which is the mai

[2016-03-09 23:46] quintesse commented on #6080
Ok, I couldn't resist: I implemented this for 1.2.2

[2016-03-09 23:46] #6080 closed

[2016-03-09 23:57] quintesse commented on #6080
How this work is that there now exists a `ceylon bootstrap` command that when run in a Ceylon project folder will create 2 scripts: `ceylonb` for the unices and `ceylonb.bat` for Windows. (It will also generate 2 support files in `.ceylon/bootstrap/`)

Those two files act in every way as the normal `ceylon` versions that you get with a Ceylon distribution (in fact they are exactly the same), you c

[2016-03-10 00:02] quintesse commented on #6080
This is all implemented as part of the normal Ceylon startup and launch sequence. Because of that the normal `ceylon` command now also supports specifying the distribution that should be used to run a command. You can do it like this:

    ceylon --distribution=1.2.0 compile my.module

Another example would be (having 1.2.2 installed by default):

    $ ceylon --version
    ceylon version 1.2.2 da

[2016-03-10 00:04] lucaswerkmeister commented on #6080
Will this also download 1.0.0 if you don’t have that, or do only the `ceylonb` variants auto-download dists?

[2016-03-10 00:13] quintesse commented on #6080
Yup (updated the text)

[2016-03-10 00:41] quintesse commented on #6080
How does `ceylonb` know which distribution to download?

Well this information is stored in the `./.ceylon/bootstrap/ceylon-bootstrap.properties` file found in the same directory as the `ceylonb` script.

It a standard Java properties file and should contain at least the following line:

    distribution=https://downloads.ceylon-lang.org/cli/ceylon-1.2.0.zip

(where the actual URL can be different

[2016-03-10 03:41] jvasileff commented on #6090
Here's a possible reproduction of the CLI case.

First, add methods to `TypeChecker.java` that return antlr `Token`s:

[code]

Then, create a `simple` project:

`module.ceylon`
[code]
`run.ceylon`
[code]

The first two print statements show us that the two `CommonToken` classes are different. The typed assignment throws.

[code]

Interestingly, if we share the antlr import, like:
[code]
we end up

[2016-03-10 06:56] FroMage commented on #6090
Oh, then could be antlr is not part of the bootstrap modules in Ceylonmoduleloader .

[2016-03-10 07:51] luolong commented on #6080
Gradle wrapper actually installs a local copy of Gradle under the `./.gradlew/` folder, not globally. Just wanted to point it out.

[2016-03-10 09:35] FroMage commented on #6090
Yes, can you try:

[code]

in `CeylonModuleLoader.java`?

I tried it but due to shitting internet most of my tests fail so I can't validate that it doesn't break something else. Should fix it, though. @quintesse ?

[2016-03-10 09:39] tombentley opened #6091 "Retry module download on read timeout"
Users with poor internet connections are likely to experience read timeout when downloading artifacts from remote module repositories. This could happen at any point when getting the HTTP response,

Currently CMR just immediately gives up. It would be nice if it automatically retired a configurable number of times, before giving up entirely.

[2016-03-10 09:40] quintesse commented on #6080
@luolong no it doesn't, it installs to `~/.gradle/wrapper/dists/` by default. If it installs to `./.gradlew` it because the person adding the wrappers changed the default (just like you can do with `ceylonb` if you want). This is useful for example when dealing with CI servers that don't let you write stuff to the home directory but on the other hand you will end up with distributions everywhere o

[2016-03-10 09:40] tombentley opened #6092 "Retry module download on read timeout"
Users with poor internet connections are likely to experience read timeout when downloading artifacts from remote module repositories. This could happen at any point when getting the HTTP response,

Currently CMR just immediately gives up. It would be nice if it automatically retired a configurable number of times, before giving up entirely.

[2016-03-10 09:44] tombentley opened #6093 "Resuming downloads"
Further to #6092, it would be better still if we could resume the download from where we left off, using an [HTTP range request](https://tools.ietf.org/html/rfc7233).

[2016-03-10 09:49] tombentley opened #6094 "Multiple processes writing to a file repository at the same time"
AFAICS the CMR does not try to deal with multiple (ceylon) processes trying to write to a local file-based module repo at the same time.

For example two processes could race to download and cache the same module. It's possible that we could end up caching bogus data if the OS scheduler manages to interleave things just wrong.

[2016-03-10 09:56] tombentley commented on #6092
I suppose we should also try to support a similar thing for uploads, but I guess a POST:

1. is not idempotent and
2. a POST which fails half way through is even less so

@FroMage do you know how herd would cope with this? Would it just delete the partially uploaded file and let the user try again?

[2016-03-10 10:02] bjansen commented on #6091
Duplicate of #6092

[2016-03-10 10:02] #6091 closed

[2016-03-10 10:04] tombentley commented on #6091
Thanks! Can you tell I have a vested interest in this feature?

[2016-03-10 10:09] bjansen commented on #6091
;)

[2016-03-10 10:19] tombentley opened #6095 "Document the DefaultToolOptions"
There are lots of tool options which are not documented on the website http://ceylon-lang.org/documentation/1.2/reference/tool/config/ including `defaults.timeout`.

See https://github.com/ceylon/ceylon/blob/master/common/src/com/redhat/ceylon/common/config/DefaultToolOptions.java

Can't we generate this documentation somehow?

[2016-03-10 10:47] quintesse commented on #6093
Somewhat related, but do we somehow check that no two CMRs are trying to download the same file at the same time?

Because normally I'd just download to a temp file and rename it to the correct name at the end. If the rename failed it's because somebody else finished downloading it before you did. THat's safe enough.

But with resumable downloads you need a known name, eg `my.module-1.0.car.part`,

[2016-03-10 10:56] quintesse commented on #6095
Hey why you assign this to me? Most of those options *I* didn't write, there's even one *you* added! ;)

Btw, these need to be documented in the tools themselves as well.

[2016-03-10 11:38] quintesse commented on #6090
@jvasileff have you been able to check this? I made the change @FroMage suggested and at least all the tests pass.

[2016-03-10 11:51] quintesse commented on #6090
@jvasileff I tried your "simple" module (the first version without the "shared" import) and with Stef's changes it seems to work.

[2016-03-10 11:56] quintesse commented on #6090
Now checked with and without the patch and it does seem to fix the error without causing any other problems. I'll commit it but leave it to @jvasileff to confirm and close.

[2016-03-10 12:32] tombentley commented on #6094
As @quintesse [commented](https://github.com/ceylon/ceylon/issues/6093#issuecomment-194787543) this can be solved using the NIO file lock API. That would be enough to prevent cooperating process (in particular, two CMRs) trying to make simultaneous changes in the same directory. Not much you can do about non-cooperating processes.

[2016-03-10 12:44] quintesse commented on #6094
Btw, it seems you can also lock the file you're writing to itself (http://stackoverflow.com/a/128168/2889926) instead of having to create a special lock file. But yes, you can't do anything about uncooperative processes (or old versions of the CMR).

[2016-03-10 12:51] quintesse commented on #6094
It seems that the only operation you can really trust to be atomic on Linux file systems is "rename". That's why I normally prefer the "download to unique temp file and rename" system. But that won't work if you want to be able to resume (#6093) of course.

[2016-03-10 13:42] jvasileff commented on #6090
Yes, this fixes everything, thanks!

[2016-03-10 13:42] #6090 closed

[2016-03-10 14:37] jvasileff opened #6096 "inconvertible types w/implicit Integer->Float conversion when the Float is generic"
This:

[code]

fails to compile with:

[code]

[2016-03-10 16:32] #6029 closed

[2016-03-10 16:34] chochos commented on #5824
this is fixed in JS by #6029

[2016-03-10 17:19] FroMage opened #6099 "Possibly relax syntax/typechecker errors for interop and class/function casing"
Android is full of member classes that require me to write `R.\Iid.bar` where `R.id` is a class, and constants (typical of Java this time) like `Snackbar.\iLENGTH`.

The upper/lowercase restriction is great for Ceylon code, but for interop, we should investigate if it's possible to relax this so that `R.id.bar` and `Snackbar.LENGTH` Just Work™.

That requires either support from the parser and typ

[2016-03-10 17:34] FroMage opened #6100 "Add `since` annotation"
That's _very_ useful and we should never add new methods to the language module without adding this annotation too.

[2016-03-10 17:38] quintesse commented on #6100
Totally agree

[2016-03-10 17:43] tombentley opened #6101 "NoClassDefFoundException on CMR resolution failure in ceylondoc"
If the CMR fails to fetch a remote module due to network problems `RemoteContentStore.urlExists()` returns false, which can lead to spurious errors with CMR claiming Herd doesn't have modules that it does actually have.

If that's changed to throw a `RuntimeException` then although an error gets added to the tree by the tc's module dependency analysis, it's not printed by `ceylon doc` before a lat

[2016-03-10 17:49] renatoathaydes commented on #6080
Very good! If you want I can add support for this in the Gradle plugin, so people can declare which version of ceylon to use to run the build.

Small point: the `properties` file is probably supposed to be visible, not hidden, like the gradle `properties` file... for this reason, the gradle properties file is stored in `./gradle/wrapper/gradle-wrapper.properties`, not in the hidden `.gradle` direc

[2016-03-10 18:24] quintesse commented on #6093
Ok, does that mean you only support "in-process" retries? Meaning that you can't abort a download midway (as a user) and then restart?

It's less efficient perhaps, but will make the problem explained in #6094 easier to deal with because you can just use the rename trick to make sure multiple concurrent downloads don't mess with each other.

[2016-03-10 18:27] quintesse commented on #6094
Do they need to be? What kind of problem could occur?

Definitely agree.

[2016-03-10 18:34] tombentley commented on #6093
"In process" is a good way of describing it, yes. It is less efficient, but it's also *much* simpler.

[2016-03-11 00:28] quintesse opened #6104 "Release 1.2.2"
### Pre-release

 - [X] Create release branch (`vX.Y.Z`)
 - [X] Run all the tests
 - [X] Tag the release

### Distribution

 - [X] Build the release ZIP
 - [X] Copy the ZIP to the server
 - [X] Update ceylon/ceylon-debian-repo
 - [X] Build DEB package
 - [X] Copy DEB to the server
 - [X] Create APT repo
 - [X] Copy APT repo to the server
 - [X] Update ceylon/ceylon-rpm-repo
 - [X] Build RPM packag

[2016-03-11 04:16] akberc opened #6105 "Consistency for Windows paths in config files"
With release 1.2.1, the repository paths in the user `.ceylon/config` files require a different syntax than before, and a different syntax to the project `.ceylon/config` file.

Maybe it already is : while the global and and user config files can be platform-specific, the project config file needs to be platform-agnostic.

Here is the config working for me right now:

* User config file
[code]

*

[2016-03-11 06:15] thradec commented on #6104
Do you plan to publish it to [maven central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.ceylon-lang%22)?

[2016-03-11 09:26] ePaul commented on #6023
Still, for now the error message could be better.
Maybe something like `MyClass satisfies Callable<MyInterface, []>, which is not allowed.`?

[2016-03-11 10:17] quintesse commented on #6104
@thradec never done that and it's not on the list, so "no" ;)

If someone who knows *exactly* what to do adds a complete description to https://github.com/ceylon/ceylon/blob/master/dist/RELEASE.md I'll do it next tiime :)

[2016-03-11 10:30] thradec commented on #6104
I know that it is not on the list, that's why I'm asking. I wanted to prevent complaints from users, that there is only old 1.2.0 version available on mvn central.

@vietj could you transfer the "how to" knowledge?

[2016-03-11 10:42] vietj commented on #6104
I will make a 1.2.2 release once it is released. The version 1.2.1 has not been released because there are issues with it. I'll do a transfer howto though.

[2016-03-11 10:51] tombentley commented on #6095
AFAICS `defaults.flatclasspath` and `defaults.autoexportmavendependencies` are not used, so I won't document those.

[2016-03-11 11:08] quintesse commented on #6105
@akberc this is an IDE problem, Ceylon itself has not changed in this aspect (in fact Ceylon itself never writes to the config files and if you tell it to write something it writes exactly what you give it, to it they are only strings)

@davidfestal we should move this to `ceylon-ide-common`? Or somewhere else?

[2016-03-11 12:27] quintesse commented on #6104
@vietj shouldn't we release the 1.2.1 versions to Maven anyway? Just for completeness sake?
I mean the problem was with Vert.x, right? Not with Maven in general.

[2016-03-11 13:42] FroMage commented on #3106
And that would allow us to publish Ceylon modules to npm.

[2016-03-11 13:53] #6095 closed

[2016-03-11 14:13] #5759 closed

[2016-03-11 14:13] #6101 closed

[2016-03-11 14:15] #6092 closed

[2016-03-11 14:15] quintesse commented on #5759
Yay!

[2016-03-11 14:15] #6093 closed

[2016-03-11 14:16] tombentley commented on #6094
This should be *much* more robust now (though possibly not completely free of races). Closing.

[2016-03-11 14:16] #6094 closed

[2016-03-11 14:23] jvasileff commented on #5759
Awesome!

[2016-03-11 14:37] akberc commented on #6105
Thanks @quintesse . I mistakenly thought that `ceylon-ide-common` was part of the OBR. It is not.

I will also modify the issue with more details.

[2016-03-11 14:38] quintesse commented on #6105
Ok!

[2016-03-11 14:38] #6105 closed

[2016-03-11 16:05] SanjayJosh commented on #6075
@thradec
Umm , could you help me as to get started with this ? I am willing to take this up .

[2016-03-11 18:55] thradec commented on #6075
First step is to have working development environment, as described here [1]. Then look how ceylondoc [2] works, there are tests [3] which can help you to play with it. The most interesting will probably be to figure out how to load new and old version into _model_.

[1] http://ceylon-lang.org/code/contribute/
[2] https://github.com/ceylon/ceylon/blob/master/compiler-java/src/com/redhat/ceylon/cey

[2016-03-11 20:16] chochos commented on #3106
for reference: https://docs.npmjs.com/files/package.json

[2016-03-11 20:57] ncorai commented on #5865
Disallowing a reference to `x` seems strange when there is no doubt that at least one `x` is in scope.

The real issue is shadowing, so I'd say accept such code but warn on shadowing in both cases.

[2016-03-11 22:28] quintesse opened #6106 "Resumable retriable connection for `Bootstrap`"
@tombentley , is there a way I could convince you to add the resumability and retriability you implemented for the CMR to the `Bootstrap` class?

There's only one "but": that bootstrap jar must stay as small as possible (it's only 20KB right now), so nothing fancy, quick and dirty is good here. But it would be nice to have because the distributions are getting close to 20MB, so on connections like

[2016-03-11 23:26] lucaswerkmeister commented on #6089
On the JVM, `null` means “end of stream”, so this sounds sensible to me.

(It *definitely* shouldn’t print anything to stdout or even stderr.)

[2016-03-11 23:41] #6072 closed

[2016-03-11 23:49] quintesse commented on #6072
Not very nice vandalizing your own issue. And even less leaving a message like that. We're not ignoring anyone. We're just very busy and might take a while to get to your issues. Even then, if we decide not to do it, for whatever reason, you shouldn't take it as a personal affront. Choices have to be made everywhere.

[2016-03-12 12:16] tombentley commented on #6100
The flip side to this is removing APIs. Obviously we have `deprecated` for
that, but I wonder if adding an explicit version number (the version at
which removal is scheduled) would make it more useful for tools.
On 10 Mar 2016 5:38 pm, "Tako Schotanus" <notifications@github.com> wrote:

[2016-03-12 12:30] quintesse commented on #6100
Yeah because we're totally organized like that :laughing:

[2016-03-12 17:43] tombentley commented on #6100
I don't think it would be particularly useful for the *language module*, but surely there are people maintaining APIs who would benefit.

[2016-03-12 22:51] gavinking opened #6107 "virtual types"
Today I decided to waste some time experimenting with virtual types, which is something we've discussed often before. A virtual type is a `formal` member `alias` belonging to a class or interface, that is refined and assigned a value by concrete subclasses. For example:

[code]

Now, this is strictly less powerful than parametric polymorphism, since we don't have a syntax for expressing refinement

[2016-03-12 22:59] gavinking commented on #6107
See also #4023.

[2016-03-12 23:15] lucaswerkmeister commented on #6107
Should subtypes be allowed to turn a virtual type into a type parameter?
[code]
This currently gives a “not assignable” error, and I feel like it should work.

[2016-03-13 04:34] sol50 commented on #6107
FYI, the BETA language solved all the intricacies of virtual types already.

[2016-03-13 05:58] RossTate commented on #6107
@sol50 Not true. BETA pioneered virtual types, but there were lots of problems with BETA's virtual types, in terms of safety, in terms of expressiveness, and in terms of decidability. In fact, virtual types is still an open research area.

Regarding decidability, I believe the restrictions @gavinking imposed makes this form of virtual types decidable. In particular, not allowing refinements preven

[2016-03-13 09:36] gavinking commented on #6107
I don't see why not.

Yeah, look, this is totally incomplete and experimental. And I don't really have any plan to finish it. I just wanted to get a feeling for how hard it was.

[2016-03-13 09:39] gavinking commented on #6107
Yeah, the system I'm thinking of is something that can be pretty directly re-expressed using parametric polymorphism, so I don't think it would cause huge problems in terms of decidability.

And I wouldn't introduce refinements like in Scala. If you need refinements, then regular generics is the thing you should be looking at.

[2016-03-13 11:09] bjansen opened #6108 "`ceylon bootstrap` fails on homebrew install"
[code]

[code]

The homebrew package doesn't include `ceylon.bat`, so we shouldn't try to copy it if it doesn't exist.

[2016-03-13 11:13] bjansen commented on #6104
I think these extra steps would be good candidates:

* change the milestone for all remaining open issues
* close the milestones on every project
* bump the versions in `module.ceylon` for every project

[2016-03-13 11:15] quintesse commented on #6108
No that's not the issue, it's the home brew install that's wrong : https://github.com/Homebrew/homebrew/pull/50045#issuecomment-195927738

[2016-03-13 11:19] bjansen commented on #6108
Ah OK, I'll close this one then.

[2016-03-13 11:19] #6108 closed

[2016-03-13 11:21] ePaul commented on #6063
This looks like a non-backwards-compatible change – not for consumers, but for implementers of the interface. Whoever did refine this method (e.g. because there was a more efficient implementation) declaring the return type as `Collection<Key>` now has a class which doesn't compile anymore.

I don't know enough about binary compatibility to be sure, but from afar it looks like it is compatible nei

[2016-03-13 11:25] quintesse commented on #6108
All bootstraps need both files, otherwise it wouldn't work for some people, that would suck :-)

[2016-03-13 11:31] bjansen commented on #6108
Yes, I just realized that ;)

[2016-03-13 12:23] sol50 commented on #6107
@RossTate I'm not aware of any such problems. Links?

[2016-03-13 13:36] ePaul commented on #6026
A radically different approach would be to have to float-types: One which follows IEEE 754, but doesn't implement Comparable (might implement a PartiallyComparable interface), and one which implements Comparable correctly, but doesn't allow NaN (and thus doesn't have the problems above) – it would throw when doing 0/0. Conversion from the NaN-allowed type to the NaN-free type would either return a

[2016-03-13 14:49] gavinking commented on #6026
I personally think throwing behavior is _much_ preferable to NaN. But I can't imagine any way to implement that efficiently on the VMs we have.

[2016-03-13 15:02] ePaul commented on #5882
In Java, you see the public methods from non-accessible superclasses as if they were declared in the accessible subclass.

It also looks like that in the Javadoc (where the non-public super class is simply omitted from the inheritance hierarchy). For example, this [`ChannelShell` class](http://epaul.github.io/jsch-documentation/simple.javadoc/index.html?com/jcraft/jsch/ChannelShell.html) inherits

[2016-03-13 19:43] quintesse commented on #6104
@bjansen good idea

[2016-03-13 19:51] quintesse opened #6109 "Error `Content doesn't exist: ~/.ceylon/cache`"
Some users (@gertjana and @puf) on MacOS are reporting exceptions when using Ceylon (Bootstrap?) for the first time:

[code]

Manually creating the required `~/.ceylon/cache` folder fixes the problem (just creating `~/.ceylon` doesn't!)

[2016-03-14 09:23] FroMage commented on #3106
Cool!

[2016-03-14 09:24] FroMage commented on #3106
So can we now use Ceylon modules from npm?

[2016-03-14 09:25] FroMage commented on #6040
@quintesse this has become a bit more urgent. How hard would it be to support a new `Repository` type that would resolve things from npm so you can use npm modules in Ceylon?

[2016-03-14 09:27] quintesse commented on #6040
I've been somewhat busy doing a release, I haven't spend any time on this yet so I have no idea how hard it is. But it definitely is at the top of my list.

[2016-03-14 09:28] FroMage commented on #6040
Oh sorry I meant @chochos, damn :)

[2016-03-14 09:30] quintesse commented on #6040
Well I was actually planning on doing this. Given it's more of a CMR thing.

[2016-03-14 09:33] FroMage commented on #6040
Fine by me too.

[2016-03-14 10:12] tombentley commented on #6106
Using something similar to the `RetryingSizedInputStream` I used in the CMR the `ceylon-bootstrap.jar` comes out at 26k. Do you think this is acceptable?

[2016-03-14 10:22] quintesse commented on #6106
Sure, it's still small. We can always see if we can shave bits off later.

[2016-03-14 10:26] quintesse commented on #6106
PS: if you make it an inner class of the Bootstrap you don't have to worry about fixing the build, it will pick up anything called `Bootstrap$`

[2016-03-14 10:32] tombentley commented on #6106
Pushed, but untested. The one thing this doesn't cope with properly if the remote file gets changed during a retry. Does the script always request a specific version of the distribution (i.e. the remote file never changes) or is the remote file always just the most recent version of ceylon (and thus changes every time we release a new version)?

[2016-03-14 10:34] quintesse commented on #6106
It always requests a specific version yes

[2016-03-14 10:42] tombentley commented on #6106
Hmm, I wonder how we test this? It would be easiest if Bootstraps members weren't all static, then I could at least override the URL to point to a test http server. Or are there other tests for it @quintesse?

[2016-03-14 10:48] quintesse commented on #6106
Well the obvious way would be to make things non-static. The current "design" if you can call it that was just to make it work quickly following what was already there.

[2016-03-14 11:28] tombentley opened #6110 "Server tests in Jenkins"
None of the server tests work in Jenkins and we should fix that.

A possible reason was `CMRHTTPTests` was binding to a wildcard address, which is prohibited on most infrastructure. In c9f38ea131ed4f87d6786 it was changed to only bind to the loopback address, which might be sufficient for the test to now work.

If that test does now work we will need to fix other servers started during tests.

[2016-03-14 11:53] quintesse commented on #6106
Oh, suddenly after my first coffee I realized that you can specify the distribution it has to download, and therefore the server it connects to, yourself in the `ceylon-bootstrap.properties` file ^^

We'd want that anyway for any tests because we don't want a test polluting a user's home directory.

So the properties file could be something like:

[code]

[2016-03-14 12:41] davidfestal opened #6111 "OSGI Activator: don't store the `BundleWiring` in the `BundleArtifactResult`"
The `BundleWiring` class is disposed when the corresponding Bundle is stopped. The when the bundle is started again, the bundle wiring stored inside the `BundleArtifactResult` is not valid anymore, and calls to isReifiedType() will fail.

We should store the bundle itself in the `BundleArtifactResult` instead of the wiring. So we would better support bundle restarting.

[2016-03-14 15:01] chochos commented on #3106
Not yet. I still need to figure out how to name the generated file because right now it's `m-1.0package.json` instead of simply `package.json` (it includes module name and version in its name)

[2016-03-14 15:19] #6106 closed

[2016-03-14 15:26] quintesse commented on #6106
Thanks @tombentley !

[2016-03-14 16:39] lucaswerkmeister opened #6112 "LinkageError when running source_gen.ceylon.formatter/1.2.2 under Ceylon 1.2.3"
On current ceylon master (ca4df27) and current ceylon.formatter master (ceylon/ceylon.formatter@bd6d399), this error happens when you try to build:

        at ceylon.file.internal.parseCharset_.parseCharset([parseCharset.ceylon:9](https://github.com/ceylon/ceylon-sdk/blob/901a634a534eb68d0e34bbb17d2f857d3a989b61/source/ceylon/file/internal/parseCharset.ceylon#L9))
        at ceylon.file.internal.

[2016-03-14 20:53] #6111 closed

[2016-03-14 20:53] lucono commented on #5955
Perhaps in addition to the proposal in this issue, it would be useful to also have a way of optionally indicating that all transitive dependencies of a module import should be themselves treated as directly imported by the module.

Otherwise, developers having this need would still need tools like the [ceylon-gradle-plugin](https://github.com/renatoathaydes/ceylon-gradle-plugin) to auto-generate m

[2016-03-15 00:23] jvasileff commented on #5955
Yes. The only sane approach for maven dependencies is to have their dependencies fully exported. See also https://github.com/ceylon/ceylon/issues/4779.

[2016-03-15 01:29] jvasileff opened #6113 "compile-js leaves behind '+USER' directory"
Running `ceylon compile-js --out +USER` creates an empty `+USER` directory in the current directory, but shouldn't. Otherwise, the command works, with the module being compiled to `~/.ceylon/repo`.

[2016-03-15 01:43] quintesse commented on #6113
Probably some code in the compiler somewhere that tries to handle `+USER` on its own instead of leaving it to the CMR.

[2016-03-15 08:43] luolong commented on #5955
I kind of dislike the deeply nested overrides ... Just a matter of taste, I guess. But I do think that it makes this a whole lot messier.

Also, I do prefer more Ceylonic annotations to a symbol soup.

As for preferred adjectives for annotations, I would suggest `actual` (for replacing a dependency) and `excluded` (or `exclude`) for excluding a dependency.

Adding a new dependency could do without

[2016-03-15 10:39] tombentley commented on #6112
I'm seeing a similar thing when running the compiler tests. Taking `InteropTests.testJavaSerialization()`, for example, I get the slightly more detailed error:

Exception in thread "main" java.lang.LinkageError: loader constraint violation: when resolving method "ceylon.collection.ArrayList.ArrayList$elements(Lcom/redhat/ceylon/compiler/java/runtime/model/TypeDescriptor;JD)Lceylon/language/Iterabl

[2016-03-15 11:08] #6112 closed

[2016-03-15 12:06] #507 closed

[2016-03-15 12:16] tombentley commented on #1616
Following #507 this should now be tractable.

[2016-03-15 12:54] simonthum commented on #6026
Just as @ePaul pointed out, I think PartiallyComparable to form a partial order would be worth having independent of how Float is handled. In fact, it's not only mathematical objects - which is bigger, the empty string or "a"? As the caller of, e.g., a sorting algorithm that is much easier to answer than when being the callee in a Comparable<> type.

BTW I also gave the Float-subtype approach a th

[2016-03-15 13:00] FroMage commented on #507
Yay!

[2016-03-15 13:03] FroMage commented on #6076
There is a class parser API for java. It's in the `langtools-classfile` module. I hope it will be enough.

[2016-03-15 14:44] gavinking opened #6114 "really serious bug in definite initialization checking"
This passes the typechecker:

[code]

Ouch!!

[2016-03-15 14:48] gavinking commented on #6114
Ugh. It gets worse. The typechecker _doesn't_ accept this code:

[code]

[2016-03-15 15:14] FroMage opened #6115 "LegacyImporter does not handle shared dependencies"
It's rather a mess to fix, too.

[2016-03-15 15:46] quintesse commented on #6115
Wdym by this? It used to support shared dependencies, right? (Or better, that was almost the only thing it would support before)

[2016-03-15 16:05] FroMage commented on #6115
The whole logic does not visit transitive shared imports to mark classes as used.

[2016-03-15 16:22] quintesse commented on #6115
Ah for transitive dependencies you mean. Ok I see.

[2016-03-16 08:40] quintesse commented on #6109
This was already fixed by #6044 . Ceylon Bootstrap was using Ceylon 1,2.1 in these cases where it wasn't fixed yet.

[2016-03-16 08:40] #6109 closed

[2016-03-16 08:45] quintesse commented on #6040
So, I've actually taken a closer look at this and I'm not sure we'll be able to "resolve" much.
Personally I'd been hoping to be able to at least resolve the names of the exported functions, but the format of the NPM modules is so free-form that you'd actually have to execute the code to be able to retrieve that information.

The only thing I can see we could obtain form the NPMs are dependencies

[2016-03-16 08:51] FroMage commented on #6040
I don't care about the name of the functions. They can be accessed by `dynamic` blocks. I want to be able to use the APIs they export. Even if we turn the imports into `var fooBar = require('fooBar', '1.2')` and then we have to use them with: `dynamic { fooBar.superCoolFunction(); }` that's OK.

[2016-03-16 08:58] quintesse commented on #6040
But what advantage gives us that over:

[code]

?

[2016-03-16 09:02] FroMage commented on #6040
That imports are treated as such, and described properly in module descriptor, so we can deploy our modules to npm and use npm modules in Ceylon repositories too.

[2016-03-16 10:31] FroMage commented on #5955
So the other thing missing is definition of constants and interpolation.

[2016-03-16 10:50] tombentley opened #6116 "Generating java 8 bytecode"
Now that our compiler is rebased on top of java 8's `javac` we can generate java 8 bytecode/`.class` files (major version 52). In other words our compiler can start using java 8 features such as `default` interface methods (#1616) and lambdas (#1617). However, we don't want to stop generating Java 7 bytecode (major version 51) (android support being the main reason). So this issue is about how we

[2016-03-16 10:55] tombentley commented on #6116
Previously we've said that we'd have some mechanism whereby we could generate an extra artifact in the output repository (the Java 8 car file, essentially). That raises two questions:

1. How do we know that we should generate this extra thing. Generating it will slow compilation times, so we probably don't want it generated by default.
2. How do we know when to use this other car:
    * At compil

[2016-03-16 11:06] FroMage commented on #6116
Note that Android N comes with some Java 8 support now: http://developer.android.com/preview/j8-jack.html

This means Android now supports all we need.

This issue is then mostly about older versions of Android. Note that the previous Android link talks about how you can still use Java 8 features on older versions of Android:

Now, we could do something similar, but it doesn't really talk about de

[2016-03-16 11:08] tombentley commented on #6116
For 2a. we could always use the `8car` when running on a jvm >=8. But that means CMR needs to know that resolving an 8car is acceptable. In particular, when fetching from a remote repo should it would need to fetch both cars. So that once cached the local repo knows that an 8car is available should it need to link it in a jvm >=8.

[2016-03-16 11:14] tombentley commented on #6116
For 1. The obvious thing is to use a compiler & config file option. That makes eight-ness a per-project setting rather than per-module one. I don't *think* that's a problem, but it was when we were developing `--target` and wanting to compile the SDK.

[2016-03-16 11:16] bjansen commented on #6116
For 1. you could decide to generate `8car`s for modules that are `native("jvm")` and that `import java.base "8"`?

[2016-03-16 11:18] gavinking commented on #6116
This seems like the right thing to me.

This should be automatic, and not require user-intervention.

[2016-03-16 11:20] gavinking commented on #6116
I have three objections to this:

1. Many (most?) modules aren't `native`.
2. Java 8 should be the default.
3. Often, we'll want to generate *both* flavors.

[2016-03-16 11:22] gavinking commented on #6116
'Cmon, @tombentley, don't be coy: you and I both know that the big question is what the file extension for a Java 8-flavored `.car` will be.

Let the the 200-comment begin.

[2016-03-16 11:29] bjansen commented on #6116
If we use an annotation like `javaTarget(7)` and consider that Java 8 is now the default, you could make the typechecker warn you that you are trying to import a Java 8 compatible module from a Java 7 compatible module.

Also, instead of changing extensions we could perhaps introduce qualifiers, like maven does?

[2016-03-16 11:34] tombentley commented on #6116
Of course an alternative to generating a whole new artifact would be to just put those `.class` files which make use of new features somewhere else within the existing .car file, and adjust classesloaders etc to find those alternatives when on a jvm that supports them. So for example a "normal" ceylon class would just have a version 51 class file generated, but we'd generate two classes for an int

[2016-03-16 11:37] FroMage commented on #6116
Doesn't work: even _users_ of default methods have to be version 52.

http://openjdk.java.net/jeps/238 is what you're describing though.

[2016-03-16 11:50] tombentley commented on #6116
Well, that just means places where we use the default method get two class files generated. Obviously keeping track of which classes require multiple versions is an issue.

[2016-03-16 13:26] quintesse commented on #6116
Let's please try to go for the JEPS/238 Stef links to. The other mentioned solution seem to me exercises in complexity that are bound to be causing problems all over the place. Not that the linked solution will be *easy* I guess, but at least it limits the effect of supporting this to a very specific place in the system: the class loader. Otherwise we'll have to deal with this in the CMR and all t

[2016-03-16 13:57] sol50 commented on #6116
By the time Ceylon is relevant for Android development, Android N will be widespread. It supports a useful subset of Java 8, so if you generate code within that subset, no problems.

I suspect the Jack toolchain will be backported to at least M.

https://developer.android.com/preview/j8-jack.html

[2016-03-16 14:20] tombentley commented on #6116
@quintesse well it's not just the classloader.

* Classloader changes (which might not be amenable given its in JBoss Modules)
* Compiler changes (`CeylonFileManager`)
* Changes in our compiler to track which classes get generated multiple times
* Changes in our other tools e.g. `ceylon jigsaw`, maybe `ceylon war`
* Changes in `ceylon test` (so you can test with both).

It's not clear to me that i

[2016-03-16 14:26] FroMage commented on #5937
Done. Far jars will be another issue.

[2016-03-16 14:26] #5937 closed

[2016-03-16 14:26] FroMage commented on #5888
Done.

[2016-03-16 14:26] #5888 closed

[2016-03-16 14:26] FroMage commented on #5883
Done.

[2016-03-16 14:26] #5883 closed

[2016-03-16 14:27] FroMage commented on #5882
Currently disabled the error, pending proper resolution.

[2016-03-16 14:27] FroMage commented on #1542
Done in #5883

[2016-03-16 14:27] #1542 closed

[2016-03-16 14:51] FroMage commented on #5851
Renaming the tool package changes the `Tool` interface name we use in the service loader API, which means old tools won't be loadable by the system. I don't really like that. The alternative is to keep the package names but just move them to their own module. Ugly, but works. WDYT @tombentley ?

[2016-03-16 15:07] tombentley commented on #5851
What need have to got to load old tools via the service loader anyway? Those tools have always been shipped as part of the distribution, so a new distribution (with this change) would come with new tools, no?

[2016-03-16 15:10] FroMage commented on #5851
Well, no, `formatter` or `java2ceylon` are outside the distribution. `war` as well.

[2016-03-16 15:20] tombentley commented on #5851
Then I suppose we must retain the original package name.

[2016-03-16 15:35] quintesse commented on #5851
Or just assume the breakage for one time. Because the advantage of changing the module name is that at some point we could perhaps port the code to Ceylon.

[2016-03-16 17:07] tombentley commented on #6027
This was fixed last week.

[2016-03-16 17:07] #6027 closed

[2016-03-16 17:18] #5976 closed

[2016-03-16 19:08] LisiLisenok opened #6117 "Performance of `is` operator"
I have read Gavin's [post](http://ceylon-lang.org/blog/2015/04/19/observable/) about observer/observable pattern in Ceylon. It is very nice approach! But... I have performed some exercises with and found some performance issues.

Consider four cases:
1. function with knowing type, like `Anything(Integer)`
2. narrowing function `Anything(Nothing)` with `is Anything(Integer)`
3. narrowing interface

[2016-03-16 21:14] gavinking opened #6118 "`class \Inull`.instantiate() on JS"
This code:

[code]

produces a really weird-lookin' exception on JS.

It should be:

    ceylon.language.meta.model.InvocationException "Object class cannot be instantiated"

[2016-03-16 21:17] gavinking opened #6119 "type of metamodel expressions for abstract classes"
Currently, the type of `` `Null` `` is `Class<Null,[]>`. I think it would be better if it were`Class<Null,Nothing>`, to reflect that `Null` is `abstract`.

[2016-03-16 21:18] tombentley commented on #6038
* When I do arithmetic on two `small` values are the calcuations done using 32 or 64 bits?
* When assigning a non-`small` value that cannot be exactly representing using 32 bits what happens?

[2016-03-16 21:21] gavinking commented on #6117
@LisiLisenok if you want to experiment with optimizations, you need to look at `com.redhat.ceylon.compiler.java.runtime.model.TypeDescriptor.is()`. Note that I think I already got most of the low-hanging fruit, but perhaps I missed some cases.

[2016-03-16 21:30] gavinking commented on #6038
32 bits.

Good question. It would be awesome if we could make that an `OverflowException`. Might also be nice if the typechecker spat a warning.

[2016-03-17 09:43] tombentley commented on #6038
Convince me! My argument would be that if `small` is a hint which the compiler is free to ignore (or which might be ignored on other platforms) then by performing computations using 32 bits and getting integer overflow you'll end up with an observably different result.

[2016-03-17 10:05] gavinking commented on #6038
OK then, well let me be a bit more specific. Given `x = y+z`:

- If all of `x`, `y`, and `z` are annotated `small`, then the computation should be done in 32 bits.
- If *any of* x`, `y`, or `z` are _not_ annotated `small`, then the computation should be done in 64 bits.

[2016-03-17 12:54] tombentley commented on #6038
When we box (and boxing is invisible to the programmer) we necessarily widen to `long` and then boxed operations such as `x.times(y)` will not happen in 32 bits even if both `x` and `y` are 32 bits. We could override the static value type methods in Integer and Float (e.g. `static int times(int value, int otherValue)`), but I'm not certain that there aren't cases where we use the virtual methods.

[2016-03-17 12:57] gavinking commented on #6038
`small` isn't for boxed types.

[2016-03-17 13:07] tombentley commented on #6038
wdym? It's for `Integer` and `Float`, but sometimes those get boxed, or have methods such as `times()` invoked on them. Unless I can be sure we never box a `small Integer` I don't see how I can guarantee the semantics you asked for.

[2016-03-17 13:23] FroMage commented on #5851
OK, well the tools have moved to the new `cli` module.

[2016-03-17 13:48] quintesse commented on #5851
Now there's only this dependency of the CMR on the new `cli` module because it contains the `RepoUsingTool` stuff. Perhaps we could/should get rid of that as well? It would be cleaner if the CMR only deals with the stuff it was actually meant for, right?

[2016-03-17 13:52] FroMage commented on #5851
Yeah, I'll work on the CMR too, don't worry.

[2016-03-17 14:00] quintesse commented on #5851
I wasn't worrying, I just didn't know it was part of your plans too :)

[2016-03-17 14:40] gavinking commented on #6038
I'm saying you can't write: `small Integer? int`, nor can you have `small T number`. Thus, the `small` annotation never occurs in boxed locations.

The minute you box, you wear the conversion to 64 bits, but that's normal.

[2016-03-17 15:26] quintesse commented on #6038
We can also box in case you're calling a method (one that doesn't get rewritten into basic numerical operations that is). We could perhaps prevent boxing by making sure we're always calling the special static value type methods instead, but then they will still get turned into `long`s.

[2016-03-17 15:28] gavinking commented on #6038
You mean when the numeric value is the method receiver?

I'm not sure if that's especially relevant here...

[2016-03-17 15:40] tombentley commented on #6038
@quintesse: that's precisely the case I was meaning.

@gavinking: er, why not. We've said that `x+y` means `x.plus(y)`, but that's no longer true, unless we go overloading all the value methods of `Integer` with `int` versions.

And then there's things like `x^y` which is implemented as a method anyway (because java doesn't have a power operator), so that one would have to have an `int`-overloaded

[2016-03-17 16:59] gavinking commented on #6038
I think you're taking what's specified _waaaay_ too literally. The spec also has language that says "for these special types the compiler is allowed to do special things".

Right, OK, but I think *bitshifting* is a whole different matter and should always be done in 64 bits.

`small` is, by nature, a hint. In practice it will work fine and do what one expects.

[2016-03-17 17:21] jvasileff commented on #6038
What are the goals, and has it been validated that `small` is the solution?

There is a clearly quantifiable (if small) storage advantage for when interop arrays are not suitable. Beyond that, I'm aware of the following benefits with `int`s. Will `small` help with these (without uglifying code too much)?

* Hotspot loop unrolling optimizations
* Avoid narrowing for array indexing in highly perform

[2016-03-17 20:46] chochos commented on #6118
Probably the order in which validations are made.

[2016-03-17 21:22] #6118 closed

[2016-03-17 21:22] chochos commented on #6118
Now it says `null class cannot be instantiated`, which I think is actually more accurate.

[2016-03-17 21:50] gavinking commented on #6118
Thanks.

Sent from my iPhone

[2016-03-18 08:54] luolong commented on #6116
well, I do not understand.

In our `module.ceylon` file, I can declare module dependency on `java.base` and you have to specify Java version `java.base "8"` or `java.base "7"` -- that should be enough to choose which java byte code to generate.

If there is no explicit dependency on `java.*` library, but you depend on a non-ceylon java library (i.e. maven dependency), those libraries and their tra

[2016-03-18 09:02] tombentley commented on #6038
Well right now I have a problem understanding what exactly I'm supposed to be implementing here, because you've not really explained it in sufficient detail. It seems to be that:

* `small` is a hint, which we can ignore, but
* when we take notice of `small` we'll do computations on it in 32 bits (therefore overflowing computations will overflow in 32 bit), but we're supposed not to care about tha

[2016-03-18 09:06] tombentley commented on #6116
From what I've gleaned from the JEP 238 patches, it will only supports `META-INF/versions/n` for n  >= 9, so even if we did the same thing as them, our cars would not be considered multi-release by java 9.

[2016-03-18 10:23] FroMage commented on #5851
Removed `jandex` (low-hanging fruit)

[2016-03-18 13:09] LisiLisenok commented on #6117
Well, I have performed some testings. See test function on [gist](https://gist.github.com/LisiLisenok/7b323dbdea7244f41a37). Basically, it calculates time of narrowing function and narrowing class with `is`.

**Baseline (Ceylon 1.2.2).**

mean time / standard deviation:
* narrow function 17.4 / 3.8
* narrow class 8.3 / 1.9

**Step 1.**
memoizing hash code (like it is in `com.redhat.ceylon.model.ty

[2016-03-18 13:17] gavinking commented on #6117
oh, very nice!

send us a PR?

[2016-03-18 13:36] FroMage commented on #6117
No that's wrong, since we do cache `null` entries.

[2016-03-18 13:38] FroMage commented on #6117
Of course it's possible to use a hardcoded `Type` instance to represent `null`, that'd still save us `hashCode` being called twice by using only `get` and comparing pointers.

[2016-03-18 13:39] FroMage commented on #6117
But 40% improvement seens like peanuts when we're trying to solve a factor 100 difference.

[2016-03-18 13:59] FroMage commented on #5851
So I took a hard long look at the Maven support issues:

- it's a big far jar, so it's hard to upgrade individual components
- it's outdated and full of bugs
- it uses arquillian for no obvious benefits and it does contain bugs we've ran into
- it conflicts with the Ceylon Maven plugin

I thought Aether by itself was small, and that's relatively true, except by itself it doesn't do shit. It needs

[2016-03-18 14:08] quintesse commented on #5851
The current maven support jar is a "big fat jar" true, but it also prunes a *lot* of stuff that it doesn't need, which is why it's a lot smaller than the separate components added together.
The fact that it's out-of-date is also because we never rebuild the maven support jar (I've done it once, that's why it's at 2.0 instead of 1.0).

So perhaps the solution could be something like:

 - keep using

[2016-03-18 14:17] FroMage commented on #5851
Well, it's only newer versions of aether+maven that use guava, that's why it got bigger. And it's required, I tried running without it without succes.

[2016-03-18 14:27] jvasileff commented on #5851
I'm not sure if this is a good idea or not, but FYI: https://github.com/google/guava/wiki/UsingProGuardWithGuava

[2016-03-18 14:41] LisiLisenok commented on #6117
@FroMage ok, replacing with cache.get(...) is canceled.
We don't try to solve a factor of 100. This factor is like factor between `if(true)` and `if(is ...)`. How much it can be? But improving operator `is` performance on 30% is possible by memoizing hash code. Why not to implement this?

@gavinking
Well, I will send PR. Should hash codes of other `TypeDescriptor` inner classes to be memoized as w

[2016-03-18 14:46] FroMage commented on #6117
No we can replace the combo `containsKey/get` with a single `get` (since it saves on calling `hashCode`), but only if we add a null-like marker to keep caching null supertypes.

I'm not complaining, 40% is great, but you mentioned a factor 100 difference so if we want to improve we need more than a factor 1.4 improvement :(

[2016-03-18 15:22] LisiLisenok commented on #6117
That's some misundersdanding. I have to explain that factor.

I am not so familar with Ceylon model details... Do you mean add the marker to the `Type`? Something like

[code]

[2016-03-18 15:32] FroMage commented on #6117
No I mean:

[code]

[2016-03-18 15:35] LisiLisenok commented on #6117
@FroMage  well, understood, thank you

[2016-03-18 15:54] jvasileff opened #6120 "guards & definitely unspecified"
It would be reasonable for the following to be accepted:

[code]

[2016-03-18 16:09] gavinking commented on #6120
Yes, I reported this [here](https://github.com/ceylon/ceylon/issues/6114#issuecomment-196852293).

But I guess it deserves its own separate issue.

[2016-03-18 18:38] jvasileff opened #6121 "constructor name used instead of type name in error message"
The first error below should be the same as the second error:

[code]

[2016-03-18 19:01] gavinking commented on #5967
Perhaps it could be called `extend()`.

[2016-03-18 19:02] gavinking commented on #5954
FTR: twice in the last couple of days I have wanted to spread a Java `Iterable`.

[2016-03-18 19:25] gavinking commented on #5812
@chochos ???

[2016-03-18 19:34] gavinking commented on #1754
Looks like we're not doing this after all.

[2016-03-18 19:34] #1754 closed

[2016-03-18 19:43] gavinking commented on #5637
This was already fixed in Ceylon 1.2.

[2016-03-18 19:43] #5637 closed

[2016-03-19 17:31] Zambonifofex opened #6122 "remove `.hash` from `Object`"
I believe `.hash` is a very specific-purposed thing, and it should be on its own interface, `Hashable`, or `Hashed`.

[2016-03-19 18:12] ASzc commented on #6122
I'm guessing the problem is you don't want to implement `.hash` somewhere? If that is the case, you should probably be extending `Basic` instead of `Object`. The language default is `extends Basic`, so

[code]

[code]

don't need to implement `.hash`.

[2016-03-19 19:30] Zambonifofex commented on #6122
This follows up a conversation on Gitter. I just don’t think I should need to care to implement `.hash` on any non-trivial (i.e. non-`Basic`) classes.

It feels unnecessary to have `.hash` on *every single object*. I honestly never needed to use it, and I can think of only a few cases where it’s actually useful (like participating on a `HashMap`), and for those cases, there will be an awesome `Has

[2016-03-19 20:38] ePaul commented on #6122
I think the reason to have it everywhere is that whoever decides to use a hash map might be not the same person which implemented the class to be used as keys. Retroactively fitting a class with a `.hash` property is not that easy.

(Though an alternative would be to have something like a hash provider function (i.e. `Integer(X)`, analogously to Java's `Comparator` or Ceylon's `Comparison(X)` func

[2016-03-20 00:30] Zambonifofex commented on #6122
@ePaul that’s a great idea! Imagine the following:

[code]

`automaticHash` would be a native function that uses an identity hash. Alternatively, it could store each object it receives in an array and return its index, unless it is `.equals` to a previously stored object.

I guess a couple questions are:

* Should `.hash` be `default`?
* Should `Identifiable` satisfy `Hashed`?

[2016-03-20 00:42] gavinking commented on #6122
So the reason why there is no separate `Hashable` interface is that:

1. By default, Ceylon classes inherit `Basic`, and thus indirectly inherit `hash` from `Identifiable`.
2. In the less-common case that you directly extend `Object`, it's usually because you're creating some kind of "value" class, in which case, typically, in implementation of `equals`/`hash` is quite straightforward.

[2016-03-20 00:45] gavinking commented on #6122
Besides, while having a `Hashable` interface would let us prevent you from using an object with no well-defined `hash` in a *Ceylon* `HashSet`, *nothing* would stop anyone from trying to use it in a *Java* `HashSet`. Since in the JVM, all types inherit `hashCode()`.

Given that, I'm inclined to reject this issue. I don't think it would be an improvement.

[2016-03-20 00:50] Zambonifofex commented on #6122
@gavinking maybe the latter behavior I described for `automaticHash` should be used by default for Java `.hashCode` on non-`Hashed` objects.

[2016-03-20 01:00] gavinking commented on #6122
And what about non-`Hashable` Ceylon objects that refine `equals()`, as almost all "value objects" do?

They would fail to satisfy the contract of `java.lang.Object`. That's pretty bad.

I still don't see how this would be an improvement.

[2016-03-20 01:07] Zambonifofex commented on #6122
@gavinking well, people wouldn’t need to have to be bothered to write a `.hash` (which could be pretty non-trivial) that would end up never being used. Having `.hashCode` be in `Object` is one of my least favorite Java features, and the same is true for Ceylon.

[2016-03-20 01:07] gavinking commented on #6122
But that's the point: we could not guarantee that at all!

[2016-03-20 01:11] Zambonifofex commented on #6122
If someone needs to use the object in a hash map, they could provide their own hash function, as suggested by @ePaul. It seems pretty arbitrary to me to chose this particular member to be put on `Object` because “there could possibly be people that need it”.

[2016-03-20 01:37] gavinking commented on #6122
You're forgetting about `java.util.HashMap` and `java.util.HashSet`.

[2016-03-20 01:44] Zambonifofex commented on #6122
@gavinking you could have a default implementation for `.hashCode` for Java. Consider this implementation:

* You have an initially empty array of weak references;
* When you call `.hashCode`, check if there is an object inside this array equals to the object `.hashCode` is being called on.
 * if so, return its index from the array.
 * if not, add the object `.hashCode` is being called on to the a

[2016-03-20 09:30] gavinking commented on #6122
@Zambonifofex see [my comment above](https://github.com/ceylon/ceylon/issues/6122#issuecomment-198816834) for why system-generated `hash`es wouldn't work.

[2016-03-20 11:09] Zambonifofex commented on #6122
@gavinking how would my algorithm not be consistent with equals? When I say “check if there is an object inside this array equals to the object `.hashCode` is being called on”, I mean checking with `.equals`.

[2016-03-20 11:27] gavinking commented on #6122
Oh I see. Sure, it would work in principle. But I definitely wouldn't even contemplate any implementation like that. What if there were many instances of this class? That could be an enormous array.

I've decided to close this issue. I don't think we should make this change.

[2016-03-20 11:27] #6122 closed

[2016-03-20 11:41] Zambonifofex commented on #6122
@gavinking the object would only be stored in the array if `.hashCode` is called on it. If you indeed have a lot of objects participating in a hash map, one more `int` here and there per object surely wouldn’t hurt, would they? Alternatively, as you suggested on Gitter, you could simply return `0`, and that would satisfy Java’s contract.

But I feel like maybe we should gather more opinions. The o

[2016-03-20 11:48] quintesse commented on #6122
@Zambonifofex it might have been a nice idea at the dawn of Ceylon when we were still designing the most basic interfaces, but now? Basic changes like this better come with big advantages or fix big problems. But in this case I just don't see any reason nor advantage in doing so.

[2016-03-20 11:57] Zambonifofex commented on #6122
@quintesse well, it might not come with a *big* advantage, nor fix a *big* problem, but I honestly think small things deserve attention as well, as it’s them who can pile up to turn something good into bad.

Given that Ceylon, while growing steadily, is not quite the famous language to have this sort of change cause lots of legacy systems to break, I think the best time to make changes is “now” ra

[2016-03-20 12:07] quintesse commented on #6122
But that's the reason I said "in this case I just don't see any reason nor advantage in doing so". I just don't see any good reason to make this change now or ever. There might not be many people using Ceylon right now, but breaking changes without good reason will still piss them off. And being known for making changes like that isn't going to help adoption. The thing we should be focusing on is

[2016-03-20 12:13] lucaswerkmeister commented on #6122
@Zambonifofex unless I’m missing something, your suggestion for a default `hashCode()` will require a linear search through the array of hashed objects – turning `.hashCode()` into an 𝓞(*n*) operation, where *n* is the number of objects hashed. This makes hash maps and sets worthless, since the whole point of `hashCode()` is that it’s supposed to be fast!

[2016-03-20 12:16] Zambonifofex commented on #6122
@quintesse Well, the advantage is not having to write this specific-purposed thing in every single non-`Basic` class. Again, I feel it’s arbitrary to chose this one member to be put on `Object` because “it could potentially be useful somewhen”.

@lucaswerkmeister people would still be encouraged to provide their own functions to hash maps, and to implement `Hashed` if they think their object will

[2016-03-20 12:49] quintesse commented on #6122
@Zambonifofex sure, but that's not a big enough advantage to go changing things for now. You always have to weigh the advantages of the change (very little I'd say in this case) to the cost of making the change. To me it's clear that the scales come down on the side of keeping things the way they are.

[2016-03-20 13:10] jvasileff commented on #6122
I agree that it would be nice to have `hash` be opt-in. But, on the whole, I think I'd prefer the current Ceylon design even if starting from scratch due to 1) Java compatibility, 2) API complexity of the alternative, and 3) the nudge for library writers to implement a proper hash.

I realize a large part of this issue is aesthetics, but if we set that aside... in practice, for private classes and

[2016-03-20 13:15] Zambonifofex commented on #6122
What if `hash` was `default` in `Object`, either following my algorithm, or just returning `0`?

[2016-03-20 13:19] jvasileff commented on #6122
Returning `0` is not a reasonable implementation if it's expected that `hash` will actually be used. So providing this as a `default` would lead to problems as the compiler would no longer remind folks to provide a reasonable implementation.

[2016-03-20 13:22] Zambonifofex commented on #6122
@jvasileff what about my algorithm? People wouldn’t need to override `.hash` if they have an application or a private class like you said, but they would still ave a reasonable `.hash` implementation.

[2016-03-20 13:24] jvasileff commented on #6122
@Zambonifofex I think your algorithm is the same as returning `0`. It results in O(n) performance for sets and maps.

[2016-03-20 13:25] lucaswerkmeister commented on #6122
Another thing I just realized about your algorithm: it ensures that any object that was ever hashed will never ever be garbage collected.

[2016-03-20 13:28] Zambonifofex commented on #6122
@jvasileff again, people would still be encouraged to overriding it if they need to use `.hash`. It would just be a last resort in case someone tries to use an object that wasn’t expected to be in a hash map in a hash map.

---

@lucaswerkmeister weak references.

I guess it wouldn’t be possible in JavaScript, that’s why I firstly only suggested it for the Java `.hashCode`. Hrmph.

[2016-03-20 13:34] lucaswerkmeister commented on #6122
ES6 has a `WeakMap` (and `WeakSet`) which could be used to implement this, I guess…

[2016-03-20 13:34] gavinking commented on #6122
I suppose it's true that having Java's `hashCode()` always return `0` for every non-`Hashable` object would be a reasonable-enough approach. However, it wouldn't be much better than if we just defined that as the default implementation of Ceylon's `Object.hash`. Which we could, in principle, do, I suppose.

[2016-03-20 13:35] gavinking commented on #6122
That's a really great point. It is pretty much equivalent to `Object.hash => 0`.

[2016-03-20 13:37] gavinking commented on #6122
By the way, in my experience, implementing `hash` is always _much_ easier than implementing `equals()`, which is fundamentally why I'm not inclined to take this issue very seriously.

[2016-03-20 13:45] Zambonifofex commented on #6122
@gavinking but `.equals` is much more useful than `.hash`. That’s why I think it makes sense for it to be on `Object`.

Sorry, but what conclusion did you reach about this? Do you like my idea of having `.hash` be `default`?

[2016-03-20 13:54] gavinking commented on #6122
I could live with the following change:

[code]

Would require a teensy bit of backend trickery, but I guess it would be more convenient.

[2016-03-20 13:56] jvasileff commented on #6122
@Zambonifofex with `hash => 0;`, the developer is explicitly opting-in to a substandard implementation. Having this be `default` would make it implicit, and therefore dangerous or at least misleading. Sure, they'd still be encouraged to improve upon the default, but I can't think of any other place where a "bad" `default` is provided.

[2016-03-20 13:58] gavinking commented on #6122
@jvasileff the counter argument is that the "bad" implementation is not really _that bad_. i.e. for classes which don't opt-in, you get list-like behavior for sets.

[2016-03-20 13:59] Zambonifofex commented on #6122
@gavinking did you not like the algorithm I suggested as a default?

---

@jvasileff well, if you are going to force someone to write `hash => 0` if they don’t care, you might as well have that be the default. Keeping in mind that `Identifiable` would still refine `.hash`.

[2016-03-20 13:59] jvasileff commented on #6122
Given the choice, I'd rather drop Java compatibility with `j.u.*` than have a Ceylon implementation that violates the spirit of the contract

[2016-03-20 14:00] lucaswerkmeister commented on #6122
I think that it’s better to not have the default. Not only because you can always write `hash => 0;` yourself, but because on most classes a much better default implementation is possible, and the IDE can already generate it for you.

[2016-03-20 14:01] jvasileff commented on #6122
Well, no, my argument was that the `default` can be troublesome for people who *do* care, if they don't remember to refine `hash`.

[2016-03-20 14:04] Zambonifofex commented on #6122
I have to agree. I think the algorithm I suggested would be a much better default than `0`.

[2016-03-20 14:09] Zambonifofex commented on #6122
@gavinking you said you were okay with `hash=>0` being the default. What do you think about my suggestion?

[2016-03-20 14:11] gavinking commented on #6122
No. To be honest I think it's a really terrible idea to go transparently sticking things in weak refs static arrays.

[2016-03-20 14:13] gavinking commented on #6122
That actually _doesn't_ follow. Sometimes it's of value to force people to be explicit, especially if you think it's likely to be a mistake. "Bad" defaults are suspect.

[2016-03-20 14:14] gavinking commented on #6122
I agree. Indeed, I think it's typical that a "much better default implementation" is usually trivial, something along the lines of `hash => name.hash;` i.e. five tokens.

[2016-03-20 14:22] Zambonifofex commented on #6122
@gavinking

Sorry if I’m being dumb, but I can’t see the problem.

---

But if no one agrees with me, then I’m okay about stopping arguing…

[2016-03-20 15:52] gavinking opened #6123 "Java model loader does not set qualifying type correctly in some cases"
Given this Java code:

[code]

The model loader gives the `Value` representing `plus` a `Type` with no qualifying type. This is the cause of bug https://github.com/ceylon/ceylon-ide-eclipse/issues/1742 in the IDE.

[2016-03-21 00:16] gavinking opened #6124 "self-suppression in try with resources"
I just got this:

[code]

[2016-03-21 09:47] FroMage commented on #6124
The nihilist exception handler.

[2016-03-21 10:49] simonthum opened #6125 "Performance issue with self types"
As I learnt [the hard way](https://github.com/ceylon/ceylon-ide-eclipse/issues/1706), using self types but omitting the `of TypeArgument` clause can slow the compiler/typechecker down considerably. Besides slow compiles, this fetched me a hardly useable eclipse IDE.

I have 4 classes each implementing a selection of 8 self types, and numerous uses thereof.

The question then what to do about it:

[2016-03-21 15:50] tombentley commented on #6038
Is it an error for a `small` member to refine, or be refined by, a non-`small` member?

[2016-03-21 15:52] gavinking commented on #6038
It could be, if you think that's necessary.

[2016-03-21 15:55] tombentley commented on #6038
Well, would we redefine `Object.hash` to be `small`? If so it would cause too much disruption to make all implementors add `small`. But if not, it feels more Ceylonic to be explicit and force people to redeclare the `small`.

[2016-03-21 15:59] gavinking commented on #6038
I would be perfectly happy if the effect where inherited implicitly.

[2016-03-21 15:59] jvasileff commented on #6038
The transparency of `Object.hash` being `small` would be nice, but then implementors of `hash` would be responsible for mixing the bits. And, that is platform specific.

[2016-03-22 13:40] quintesse opened #6127 "Switch to using `SNAPSHOT` versions on `master`"

[2016-03-22 16:25] bjansen opened #6128 ""Formal member not implemented in hierarchy" reported in legal Java hierarchy"
[code]
[code]
[code]
[code]

[2016-03-22 16:47] #6071 closed

[2016-03-22 16:59] tombentley commented on #6038
I've pushed some work to the `small` branch. The JVM compiler implements support for `small` declarations as follows:

1. It is allowed to omit the `small` annotation from an
`actual` member refining a `small` declaration: The `actual` declaration is implicitly
`small`.

2. It is a compile time error to add the `small` annotation to an `actual` member
refining a non-`small` declaration. (Not compl

[2016-03-22 17:48] gavinking opened #6129 "backend bug with a type alias for Callable"
This one will be totally trivial to fix. You just need to add a call to `resolveAliases()`.

[code]

I get:

[code]

[2016-03-22 20:42] dlkw opened #6130 "DecidabilityException on runtime when using Tuples with parameterized tests"
The following code results in a runtime exception:

[code]
Removing one value in any of the two longer tuples passes the test.
This is the exception thrown at runtime:

[code]

[2016-03-22 20:53] jvasileff opened #6131 "no longer works: multiple source directives in .ceylon/config"
To reproduce, attempt to compile an sdk module:

[code]

If the `source=` lines are removed, compilation can still be made to fail with:

[code]

[2016-03-22 21:03] jvasileff opened #6132 "Java 8 default methods confuse model loader in Eclipse?"
`ceylon.interop.java::JavaIterator` fails to compile in a current Eclipse build with:

[code]

`JavaIterator.remove` is defined as:
[code]

The module compiles in Eclipse with `ceylon.interop.java::JavaIterator.remove()` commented out.

[2016-03-22 21:19] quintesse commented on #6131
I think @tombentley broke this with the rebase on Java 8. There was something about multi-valued options.

[2016-03-22 21:23] gavinking commented on #6132
Dupe of https://github.com/ceylon/ceylon-ide-eclipse/issues/1738.

[2016-03-22 21:23] #6132 closed

[2016-03-22 21:45] gavinking commented on #6038
That all sounds good to me!

What is the situation with `for` statements that iterate `List`s and are optimized to access by index? Are they going to use an `int` loop index too?

[2016-03-23 02:16] chochos commented on #5812
haven't even started on this one yet.

[2016-03-23 11:33] #6124 closed

[2016-03-23 11:34] tombentley commented on #6124
If the `LanguageModuleNotFoundException` was itself a problem, please open a separate issue.

[2016-03-23 12:04] #5777 closed

[2016-03-23 12:04] tombentley commented on #5777
Done what you asked @gavinking, but you might want to test that Guice is now happy.

[2016-03-23 12:18] Zambonifofex commented on #6038
I honestly think that the `small` annotation, as a “hint”, should never produce any errors. You should be free to place it and remove it in and from any declaration of type `Integer`, `Float`, or `Nothing`.

Also, I think I like more the name “`short`”. Why “`small`”?

[2016-03-23 13:06] #6131 closed

[2016-03-23 13:22] quintesse commented on #6131
Perhaps we need a test for this?

[2016-03-23 14:36] quintesse opened #6133 "RFC: Colored compiler output"
Personally I would find it nice to have the labels "warning" and "error" in the compiler output to be colored. It makes it more obvious when there's something important going on and makes it easier to find errors within lists of warnings.

I've already implemented it so this is an RFC to see what you people think.